In [6]:
import xgboost as xgb
import numpy as np
from sklearn.model_selection import train_test_split   # cross_validation
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
import pandas as pd

In [7]:
def show_accuracy(a,b,tip):
    acc=a.ravel()==b.ravel()
    print(acc)
    print(tip+'accuarcy: \t', float(acc.sum())/a.size)

In [11]:
data=pd.read_csv(r'F:\study\ml\DoctorZou\11Boost\12.XGBoost\12.wine.data'
                ,header=None)

In [19]:
y,x=data.iloc[:,0],data.iloc[:,1:]

In [20]:
x.head()

,1,2,3,4,5,6,7,8,9,10,11,12,13
0,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735

In [21]:
y.head()

0    1
1    1
2    1
3    1
4    1
Name: 0, dtype: int64

In [42]:
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=1,test_size=0.5)

In [23]:
x_train.head()

,1,2,3,4,5,6,7,8,9,10,11,12,13
88,11.64,2.06,2.46,21.6,84,1.95,1.69,0.48,1.35,2.80,1.00,2.75,680
102,12.34,2.45,2.46,21.0,98,2.56,2.11,0.34,1.31,2.80,0.80,3.38,438
46,14.38,3.59,2.28,16.0,102,3.25,3.17,0.27,2.19,4.90,1.04,3.44,1065
62,13.67,1.25,1.92,18.0,94,2.10,1.79,0.32,0.73,3.80,1.23,2.46,630
74,11.96,1.09,2.30,21.0,101,3.38,2.14,0.13,1.65,3.21,0.99,3.13,886

In [24]:
y_train.head()

88     2
102    2
46     1
62     2
74     2
Name: 0, dtype: int64

In [25]:
#logistic Regression
lr=LogisticRegression()
lr.fit(x_train,y_train)
y_hat=lr.predict(x_test)

In [35]:
show_accuracy(y_hat,y_test,'Logistic')

[ True  True  True  True  True  True  True  True  True  True  True False
  True  True  True  True  True  True  True  True  True  True False  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True False  True
  True  True  True  True  True  True  True False  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True False  True  True  True  True
  True  True  True  True  True]
Logisticaccuarcy: 	 0.9438202247191011

In [43]:
y_train.unique()

array([2, 1, 3], dtype=int64)

In [44]:
##xgboost
y_train[y_train==3]=0
y_test[y_test==3]=0

data_train=xgb.DMatrix(x_train,label=y_train)
data_test=xgb.DMatrix(x_test,label=y_test)
watch_list=[(data_test,'eval'),(data_train,'train')]
param={'max_depth':3,'eta':1,'silent':0,'objective':'multi:softmax',
       'num_class':3}

In [45]:
bst=xgb.train(param,data_train,num_boost_round=4,evals=watch_list)

[10:46:20] WARNING: C:\Users\Administrator\workspace\xgboost-win64_release_1.1.0\src\learner.cc:480:
Parameters: { silent } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[0]	eval-merror:0.01124	train-merror:0.00000
[1]	eval-merror:0.00000	train-merror:0.00000
[2]	eval-merror:0.01124	train-merror:0.00000
[3]	eval-merror:0.01124	train-merror:0.00000

In [46]:
y_hat=bst.predict(data_test)
show_accuracy(y_hat,y_test,'XGBOOST')

[ True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True False
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True  True  True  True  True  True  True  True
  True  True  True  True  True]
XGBOOSTaccuarcy: 	 0.9887640449438202