In [1]:
import xgboost as xgb
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import RandomForestClassifier
import pandas as pd
import csv

In [2]:
def show_accuracy(a, b, tip):
    acc = a.ravel() == b.ravel()
    acc_rate = 100 * float(acc.sum()) / a.size
    # print '%s正确率：%.3f%%' % (tip, acc_rate)
    return acc_rate

In [3]:
data=pd.read_csv(r'F:\study\ml\DoctorZou\11Boost\12.XGBoost\12.Titanic.train.csv')
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
#sex
data['Sex']=data['Sex'].map({'female':0,'male':1}).astype(int)

In [5]:
if len(data.Fare[data.Fare.isnull()])>0:
    fare =np.zeros(3)
    for f in range(0,3):
        fare[f]=data[data.Pclass==f+1]['Fare'].dropna().median()
    for f in range(0,3):
        data.loc[(data.Fare.isnull()) & (data.Pclass == f+1),'Fare'] =fare[f]

In [13]:
# use RF predict age
data_for_age=data[['Age','Survived','Fare','Parch','SibSp','Pclass']]
age_exist=data_for_age.loc[(data.Age.notnull())]
age_null=data_for_age.loc[(data.Age.isnull())]

x=age_exist.values[:,1:]
y=age_exist.values[:,0]

In [14]:
data.describe()

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,0.647587,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,0.477990,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,0.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,1.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,1.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,1.000000,80.000000,8.000000,6.000000,512.329200

In [15]:
rfr=RandomForestRegressor(n_estimators=1000)
rfr.fit(x,y)
age_hat=rfr.predict(age_null.values[:,1:])

In [18]:
data.loc[(data.Age.isnull()),'Age']=age_hat

In [19]:
#city
data.loc[(data.Embarked.isnull()),'Embarked']='S'
embarked_data=pd.get_dummies(data.Embarked)

In [21]:
embarked_data.head()

   C  Q  S  U
0  0  0  1  0
1  1  0  0  0
2  0  0  1  0
3  0  0  1  0
4  0  0  1  0

In [22]:
embarked_data=embarked_data.rename(columns=lambda x:'Embarked_'+str(x))
embarked_data.head()

   Embarked_C  Embarked_Q  Embarked_S  Embarked_U
0           0           0           1           0
1           1           0           0           0
2           0           0           1           0
3           0           0           1           0
4           0           0           1           0

In [23]:
data=pd.concat([data,embarked_data],axis=1)
data.to_csv(r'F:\study\ml\DoctorZou\11Boost\12.XGBoost\New_Data.csv')

In [24]:
    x = data[['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked_C', 'Embarked_Q', 'Embarked_S']]

In [27]:
data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Embarked_C,Embarked_Q,Embarked_S,Embarked_U
0,1,0,3,"Braund, Mr. Owen Harris",1,22.000000,1,0,A/5 21171,7.2500,NaN,S,0,0,1,0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38.000000,1,0,PC 17599,71.2833,C85,C,1,0,0,0
2,3,1,3,"Heikkinen, Miss. Laina",0,26.000000,0,0,STON/O2. 3101282,7.9250,NaN,S,0,0,1,0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35.000000,1,0,113803,53.1000,C123,S,0,0,1,0
4,5,0,3,"Allen, Mr. William Henry",1,35.000000,0,0,373450,8.0500,NaN,S,0,0,1,0
5,6,0,3,"Moran, Mr. James",1,23.965656,0,0,330877,8.4583,NaN,Q,0,1,0,0
6,7,0,1,"McCarthy, Mr. Timothy J",1,54.000000,0,0,17463,51.8625,E46,S,0,0,1,0
7,8,0,3,"Palsson, Master. Gosta Leonard",1,2.000000,3,1,349909,21.0750,NaN,S,0,0,1,0
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",0,27.000000,0,2,347742,11.1333,NaN,S,0,0,1,0
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",0,14.000000,1,0,237736,30.0708,NaN,C,1,0,0,0
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",0,4.000000,1,1,PP 9549,16.7000,G6,S,0,0,1,0
11,12,1,1,"Bonnell, Miss. Elizabeth",0,58.000000,0,0,113783,26.5500,C103,S,0,0,1,0
12,13,0,3,"Saundercock, Mr. William Henry",1,20.000000,0,0,A/5. 2151,8.0500,NaN,S,0,0,1,0
13,14,0,3,"Andersson, Mr. Anders Johan",1,39.000000,1,5,347082,31.2750,NaN,S,0,0,1,0
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",0,14.000000,0,0,350406,7.8542,NaN,S,0,0,1,0
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",0,55.000000,0,0,248706,16.0000,NaN,S,0,0,1,0
16,17,0,3,"Rice, Master. Eugene",1,2.000000,4,1,382652,29.1250,NaN,Q,0,1,0,0
17,18,1,2,"Williams, Mr. Charles Eugene",1,33.468404,0,0,244373,13.0000,NaN,S,0,0,1,0
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",0,31.000000,1,0,345763,18.0000,NaN,S,0,0,1,0
19,20,1,3,"Masselmani, Mrs. Fatima",0,18.380121,0,0,2649,7.2250,NaN,C,1,0,0,0
20,21,0,2,"Fynney, Mr. Joseph J",1,35.000000,0,0,239865,26.0000,NaN,S,0,0,1,0
21,22,1,2,"Beesley, Mr. Lawrence",1,34.000000,0,0,248698,13.0000,D56,S,0,0,1,0
22,23,1,3,"McGowan, Miss. Anna ""Annie""",0,15.000000,0,0,330923,8.0292,NaN,Q,0,1,0,0
23,24,1,1,"Sloper, Mr. William Thompson",1,28.000000,0,0,113788,35.5000,A6,S,0,0,1,0
24,25,0,3,"Palsson, Miss. Torborg Danira",0,8.000000,3,1,349909,21.0750,NaN,S,0,0,1,0
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",0,38.000000,1,5,347077,31.3875,NaN,S,0,0,1,0
26,27,0,3,"Emir, Mr. Farred Chehab",1,34.946343,0,0,2631,7.2250,NaN,C,1,0,0,0
27,28,0,1,"Fortune, Mr. Charles Alexander",1,19.000000,3,2,19950,263.0000,C23 C25 C27,S,0,0,1,0
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",0,22.539209,0,0,330959,7.8792,NaN,Q,0,1,0,0
29,30,0,3,"Todoroff, Mr. Lalio",1,27.832574,0,0,349216,7.8958,NaN,S,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,2,"Giles, Mr. Frederick Edward",1,21.000000,1,0,28134,11.5000,NaN,S,0,0,1,0
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",0,48.000000,0,0,17466,25.9292,D17,S,0,0,1,0
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",0,10.924275,8,2,CA. 2343,69.5500,NaN,S,0,0,1,0
864,865,0,2,"Gill, Mr. John William",1,24.000000,0,0,233866,13.0000,NaN,S,0,0,1,0
865,866,1,2,"Bystrom, Mrs. (Karolina)",0,42.000000,0,0,236852,13.0000,NaN,S,0,0,1,0
866,867,1,2,"Duran y More, Miss. Asuncion",0,27.000000,1,0,SC/PARIS 2149,13.8583,NaN,C,1,0,0,0
867,868,0,1,"Roebling, Mr. Washington Augustus II",1,31.000000,0,0,PC 17590,50.4958,A24,S,0,0,1,0
868,869,0,3,"van Melkebeke, Mr. Philemon",1,24.892313,0,0,345777,9.5000,NaN,S,0,0,1,0
869,870,1,3,"Johnson, Master. Harold Theodor",1,4.000000,1,1,347742,11.1333,NaN,S,0,0,1,0
870,871,0,3,"Balkic, Mr. Cerin",1,26.000000,0,0,349248,7.8958,NaN,S,0,0,1,0
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",0,47.000000,1,1,11751,52.5542,D35,S,0,0,1,0
872,873,0,1,"Carlsson, Mr. Frans Olof",1,33.000000,0,0,695,5.0000,B51 B53 B55,S,0,0,1,0
873,874,0,3,"Vander Cruyssen, Mr. Victor",1,47.000000,0,0,345765,9.0000,NaN,S,0,0,1,0
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",0,28.000000,1,0,P/PP 3381,24.0000,NaN,C,1,0,0,0
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",0,15.000000,0,0,2667,7.2250,NaN,C,1,0,0,0
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",1,20.000000,0,0,7534,9.8458,NaN,S,0,0,1,0
877,878,0,3,"Petroff, Mr. Nedelio",1,19.000000,0,0,349212,7.8958,NaN,S,0,0,1,0
878,879,0,3,"Laleff, Mr. Kristo",1,27.832574,0,0,349217,7.8958,NaN,S,0,0,1,0
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",0,56.000000,0,1,11767,83.1583,C50,C,1,0,0,0
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",0,25.000000,0,1,230433,26.0000,NaN,S,0,0,1,0
881,882,0,3,"Markun, Mr. Johann",1,33.000000,0,0,349257,7.8958,NaN,S,0,0,1,0
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",0,22.000000,0,0,7552,10.5167,NaN,S,0,0,1,0
883,884,0,2,"Banfield, Mr. Frederick James",1,28.000000,0,0,C.A./SOTON 34068,10.5000,NaN,S,0,0,1,0
884,885,0,3,"Sutehall, Mr. Henry Jr",1,25.000000,0,0,SOTON/OQ 392076,7.0500,NaN,S,0,0,1,0
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",0,39.000000,0,5,382652,29.1250,NaN,Q,0,1,0,0
886,887,0,2,"Montvila, Rev. Juozas",1,27.000000,0,0,211536,13.0000,NaN,S,0,0,1,0
887,888,1,1,"Graham, Miss. Margaret Edith",0,19.000000,0,0,112053,30.0000,B42,S,0,0,1,0
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",0,25.262255,1,2,W./C. 6607,23.4500,NaN,S,0,0,1,0
889,890,1,1,"Behr, Mr. Karl Howell",1,26.000000,0,0,111369,30.0000,C148,C,1,0,0,0
890,891,0,3,"Dooley, Mr. Patrick",1,32.000000,0,0,370376,7.7500,NaN,Q,0,1,0,0

In [25]:
y=None
if 'Survived' in data:
    y=data['Survived']

In [26]:
for i in data:
    print(i)

PassengerId
Survived
Pclass
Name
Sex
Age
SibSp
Parch
Ticket
Fare
Cabin
Embarked
Embarked_C
Embarked_Q
Embarked_S
Embarked_U

In [ ]:
x=np.array(x)
y=np.array(y)
x=np.tile(x,(5,1))
y=np.tile(y,(5,1))

In [29]:
def write_result(c,c_type):
    if tyep==3:
        x=xgb.DMatrix(x)
    y=c.predict(x)
    y[y>0.5]=1
    y[~(y>0.5)]=0
    
    predictions_file = open("Prediction_%d.csv" % c_type, "wb")
    open_file_object = csv.writer(predictions_file)
    open_file_object.writerow(["PassengerId", "Survived"])
    open_file_object.writerows(zip(passenger_id, y))
    predictions_file.close()

In [30]:
x.shape

(891, 9)

In [32]:
y.shape

(891,)

In [34]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.5,
                                                random_state=1)

In [37]:
x_train.head()

,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked_C,Embarked_Q,Embarked_S
394,3,0,24.00,0,2,16.7000,0,0,1
851,3,1,74.00,0,0,7.7750,0,0,1
373,1,1,22.00,0,0,135.6333,1,0,0
523,1,0,44.00,0,1,57.9792,1,0,0
78,2,1,0.83,0,2,29.0000,0,0,1

In [38]:
##lr
lr=LogisticRegression(penalty='l2')
lr.fit(x_train,y_train)
y_hat=lr.predict(x_test)
lr_rate=show_accuracy(y_hat,y_test,'Logistic Regression ')
lr_rate

77.80269058295964

In [39]:
## RFC
rfc=RandomForestClassifier(n_estimators=1000)
rfc.fit(x_train,y_train)
y_hat=rfc.predict(x_test)
rfc_rate=show_accuracy(y_hat,y_test,'RF')
rfc_rate

80.26905829596413

In [40]:
#xgb
data_train=xgb.DMatrix(x_train,label=y_train)
data_test=xgb.DMatrix(x_test,label=y_test)
watch_list=[(data_test,'eval'),(data_train,'train')]
param={'max_depth':3,'eta':0.1,'silent':1,'objective':'binary:logistic'}
bst=xgb.train(param,data_train,num_boost_round=100,evals=watch_list)
y_hat=bst.predict(data_test)
y_hat[y_hat>0.5]=1
y_hat[~(y_hat>0.5)]=0
xgb_rate=show_accuracy(y_hat,y_test,'XGB ')
xgb_rate

[17:37:40] WARNING: C:\Users\Administrator\workspace\xgboost-win64_release_1.1.0\src\learner.cc:480:
Parameters: { silent } might not be used.

  This may not be accurate due to some parameters are only used in language bindings but
  passed down to XGBoost core.  Or some parameters are not used but slip through this
  verification. Please open an issue if you find above cases.


[0]	eval-error:0.20404	train-error:0.13933
[1]	eval-error:0.20404	train-error:0.13933
[2]	eval-error:0.20404	train-error:0.13933
[3]	eval-error:0.20404	train-error:0.14157
[4]	eval-error:0.20404	train-error:0.14157
[5]	eval-error:0.20404	train-error:0.14157
[6]	eval-error:0.20404	train-error:0.14157
[7]	eval-error:0.20852	train-error:0.14157
[8]	eval-error:0.20404	train-error:0.12584
[9]	eval-error:0.20404	train-error:0.12584
[10]	eval-error:0.20628	train-error:0.12360
[11]	eval-error:0.21076	train-error:0.12360
[12]	eval-error:0.21525	train-error:0.13933
[13]	eval-error:0.21300	train-error:0.12809
[14]	eval-error:0.21525	train-error:0.12809
[15]	eval-error:0.21525	train-error:0.12809
[16]	eval-error:0.21300	train-error:0.12809
[17]	eval-error:0.21525	train-error:0.12809
[18]	eval-error:0.21300	train-error:0.12809
[19]	eval-error:0.21300	train-error:0.12809
[20]	eval-error:0.21300	train-error:0.12809
[21]	eval-error:0.21300	train-error:0.12809
[22]	eval-error:0.21300	train-error:0.12809
[23]	eval-error:0.21300	train-error:0.12809
[24]	eval-error:0.21300	train-error:0.12809
[25]	eval-error:0.20852	train-error:0.12584
[26]	eval-error:0.20852	train-error:0.12584
[27]	eval-error:0.20852	train-error:0.12584
[28]	eval-error:0.20852	train-error:0.12584
[29]	eval-error:0.20852	train-error:0.12584
[30]	eval-error:0.20852	train-error:0.12584
[31]	eval-error:0.20852	train-error:0.12584
[32]	eval-error:0.20852	train-error:0.12584
[33]	eval-error:0.20852	train-error:0.12584
[34]	eval-error:0.20852	train-error:0.12135
[35]	eval-error:0.20852	train-error:0.12135
[36]	eval-error:0.20628	train-error:0.12135
[37]	eval-error:0.20628	train-error:0.12135
[38]	eval-error:0.20628	train-error:0.11910
[39]	eval-error:0.20628	train-error:0.12135
[40]	eval-error:0.20628	train-error:0.11910
[41]	eval-error:0.20628	train-error:0.11910
[42]	eval-error:0.20628	train-error:0.11910
[43]	eval-error:0.20628	train-error:0.11910
[44]	eval-error:0.20628	train-error:0.11910
[45]	eval-error:0.20628	train-error:0.11910
[46]	eval-error:0.20628	train-error:0.11910
[47]	eval-error:0.20628	train-error:0.11910
[48]	eval-error:0.20628	train-error:0.11685
[49]	eval-error:0.20628	train-error:0.11910
[50]	eval-error:0.20404	train-error:0.11685
[51]	eval-error:0.20404	train-error:0.11910
[52]	eval-error:0.20404	train-error:0.11910
[53]	eval-error:0.20404	train-error:0.11910
[54]	eval-error:0.20404	train-error:0.11685
[55]	eval-error:0.20404	train-error:0.11685
[56]	eval-error:0.20404	train-error:0.11461
[57]	eval-error:0.20404	train-error:0.11461
[58]	eval-error:0.20404	train-error:0.11236
[59]	eval-error:0.20852	train-error:0.11011
[60]	eval-error:0.20852	train-error:0.11011
[61]	eval-error:0.20404	train-error:0.11011
[62]	eval-error:0.20404	train-error:0.11011
[63]	eval-error:0.20404	train-error:0.11011
[64]	eval-error:0.20404	train-error:0.11011
[65]	eval-error:0.20404	train-error:0.11011
[66]	eval-error:0.20404	train-error:0.11011
[67]	eval-error:0.20404	train-error:0.11011
[68]	eval-error:0.20404	train-error:0.10562
[69]	eval-error:0.20179	train-error:0.10562
[70]	eval-error:0.19731	train-error:0.10337
[71]	eval-error:0.19731	train-error:0.10337
[72]	eval-error:0.20179	train-error:0.10337
[73]	eval-error:0.19731	train-error:0.10337
[74]	eval-error:0.19955	train-error:0.09888
[75]	eval-error:0.19955	train-error:0.09888
[76]	eval-error:0.19731	train-error:0.09213
[77]	eval-error:0.19282	train-error:0.09213
[78]	eval-error:0.19507	train-error:0.09213
[79]	eval-error:0.19731	train-error:0.08989
[80]	eval-error:0.19282	train-error:0.08989
[81]	eval-error:0.19282	train-error:0.08989
[82]	eval-error:0.19282	train-error:0.08989
[83]	eval-error:0.19282	train-error:0.08989
[84]	eval-error:0.20404	train-error:0.08989
[85]	eval-error:0.20404	train-error:0.08989
[86]	eval-error:0.20404	train-error:0.08989
[87]	eval-error:0.20404	train-error:0.08989
[88]	eval-error:0.20179	train-error:0.08989
[89]	eval-error:0.20179	train-error:0.08764
[90]	eval-error:0.20179	train-error:0.08764
[91]	eval-error:0.19955	train-error:0.08539
[92]	eval-error:0.19955	train-error:0.08539
[93]	eval-error:0.19282	train-error:0.08539
[94]	eval-error:0.19282	train-error:0.08539
[95]	eval-error:0.19282	train-error:0.08539
[96]	eval-error:0.19282	train-error:0.08539
[97]	eval-error:0.19058	train-error:0.08764
[98]	eval-error:0.19282	train-error:0.08764
[99]	eval-error:0.19282	train-error:0.08539

80.71748878923766

In [43]:
pd.DataFrame([1,2,100]).median()

0    2.0
dtype: float64

In [44]:
pd.DataFrame([1,2,100]).mean()

0    34.333333
dtype: float64

In [45]:
pd.DataFrame([1,2,100]).std()

0    56.8712
dtype: float64

In [46]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Embarked_C,Embarked_Q,Embarked_S,Embarked_U
0,1,0,3,"Braund, Mr. Owen Harris",1,22.0,1,0,A/5 21171,7.2500,NaN,S,0,0,1,0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38.0,1,0,PC 17599,71.2833,C85,C,1,0,0,0
2,3,1,3,"Heikkinen, Miss. Laina",0,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0,0,1,0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35.0,1,0,113803,53.1000,C123,S,0,0,1,0
4,5,0,3,"Allen, Mr. William Henry",1,35.0,0,0,373450,8.0500,NaN,S,0,0,1,0