In [1]:
import pandas as pd,numpy as np
import matplotlib.pyplot as plt
plt.style.use(style='ggplot')
plt.rcParams['figure.figsize']=(10,6)
#%matplotlib inline

In [2]:
data_train=pd.read_csv('F:\\study\\ml\\DataSet\\Titanic\\train.csv')
# data_test=pd.read_csv('F:\\study\\ml\\DataSet\\Titanic\\test.csv')

In [3]:
data_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
data_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

In [5]:
data_train.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [36]:
plt.subplot2grid((2,3),(0,0))
data_train.Survived.value_counts().plot(kind='bar')
plt.ylabel('Que')
plt.title('Survived')
# plt.show()

plt.subplot2grid((2,3),(0,1))
data_train.Parch.value_counts().plot(kind='bar')
plt.ylabel('Qua')
plt.title('Pclass')

plt.subplot2grid((2,3),(0,2))
plt.scatter(data_train.Survived,data_train.Age)
plt.ylabel('Ages')
plt.title('Age by Survived')

plt.subplot2grid((2,3),(1,0),colspan=2)
data_train.Age[data_train.Pclass==1].plot(kind='kde')
data_train.Age[data_train.Pclass==2].plot(kind='kde')
data_train.Age[data_train.Pclass==3].plot(kind='kde')
plt.legend(['1 class','2 class','3 class'],loc='best')
plt.ylabel('Age density')
plt.title('Age by Pclass')
# plt.show()

plt.subplot2grid((2,3),(1,2))
data_train.Embarked.value_counts().plot(kind='bar')
plt.ylabel('Qua')
plt.title('Qua by Embarked')
# plt.show()

Text(0.5,1,'Qua by Embarked')

In [40]:
survived_0=data_train.Pclass[data_train.Survived==0].value_counts()
survived_1=data_train.Pclass[data_train.Survived==1].value_counts()
df=pd.DataFrame({'No Survived':survived_0,'Survived':survived_1})
df.plot(kind='bar',stacked=True)
plt.xlabel('Pclass')
plt.ylabel('Qua')
plt.title('Survived by pclass')
# plt.show()

Text(0.5,1,'Survived by pclass')

In [51]:
survived_m=data_train.Survived[data_train.Sex=='male'].value_counts()
survived_f=data_train.Survived[data_train.Sex=='female'].value_counts()
df=pd.DataFrame({'male':survived_m,'female':survived_f})
df.plot(kind='bar',stacked=True)
plt.xlabel('Sex')
plt.ylabel('Qua')
plt.title('Survived by Sex')

Text(0.5,1,'Survived by Sex')

In [72]:
plt.subplot(141)
data_train.Survived.value_counts().plot(kind='bar')
plt.show()

D:\ProgramData\Anaconda3\lib\site-packages\matplotlib\cbook\deprecation.py:106: MatplotlibDeprecationWarning: Adding an axes using the same arguments as a previous axes currently reuses the earlier instance.  In a future version, a new instance will always be created and returned.  Meanwhile, this warning can be suppressed, and the future behavior ensured, by passing a unique label to each axes instance.
  warnings.warn(message, mplDeprecation, stacklevel=1)

AttributeError: 'NoneType' object has no attribute 'seq'

In [69]:
plt.subplot(141)
# data_train.Survived[(data_train.Sex == 'female') & (data_train.Pclass !=3)].value_counts() .plot(kind='bar')
data_train.Survived[data_train.Sex == 'female'].value_counts()

# plt.xticks(['Survived','No Survived'],rotation=0)
# plt.legend=(['female / high class'],loc='best')

D:\ProgramData\Anaconda3\lib\site-packages\matplotlib\cbook\deprecation.py:106: MatplotlibDeprecationWarning: Adding an axes using the same arguments as a previous axes currently reuses the earlier instance.  In a future version, a new instance will always be created and returned.  Meanwhile, this warning can be suppressed, and the future behavior ensured, by passing a unique label to each axes instance.
  warnings.warn(message, mplDeprecation, stacklevel=1)

1    233
0     81
Name: Survived, dtype: int64