In [ ]:
import numpy as np
import torch 
import pandas as pd
import torchvision
from torch import nn,optim
import seaborn as sns
from scipy import stats
from scipy.stats import norm,skew,kurtosis
import matplotlib.pyplot as plt
%matplotlib auto

In [2]:
train_data=pd.read_csv(r'F:\study\ml\HonyiLee2020\hw1\data\train.csv',encoding='big5')
test_data=pd.read_csv(r'F:\study\ml\HonyiLee2020\hw1\data\test.csv',encoding='big5',header=None)

In [3]:
print('train_data shape: ',train_data.shape)
print('test_data shape: ',test_data.shape)

train_data shape:  (4320, 27)
test_data shape:  (4320, 11)

In [4]:
train_data1=train_data.replace('NR',0)
train_data1=train_data1.iloc[:,3:]

In [5]:
year_data={}
for m in range(12):
    month_data=np.empty((18,20*24))
    for d in range(20):
        month_data[:,d*24:(d+1)*24]=train_data1.iloc[m*20*18+d*18:m*20*18+(d+1)*18,:]
    year_data[m]=month_data

In [6]:
year_data1=year_data.copy()
month_list=[]
for i in range(12):
    month_list.append(pd.DataFrame(year_data1[i]))
all_train_data1=pd.concat(month_list,axis=1).T

In [7]:
all_train_data1.shape

(5760, 18)

In [8]:
all_train_data_1.head()

NameError: name 'all_train_data_1' is not defined

In [ ]:
year_data1[0].shape

In [9]:
for idx in [0]:
    for m in range(12):
        print('month : ',m)
        i=0
        while i<480:
            if year_data1[m][idx,i]<=0:
                print('--------------- pm2.5 start: \n',year_data1[m][idx,i],'\n')
                for k in range(30):
                    if k+i+1>479:
                        break
                    else:
                        if year_data1[m][idx,k+i+1]>0:
                            break
                        else:
                            print(year_data1[m][idx,k+i+12])
                i=i+k
                print('pm2.5 end ---------------')
                print('correct value between : ',year_data1[m][idx,i-1-k],year_data1[m][idx,i+1])
                year_data1[m][idx,i-k:i+1]=(year_data1[m][idx,i-1-k]+year_data1[m][idx,i+1])/2
            i=i+1

month :  0
month :  1
month :  2
--------------- pm2.5 start:
 -3.1

-11.2
-12.1
0.0
0.0
0.0
0.0
-12.3
18.0
17.0
17.0
17.0
17.0
17.0
17.0
16.0
16.0
15.0
15.0
pm2.5 end ---------------
correct value between :  19.0 18.0
month :  3
month :  4
month :  5
month :  6
month :  7
month :  8
month :  9
month :  10
month :  11

In [10]:
for idx in [1,2,4,6,9,12,13]:	
	for m in range(12):
		print(' month : ',m)
		i=0
		while i<480:
			if year_data1[m][idx,i] <0:
				print('---------- pm2.5 start : \n',year_data1[m][idx,i],'\n')
				for k in range(30):
					if k+i+1>479:
						break
					else:
						if year_data1[m][idx,k+i+1] >=0:
							break
						else:
							print(year_data1[m][idx,k+i+1])
				i=i+k
				print('pm2.5 end ------------')
				print('correct value between  :',year_data1[m][idx,i-1-k],year_data1[m][idx,i+1])
				## add correct to mean value
				year_data1[m][idx,i-k:i+1]=(year_data1[m][idx,i-1-k]+year_data1[m][idx,i+1])/2
			i=i+1

 month :  0
 month :  1
 month :  2
 month :  3
 month :  4
 month :  5
 month :  6
 month :  7
 month :  8
 month :  9
 month :  10
 month :  11
---------- pm2.5 start :
 -0.2

-0.2
-0.2
-0.2
-0.2
-0.2
-0.2
-0.2
-0.2
pm2.5 end ------------
correct value between  : 1.8 1.8
 month :  0
 month :  1
 month :  2
 month :  3
 month :  4
 month :  5
 month :  6
 month :  7
 month :  8
 month :  9
 month :  10
 month :  11
---------- pm2.5 start :
 -0.12

pm2.5 end ------------
correct value between  : 0.34 0.26
 month :  0
 month :  1
 month :  2
 month :  3
 month :  4
 month :  5
 month :  6
 month :  7
 month :  8
---------- pm2.5 start :
 -0.1

pm2.5 end ------------
correct value between  : 2.5 0.3
---------- pm2.5 start :
 -0.1

pm2.5 end ------------
correct value between  : 0.1 1.0
 month :  9
 month :  10
 month :  11
---------- pm2.5 start :
 -1.1

pm2.5 end ------------
correct value between  : 6.6 1.2
 month :  0
 month :  1
 month :  2
 month :  3
 month :  4
---------- pm2.5 start :
 -0.9

pm2.5 end ------------
correct value between  : 17.0 17.0
 month :  5
 month :  6
 month :  7
---------- pm2.5 start :
 -1.0

pm2.5 end ------------
correct value between  : 7.4 10.0
 month :  8
 month :  9
 month :  10
---------- pm2.5 start :
 -2.4

pm2.5 end ------------
correct value between  : 7.0 6.6
 month :  11
 month :  0
---------- pm2.5 start :
 -1.0

pm2.5 end ------------
correct value between  : 46.0 51.0
 month :  1
 month :  2
 month :  3
---------- pm2.5 start :
 -1.0

pm2.5 end ------------
correct value between  : 6.0 16.0
---------- pm2.5 start :
 -1.0

pm2.5 end ------------
correct value between  : 13.0 16.0
---------- pm2.5 start :
 -1.0

pm2.5 end ------------
correct value between  : 55.0 48.0
 month :  4
---------- pm2.5 start :
 -1.0

-1.0
-1.0
-1.0
-1.0
-1.0
pm2.5 end ------------
correct value between  : 5.0 1.0
---------- pm2.5 start :
 -1.0

-1.0
-1.0
pm2.5 end ------------
correct value between  : 2.0 4.0
---------- pm2.5 start :
 -1.0

pm2.5 end ------------
correct value between  : 5.0 0.0
---------- pm2.5 start :
 -1.0

-1.0
-1.0
pm2.5 end ------------
correct value between  : 10.0 9.0
---------- pm2.5 start :
 -1.0

-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
pm2.5 end ------------
correct value between  : 9.0 2.0
---------- pm2.5 start :
 -1.0

-1.0
pm2.5 end ------------
correct value between  : 0.0 4.0
 month :  5
 month :  6
---------- pm2.5 start :
 -1.0

-1.0
pm2.5 end ------------
correct value between  : 20.0 27.0
 month :  7
 month :  8
 month :  9
 month :  10
---------- pm2.5 start :
 -1.0

-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
pm2.5 end ------------
correct value between  : 18.0 18.0
 month :  11
---------- pm2.5 start :
 -1.0

-1.0
pm2.5 end ------------
correct value between  : 13.0 7.0
 month :  0
---------- pm2.5 start :
 -0.9

-0.9
-0.9
pm2.5 end ------------
correct value between  : 1.6 1.3
---------- pm2.5 start :
 -0.1

-0.1
-0.2
-0.3
pm2.5 end ------------
correct value between  : 0.1 1.2
 month :  1
---------- pm2.5 start :
 -0.2

pm2.5 end ------------
correct value between  : 1.1 0.3
 month :  2
 month :  3
 month :  4
 month :  5
---------- pm2.5 start :
 -1.5

pm2.5 end ------------
correct value between  : 0.2 2.3
---------- pm2.5 start :
 -0.3

-0.2
pm2.5 end ------------
correct value between  : 3.8 2.2
 month :  6
 month :  7
---------- pm2.5 start :
 -1.6

pm2.5 end ------------
correct value between  : 4.3 2.7
 month :  8
 month :  9
 month :  10
---------- pm2.5 start :
 -0.2

pm2.5 end ------------
correct value between  : 0.0 0.9
---------- pm2.5 start :
 -0.1

-0.3
pm2.5 end ------------
correct value between  : 0.2 0.3
 month :  11
---------- pm2.5 start :
 -0.2

-0.4
-0.5
pm2.5 end ------------
correct value between  : 0.0 1.2
---------- pm2.5 start :
 -0.3

-0.3
pm2.5 end ------------
correct value between  : 0.0 1.1
---------- pm2.5 start :
 -0.2

pm2.5 end ------------
correct value between  : 2.8 2.0
 month :  0
 month :  1
 month :  2
 month :  3
 month :  4
 month :  5
 month :  6
 month :  7
 month :  8
 month :  9
 month :  10
 month :  11
---------- pm2.5 start :
 -0.2

-0.2
-0.2
-0.2
-0.2
-0.2
-0.2
-0.2
-0.2
pm2.5 end ------------
correct value between  : 2.0 1.9

In [11]:
all_train_data1.shape

(5760, 18)

In [12]:
all_train_data2=all_train_data1.apply(lambda x : (x-x.mean())/x.std())

In [13]:
all_train_data1.describe()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
count,5760.000000,5760.000000,5760.000000,5760.000000,5760.000000,5760.000000,5760.000000,5760.000000,5760.000000,5760.000000,5760.000000,5760.000000,5760.000000,5760.000000,5760.000000,5760.000000,5760.000000,5760.000000
mean,22.527413,1.702396,0.388363,0.140427,2.135729,10.125990,12.247726,31.905469,42.709201,21.414236,0.200625,73.229167,2.763125,1.839653,156.329271,158.482795,2.297240,1.712760
std,6.290152,0.125265,0.323573,0.104645,2.282155,6.187555,7.577133,18.703486,26.222292,16.662537,2.045443,13.361351,1.816940,0.181839,95.745881,94.697432,1.065408,1.062683
min,-12.300000,-0.200000,-0.120000,0.000000,-1.100000,0.000000,-2.400000,0.000000,0.000000,-1.000000,0.000000,29.000000,-1.600000,-0.200000,0.100000,0.000000,0.000000,0.000000
25%,18.000000,1.600000,0.250000,0.070000,1.100000,5.900000,7.300000,18.000000,24.000000,9.000000,0.000000,64.000000,1.600000,1.700000,72.000000,76.000000,1.500000,0.900000
50%,23.000000,1.700000,0.340000,0.110000,1.600000,8.600000,10.000000,29.000000,38.000000,18.000000,0.000000,75.000000,2.300000,1.800000,119.000000,121.500000,2.100000,1.500000
75%,27.000000,1.800000,0.450000,0.180000,2.300000,13.000000,15.000000,42.000000,57.000000,29.250000,0.000000,84.000000,3.400000,1.900000,213.000000,219.000000,2.900000,2.300000
max,36.000000,2.000000,7.570000,1.300000,31.000000,46.000000,71.000000,231.000000,181.000000,112.000000,74.000000,99.000000,22.000000,3.000000,360.000000,360.000000,7.700000,7.000000

In [14]:
all_train_data2.describe()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
count,5.760000e+03,5.760000e+03,5.760000e+03,5.760000e+03,5.760000e+03,5.760000e+03,5.760000e+03,5.760000e+03,5.760000e+03,5.760000e+03,5.760000e+03,5.760000e+03,5.760000e+03,5.760000e+03,5.760000e+03,5.760000e+03,5.760000e+03,5.760000e+03
mean,2.921351e-15,-4.132630e-13,-1.393800e-14,5.078230e-15,3.474738e-15,-2.338465e-15,-3.438183e-15,-4.431640e-16,2.485088e-16,1.855094e-16,4.130921e-15,-9.199431e-16,5.026265e-16,3.205650e-13,8.574353e-17,5.245418e-16,5.851993e-16,1.040902e-15
std,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
min,-5.536816e+00,-1.518692e+01,-1.571093e+00,-1.341940e+00,-1.417839e+00,-1.636509e+00,-1.933149e+00,-1.705857e+00,-1.628736e+00,-1.345187e+00,-9.808389e-02,-3.310232e+00,-2.401358e+00,-1.121682e+01,-1.631707e+00,-1.673570e+00,-2.156207e+00,-1.611732e+00
25%,-7.197621e-01,-8.174309e-01,-4.276098e-01,-6.730107e-01,-4.538382e-01,-6.829821e-01,-6.529812e-01,-7.434694e-01,-7.134846e-01,-7.450388e-01,-9.808389e-02,-6.907360e-01,-6.401558e-01,-7.680033e-01,-8.807613e-01,-8.710141e-01,-7.482952e-01,-7.648192e-01
50%,7.513122e-02,-1.912605e-02,-1.494652e-01,-2.907653e-01,-2.347470e-01,-2.466224e-01,-2.966459e-01,-1.553437e-01,-1.795877e-01,-2.049049e-01,-9.808389e-02,1.325340e-01,-2.548928e-01,-2.180656e-01,-3.898786e-01,-3.905364e-01,-1.851306e-01,-2.002106e-01
75%,7.110459e-01,7.791788e-01,1.904894e-01,3.781641e-01,7.198057e-02,4.644824e-01,3.632342e-01,5.397139e-01,5.449866e-01,4.702623e-01,-9.808389e-02,8.061186e-01,3.505206e-01,3.318721e-01,5.918869e-01,6.390586e-01,5.657555e-01,5.526008e-01
max,2.141854e+00,2.375788e+00,2.219482e+01,1.108104e+01,1.264781e+01,5.797768e+00,7.753892e+00,1.064478e+01,5.273788e+00,5.436493e+00,3.607990e+01,1.928760e+00,1.058751e+01,6.381187e+00,2.127201e+00,2.128011e+00,5.071072e+00,4.975368e+00

In [15]:
sns.distplot(all_train_data1[9],fit=stats.norm)
# sns.distplot(all_train_data2[9],fit=stats.norm)
plt.show()

In [16]:
sns.distplot(all_train_data2[9],fit=stats.norm)
plt.show()

In [17]:
from sklearn.model_selection import KFold,cross_val_score
from sklearn.linear_model import LassoCV,RidgeCV,ElasticNetCV
from sklearn.metrics import mean_squared_error
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import RobustScaler

In [18]:
x9=np.empty((471*12,18*9))
y9=np.empty((471*12,1))

In [19]:
for m in range(12):
    for g in range(471):
        x9[471*m+g:471*m+g+1,:]=all_train_data2.iloc[m*480+g:m*480+g+9,:].values.reshape(1,-1)
        y9[471*m+g:471*m+g+1,:]=all_train_data2.iloc[m*480+g+9:m*480+g+9+1,9].values.reshape(1,1)

In [20]:
x9[1,-10:]

array([-0.17958771,  0.5152735 , -0.09808389, -1.28947789,  6.73487971,
        0.88180982, -1.15231349, -0.05789803, -1.40532054, -1.32942776])

In [21]:
y9[0]

array([0.5152735])

In [22]:
x9[-2,10:]

array([-0.09808389, -1.28947789, -0.19985521, -0.21806557, -1.0060931 ,
       -0.88157401,  0.47189478,  1.023108  , -0.56078344, -0.01912605,
       -0.45851479, -0.57744935, -0.36620174, -0.65065919, -0.63978359,
        0.27238405, -1.32365246, -1.22515771, -0.09808389, -1.51400609,
       -0.08978005, -0.21806557, -1.01653742, -1.48349108,  0.00259095,
       -0.38841346, -0.7197621 , -0.01912605, -0.36579991, -0.29076531,
       -0.36620174, -0.34359122, -0.38902914,  0.37931599, -1.132975  ,
       -0.86506849, -0.09808389, -1.28947789,  0.02029511, -0.21806557,
        1.58409664,  1.61057382,  0.28417325, -0.01200773, -0.87874077,
       -0.01912605, -0.24218007,  0.85597087, -0.54147467,  0.14125295,
       -0.16466988,  0.27238405, -0.56094263,  0.15518428, -0.09808389,
       -1.0649497 ,  0.18540784,  0.88180982,  1.7825386 , -1.12445283,
       -0.93601671, -0.95302204, -1.03771943,  0.77917878,  0.34501417,
        1.5249003 , -0.45383821,  1.27255601,  0.89113836, -0.31574161,
       -0.14145222,  0.93537758, -0.09808389, -0.61589331,  0.73578363,
        1.43174751, -1.41342133, -1.10333293, -1.21759901, -1.23532633,
       -1.19669809,  0.77917878,  0.49953897,  0.56928682, -0.36620174,
        1.43417074,  1.15509042, -0.74346937,  0.08736073,  1.65555601,
       -0.09808389, -0.01715146,  0.35052058,  0.88180982, -0.58832056,
       -0.39581639, -0.74829518, -0.57661632, -1.35567676,  0.77917878,
        0.28320425,  0.09148008, -0.49765644,  0.4644824 ,  0.23125821,
       -0.74346937,  0.43058016,  0.93537758, -0.09808389,  0.20737674,
       -0.08978005,  0.33187212, -0.49432174, -0.64925515, -1.21759901,
       -0.29431202, -1.51465542,  0.77917878,  0.25229929,  0.18704143,
       -0.27856528,  0.4644824 ,  0.36323424, -0.95733325,  0.88820606,
        0.39524376, -0.09808389,  0.50674766, -0.30993037,  0.33187212,
       -0.50476606, -0.54365566, -0.56057365, -0.38841346, -1.51465542,
        0.77917878,  0.37591913,  0.18704143, -0.27856528,  0.4644824 ,
        0.36323424, -1.01079922,  0.27803819, -0.2649198 , -0.09808389,
        0.65643312, -0.25489279,  0.33187212, -0.44210017, -0.42749623,
       -0.74829518, -0.10610916])

In [23]:
kf=KFold(n_splits=10,shuffle=True,random_state=42)

In [24]:
def rmse(y,y_pred):
    return np.sqrt(mean_squared_error(y,y_pred))

In [25]:
def cv_rmse(model,x=x9,y=y9):
    rmse=np.sqrt(-cross_val_score(model,x,y,scoring='neg_mean_squared_error',cv=kf))
    return rmse

In [26]:
alphas_alt = [14.5, 14.6, 14.7, 14.8, 14.9, 15, 15.1, 15.2, 15.3, 15.4, 15.5]
alphas2 = [5e-05, 0.0001, 0.0002, 0.0003, 0.0004, 0.0005, 0.0006, 0.0007, 0.0008]
e_alphas = [0.0001, 0.0002, 0.0003, 0.0004, 0.0005, 0.0006, 0.0007]
e_l1ratio = [0.8, 0.85, 0.9, 0.95, 0.99, 1]

In [27]:
ridge=make_pipeline(RobustScaler(),RidgeCV(alphas=alphas_alt,cv=kf))
lasso=make_pipeline(RobustScaler(),LassoCV(max_iter=1e7,alphas=alphas2,random_state=42,cv=kf))
elasticnet=make_pipeline(RobustScaler(),ElasticNetCV(max_iter=1e7,alphas=e_alphas,cv=kf,l1_ratio=e_l1ratio))

In [28]:
score=cv_rmse(ridge)
print('Ridge : {:.4f}({:.4f})\n'.format(score.mean(),score.std()))

Ridge : 0.3532(0.0246)

In [29]:
score = cv_rmse(lasso)
print("LASSO: {:.4f} ({:.4f})\n".format(score.mean(), score.std()))

D:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\coordinate_descent.py:1094: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
D:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\coordinate_descent.py:1094: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
D:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\coordinate_descent.py:1094: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
D:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\coordinate_descent.py:1094: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
D:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\coordinate_descent.py:1094: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
D:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\coordinate_descent.py:1094: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
D:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\coordinate_descent.py:1094: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
D:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\coordinate_descent.py:1094: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
D:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\coordinate_descent.py:1094: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
D:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\coordinate_descent.py:1094: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LASSO: 0.3513 (0.0240)

In [30]:
score = cv_rmse(elasticnet)
print("elastic net: {:.4f} ({:.4f})\n".format(score.mean(), score.std()))

D:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\coordinate_descent.py:1094: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
D:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\coordinate_descent.py:1094: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
D:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\coordinate_descent.py:1094: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
D:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\coordinate_descent.py:1094: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
D:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\coordinate_descent.py:1094: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
D:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\coordinate_descent.py:1094: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
D:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\coordinate_descent.py:1094: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
D:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\coordinate_descent.py:1094: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
D:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\coordinate_descent.py:1094: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
D:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\coordinate_descent.py:1094: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

elastic net: 0.3514 (0.0240)

In [ ]:
nn.LSTM()