In [25]:
import numpy as np
import torch 
import pandas as pd
import torchvision
from torch import optim,nn

In [26]:
train_data=pd.read_csv(r'F:\study\ml\HonyiLee2020\hw1\data\train.csv',encoding='big5')
test_data=pd.read_csv(r'F:\study\ml\HonyiLee2020\hw1\data\test.csv',encoding='big5',header=None)

In [27]:
train_data[:20]

,日期,測站,測項,0,1,2,3,4,5,6,...,14,15,16,17,18,19,20,21,22,23
0,2014/1/1,豐原,AMB_TEMP,14,14,14,13,12,12,12,...,22,22,21,19,17,16,15,15,15,15
1,2014/1/1,豐原,CH4,1.8,1.8,1.8,1.8,1.8,1.8,1.8,...,1.8,1.8,1.8,1.8,1.8,1.8,1.8,1.8,1.8,1.8
2,2014/1/1,豐原,CO,0.51,0.41,0.39,0.37,0.35,0.3,0.37,...,0.37,0.37,0.47,0.69,0.56,0.45,0.38,0.35,0.36,0.32
3,2014/1/1,豐原,NMHC,0.2,0.15,0.13,0.12,0.11,0.06,0.1,...,0.1,0.13,0.14,0.23,0.18,0.12,0.1,0.09,0.1,0.08
4,2014/1/1,豐原,NO,0.9,0.6,0.5,1.7,1.8,1.5,1.9,...,2.5,2.2,2.5,2.3,2.1,1.9,1.5,1.6,1.8,1.5
5,2014/1/1,豐原,NO2,16,9.2,8.2,6.9,6.8,3.8,6.9,...,11,11,22,28,19,12,8.1,7,6.9,6
6,2014/1/1,豐原,NOx,17,9.8,8.7,8.6,8.5,5.3,8.8,...,14,13,25,30,21,13,9.7,8.6,8.7,7.5
7,2014/1/1,豐原,O3,16,30,27,23,24,28,24,...,65,64,51,34,33,34,37,38,38,36
8,2014/1/1,豐原,PM10,56,50,48,35,25,12,4,...,52,51,66,85,85,63,46,36,42,42
9,2014/1/1,豐原,PM2.5,26,39,36,35,31,28,25,...,36,45,42,49,45,44,41,30,24,13
10,2014/1/1,豐原,RAINFALL,NR,NR,NR,NR,NR,NR,NR,...,NR,NR,NR,NR,NR,NR,NR,NR,NR,NR
11,2014/1/1,豐原,RH,77,68,67,74,72,73,74,...,47,49,56,67,72,69,70,70,70,69
12,2014/1/1,豐原,SO2,1.8,2,1.7,1.6,1.9,1.4,1.5,...,3.9,4.4,9.9,5.1,3.4,2.3,2,1.9,1.9,1.9
13,2014/1/1,豐原,THC,2,2,2,1.9,1.9,1.8,1.9,...,1.9,1.9,1.9,2.1,2,1.9,1.9,1.9,1.9,1.9
14,2014/1/1,豐原,WD_HR,37,80,57,76,110,106,101,...,307,304,307,124,118,121,113,112,106,110
15,2014/1/1,豐原,WIND_DIREC,35,79,2.4,55,94,116,106,...,313,305,291,124,119,118,114,108,102,111
16,2014/1/1,豐原,WIND_SPEED,1.4,1.8,1,0.6,1.7,2.5,2.5,...,2.5,2.2,1.4,2.2,2.8,3,2.6,2.7,2.1,2.1
17,2014/1/1,豐原,WS_HR,0.5,0.9,0.6,0.3,0.6,1.9,2,...,2.1,2.1,1.9,1,2.5,2.5,2.8,2.6,2.4,2.3
18,2014/1/2,豐原,AMB_TEMP,16,15,15,14,14,15,16,...,24,24,23,21,20,19,18,18,18,18
19,2014/1/2,豐原,CH4,1.8,1.8,1.8,1.8,1.8,1.8,1.8,...,1.8,1.8,1.8,1.8,1.8,1.8,1.8,1.8,1.8,1.8

In [28]:
test_data.head()

     0         1     2     3     4     5     6     7     8     9     10
0  id_0  AMB_TEMP    21    21    20    20    19    19    19    18    17
1  id_0       CH4   1.7   1.7   1.7   1.7   1.7   1.7   1.7   1.7   1.8
2  id_0        CO  0.39  0.36  0.36   0.4  0.53  0.55  0.34  0.31  0.23
3  id_0      NMHC  0.16  0.24  0.22  0.27  0.27  0.26  0.27  0.29   0.1
4  id_0        NO   1.3   1.3   1.3   1.3   1.4   1.6   1.2   1.1   0.9

In [29]:
print(train_data.shape)
print(test_data.shape)

(4320, 27)
(4320, 11)

In [30]:
data=train_data.iloc[:,3:]

In [31]:
data=data.replace('NR',0)

In [32]:
raw_data=np.array(data.values)

In [33]:
raw_data.shape

(4320, 24)

In [34]:
18*24

432

In [35]:
# month_data = {}
# for month in range(12):
#     sample = np.empty([18, 480])
#     for day in range(20):
#         sample[:,day * 24:(day + 1) * 24] = raw_data[18 * (20 * month + day):18 *
#                                                    (20 * month + day + 1), :]
#     month_data[month]=sample

每小时18个特征,每天20小时,每个月20天

In [36]:
month_day={}
for m in range(12):
    sample=np.empty([18,480])
    for d in range(20):
        sample[:,d*24:(d+1)*24]=raw_data[18*(20*m+d):18*(20*m+d+1),:]
    month_day[m]=sample

   每个月共480(20天 * 24小时)小时数据,由于最终目的是根据前9小时的数据预测第10小时的PM2.5
   故共480-9=471组数据/每个月,每组 18(特征数)*9小时=162个

In [37]:
x=np.empty([12 * 471,18*9],dtype=float)
y=np.empty([12 * 471,1],dtype=float)

In [38]:
# for month in range(12):
#     for idx in range(471):
#         x[idx+471*month,:]=month_data[month][:,idx:idx+9].reshape(1,-1)
#         y[idx+471*month,:]=month_data[month][9,idx+9]

In [39]:
for m in range(12):
    for idx in range(471):
        x[m*471+idx,:]=month_day[m][:,idx:idx+9].reshape(1,-1)
        y[m*471+idx,0]=month_day[m][9,idx+9]

In [40]:
x.shape

(5652, 162)

In [41]:
y.shape

(5652, 1)

In [42]:
x.mean(axis=0).shape

(162,)

In [43]:
x1=pd.DataFrame(x)
x1.head()

,0,1,2,3,4,5,6,7,8,9,...,152,153,154,155,156,157,158,159,160,161
0,14.0,14.0,14.0,13.0,12.0,12.0,12.0,12.0,15.0,1.8,...,0.6,0.5,0.9,0.6,0.3,0.6,1.9,2.0,2.0,0.5
1,14.0,14.0,13.0,12.0,12.0,12.0,12.0,15.0,17.0,1.8,...,0.8,0.9,0.6,0.3,0.6,1.9,2.0,2.0,0.5,0.3
2,14.0,13.0,12.0,12.0,12.0,12.0,15.0,17.0,20.0,1.8,...,1.6,0.6,0.3,0.6,1.9,2.0,2.0,0.5,0.3,0.8
3,13.0,12.0,12.0,12.0,12.0,15.0,17.0,20.0,22.0,1.8,...,1.9,0.3,0.6,1.9,2.0,2.0,0.5,0.3,0.8,1.2
4,12.0,12.0,12.0,12.0,15.0,17.0,20.0,22.0,22.0,1.8,...,2.1,0.6,1.9,2.0,2.0,0.5,0.3,0.8,1.2,2.0

In [44]:
x1=x1.apply(lambda x: (x-x.mean())/x.std())
y1=y
x1.head()

,0,1,2,3,4,5,6,7,8,9,...,152,153,154,155,156,157,158,159,160,161
0,-1.358133,-1.358719,-1.359102,-1.517992,-1.676543,-1.675830,-1.675028,-1.674061,-1.197040,0.775375,...,-1.598482,-1.138872,-0.764102,-1.044615,-1.324452,-1.043850,0.173173,0.266484,0.265656,-1.140720
1,-1.358133,-1.358719,-1.518065,-1.676883,-1.676543,-1.675830,-1.675028,-1.198262,-0.880015,0.775375,...,-1.411100,-0.763602,-1.045549,-1.325864,-1.043502,0.173616,0.266881,0.266484,-1.139531,-1.328212
2,-1.358133,-1.517759,-1.677028,-1.676883,-1.676543,-1.675830,-1.198999,-0.881062,-0.404478,0.775375,...,-0.661572,-1.045054,-1.326996,-1.044615,0.173945,0.267267,0.266881,-1.139134,-1.326889,-0.859484
3,-1.517230,-1.676800,-1.677028,-1.676883,-1.676543,-1.199572,-0.881646,-0.405263,-0.087454,0.775375,...,-0.380499,-1.326506,-1.045549,0.174130,0.267594,0.267267,-1.138731,-1.326549,-0.858493,-0.484501
4,-1.676327,-1.676800,-1.677028,-1.676883,-1.200071,-0.882066,-0.405616,-0.088063,-0.087454,0.775375,...,-0.193117,-1.045054,0.174053,0.267880,0.267594,-1.137501,-1.326146,-0.858010,-0.483777,0.265463

In [ ]:
def lin_reg(x,w,b):
    return torch.mm(x,w)+b

In [ ]:
def squared_loss(y_hat,y):
    return (y_hat-y.view(y_hat.size()))**2

In [ ]:
def sgd(params,lr,batch_size):
    for p in params:
        p.data -= lr * p.grad/batch_size

In [ ]:
features=torch.Tensor(x1.values)
labels=torch.Tensor(y1)

In [ ]:
# dataset=torch.utils.data.TensorDataset(features,labels)
# data_iter=torch.utils.data.DataLoader(dataset,batch_size=128,shuffle=True)
# for xx,yy in data_iter:
#     print(xx.shape)

In [ ]:
lr=0.03
batch_size=128
num_epochs=100000
dataset=torch.utils.data.TensorDataset(features,labels)
data_iter=torch.utils.data.DataLoader(dataset,batch_size=batch_size,shuffle=True)
w=torch.Tensor(np.random.normal(0,0.01,(features.shape[1],1)))
b=torch.Tensor([1.])
for p in [w,b]:
    p.requires_grad_(requires_grad=True)
for e in range(num_epochs):
    for x,y in data_iter:
        l=squared_loss(lin_reg(x,w,b),y).mean()
        if w.grad is not None:
            w.grad.data.zero_()
            b.grad.data.zero_()
        l.backward()
        sgd([w,b],lr,batch_size)
#     if e+1 % 10 ==0:
#         print('loss ',l.item())
#     print('epoch :',e)
    if e % 1000 ==0:
        print('loss:',squared_loss(lin_reg(features,w,b),labels).mean().item())

In [ ]:
def train_hand(num_epochs,x_train,y_train,x_test,y_test,lr,batch_size):
    train_l,test_l=[],[]
    for e in range(num_epochs):
        dataset=torch.utils.data.TensorDataset(x_train,y_train)
        data_iter=torch.utils.data.DataLoader(dataset,batch_size=batch_size,shuffle=True)
        for x,y in data_iter:
            l=squared_loss(lin_reg(x,w,b),y).mean()
            if w.grad is not None:
                w.grad.data.zero_()
                b.grad.data.zero_()
            l.backward()
            sgd([w,b],lr,batch_size)
    #     if e+1 % 10 ==0:
    #         print('loss ',l.item())
    #     print('epoch :',e)
        if (e+1) % 100 ==0:
#             print('train loss:',squared_loss(lin_reg(x_train,w,b),y_train).mean().item())
            train_l.append(squared_loss(lin_reg(x_train,w,b),y_train).mean().item())
            if x_test is not None:
#                 print('test loss : ',squared_loss(lin_reg(x_test,w,b),y_test).mean().item())
                test_l.append(squared_loss(lin_reg(x_test,w,b),y_test).mean().item())
    return train_l,test_l

In [ ]:
train_hand(1000,features,labels,None,None,0.03,128)

In [ ]:
def get_kfold_data(k,j,xdata,ydata):
    fold_size=xdata.shape[0]//k
#     print('fold size :',fold_size)
    xtrain,ytrain=None,None
    for i in range(k):
#         xtrain,ytrain=None,None
        xpart=xdata[i*fold_size:(i+1)*fold_size,:]
        ypart=ydata[i*fold_size:(i+1)*fold_size,:]
        if j==i:
            xval,yval=xpart,ypart
        elif xtrain is None:
            xtrain,ytrain=xpart,ypart
        else:
            xtrain=torch.cat((xtrain,xpart))
            ytrain=torch.cat((ytrain,ypart))
    return xtrain,ytrain,xval,yval

In [ ]:
data=get_kfold_data(5,1,features,labels)

In [ ]:
data[0].shape

In [ ]:
data[2].shape

In [ ]:
def train_kfold(num_epochs,k,features,labels,lr,batch_size):
    train_l,test_l=None,None
    for j in range(k):
        data=get_kfold_data(k,j,features,labels)
        train_l,test_l=train_hand(num_epochs,*data,lr,batch_size)
        print('fold %d ,train loss %f,test %f' % (j,np.mean(train_l),np.mean(test_l)))

In [ ]:
lr=0.03
batch_size=128
num_epochs=1000
train_kfold(num_epochs,5,features,labels,lr,batch_size)

## test in nn

In [ ]:
net=nn.Linear(x.shape[1],1)
loss=nn.MSELoss()
optimizer=optim.SGD(net.parameters(),lr=0.001)

In [ ]:

def train_pytorch(num_epochs,dataset,lr,batch_size):
    for e in range(epoch_num):
        for x,y in torch.utils.data.DataLoader(dataset,batch_size,shuffle=True):
            l=loss(net(x).reshape(-1,1),y).mean()
            optimizer.zero_grad()
            l.backward()
            optimizer.step()
        if e%100 ==0:
            print(l.item())

In [ ]:
net=nn.Linear(x.shape[1],1)
loss=nn.MSELoss()
optimizer=optim.SGD(net.parameters(),lr=0.0001)
train_pytorch(1000,dataset,0.0001,128)