In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns
from scipy.stats import norm ,skew,kurtosis
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import make_scorer,mean_squared_error

In [2]:
df_train=pd.read_csv('F:\\study\\ml\\DataSet\\Tap4fun\\tap_fun_train.csv')

In [3]:
df_train.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2288007 entries, 0 to 2288006
Columns: 109 entries, user_id to prediction_pay_price
dtypes: float64(13), int64(95), object(1)
memory usage: 2.0 GB

In [4]:
c_int=df_train.select_dtypes(include=['int64']).apply(pd.to_numeric,downcast='unsigned')
c_float=df_train.select_dtypes(include=['float']).apply(pd.to_numeric,downcast='float')

In [5]:
o_df=pd.concat([c_int,c_float],axis=1)

In [6]:
column_type=dict(o_df.dtypes.copy())

In [7]:
# column_type

In [8]:
len(column_type)

108

In [9]:
del o_df,c_int,c_float,df_train

In [10]:
data_train=pd.read_csv('F:\\study\\ml\\DataSet\\Tap4fun\\tap_fun_train.csv',
                      dtype=column_type,parse_dates=['register_time'],infer_datetime_format=True)

data_test=pd.read_csv('F:\\study\\ml\\DataSet\\Tap4fun\\tap_fun_test.csv',
                      dtype=column_type,parse_dates=['register_time'],infer_datetime_format=True)

In [11]:
data_train.rename(columns={'treatment_acceleraion_add_value':'treatment_acceleration_add_value',\
                          'sr_rss_a_prod_levell':'sr_rss_a_prod_level'} ,inplace=True)

data_test.rename(columns={'treatment_acceleraion_add_value':'treatment_acceleration_add_value',\
                          'sr_rss_a_prod_levell':'sr_rss_a_prod_level'} ,inplace=True)

In [12]:
data_train.head()

,user_id,register_time,wood_add_value,wood_reduce_value,stone_add_value,stone_reduce_value,ivory_add_value,ivory_reduce_value,meat_add_value,meat_reduce_value,...,pvp_battle_count,pvp_lanch_count,pvp_win_count,pve_battle_count,pve_lanch_count,pve_win_count,avg_online_minutes,pay_price,pay_count,prediction_pay_price
0,1,2018-02-02 19:47:15,20125.0,3700.0,0.0,0.0,0.0,0.0,16375.0,2000.0,...,0,0,0,0,0,0,0.333333,0.0,0,0.0
1,1593,2018-01-26 00:01:05,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0.333333,0.0,0,0.0
2,1594,2018-01-26 00:01:58,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,1.166667,0.0,0,0.0
3,1595,2018-01-26 00:02:13,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,3.166667,0.0,0,0.0
4,1596,2018-01-26 00:02:46,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,2.333333,0.0,0,0.0

In [13]:
data_test.head()

,user_id,register_time,wood_add_value,wood_reduce_value,stone_add_value,stone_reduce_value,ivory_add_value,ivory_reduce_value,meat_add_value,meat_reduce_value,...,sr_rss_help_bonus_level,pvp_battle_count,pvp_lanch_count,pvp_win_count,pve_battle_count,pve_lanch_count,pve_win_count,avg_online_minutes,pay_price,pay_count
0,14933,2018-03-08 20:27:57,166415.0,138362.0,0.0,0.0,0.0,0.0,258522.0,90142.0,...,0,0,0,0,1,1,1,8.000000,0.0,0
1,14934,2018-03-08 20:29:42,10000.0,600.0,0.0,0.0,0.0,0.0,10000.0,400.0,...,0,0,0,0,0,0,0,0.166667,0.0,0
2,14935,2018-03-08 20:30:13,10000.0,3700.0,0.0,0.0,0.0,0.0,10000.0,2000.0,...,0,0,0,0,0,0,0,17.000000,0.0,0
3,14936,2018-03-08 20:31:41,210000.0,0.0,200000.0,0.0,200000.0,0.0,610000.0,0.0,...,0,0,0,0,0,0,0,1.666667,0.0,0
4,14937,2018-03-08 20:32:07,11500.0,3700.0,0.0,0.0,0.0,0.0,11000.0,2000.0,...,0,0,0,0,0,0,0,0.333333,0.0,0

In [14]:
# data_label=data_train['prediction_pay_price']
# data_train2=data_train.drop(labels=['user_id','register_time'],axis=1)
# data_test2=data_test.drop(labels=['user_id','register_time'],axis=1)

data_train2=data_train.drop(labels=['register_time'],axis=1)
data_test2=data_test.drop(labels=['register_time'],axis=1)

In [15]:
train_7pay=data_train2[data_train2['pay_price']>0].copy()
test_7pay=data_test2[data_test2['pay_price']>0].copy()

train_7pay2=data_train2[data_train2['pay_price']>0].copy()
test_7pay2=data_test2[data_test2['pay_price']>0].copy()

In [16]:
train_7pay_y=train_7pay.prediction_pay_price
train_7pay_X=train_7pay.drop(labels=['prediction_pay_price','user_id'],axis=1)
train_7pay_user_id=train_7pay.user_id
test_7pay_X=test_7pay.drop(labels=['user_id'],axis=1)
test_7pay_user_id=test_7pay.user_id

In [17]:
numeric_dtypes=['uint8','uint16','uint32','uint64','float32']
numeric2=[]
for i in train_7pay_X.columns:
    if (train_7pay_X[i].dtype in numeric_dtypes) & ( i != 'user_id') :#& (i != 'prediction_pay_price'):
        numeric2.append(i)
len(numeric2)

106

In [18]:
numeric_dtypes=['uint8','uint16','uint32','uint64','float16','float32','float64']
numeric2=[]
for i in train_7pay_X.columns:
    if (train_7pay_X[i].dtype in numeric_dtypes) & ( i != 'user_id')  :#& (i != 'prediction_pay_price'):
        numeric2.append(i)
skew_train_7pay_X=train_7pay_X[numeric2].apply(lambda x:skew(x)).sort_values(ascending=False)
skews=pd.DataFrame({'skew':skew_train_7pay_X})
skews.head()

                                     skew
wound_shaman_reduce_value      197.754952
wound_shaman_add_value         197.507779
shaman_reduce_value            193.928541
shaman_add_value               191.781153
sr_guest_troop_capacity_level  161.804167

In [19]:
numeric_dtypes=['uint8','uint16','uint32','uint64','float16','float32','float64']
numeric22=[]
for i in test_7pay.columns:
    if (test_7pay[i].dtype in numeric_dtypes) & ( i != 'user_id') : #& (i != 'prediction_pay_price'):
        numeric22.append(i)
skew_test_7pay=test_7pay[numeric22].apply(lambda x:skew(x)).sort_values(ascending=False)
skews22=pd.DataFrame({'skew':skew_test_7pay})
skews22.head()

                                    skew
sr_guest_troop_capacity_level  80.705226
sr_rss_help_bonus_level        80.705226
sr_march_size_level            73.001415
sr_troop_attack_level          62.096348
sr_outpost_tier_4_level        49.402686

In [20]:
from scipy.special import boxcox1p
from scipy.stats import boxcox_normmax

In [21]:
high_skew=skew_train_7pay_X[skew_train_7pay_X>0.5]
high_skew=high_skew
skew_index=high_skew.index

for i in skew_index:
    train_7pay[i]=boxcox1p(train_7pay[i],boxcox_normmax(train_7pay[i]+1))
skew_train_7pay2_X=train_7pay[numeric2].apply(lambda x:skew(x)).sort_values(ascending=False)
skew2=pd.DataFrame({'skew':skew_train_7pay2_X})
skew2

D:\ProgramData\Anaconda3\lib\site-packages\scipy\stats\stats.py:5616: RuntimeWarning: overflow encountered in multiply
  return np.sum(a*a, axis)

                                           skew
sr_guest_troop_capacity_level        117.691832
sr_rss_help_bonus_level              117.634879
sr_march_size_level                   77.117545
sr_troop_attack_level                 67.957535
sr_outpost_tier_4_level               56.432399
sr_shaman_tier_4_level                34.868251
sr_infantry_tier_4_level              32.139943
sr_cavalry_tier_4_level               30.296332
sr_shaman_hp_level                    12.814441
sr_cavalry_hp_level                   12.560403
sr_shaman_def_level                   12.129973
sr_infantry_hp_level                  11.863372
sr_cavalry_def_level                  11.659334
sr_infantry_def_level                 11.332265
sr_alliance_march_speed_level          9.993289
sr_troop_defense_level                 9.869269
sr_shaman_tier_3_level                 8.629551
sr_gathering_march_speed_level         8.298226
sr_cavalry_tier_3_level                8.150256
sr_pvp_march_speed_level               8.066003
sr_infantry_tier_3_level               7.930711
sr_rss_c_gather_level                  7.921793
sr_rss_c_prod_level                    6.799671
sr_rss_b_gather_level                  4.355000
sr_outpost_tier_3_level                4.219154
sr_rss_e_gather_level                  3.974888
sr_rss_b_prod_level                    3.754292
sr_rss_e_prod_level                    2.376228
treatment_acceleration_reduce_value    2.172012
sr_rss_d_gather_level                  1.575923
...                                         ...
magic_reduce_value                     0.145848
general_acceleration_add_value         0.136133
training_acceleration_add_value        0.131508
building_acceleration_add_value        0.120398
magic_add_value                        0.086886
reaserch_acceleration_add_value        0.084796
bd_hero_pve_level                      0.076623
pve_win_count                          0.039549
pve_lanch_count                        0.037883
pve_battle_count                       0.036164
sr_shaman_tier_2_level                 0.019355
avg_online_minutes                    -0.015519
sr_cavalry_tier_2_level               -0.093492
sr_infantry_tier_2_level              -0.129278
bd_guest_cavern_level                 -0.258554
bd_market_level                       -0.286070
sr_training_speed_level               -0.296719
sr_outpost_tier_2_level               -0.299098
bd_healing_lodge_level                -0.306906
bd_watchtower_level                   -0.381151
bd_training_hut_level                 -0.401962
bd_healing_spring_level               -0.409719
bd_dolmen_level                       -0.506567
bd_outpost_portal_level               -0.516837
bd_warehouse_level                    -0.519127
bd_barrack_level                      -0.541721
bd_magic_coin_tree_level              -0.550381
bd_stronghold_level                   -0.694097
meat_reduce_value                     -3.562855
wood_reduce_value                     -3.566151

[106 rows x 1 columns]

In [22]:
high_skew2=skew_test_7pay[skew_test_7pay>0.5]
high_skew2=high_skew2
skew_index2=high_skew2.index

for i in skew_index2:
    test_7pay[i]=boxcox1p(test_7pay[i],boxcox_normmax(test_7pay[i]+1))
skew_test_7pay2=test_7pay[numeric22].apply(lambda x:skew(x)).sort_values(ascending=False)
skew2=pd.DataFrame({'skew':skew_test_7pay2})
skew2.head()

D:\ProgramData\Anaconda3\lib\site-packages\scipy\stats\stats.py:5616: RuntimeWarning: overflow encountered in multiply
  return np.sum(a*a, axis)

                                    skew
sr_rss_help_bonus_level        80.705226
sr_guest_troop_capacity_level  80.705226
sr_march_size_level            52.917479
sr_troop_attack_level          52.893436
sr_outpost_tier_4_level        49.402686

In [23]:
####################   fro train_7pay

drop_col=[i for i in train_7pay.columns.values if 'prediction' in  i]
drop_col.append('user_id')
X=train_7pay.drop(labels=drop_col,axis=1)
y=train_7pay.prediction_pay_price
# X=train_7pay_X
y=train_7pay_y
X.replace([np.inf,-np.inf],np.nan,inplace=True)
X.fillna(0.0,inplace=True)
from sklearn.model_selection import cross_val_score,KFold
from sklearn.linear_model import LinearRegression,RidgeCV,LassoCV,ElasticNetCV
from sklearn.preprocessing import RobustScaler
from sklearn.pipeline import make_pipeline

kfolds=KFold(n_splits=10,shuffle=False,random_state=13)


def cv_rmse(model):
    rmse=np.sqrt(-cross_val_score(model,X,y,scoring='neg_mean_squared_error',cv=kfolds))
    return rmse

lm = LinearRegression()

benchmark_model=make_pipeline(RobustScaler(),
                             lm).fit(X,y)

cv_rmse(benchmark_model).mean()

911.4531724973815

In [24]:
train_7pay.head()

,user_id,wood_add_value,wood_reduce_value,stone_add_value,stone_reduce_value,ivory_add_value,ivory_reduce_value,meat_add_value,meat_reduce_value,magic_add_value,...,pvp_battle_count,pvp_lanch_count,pvp_win_count,pve_battle_count,pve_lanch_count,pve_win_count,avg_online_minutes,pay_price,pay_count,prediction_pay_price
25,1617,49.369213,0.190983,36.961952,0.000000,0.000000,0.0,93.294647,0.221723,38.248585,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.444330,0.614666,0.573142,0.99
40,1632,128.614899,0.190983,80.795532,124.906487,49.005486,0.0,173.571854,0.221723,83.537819,...,0.692157,0.673098,0.672184,2.443635,2.442323,2.359431,8.745390,1.104503,0.959999,4.96
47,1639,86.963875,0.190983,50.628502,74.805061,45.203709,0.0,100.192772,0.221723,49.150471,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,7.309942,1.751935,0.959999,12.97
86,1678,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,7.668663,0.614666,0.573142,0.99
119,1711,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.793513,0.614666,0.573142,0.99

In [25]:
drop_col=[i for i in train_7pay.columns.values if 'prediction' in  i]
drop_col.append('user_id')
X=train_7pay2.drop(labels=drop_col,axis=1)
y=train_7pay2.prediction_pay_price
# X=train_7pay_X
y=train_7pay_y
X.replace([np.inf,-np.inf],np.nan,inplace=True)
X.fillna(0.0,inplace=True)
from sklearn.model_selection import cross_val_score,KFold
from sklearn.linear_model import LinearRegression,RidgeCV,LassoCV,ElasticNetCV
from sklearn.preprocessing import RobustScaler
from sklearn.pipeline import make_pipeline

kfolds=KFold(n_splits=10,shuffle=False,random_state=13)


def cv_rmse(model):
    rmse=np.sqrt(-cross_val_score(model,X,y,scoring='neg_mean_squared_error',cv=kfolds))
    return rmse

lm = LinearRegression()

benchmark_model=make_pipeline(RobustScaler(),
                             lm).fit(X,y)

cv_rmse(benchmark_model).mean()

477.9172119170842

In [26]:
drop_col=[i for i in train_7pay.columns.values if 'prediction' in  i]
drop_col.append('user_id')
X=train_7pay2.drop(labels=drop_col,axis=1)
y=train_7pay2.prediction_pay_price
# X=train_7pay_X
# y=train_7pay_y
X.replace([np.inf,-np.inf],np.nan,inplace=True)
X.fillna(0.0,inplace=True)

In [27]:
r_alphas = [.0001, .0003, .0005, .0007, .0009, 
          .01, 0.05, 0.1, 0.3, 1, 3, 5, 10, 15, 20, 30, 50, 60, 70, 80]

def ridge_selector(k):
    ridge_model=make_pipeline(RobustScaler(),
                             RidgeCV(alphas=[k],cv=kfolds)).fit(X,y)
    return cv_rmse(ridge_model).mean()

r_score=[]
for i in r_alphas:
    score=ridge_selector(i)
    r_score.append(score)

In [28]:
X.head()

,wood_add_value,wood_reduce_value,stone_add_value,stone_reduce_value,ivory_add_value,ivory_reduce_value,meat_add_value,meat_reduce_value,magic_add_value,magic_reduce_value,...,sr_rss_help_bonus_level,pvp_battle_count,pvp_lanch_count,pvp_win_count,pve_battle_count,pve_lanch_count,pve_win_count,avg_online_minutes,pay_price,pay_count
25,30000.0,97200.0,20000.0,0.0,0.0,0.0,160500.0,80392.0,12000.0,0.0,...,0,0,0,0,0,0,0,44.666668,0.99,1
40,1111744.0,1137687.0,491331.0,790208.0,77000.0,0.0,1457249.0,708483.0,217455.0,162987.0,...,0,1,1,1,6,6,6,199.333328,2.97,3
47,249050.0,173248.0,70841.0,117012.0,55000.0,0.0,206366.0,82205.0,29902.0,88064.0,...,0,0,0,0,0,0,0,109.333336,12.97,3
86,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,127.833336,0.99,1
119,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,203.166672,0.99,1

In [29]:
y.head()

25      0.99
40      4.96
47     12.97
86      0.99
119     0.99
Name: prediction_pay_price, dtype: float32

In [30]:
r_score_df=pd.DataFrame(list(zip(r_alphas,r_score)),columns=['Alpha','RMSE'])
r_score_df.sort_values(by='RMSE')

      Alpha        RMSE
19  80.0000  445.889584
18  70.0000  446.071031
17  60.0000  446.276387
16  50.0000  446.513760
15  30.0000  447.148732
14  20.0000  447.619865
13  15.0000  447.931531
12  10.0000  448.325885
9    1.0000  448.660725
11   5.0000  448.822637
10   3.0000  448.995643
8    0.3000  449.381987
7    0.1000  457.922248
6    0.0500  465.010455
5    0.0100  474.648944
4    0.0009  477.605292
3    0.0007  477.674289
2    0.0005  477.743467
1    0.0003  477.812828
0    0.0001  477.882371

In [31]:
from sklearn.model_selection  import train_test_split

X['user_id']=train_7pay_user_id

X1,val_X1,y1,val_y1=train_test_split(X,y,test_size=0.2,random_state=17)
X2=X1.drop(labels='user_id',axis=1)
val_X2=val_X1.drop(labels='user_id',axis=1)
X2_user_id=X1.user_id
val_X2_user_id=val_X1.user_id

X.drop(labels='user_id',axis=1,inplace=True)

In [32]:
r_alphas = [ 1000,2000,5000,10000]
def ridge_selector(k):
    ridge_model=make_pipeline(RobustScaler(),
                             RidgeCV(alphas=[k],cv=kfolds)).fit(X2,y1)
    return cv_rmse(ridge_model).mean()

r_score=[]
for i in r_alphas:
    score=ridge_selector(i)
    r_score.append(score)    
r_score_df=pd.DataFrame(list(zip(r_alphas,r_score)),columns=['Alpha','RMSE'])
r_score_df.sort_values(by='RMSE')

   Alpha        RMSE
3  10000  436.290444
2   5000  438.205438
1   2000  440.492912
0   1000  441.895675

In [33]:
ridge_model2=make_pipeline(RobustScaler(),
                             RidgeCV(alphas=[2500],cv=kfolds)).fit(X2,y1)

In [34]:
r_pred=ridge_model2.predict(val_X2)

r_result=pd.DataFrame(list(zip(val_y1,r_pred)),columns=['val_y1','pred_y1'])
r_result['user_id']=val_X2_user_id.values

In [35]:
r_result.head()

      val_y1     pred_y1  user_id
0  46.880001  139.565189  2558880
1   6.970000  -15.362901  1486362
2   0.990000   -3.403095   243845
3   2.980000  -15.301380   873606
4  22.940001    0.129199   733979

In [36]:
np.sqrt(mean_squared_error(val_y1,r_pred))

534.249139574096

In [37]:
X2_user_id.values

array([ 883635, 1990570,   12819, ..., 2568293, 2741487,  765612],
      dtype=uint32)

In [38]:
r_pred2=ridge_model2.predict(X2)
r_result2=pd.DataFrame(list(zip(y1,r_pred2)),columns=['y1','pred_y1'])
r_result2['user_id']=X2_user_id.values

In [39]:
np.sqrt(mean_squared_error(y1,r_pred2))

395.0366437146297

In [40]:
l_alpha2 = [ 0.0007, 0.0008,0.001]

lasso_model=make_pipeline(RobustScaler(),
                         LassoCV(alphas=[0.0008],max_iter=1e6,cv=kfolds)).fit(X,y)
cv_rmse(lasso_model).mean()

477.641879967179

In [41]:
lasso_model.steps[1][1].alpha_

0.0008

In [42]:
X.head()

,wood_add_value,wood_reduce_value,stone_add_value,stone_reduce_value,ivory_add_value,ivory_reduce_value,meat_add_value,meat_reduce_value,magic_add_value,magic_reduce_value,...,sr_rss_help_bonus_level,pvp_battle_count,pvp_lanch_count,pvp_win_count,pve_battle_count,pve_lanch_count,pve_win_count,avg_online_minutes,pay_price,pay_count
25,30000.0,97200.0,20000.0,0.0,0.0,0.0,160500.0,80392.0,12000.0,0.0,...,0,0,0,0,0,0,0,44.666668,0.99,1
40,1111744.0,1137687.0,491331.0,790208.0,77000.0,0.0,1457249.0,708483.0,217455.0,162987.0,...,0,1,1,1,6,6,6,199.333328,2.97,3
47,249050.0,173248.0,70841.0,117012.0,55000.0,0.0,206366.0,82205.0,29902.0,88064.0,...,0,0,0,0,0,0,0,109.333336,12.97,3
86,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,127.833336,0.99,1
119,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,203.166672,0.99,1

In [49]:
l_pred2=lasso_model.predict(X2)

np.sqrt(mean_squared_error(y1,l_pred2))

392.7799415730457

In [43]:
la_coef=pd.DataFrame(list(zip(X.columns,lasso_model.steps[1][1].coef_)),columns=['predictors','coef'])
la_coef.sort_values(by='coef',ascending=False)

                             predictors         coef
94        sr_guest_troop_capacity_level  5309.358244
67              sr_cavalry_tier_4_level   259.775010
56             sr_infantry_tier_3_level   252.361923
92       sr_gathering_march_speed_level   121.005530
3                    stone_reduce_value    95.722629
0                        wood_add_value    90.781409
12                    cavalry_add_value    56.173233
4                       ivory_add_value    55.892621
82                sr_rss_e_gather_level    52.271843
11                infantry_reduce_value    45.378587
15                  shaman_reduce_value    42.885144
20               wound_shaman_add_value    39.656472
19           wound_cavalry_reduce_value    35.444586
104                           pay_price    32.374174
64                  sr_cavalry_hp_level    31.828936
90        sr_alliance_march_speed_level    31.690170
61                 sr_cavalry_def_level    30.145042
63                 sr_infantry_hp_level    23.982516
28      training_acceleration_add_value    23.841774
49              sr_training_speed_level    22.417479
17          wound_infantry_reduce_value    22.089023
7                     meat_reduce_value    21.946940
103                  avg_online_minutes    20.132260
43                 bd_hall_of_war_level    18.755423
74                  sr_rss_b_prod_level    14.794818
105                           pay_count    14.556478
41                  bd_watchtower_level    13.279813
77                sr_rss_a_gather_level    11.673144
24      building_acceleration_add_value    10.221694
84          sr_outpost_durability_level    10.109837
..                                  ...          ...
102                       pve_win_count   -15.050393
80                sr_rss_d_gather_level   -15.117690
29   training_acceleration_reduce_value   -15.906902
26      reaserch_acceleration_add_value   -17.045715
39                bd_guest_cavern_level   -19.172350
70          sr_construction_speed_level   -19.762163
62                  sr_shaman_def_level   -22.316986
14                     shaman_add_value   -22.789379
52               sr_shaman_tier_2_level   -23.955083
22       general_acceleration_add_value   -29.276116
16             wound_infantry_add_value   -30.794944
10                   infantry_add_value   -34.381786
6                        meat_add_value   -34.879416
25   building_acceleration_reduce_value   -37.879730
21            wound_shaman_reduce_value   -38.307778
65                   sr_shaman_hp_level   -46.410262
1                     wood_reduce_value   -47.177836
91             sr_pvp_march_speed_level   -47.425912
75                  sr_rss_c_prod_level   -48.937898
18              wound_cavalry_add_value   -50.618838
13                 cavalry_reduce_value   -62.249549
2                       stone_add_value   -66.992866
60                sr_infantry_def_level   -79.060998
79                sr_rss_c_gather_level  -106.390613
95                  sr_march_size_level  -132.488681
93              sr_outpost_tier_4_level  -603.652123
69                sr_troop_attack_level  -741.572502
96              sr_rss_help_bonus_level  -743.925765
68               sr_shaman_tier_4_level  -955.432443
66             sr_infantry_tier_4_level -1002.981344

[106 rows x 2 columns]

In [44]:
la_coef[la_coef.coef == 0].shape

(0, 2)

In [45]:
e_alphas = [0.00001,0.00005,0.0001, 0.0002, 0.0003, 0.0004, 0.0005, 0.0006, 0.0007]
e_l1ratio = [0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8, 0.85, 0.9, 0.95, 0.99, 1]

elastic_model=make_pipeline(RobustScaler(),
                        ElasticNetCV(max_iter=1e6,alphas=e_alphas,l1_ratio=e_l1ratio,cv=kfolds)).fit(X,y)

cv_rmse(elastic_model).mean()

449.0117387192233

In [50]:
e_pred2=lasso_model.predict(X2)

np.sqrt(mean_squared_error(y1,e_pred2))

392.7799415730457

In [ ]:
elastic_model.predict

In [66]:
from lightgbm import LGBMRegressor

lgbm_model = make_pipeline(RobustScaler(),
LGBMRegressor(objective='regression',num_leaves=5,
                              learning_rate=0.05, n_estimators=720,
                              max_bin = 55, bagging_fraction = 0.8,
                              bagging_freq = 5, feature_fraction = 0.2319,
                              feature_fraction_seed=9, bagging_seed=9,
                              min_data_in_leaf =6, min_sum_hessian_in_leaf = 11)).fit(X,y)
cv_rmse(lgbm_model).mean()

459.8913414306282

In [68]:
lgb_pred2=lgbm_model.predict(X2)

np.sqrt(mean_squared_error(lgb_pred2,e_pred2))

253.82361648757674

In [60]:
lgb_pred2=lgbm_model.predict(X2)

np.sqrt(mean_squared_error(lgb_pred2,e_pred2))

257.599283145379

In [61]:
test_7pay.shape

(19549, 107)

In [63]:
X.shape

(41439, 106)

In [64]:
train_7pay2.shape

(41439, 108)

In [69]:
test_7pay_X.head()

,wood_add_value,wood_reduce_value,stone_add_value,stone_reduce_value,ivory_add_value,ivory_reduce_value,meat_add_value,meat_reduce_value,magic_add_value,magic_reduce_value,...,sr_rss_help_bonus_level,pvp_battle_count,pvp_lanch_count,pvp_win_count,pve_battle_count,pve_lanch_count,pve_win_count,avg_online_minutes,pay_price,pay_count
19,3838322.0,2859288.0,1041000.0,0.0,504000.0,0.0,6898146.0,4297996.0,228209.0,26500.0,...,0,4,4,4,4,4,3,27.166668,0.99,1
96,2353190.0,1286349.0,1000000.0,0.0,609000.0,0.0,3216753.0,513123.0,79405.0,52453.0,...,0,2,0,0,5,5,5,19.500000,0.99,1
126,6058137.0,3960541.0,5040000.0,2520000.0,2109000.0,0.0,14586512.0,7910807.0,230292.0,185600.0,...,0,0,0,0,11,11,9,13.833333,5.98,2
131,2958155.0,2350347.0,1364518.0,407296.0,600000.0,0.0,5895581.0,3241016.0,283404.0,125100.0,...,0,2,1,0,2,2,2,13.000000,0.99,1
169,1080008.0,19659.0,1000000.0,0.0,500000.0,0.0,2303911.0,13076.0,0.0,0.0,...,0,0,0,0,1,1,1,2.166667,0.99,1