In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
allData=pd.read_csv('F:\\study\\ml\\DataSet\\Kobe_shot\\data.csv\\data.csv')

In [5]:
data=allData[allData.shot_made_flag.notnull()].reset_index()

In [6]:
data.head()

,index,action_type,combined_shot_type,game_event_id,game_id,lat,loc_x,loc_y,lon,minutes_remaining,...,shot_type,shot_zone_area,shot_zone_basic,shot_zone_range,team_id,team_name,game_date,matchup,opponent,shot_id
0,1,Jump Shot,Jump Shot,12,20000012,34.0443,-157,0,-118.4268,10,...,2PT Field Goal,Left Side(L),Mid-Range,8-16 ft.,1610612747,Los Angeles Lakers,2000-10-31,LAL @ POR,POR,2
1,2,Jump Shot,Jump Shot,35,20000012,33.9093,-101,135,-118.3708,7,...,2PT Field Goal,Left Side Center(LC),Mid-Range,16-24 ft.,1610612747,Los Angeles Lakers,2000-10-31,LAL @ POR,POR,3
2,3,Jump Shot,Jump Shot,43,20000012,33.8693,138,175,-118.1318,6,...,2PT Field Goal,Right Side Center(RC),Mid-Range,16-24 ft.,1610612747,Los Angeles Lakers,2000-10-31,LAL @ POR,POR,4
3,4,Driving Dunk Shot,Dunk,155,20000012,34.0443,0,0,-118.2698,6,...,2PT Field Goal,Center(C),Restricted Area,Less Than 8 ft.,1610612747,Los Angeles Lakers,2000-10-31,LAL @ POR,POR,5
4,5,Jump Shot,Jump Shot,244,20000012,34.0553,-145,-11,-118.4148,9,...,2PT Field Goal,Left Side(L),Mid-Range,8-16 ft.,1610612747,Los Angeles Lakers,2000-10-31,LAL @ POR,POR,6

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25697 entries, 0 to 25696
Data columns (total 26 columns):
index                 25697 non-null int64
action_type           25697 non-null object
combined_shot_type    25697 non-null object
game_event_id         25697 non-null int64
game_id               25697 non-null int64
lat                   25697 non-null float64
loc_x                 25697 non-null int64
loc_y                 25697 non-null int64
lon                   25697 non-null float64
minutes_remaining     25697 non-null int64
period                25697 non-null int64
playoffs              25697 non-null int64
season                25697 non-null object
seconds_remaining     25697 non-null int64
shot_distance         25697 non-null int64
shot_made_flag        25697 non-null float64
shot_type             25697 non-null object
shot_zone_area        25697 non-null object
shot_zone_basic       25697 non-null object
shot_zone_range       25697 non-null object
team_id               25697 non-null int64
team_name             25697 non-null object
game_date             25697 non-null object
matchup               25697 non-null object
opponent              25697 non-null object
shot_id               25697 non-null int64
dtypes: float64(3), int64(12), object(11)
memory usage: 5.1+ MB

In [8]:
data.game_date.head()

0    2000-10-31
1    2000-10-31
2    2000-10-31
3    2000-10-31
4    2000-10-31
Name: game_date, dtype: object

In [12]:
data['game_date_DT']=pd.to_datetime(data.game_date)
data['dayOfWeek']=data.game_date_DT.dt.dayofweek
data['dayOfYear']=data.game_date_DT.dt.dayofyear

In [ ]:
data['secondsFromPeriodEnd']=60*data.minutes_remaining+data.seconds_remaining
data['secondsFromPeriodStart']=60*(11-data.minutes_remaining)+(60-data.seconds_remaining)