In [ ]:
import pandas as pd
import numpy as np
import torch
import torchvision
from torch import nn,optim
import matplotlib.pyplot as plt
%matplotlib auto

In [ ]:
train_data=pd.read_csv(r'F:\study\ml\DataSet\california-house-prices\train.csv')
test_data=pd.read_csv(r'F:\study\ml\DataSet\california-house-prices\test.csv')

In [3]:
train_data.shape

(47439, 41)

In [4]:
test_data.shape

(31626, 40)

In [5]:
train_data.head()

,Id,Address,Sold Price,Summary,Type,Year built,Heating,Cooling,Parking,Lot,...,Parking features,Tax assessed value,Annual tax amount,Listed On,Listed Price,Last Sold On,Last Sold Price,City,Zip,State
0,0,540 Pine Ln,3825000.0,"540 Pine Ln, Los Altos, CA 94022 is a single f...",SingleFamily,1969.0,"Heating - 2+ Zones, Central Forced Air - Gas","Multi-Zone, Central AC, Whole House / Attic Fan","Garage, Garage - Attached, Covered",1.0,...,"Garage, Garage - Attached, Covered",886486.0,12580.0,2019-10-24,4198000.0,NaN,NaN,Los Altos,94022,CA
1,1,1727 W 67th St,505000.0,"HURRY, HURRY.......Great house 3 bed and 2 bat...",SingleFamily,1926.0,Combination,"Wall/Window Unit(s), Evaporative Cooling, See ...","Detached Carport, Garage",4047.0,...,"Detached Carport, Garage",505000.0,6253.0,2019-10-16,525000.0,2019-08-30,328000.0,Los Angeles,90047,CA
2,2,28093 Pine Ave,140000.0,'THE PERFECT CABIN TO FLIP! Strawberry deligh...,SingleFamily,1958.0,Forced air,NaN,0 spaces,9147.0,...,NaN,49627.0,468.0,2019-08-25,180000.0,NaN,NaN,Strawberry,95375,CA
3,3,10750 Braddock Dr,1775000.0,Rare 2-story Gated 5 bedroom Modern Mediterran...,SingleFamily,1947.0,Central,Central Air,"Detached Carport, Driveway, Garage - Two Door",NaN,...,"Detached Carport, Driveway, Garage - Two Door",1775000.0,20787.0,2019-10-24,1895000.0,2016-08-30,1500000.0,Culver City,90230,CA
4,4,7415 O Donovan Rd,1175000.0,Beautiful 200 acre ranch land with several pas...,VacantLand,NaN,NaN,NaN,0 spaces,NaN,...,NaN,NaN,NaN,2019-06-07,1595000.0,2016-06-27,900000.0,Creston,93432,CA

In [6]:
all_features=pd.concat((train_data.iloc[:,1:-1],test_data.iloc[:,1]))

In [7]:
numeric_features=all_features.dtypes[all_features.dtypes != 'object'].index

In [8]:
numeric_features

Index(['Annual tax amount', 'Bathrooms', 'Elementary School Distance',
       'Elementary School Score', 'Full bathrooms', 'Garage spaces',
       'High School Distance', 'High School Score', 'Last Sold Price',
       'Listed Price', 'Lot', 'Middle School Distance', 'Middle School Score',
       'Sold Price', 'Tax assessed value', 'Total interior livable area',
       'Total spaces', 'Year built', 'Zip'],
      dtype='object')

In [9]:
numeric_features_name=numeric_features.tolist()
numeric_features_name

['Annual tax amount',
 'Bathrooms',
 'Elementary School Distance',
 'Elementary School Score',
 'Full bathrooms',
 'Garage spaces',
 'High School Distance',
 'High School Score',
 'Last Sold Price',
 'Listed Price',
 'Lot',
 'Middle School Distance',
 'Middle School Score',
 'Sold Price',
 'Tax assessed value',
 'Total interior livable area',
 'Total spaces',
 'Year built',
 'Zip']

In [10]:
all_features[numeric_features].head(20)

,Annual tax amount,Bathrooms,Elementary School Distance,Elementary School Score,Full bathrooms,Garage spaces,High School Distance,High School Score,Last Sold Price,Listed Price,Lot,Middle School Distance,Middle School Score,Sold Price,Tax assessed value,Total interior livable area,Total spaces,Year built,Zip
0,12580.0,0.0,0.4,7.0,NaN,0.0,1.3,8.0,NaN,4198000.0,1.0,NaN,NaN,3825000.0,886486.0,1.0,0.0,1969.0,94022.0
1,6253.0,2.0,0.8,3.0,2.0,1.0,1.3,2.0,328000.0,525000.0,4047.0,1.1,2.0,505000.0,505000.0,872.0,1.0,1926.0,90047.0
2,468.0,3.0,NaN,NaN,1.0,0.0,10.1,NaN,NaN,180000.0,9147.0,NaN,NaN,140000.0,49627.0,1152.0,0.0,1958.0,95375.0
3,20787.0,3.0,0.2,9.0,3.0,0.0,0.2,8.0,1500000.0,1895000.0,NaN,0.2,7.0,1775000.0,1775000.0,2612.0,0.0,1947.0,90230.0
4,NaN,NaN,8.5,6.0,NaN,NaN,10.6,6.0,900000.0,1595000.0,NaN,10.2,5.0,1175000.0,NaN,NaN,NaN,NaN,93432.0
5,2531.0,2.0,NaN,NaN,2.0,0.0,3.3,2.0,200000.0,224900.0,3576.0,NaN,NaN,221000.0,208080.0,1311.0,0.0,1905.0,95202.0
6,19220.0,NaN,0.3,8.0,NaN,0.0,NaN,NaN,500000.0,1599000.0,NaN,NaN,NaN,1589000.0,1589000.0,NaN,0.0,1926.0,90039.0
7,NaN,2.0,6.3,4.0,2.0,4.0,6.3,2.0,NaN,499000.0,1771149.6,NaN,NaN,480000.0,NaN,2519.0,4.0,2005.0,95983.0
8,13793.0,3.0,0.3,8.0,3.0,1.0,0.5,7.0,NaN,1650000.0,NaN,0.3,8.0,1590000.0,1087088.0,1601.0,1.0,2001.0,94121.0
9,1909.0,2.0,0.6,6.0,2.0,0.0,1.5,7.0,NaN,1050000.0,66211.2,NaN,NaN,1275000.0,167767.0,2123.0,0.0,1973.0,95003.0
10,904.0,2.0,0.4,7.0,2.0,2.0,1.9,6.0,NaN,1428000.0,7570.0,0.9,5.0,1310000.0,71347.0,1579.0,2.0,1953.0,95050.0
11,9272.0,2.0,0.6,4.0,2.0,2.0,0.2,5.0,NaN,849000.0,653.0,1.0,4.0,810000.0,679900.0,1393.0,2.0,2002.0,95128.0
12,25099.0,3.0,0.3,8.0,3.0,2.0,0.4,7.0,2000000.0,2250000.0,3998.0,0.5,7.0,2100000.0,2080800.0,3351.0,2.0,1926.0,94116.0
13,5734.0,2.0,0.1,2.0,2.0,0.0,NaN,NaN,455000.0,565000.0,4800.0,1.6,2.0,565000.0,464100.0,1292.0,0.0,1923.0,90047.0
14,1586.0,2.0,0.3,4.0,2.0,0.0,13.8,5.0,110000.0,187500.0,7662.0,NaN,NaN,185000.0,148571.0,1272.0,0.0,1947.0,95369.0
15,15970.0,2.0,NaN,NaN,2.0,1.0,0.2,2.0,1235000.0,1154500.0,NaN,NaN,NaN,1155500.0,1259700.0,NaN,1.0,2001.0,94107.0
16,12448.0,NaN,NaN,NaN,NaN,1.0,0.6,3.0,497000.0,1800000.0,NaN,NaN,NaN,1750000.0,1004661.0,3900.0,4.0,2018.0,90026.0
17,3125.0,2.0,0.8,4.0,NaN,2.0,2.7,7.0,NaN,888000.0,NaN,0.3,3.0,900000.0,253149.0,1078.0,2.0,1986.0,94085.0
18,21521.0,2.0,0.4,6.0,2.0,0.0,0.5,8.0,1800000.0,2390000.0,6952.0,1.0,6.0,2290000.0,1836000.0,2100.0,0.0,1939.0,94402.0
19,3416.0,1.0,0.2,7.0,1.0,0.0,1.3,3.0,180000.0,430000.0,2621.0,NaN,NaN,415000.0,167774.0,634.0,0.0,1949.0,90220.0

In [ ]:
numeric_features_name.remove('Sold Price')

In [ ]:
numeric_features_name

In [ ]:
all_features[numeric_features].isna().sum()

In [ ]:
all_features[numeric_features_name]=all_features[numeric_features_name].apply(lambda x : (x-x.mean()) / x.std())

In [ ]:
all_features[numeric_features_name].mean()

In [ ]:
all_features[numeric_features_name]=all_features[numeric_features_name].fillna(all_features[numeric_features_name].mean())

In [ ]:
n_train=train_data.shape[0]

In [ ]:
all_features.head()

In [ ]:
all_features[numeric_features_name].head()

In [ ]:
train_features=torch.Tensor(all_features[numeric_features_name].iloc[:n_train,:].values)
test_features=torch.Tensor(all_features[numeric_features_name].iloc[n_train:,:].values)
train_labels=torch.Tensor(train_data['Sold Price'].values).reshape(-1,1)

In [ ]:
loss=nn.MSELoss()

In [ ]:
train_features.shape

In [ ]:
test_features.shape

In [ ]:
train_labels.shape

In [ ]:
def log_rmse(net,features,labels):
    clipped_preds=torch.clamp(net(features),1,float('inf'))
    rmse=torch.sqrt(loss(torch.log(clipped_preds),torch.log(labels)))
    return rmse.item()

In [ ]:
def train_k_fold_data(net,num_epochs,lr,train_features,train_labels,test_features,test_labels,batch_size,montum,wd):
#     net=nn.Linear(train_features.shape[1],1)
#     net=nn.Sequential(nn.Linear(train_features.shape[1],1))
    loss=nn.MSELoss()
#     optimizer=optim.SGD(net.parameters(),lr=lr,momentum=montum,weight_decay=wd)
    optimizer=optim.Adam(net.parameters(),lr=lr,weight_decay=wd)
    dataset=torch.utils.data.TensorDataset(train_features,train_labels)
    data_iter=torch.utils.data.DataLoader(dataset,batch_size,shuffle=True)
    train_l,test_l=[],[]
    
    min_test_loss=10000
    early_stop_cnt=0
    train_loss,test_loss=0,0
    
    for e in range(num_epochs):
        net.train()
        for x,y in data_iter:
            l=loss(net(x),y)
            optimizer.zero_grad()
            l.backward()
            optimizer.step()
#         if (e+1) %1000==0 and test_features is not  None:
        net.eval()
        with torch.no_grad():
            test_loss=log_rmse(net,test_features,test_labels)
            if test_loss<min_test_loss:
                min_test_loss=test_loss
#                 test_l.append(test_loss)
                train_loss=log_rmse(net,train_features,train_labels)
                test_l.append(test_loss)
                train_l.append(train_loss)
                print('epoch = %d train_loss : %f , test loss : %f' % (e+1,train_loss,test_loss))
                early_stop_cnt=0
            else:
                early_stop_cnt+=1
        if early_stop_cnt > 500:
            
            break
                
#             net.eval()
#             with torch.no_grad():
#                 train_l.append(loss(net(train_features),train_labels).item())
#                 test_l.append(loss(net(test_features),test_labels).item())
# #                 print('epoch ',(e+1),'train loss : ',train_l[-1],'test loss : ',test_l[-1])
    print('train log loss: ',train_loss)
    print('test log loss: ',test_loss)
    return train_l,test_l

In [ ]:
def get_kfold_data(k,j,x,y,random_state=13):
    assert k>=1, 'k must >=1'
    fold_size = x.shape[0] // k
    x_train,y_train=None,None
    row_list=list(range(x.shape[0]))
    np.random.seed(random_state)
    np.random.shuffle(row_list)
    for i in range(k):
        idx=slice(fold_size*i,fold_size*(i+1))
        x_part,y_part=x[row_list[idx],:],y[row_list[idx],:]
        if i==j:
            x_val,y_val=x_part,y_part
        elif x_train is None:
            x_train,y_train=x_part,y_part
        else:
            x_train=torch.cat((x_train,x_part))
            y_train=torch.cat((y_train,y_part))
    return x_train,y_train,x_val,y_val

In [ ]:
def train_kfold(net1,num_epochs,lr,k,x_data,y_data,batch_size,montum,wd):
    train_sum_l,test_sum_l=[],[]
    train_l,test_l=[],[]
#     net=nn.Linear(x_data.shape[1])
    for j in range(k):
        net1=get_net()
#         for p in net1.parameters():
#             torch.nn.init.normal_(p)
        net=net1
        data=get_kfold_data(k,j,x_data,y_data)
        train_l,test_l=train_k_fold_data(net,num_epochs,lr,*data,batch_size,montum,wd)
        train_sum_l.append(train_l[-1])
        test_sum_l.append(test_l[-1])
        print('--------------------------------------------------------------------------')
        print('fold %d,train loss mean : %f,test loss : %f' % (j+1,train_l[-1],test_l[-1]))
        print('-------------------------------------------------------------------------')
    print('%d fold ,total train loss mean : %f,total test loss mean : %f ' % (k,np.mean(train_sum_l),np.mean(test_sum_l)))
    print('-----------------------------------------------------------------------------')

In [ ]:
def get_net():
    return nn.Sequential(nn.Linear(train_features.shape[1],256),nn.ReLU(),nn.Linear(256,128),nn.ReLU(),nn.Linear(128,64),nn.ReLU(),nn.Linear(64,32),
                        nn.ReLU(),nn.Linear(32,1))
net1=get_net()
train_kfold(net1,100000,0.00002,5,train_features,train_labels,256,0,0)

In [ ]:
def get_net():
    return nn.Sequential(nn.Linear(train_features.shape[1],128),nn.ReLU(),nn.Linear(128,64),nn.ReLU(),nn.Linear(64,32),nn.ReLU(),nn.Linear(32,1))
net1=get_net()
train_kfold(net1,100000,0.0002,5,train_features,train_labels,128,0,0)