In [ ]:
import numpy as np
import torch 
import pandas as pd
import torchvision
from torch import optim,nn
import seaborn as sns
from scipy import stats
from scipy.stats import norm,skew,kurtosis
import matplotlib.pyplot as plt
%matplotlib auto

In [2]:
train_data=pd.read_csv(r'F:\study\ml\HonyiLee2020\hw1\data\train.csv',encoding='big5')
test_data=pd.read_csv(r'F:\study\ml\HonyiLee2020\hw1\data\test.csv',encoding='big5',header=None)

In [3]:
print('train_data shape: ',train_data.shape)
print('test_data shape: ',test_data.shape)

train_data shape:  (4320, 27)
test_data shape:  (4320, 11)

In [4]:
train_data1=train_data.replace('NR',0)
train_data1=train_data1.iloc[:,3:]

In [5]:
year_data={}
for m in range(12):
    month_data=np.empty((18,20*24))
    for d in range(20):
        month_data[:,d*24:(d+1)*24]=train_data1.iloc[m*20*18+d*18:m*20*18+(d+1)*18,:]
    year_data[m]=month_data

In [6]:
year_data1=year_data.copy()
month_list=[]
for i in range(12):
    month_list.append(pd.DataFrame(year_data1[i]))
all_train_data1=pd.concat(month_list,axis=1).T

In [7]:
all_train_data1.iloc[:,0].mean()

22.527413194444442

In [8]:
all_train_data1.T.shape

(18, 5760)

In [9]:
# temperature always >=0 in Taiwan and change fast when temperature <=0 ,so correct it
for idx in [0]:	
	for m in range(12):
		print(' month : ',m)
		i=0
		while i<480:
			if year_data1[m][idx,i] <=0:
				print('---------- pm2.5 start : \n',year_data1[m][idx,i],'\n')
				for k in range(30):
					if k+i+1>479:
						break
					else:
						if year_data1[m][idx,k+i+1] >0:
							break
						else:
							print(year_data1[m][idx,k+i+1])
				i=i+k
				print('pm2.5 end ------------')
				print('correct value between  :',year_data1[m][idx,i-1-k],year_data1[m][idx,i+1])
				## add correct to mean value
				year_data1[m][idx,i-k:i+1]=(year_data1[m][idx,i-1-k]+year_data1[m][idx,i+1])/2
			i=i+1

 month :  0
 month :  1
 month :  2
---------- pm2.5 start :
 -3.1

-8.0
-7.2
-6.8
-6.5
-7.1
-7.4
-8.1
-8.3
-8.4
-9.3
-10.6
-11.2
-12.1
0.0
0.0
0.0
0.0
-12.3
pm2.5 end ------------
correct value between  : 19.0 18.0
 month :  3
 month :  4
 month :  5
 month :  6
 month :  7
 month :  8
 month :  9
 month :  10
 month :  11

In [10]:
for idx in [1,2,4,6,9,12,13]:	
	for m in range(12):
		print(' month : ',m)
		i=0
		while i<480:
			if year_data1[m][idx,i] <0:
				print('---------- pm2.5 start : \n',year_data1[m][idx,i],'\n')
				for k in range(30):
					if k+i+1>479:
						break
					else:
						if year_data1[m][idx,k+i+1] >=0:
							break
						else:
							print(year_data1[m][idx,k+i+1])
				i=i+k
				print('pm2.5 end ------------')
				print('correct value between  :',year_data1[m][idx,i-1-k],year_data1[m][idx,i+1])
				## add correct to mean value
				year_data1[m][idx,i-k:i+1]=(year_data1[m][idx,i-1-k]+year_data1[m][idx,i+1])/2
			i=i+1

 month :  0
 month :  1
 month :  2
 month :  3
 month :  4
 month :  5
 month :  6
 month :  7
 month :  8
 month :  9
 month :  10
 month :  11
---------- pm2.5 start :
 -0.2

-0.2
-0.2
-0.2
-0.2
-0.2
-0.2
-0.2
-0.2
pm2.5 end ------------
correct value between  : 1.8 1.8
 month :  0
 month :  1
 month :  2
 month :  3
 month :  4
 month :  5
 month :  6
 month :  7
 month :  8
 month :  9
 month :  10
 month :  11
---------- pm2.5 start :
 -0.12

pm2.5 end ------------
correct value between  : 0.34 0.26
 month :  0
 month :  1
 month :  2
 month :  3
 month :  4
 month :  5
 month :  6
 month :  7
 month :  8
---------- pm2.5 start :
 -0.1

pm2.5 end ------------
correct value between  : 2.5 0.3
---------- pm2.5 start :
 -0.1

pm2.5 end ------------
correct value between  : 0.1 1.0
 month :  9
 month :  10
 month :  11
---------- pm2.5 start :
 -1.1

pm2.5 end ------------
correct value between  : 6.6 1.2
 month :  0
 month :  1
 month :  2
 month :  3
 month :  4
---------- pm2.5 start :
 -0.9

pm2.5 end ------------
correct value between  : 17.0 17.0
 month :  5
 month :  6
 month :  7
---------- pm2.5 start :
 -1.0

pm2.5 end ------------
correct value between  : 7.4 10.0
 month :  8
 month :  9
 month :  10
---------- pm2.5 start :
 -2.4

pm2.5 end ------------
correct value between  : 7.0 6.6
 month :  11
 month :  0
---------- pm2.5 start :
 -1.0

pm2.5 end ------------
correct value between  : 46.0 51.0
 month :  1
 month :  2
 month :  3
---------- pm2.5 start :
 -1.0

pm2.5 end ------------
correct value between  : 6.0 16.0
---------- pm2.5 start :
 -1.0

pm2.5 end ------------
correct value between  : 13.0 16.0
---------- pm2.5 start :
 -1.0

pm2.5 end ------------
correct value between  : 55.0 48.0
 month :  4
---------- pm2.5 start :
 -1.0

-1.0
-1.0
-1.0
-1.0
-1.0
pm2.5 end ------------
correct value between  : 5.0 1.0
---------- pm2.5 start :
 -1.0

-1.0
-1.0
pm2.5 end ------------
correct value between  : 2.0 4.0
---------- pm2.5 start :
 -1.0

pm2.5 end ------------
correct value between  : 5.0 0.0
---------- pm2.5 start :
 -1.0

-1.0
-1.0
pm2.5 end ------------
correct value between  : 10.0 9.0
---------- pm2.5 start :
 -1.0

-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
pm2.5 end ------------
correct value between  : 9.0 2.0
---------- pm2.5 start :
 -1.0

-1.0
pm2.5 end ------------
correct value between  : 0.0 4.0
 month :  5
 month :  6
---------- pm2.5 start :
 -1.0

-1.0
pm2.5 end ------------
correct value between  : 20.0 27.0
 month :  7
 month :  8
 month :  9
 month :  10
---------- pm2.5 start :
 -1.0

-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
-1.0
pm2.5 end ------------
correct value between  : 18.0 18.0
 month :  11
---------- pm2.5 start :
 -1.0

-1.0
pm2.5 end ------------
correct value between  : 13.0 7.0
 month :  0
---------- pm2.5 start :
 -0.9

-0.9
-0.9
pm2.5 end ------------
correct value between  : 1.6 1.3
---------- pm2.5 start :
 -0.1

-0.1
-0.2
-0.3
pm2.5 end ------------
correct value between  : 0.1 1.2
 month :  1
---------- pm2.5 start :
 -0.2

pm2.5 end ------------
correct value between  : 1.1 0.3
 month :  2
 month :  3
 month :  4
 month :  5
---------- pm2.5 start :
 -1.5

pm2.5 end ------------
correct value between  : 0.2 2.3
---------- pm2.5 start :
 -0.3

-0.2
pm2.5 end ------------
correct value between  : 3.8 2.2
 month :  6
 month :  7
---------- pm2.5 start :
 -1.6

pm2.5 end ------------
correct value between  : 4.3 2.7
 month :  8
 month :  9
 month :  10
---------- pm2.5 start :
 -0.2

pm2.5 end ------------
correct value between  : 0.0 0.9
---------- pm2.5 start :
 -0.1

-0.3
pm2.5 end ------------
correct value between  : 0.2 0.3
 month :  11
---------- pm2.5 start :
 -0.2

-0.4
-0.5
pm2.5 end ------------
correct value between  : 0.0 1.2
---------- pm2.5 start :
 -0.3

-0.3
pm2.5 end ------------
correct value between  : 0.0 1.1
---------- pm2.5 start :
 -0.2

pm2.5 end ------------
correct value between  : 2.8 2.0
 month :  0
 month :  1
 month :  2
 month :  3
 month :  4
 month :  5
 month :  6
 month :  7
 month :  8
 month :  9
 month :  10
 month :  11
---------- pm2.5 start :
 -0.2

-0.2
-0.2
-0.2
-0.2
-0.2
-0.2
-0.2
-0.2
pm2.5 end ------------
correct value between  : 2.0 1.9

In [11]:
all_train_data1.iloc[0,:5]

0    14.00
1     1.80
2     0.51
3     0.20
4     0.90
Name: 0, dtype: float64

In [12]:
all_train_data2=all_train_data1.apply(lambda x : (x-x.mean())/x.std())

In [13]:
all_train_data1.describe()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
count,5760.000000,5760.000000,5760.000000,5760.000000,5760.000000,5760.000000,5760.000000,5760.000000,5760.000000,5760.000000,5760.000000,5760.000000,5760.000000,5760.000000,5760.000000,5760.000000,5760.000000,5760.000000
mean,22.527413,1.702396,0.388363,0.140427,2.135729,10.125990,12.247726,31.905469,42.709201,21.414236,0.200625,73.229167,2.763125,1.839653,156.329271,158.482795,2.297240,1.712760
std,6.290152,0.125265,0.323573,0.104645,2.282155,6.187555,7.577133,18.703486,26.222292,16.662537,2.045443,13.361351,1.816940,0.181839,95.745881,94.697432,1.065408,1.062683
min,-12.300000,-0.200000,-0.120000,0.000000,-1.100000,0.000000,-2.400000,0.000000,0.000000,-1.000000,0.000000,29.000000,-1.600000,-0.200000,0.100000,0.000000,0.000000,0.000000
25%,18.000000,1.600000,0.250000,0.070000,1.100000,5.900000,7.300000,18.000000,24.000000,9.000000,0.000000,64.000000,1.600000,1.700000,72.000000,76.000000,1.500000,0.900000
50%,23.000000,1.700000,0.340000,0.110000,1.600000,8.600000,10.000000,29.000000,38.000000,18.000000,0.000000,75.000000,2.300000,1.800000,119.000000,121.500000,2.100000,1.500000
75%,27.000000,1.800000,0.450000,0.180000,2.300000,13.000000,15.000000,42.000000,57.000000,29.250000,0.000000,84.000000,3.400000,1.900000,213.000000,219.000000,2.900000,2.300000
max,36.000000,2.000000,7.570000,1.300000,31.000000,46.000000,71.000000,231.000000,181.000000,112.000000,74.000000,99.000000,22.000000,3.000000,360.000000,360.000000,7.700000,7.000000

In [14]:
all_train_data1.iloc[:,0].mean()

22.527413194444442

In [15]:
all_train_data2.iloc[0:10,0]

0   -1.355677
1   -1.355677
2   -1.355677
3   -1.514655
4   -1.673634
5   -1.673634
6   -1.673634
7   -1.673634
8   -1.196698
9   -0.878741
Name: 0, dtype: float64

In [16]:
all_train_data2.describe()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
count,5.760000e+03,5.760000e+03,5.760000e+03,5.760000e+03,5.760000e+03,5.760000e+03,5.760000e+03,5.760000e+03,5.760000e+03,5.760000e+03,5.760000e+03,5.760000e+03,5.760000e+03,5.760000e+03,5.760000e+03,5.760000e+03,5.760000e+03,5.760000e+03
mean,2.921351e-15,-4.132630e-13,-1.393800e-14,5.078230e-15,3.474738e-15,-2.338465e-15,-3.438183e-15,-4.431640e-16,2.485088e-16,1.855094e-16,4.130921e-15,-9.199431e-16,5.026265e-16,3.205650e-13,8.574353e-17,5.245418e-16,5.851993e-16,1.040902e-15
std,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
min,-5.536816e+00,-1.518692e+01,-1.571093e+00,-1.341940e+00,-1.417839e+00,-1.636509e+00,-1.933149e+00,-1.705857e+00,-1.628736e+00,-1.345187e+00,-9.808389e-02,-3.310232e+00,-2.401358e+00,-1.121682e+01,-1.631707e+00,-1.673570e+00,-2.156207e+00,-1.611732e+00
25%,-7.197621e-01,-8.174309e-01,-4.276098e-01,-6.730107e-01,-4.538382e-01,-6.829821e-01,-6.529812e-01,-7.434694e-01,-7.134846e-01,-7.450388e-01,-9.808389e-02,-6.907360e-01,-6.401558e-01,-7.680033e-01,-8.807613e-01,-8.710141e-01,-7.482952e-01,-7.648192e-01
50%,7.513122e-02,-1.912605e-02,-1.494652e-01,-2.907653e-01,-2.347470e-01,-2.466224e-01,-2.966459e-01,-1.553437e-01,-1.795877e-01,-2.049049e-01,-9.808389e-02,1.325340e-01,-2.548928e-01,-2.180656e-01,-3.898786e-01,-3.905364e-01,-1.851306e-01,-2.002106e-01
75%,7.110459e-01,7.791788e-01,1.904894e-01,3.781641e-01,7.198057e-02,4.644824e-01,3.632342e-01,5.397139e-01,5.449866e-01,4.702623e-01,-9.808389e-02,8.061186e-01,3.505206e-01,3.318721e-01,5.918869e-01,6.390586e-01,5.657555e-01,5.526008e-01
max,2.141854e+00,2.375788e+00,2.219482e+01,1.108104e+01,1.264781e+01,5.797768e+00,7.753892e+00,1.064478e+01,5.273788e+00,5.436493e+00,3.607990e+01,1.928760e+00,1.058751e+01,6.381187e+00,2.127201e+00,2.128011e+00,5.071072e+00,4.975368e+00

In [17]:
from sklearn.model_selection import KFold,cross_val_score
from sklearn.linear_model import LassoCV,RidgeCV,ElasticNetCV
from sklearn.metrics import mean_squared_error
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import RobustScaler

In [18]:
x=np.empty((471*12,18*9))
y=np.empty((471*12,1))

In [19]:
for m in range(12):
    for g in range(471):
        x[m*471+g:m*471+g+1,:]=all_train_data2.iloc[m*480+g:m*480+g+9,:].values.reshape(1,-1)
        y[m*471+g:g*471+g+1,:]=all_train_data2.iloc[m*480+g+9:m*480+g+9+1,9].values.reshape(1,1)

In [20]:
x[9,9:11]

array([ 0.5152735 , -0.09808389])

In [21]:
y[0:2]

array([[0.5152735 ],
       [1.17543706]])

In [22]:
all_train_data2.iloc[10:11,9]

10    1.175437
Name: 9, dtype: float64

In [23]:
x[1,-10:]

array([-0.17958771,  0.5152735 , -0.09808389, -1.28947789,  6.73487971,
        0.88180982, -1.15231349, -0.05789803, -1.40532054, -1.32942776])

In [24]:
y[0]

array([0.5152735])

In [25]:
kf=KFold(n_splits=10,shuffle=True,random_state=42)

def rmse(y,y_hat):
    return np.sqrt(mean_squared_error(y,y_hat))

def cv_rmse(model,x=x,y=y):
    rmse=np.sqrt( -cross_val_score(model,x,y,scoring='neg_mean_squared_error',cv=kf) )
    return rmse

In [26]:
alphas_alt = [14.5, 14.6, 14.7, 14.8, 14.9, 15, 15.1, 15.2, 15.3, 15.4, 15.5]
alphas2 = [5e-05, 0.0001, 0.0002, 0.0003, 0.0004, 0.0005, 0.0006, 0.0007, 0.0008]
e_alphas = [0.0001, 0.0002, 0.0003, 0.0004, 0.0005, 0.0006, 0.0007]
e_l1ratio = [0.8, 0.85, 0.9, 0.95, 0.99, 1]

In [27]:
ridge=make_pipeline(RobustScaler(),RidgeCV(alphas=alphas_alt,cv=kf))
lasso=make_pipeline(RobustScaler(),LassoCV(max_iter=1e7,alphas=alphas2,random_state=42,cv=kf))
elasticnet=make_pipeline(RobustScaler(),ElasticNetCV(max_iter=1e7,alphas=e_alphas,cv=kf,l1_ratio=e_l1ratio))

In [28]:
score=cv_rmse(ridge)
print("Ridge: {:.4f} ({:.4f})\n".format(score.mean(), score.std()))

Ridge: 0.3776 (0.0248)

In [29]:
score = cv_rmse(lasso)
print("LASSO: {:.4f} ({:.4f})\n".format(score.mean(), score.std()))

D:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\coordinate_descent.py:1094: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
D:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\coordinate_descent.py:1094: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
D:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\coordinate_descent.py:1094: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
D:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\coordinate_descent.py:1094: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
D:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\coordinate_descent.py:1094: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
D:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\coordinate_descent.py:1094: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
D:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\coordinate_descent.py:1094: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
D:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\coordinate_descent.py:1094: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
D:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\coordinate_descent.py:1094: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
D:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\coordinate_descent.py:1094: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LASSO: 0.3759 (0.0246)

In [30]:
score = cv_rmse(elasticnet)
print("elastic net: {:.4f} ({:.4f})\n".format(score.mean(), score.std()))

D:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\coordinate_descent.py:1094: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
D:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\coordinate_descent.py:1094: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
D:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\coordinate_descent.py:1094: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
D:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\coordinate_descent.py:1094: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
D:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\coordinate_descent.py:1094: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
D:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\coordinate_descent.py:1094: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
D:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\coordinate_descent.py:1094: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
D:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\coordinate_descent.py:1094: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
D:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\coordinate_descent.py:1094: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
D:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\coordinate_descent.py:1094: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

elastic net: 0.3760 (0.0247)

#### LSTM

In [32]:
class LSTM_Reg(nn.Module):
    def __init__(self,input_size,hidden_size,layer_size,output_size):
        super().__init__()
        self.lstm_net=nn.LSTM(input_size=input_size,hidden_size=hidden_size,num_layers=layer_size)
        self.dense=nn.Linear(hidden_size,output_size)
        self.state=None
    
    def forward(self,x,state):
        y,self.state=self.lstm_net(x,state)
        output=self.dense(y.view(-1,y.shape[-1]))
        return output,self.state

In [33]:
x.shape

(5652, 162)

In [34]:
y.shape

(5652, 1)

In [36]:
all_train_data2.iloc[:10,:]

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,-1.355677,0.779179,0.375919,0.569287,-0.541475,0.949327,0.627186,-0.850401,0.506851,0.275214,-0.098084,0.282219,-0.530081,0.881810,-1.246312,-1.303972,-0.842156,-1.141225
1,-1.355677,0.779179,0.066870,0.091480,-0.672929,-0.149654,-0.323041,-0.101878,0.278038,1.055407,-0.098084,-0.391365,-0.420006,0.881810,-0.797207,-0.839334,-0.466713,-0.764819
2,-1.355677,0.779179,0.005060,-0.099643,-0.716748,-0.311268,-0.468215,-0.262276,0.201767,0.875363,-0.098084,-0.466208,-0.585118,0.881810,-1.037426,-1.648226,-1.217599,-1.047123
3,-1.514655,0.779179,-0.056750,-0.195204,-0.190929,-0.521367,-0.481412,-0.476140,-0.293994,0.815348,-0.098084,0.057691,-0.640156,0.331872,-0.838984,-1.092773,-1.593042,-1.329428
4,-1.673634,0.779179,-0.118560,-0.290765,-0.147111,-0.537529,-0.494610,-0.422674,-0.675349,0.575288,-0.098084,-0.091994,-0.475043,0.331872,-0.483877,-0.680935,-0.560574,-1.047123
5,-1.673634,0.779179,-0.273085,-0.768572,-0.278565,-1.022373,-0.916933,-0.208810,-1.171110,0.395244,-0.098084,-0.017151,-0.750231,-0.218066,-0.525655,-0.448616,0.190312,0.176195
6,-1.673634,0.779179,-0.056750,-0.386327,-0.103292,-0.521367,-0.455017,-0.422674,-1.476194,0.215199,-0.098084,0.057691,-0.695193,0.331872,-0.577876,-0.554216,0.190312,0.270297
7,-1.673634,0.779179,0.252299,-0.099643,0.028162,-0.375914,-0.309844,-0.529605,-1.552465,-0.084875,-0.098084,-0.017151,-0.640156,0.331872,-0.546543,-0.680935,-0.278991,0.270297
8,-1.196698,0.779179,1.210353,1.142655,1.956165,0.787712,1.287066,-0.583071,-1.209246,-0.144890,-0.098084,-0.541051,1.286159,1.431748,-0.337657,0.776338,-1.593042,-1.141225
9,-0.878741,0.779179,1.086733,0.855971,2.525802,1.757400,2.210899,-0.155344,-0.179588,0.515273,-0.098084,-1.289478,6.734880,0.881810,-1.152313,-0.057898,-1.405321,-1.329428

In [39]:
x[0,:].reshape(9,18)

array([[-1.35567676,  0.77917878,  0.37591913,  0.56928682, -0.54147467,
         0.94932657,  0.6271863 , -0.85040131,  0.50685114,  0.27521402,
        -0.09808389,  0.28221947, -0.53008068,  0.88180982, -1.24631231,
        -1.30397195, -0.84215595, -1.1412249 ],
       [-1.35567676,  0.77917878,  0.06686953,  0.09148008, -0.67292936,
        -0.14965355, -0.32304112, -0.10187773,  0.27803819,  1.05540732,
        -0.09808389, -0.39136512, -0.42000552,  0.88180982, -0.79720683,
        -0.83933422, -0.46671288, -0.76481918],
       [-1.35567676,  0.77917878,  0.00505961, -0.09964261, -0.7167476 ,
        -0.31126827, -0.46821475, -0.26227564,  0.20176721,  0.87536271,
        -0.09808389, -0.46620785, -0.58511826,  0.88180982, -1.03742604,
        -1.64822627, -1.21759901, -1.04712347],
       [-1.51465542,  0.77917878, -0.05675031, -0.19520396, -0.19092882,
        -0.52136741, -0.48141236, -0.47613952, -0.29399419,  0.81534784,
        -0.09808389,  0.05769127, -0.64015584,  0.33187212, -0.83898409,
        -1.09277298, -1.59304207, -1.32942776],
       [-1.67363409,  0.77917878, -0.11856023, -0.29076531, -0.14711058,
        -0.53752889, -0.49460996, -0.42267355, -0.6753491 ,  0.57528837,
        -0.09808389, -0.09199419, -0.4750431 ,  0.33187212, -0.48387743,
        -0.68093499, -0.56057365, -1.04712347],
       [-1.67363409,  0.77917878, -0.27308503, -0.76857205, -0.27856528,
        -1.02237306, -0.91693326, -0.20880967, -1.1711105 ,  0.39524376,
        -0.09808389, -0.01715146, -0.75023099, -0.21806557, -0.52565468,
        -0.44861613,  0.19031248,  0.17619513],
       [-1.67363409,  0.77917878, -0.05675031, -0.38632666, -0.10329235,
        -0.52136741, -0.45501715, -0.42267355, -1.47619443,  0.21519915,
        -0.09808389,  0.05769127, -0.69519342,  0.33187212, -0.57787625,
        -0.55421561,  0.19031248,  0.27029656],
       [-1.67363409,  0.77917878,  0.25229929, -0.09964261,  0.02816234,
        -0.37591416, -0.30984352, -0.52960549, -1.55246541, -0.0848752 ,
        -0.09808389, -0.01715146, -0.64015584,  0.33187212, -0.54654331,
        -0.68093499, -0.27899135,  0.27029656],
       [-1.19669809,  0.77917878,  1.21035305,  1.14265491,  1.95616454,
         0.78771184,  1.28706645, -0.58307146, -1.20924599, -0.14489006,
        -0.09808389, -0.54105058,  1.28615942,  1.43174751, -0.33765704,
         0.7763379 , -1.59304207, -1.1412249 ]])

In [ ]:
def train_pytorch(num_epochs,lr,train_features,train_labels,batch_size):
    net=LSTM_Reg(162,256,2)
    loss=nn.MSELoss()
    optimizer=optim.Adam(net.parameters(),lr=5e-3)
    dataset=torch.utils.data.TensorDataset(train_features,train_labels)
    data_iter=torch.utils.data.DataLoader(dataset,batch_size,shuffle=True)
    for e in range(num_epochs):
        net.train()
        for x,y in data_iter: