In [1]:
import pandas as pd
import numpy as np

In [2]:
df_train=pd.read_csv('F:\\study\\ml\\DataSet\\Tap4fun\\tap_fun_train.csv',nrows=5)

In [3]:
df_train.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Columns: 109 entries, user_id to prediction_pay_price
dtypes: float64(13), int64(95), object(1)
memory usage: 4.7 KB

In [4]:
c_int=df_train.select_dtypes(include=['int64']).apply(pd.to_numeric,downcast='unsigned')
c_float=df_train.select_dtypes(include=['float']).apply(pd.to_numeric,downcast='float')

In [5]:
o_df=df_train.copy()

In [6]:
o_df[c_int.columns]=c_int
o_df[c_float.columns]=c_float

In [7]:
dtypes=o_df.dtypes
dtypes_col=dtypes.index
dtypes_type=[i.name for i in dtypes.values]
column_type=dict(zip(dtypes_col,dtypes_type))

In [8]:
column_type

{'avg_online_minutes': 'float32',
 'bd_barrack_level': 'uint8',
 'bd_dolmen_level': 'uint8',
 'bd_guest_cavern_level': 'uint8',
 'bd_hall_of_war_level': 'uint8',
 'bd_healing_lodge_level': 'uint8',
 'bd_healing_spring_level': 'uint8',
 'bd_hero_gacha_level': 'uint8',
 'bd_hero_pve_level': 'uint8',
 'bd_hero_strengthen_level': 'uint8',
 'bd_magic_coin_tree_level': 'uint8',
 'bd_market_level': 'uint8',
 'bd_outpost_portal_level': 'uint8',
 'bd_stronghold_level': 'uint8',
 'bd_training_hut_level': 'uint8',
 'bd_warehouse_level': 'uint8',
 'bd_watchtower_level': 'uint8',
 'building_acceleration_add_value': 'uint8',
 'building_acceleration_reduce_value': 'uint8',
 'cavalry_add_value': 'uint8',
 'cavalry_reduce_value': 'uint8',
 'general_acceleration_add_value': 'uint8',
 'general_acceleration_reduce_value': 'uint8',
 'infantry_add_value': 'uint8',
 'infantry_reduce_value': 'uint8',
 'ivory_add_value': 'float32',
 'ivory_reduce_value': 'float32',
 'magic_add_value': 'float32',
 'magic_reduce_value': 'float32',
 'meat_add_value': 'float32',
 'meat_reduce_value': 'float32',
 'pay_count': 'uint8',
 'pay_price': 'float32',
 'prediction_pay_price': 'float32',
 'pve_battle_count': 'uint8',
 'pve_lanch_count': 'uint8',
 'pve_win_count': 'uint8',
 'pvp_battle_count': 'uint8',
 'pvp_lanch_count': 'uint8',
 'pvp_win_count': 'uint8',
 'reaserch_acceleration_add_value': 'uint8',
 'reaserch_acceleration_reduce_value': 'uint8',
 'register_time': 'object',
 'shaman_add_value': 'uint8',
 'shaman_reduce_value': 'uint8',
 'sr_alliance_march_speed_level': 'uint8',
 'sr_cavalry_atk_level': 'uint8',
 'sr_cavalry_def_level': 'uint8',
 'sr_cavalry_hp_level': 'uint8',
 'sr_cavalry_tier_2_level': 'uint8',
 'sr_cavalry_tier_3_level': 'uint8',
 'sr_cavalry_tier_4_level': 'uint8',
 'sr_construction_speed_level': 'uint8',
 'sr_gathering_hunter_buff_level': 'uint8',
 'sr_gathering_march_speed_level': 'uint8',
 'sr_guest_troop_capacity_level': 'uint8',
 'sr_healing_space_level': 'uint8',
 'sr_healing_speed_level': 'uint8',
 'sr_hide_storage_level': 'uint8',
 'sr_infantry_atk_level': 'uint8',
 'sr_infantry_def_level': 'uint8',
 'sr_infantry_hp_level': 'uint8',
 'sr_infantry_tier_2_level': 'uint8',
 'sr_infantry_tier_3_level': 'uint8',
 'sr_infantry_tier_4_level': 'uint8',
 'sr_march_size_level': 'uint8',
 'sr_outpost_durability_level': 'uint8',
 'sr_outpost_tier_2_level': 'uint8',
 'sr_outpost_tier_3_level': 'uint8',
 'sr_outpost_tier_4_level': 'uint8',
 'sr_pvp_march_speed_level': 'uint8',
 'sr_rss_a_gather_level': 'uint8',
 'sr_rss_a_prod_levell': 'uint8',
 'sr_rss_b_gather_level': 'uint8',
 'sr_rss_b_prod_level': 'uint8',
 'sr_rss_c_gather_level': 'uint8',
 'sr_rss_c_prod_level': 'uint8',
 'sr_rss_d_gather_level': 'uint8',
 'sr_rss_d_prod_level': 'uint8',
 'sr_rss_e_gather_level': 'uint8',
 'sr_rss_e_prod_level': 'uint8',
 'sr_rss_help_bonus_level': 'uint8',
 'sr_scout_level': 'uint8',
 'sr_shaman_atk_level': 'uint8',
 'sr_shaman_def_level': 'uint8',
 'sr_shaman_hp_level': 'uint8',
 'sr_shaman_tier_2_level': 'uint8',
 'sr_shaman_tier_3_level': 'uint8',
 'sr_shaman_tier_4_level': 'uint8',
 'sr_training_speed_level': 'uint8',
 'sr_troop_attack_level': 'uint8',
 'sr_troop_consumption_level': 'uint8',
 'sr_troop_defense_level': 'uint8',
 'sr_troop_load_level': 'uint8',
 'stone_add_value': 'float32',
 'stone_reduce_value': 'float32',
 'training_acceleration_add_value': 'uint8',
 'training_acceleration_reduce_value': 'uint8',
 'treatment_acceleraion_add_value': 'uint8',
 'treatment_acceleration_reduce_value': 'uint8',
 'user_id': 'uint16',
 'wood_add_value': 'float32',
 'wood_reduce_value': 'float32',
 'wound_cavalry_add_value': 'uint8',
 'wound_cavalry_reduce_value': 'uint8',
 'wound_infantry_add_value': 'uint8',
 'wound_infantry_reduce_value': 'uint8',
 'wound_shaman_add_value': 'uint8',
 'wound_shaman_reduce_value': 'uint8'}

In [9]:
column_type.pop('register_time')

'object'

In [10]:
data_train=pd.read_csv('F:\\study\\ml\\DataSet\\Tap4fun\\tap_fun_train.csv',
                      dtype=column_type,parse_dates=['register_time'],infer_datetime_format=True)

In [11]:
result_user1=pd.read_csv('F:\\study\\ml\\DataSet\\Tap4fun\\tap_fun_train.csv',usecols=[0])
data_train['user_id']=result_user1.user_id

In [12]:
data_train.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2288007 entries, 0 to 2288006
Columns: 109 entries, user_id to prediction_pay_price
dtypes: datetime64[ns](1), float32(13), int64(1), uint8(94)
memory usage: 353.5 MB

In [13]:
data_train.head()

,user_id,register_time,wood_add_value,wood_reduce_value,stone_add_value,stone_reduce_value,ivory_add_value,ivory_reduce_value,meat_add_value,meat_reduce_value,...,pvp_battle_count,pvp_lanch_count,pvp_win_count,pve_battle_count,pve_lanch_count,pve_win_count,avg_online_minutes,pay_price,pay_count,prediction_pay_price
0,1,2018-02-02 19:47:15,20125.0,3700.0,0.0,0.0,0.0,0.0,16375.0,2000.0,...,0,0,0,0,0,0,0.333333,0.0,0,0.0
1,1593,2018-01-26 00:01:05,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0.333333,0.0,0,0.0
2,1594,2018-01-26 00:01:58,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,1.166667,0.0,0,0.0
3,1595,2018-01-26 00:02:13,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,3.166667,0.0,0,0.0
4,1596,2018-01-26 00:02:46,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,2.333333,0.0,0,0.0

In [14]:
train_feat2=data_train.copy()
# test_feat=data_test

In [15]:
train_feat2.shape

(2288007, 109)

In [16]:
del data_train

In [17]:
train_feat2.shape

(2288007, 109)

In [18]:
label_train=train_feat2['prediction_pay_price']

In [19]:
train_feat2.shape

(2288007, 109)

In [20]:
train_feat2['ivory_qua1']=train_feat2.ivory_add_value+train_feat2.ivory_reduce_value
train_feat2['ivory_qua2']=train_feat2.ivory_add_value-train_feat2.ivory_reduce_value

In [21]:
train_feat2['stone_qua1']=train_feat2.stone_add_value+train_feat2.stone_reduce_value
train_feat2['stone_qua2']=train_feat2.stone_add_value-train_feat2.stone_reduce_value

In [22]:
train_feat2['meat_qua1']=train_feat2.meat_add_value+train_feat2.meat_reduce_value
train_feat2['meat_qua2']=train_feat2.meat_add_value-train_feat2.meat_reduce_value

In [23]:
train_feat2['wood_qua1']=train_feat2.wood_add_value+train_feat2.wood_reduce_value
train_feat2['wood_qua2']=train_feat2.wood_add_value-train_feat2.wood_reduce_value

In [24]:
# for test feat
# test_feat2['ivory_qua1']=test_feat.ivory_add_value+test_feat.ivory_reduce_value
# test_feat2['ivory_qua2']=test_feat.ivory_add_value-test_feat.ivory_reduce_value
# test_feat2['stone_qua1']=test_feat.stone_add_value+test_feat.stone_reduce_value
# test_feat2['stone_qua2']=test_feat.stone_add_value-test_feat.stone_reduce_value
# test_feat2['meat_qua1']=test_feat.meat_add_value+test_feat.meat_reduce_value
# test_feat2['meat_qua2']=test_feat.meat_add_value-test_feat.meat_reduce_value
# test_feat2['wood_qua1']=test_feat.wood_add_value+test_feat.wood_reduce_value
# test_feat2['wood_qua2']=test_feat.wood_add_value-test_feat.wood_reduce_value

In [25]:
# train_feat.shape

In [26]:
# train_feat2.shape

In [27]:
# test_feat2.shape

In [28]:
#train_corr2=train_feat2.corr()

In [29]:
#train_corr2['prediction_pay_price'].sort_values(ascending=False).head(40)

In [30]:
import re

In [31]:
train_feat2.columns.values[pd.Series(train_feat2.columns.values).str.contains('def')]

array(['sr_troop_defense_level', 'sr_infantry_def_level',
       'sr_cavalry_def_level', 'sr_shaman_def_level'], dtype=object)

In [32]:
type(pd.Series(train_feat2.columns.values).str.contains('def'))

pandas.core.series.Series

In [33]:
#del text

In [34]:
text_def=[]
for col in train_feat2.columns.values:
     if 'def' in col:
            text_def.append(col)

In [35]:
text_def

['sr_troop_defense_level',
 'sr_infantry_def_level',
 'sr_cavalry_def_level',
 'sr_shaman_def_level']

In [36]:
#train_coorr1.to_csv('F:\\study\\ml\\DataSet\\Tap4fun\\train_feat_corr.csv')
#del feat_def_qua
train_feat2.head()

,user_id,register_time,wood_add_value,wood_reduce_value,stone_add_value,stone_reduce_value,ivory_add_value,ivory_reduce_value,meat_add_value,meat_reduce_value,...,pay_count,prediction_pay_price,ivory_qua1,ivory_qua2,stone_qua1,stone_qua2,meat_qua1,meat_qua2,wood_qua1,wood_qua2
0,1,2018-02-02 19:47:15,20125.0,3700.0,0.0,0.0,0.0,0.0,16375.0,2000.0,...,0,0.0,0.0,0.0,0.0,0.0,18375.0,14375.0,23825.0,16425.0
1,1593,2018-01-26 00:01:05,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1594,2018-01-26 00:01:58,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1595,2018-01-26 00:02:13,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1596,2018-01-26 00:02:46,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [37]:
text_def=[]
for col in train_feat2.columns.values:
     if 'def' in col:
            text_def.append(col)

text_def

type(text_def)

text_troop=[]
for col in train_feat2.columns.values:
    if 'troop' in col :
        text_troop.append(col)

text_troop

text_cavalry=[]
for col in train_feat2.columns.values:
    if 'sr_cavalry' in col :
        text_cavalry.append(col)

text_cavalry

text_infantry=[]
for col in train_feat2.columns.values:
    if 'sr_infantry' in col :
        text_infantry.append(col)

text_infantry

text_shaman=[]
for col in train_feat2.columns.values:
    if 'sr_shaman' in col :
        text_shaman.append(col)

text_shaman

text_speed=[]
for col in train_feat2.columns.values:
    if 'speed' in col :
        text_speed.append(col)

text_speed

train_feat2['def_qua1']=0.0
for name in text_def:
    train_feat2['def_qua1']+=train_feat2[name]

#pd.Series(train_feat2.columns.values) .str.contains('def')

#train_feat2[train_feat2.sr_troop_attack_level != 0][train_feat2.columns.values[pd.Series(train_feat2.columns.values) .str.contains('def')]]

train_feat2['def_qua1']=0.0
for name in text_def:
    train_feat2['def_qua1']+=train_feat2[name]

# test_feat2['def_qua1']=0.0
# for name in text_def:
#     test_feat2['def_qua1']+=test_feat2[name]

train_feat2['cavalry_qua1']=0.0
for name in text_cavalry:
    train_feat2['cavalry_qua1']+=train_feat2[name]

# test_feat2['cavalry_qua1']=0.0
# for name in text_cavalry:
#     test_feat2['cavalry_qua1']+=test_feat2[name]

train_feat2['infantry_qua1']=0.0
for name in text_infantry:
    train_feat2['infantry_qua1']+=train_feat2[name]

# test_feat2['infantry_qua1']=0.0
# for name in text_infantry:
#     test_feat2['infantry_qua1']+=test_feat2[name]

train_feat2['shaman_qua1']=0.0
for name in text_shaman:
    train_feat2['shaman_qua1']+=train_feat2[name]

# test_feat2['shaman_qua1']=0.0
# for name in text_shaman:
#     test_feat2['shaman_qua1']+=test_feat2[name]

train_feat2['speed_qua1']=0.0
for name in text_speed:
    train_feat2['speed_qua1']+=train_feat2[name]

# test_feat2['speed_qua1']=0.0
# for name in text_speed:
#     test_feat2['speed_qua1']+=test_feat2[name]

train_feat2['troop_qua1']=0.0
for name in text_troop:
    train_feat2['troop_qua1']+=train_feat2[name]

In [38]:
# test_feat2['troop_qua1']=0.0
# for name in text_troop:
#     test_feat2['troop_qua1']+=test_feat2[name]

In [39]:
train_feat2.columns.values[pd.Series(train_feat2.columns.values).str.contains('^pv')]

array(['pvp_battle_count', 'pvp_lanch_count', 'pvp_win_count',
       'pve_battle_count', 'pve_lanch_count', 'pve_win_count'],
      dtype=object)

In [40]:
train_feat2.columns.values[pd.Series(train_feat2.columns.values).str.contains('pv')]

array(['bd_hero_pve_level', 'sr_pvp_march_speed_level',
       'pvp_battle_count', 'pvp_lanch_count', 'pvp_win_count',
       'pve_battle_count', 'pve_lanch_count', 'pve_win_count'],
      dtype=object)

In [41]:
# train_feat2['pvp_lanch_rate_qua1']=train_feat2.pvp_lanch_count/train_feat2.pvp_battle_count
# train_feat2['pvp_win_rate_qua1']=train_feat2.pvp_win_count / train_feat2.pvp_battle_count
# train_feat2['pvp_win_lanch_rate_qua1']=train_feat2.pvp_win_count / \
# train_feat2.pvp_lanch_count
# train_feat2['pve_lanch_rate_qua1']=train_feat2.pve_lanch_count/train_feat2.pve_battle_count
# train_feat2['pve_win_rate_qua1']=train_feat2.pve_win_count / train_feat2.pve_battle_count
# train_feat2['pve_win_lanch_rate_qua1']=train_feat2.pve_win_count / \
# train_feat2.pve_lanch_count

In [42]:
# text_mi=train_feat2.columns[pd.Series(train_feat2.columns.values).str.contains('qua')].tolist()
# for name in text_mi :
#     name2='x_avg_mi_'+name
#     #print(name2)
#     train_feat2[name2]=train_feat2[name] / train_feat2.avg_online_minutes

# text_top=['ivory','stone','wood','meat']
# text_top_add=[]
# for name in text_top:
#     name2=name+'_add'
#     text_top_add.extend(train_feat2.columns[pd.Series(train_feat2.columns.values).str.contains(name2)].tolist())

# text_top_add2=[]
# for name in text_top_add :
#     name2='x_avg_mi_'+name
#     train_feat2[name2]=train_feat2[name] / train_feat2.avg_online_minutes
#     text_top_add2.append(name2)

In [43]:
# #
# train_feat2['pvp_lanch_rate_qua1']=train_feat2.pvp_lanch_count / train_feat2.pvp_battle_count
# train_feat2['pvp_win_rate_qua1']=train_feat2.pvp_win_count / trainhttp://localhost:8888/notebooks/Tap4fun/TFTest22.ipynb#_feat2.pvp_battle_count
# train_feat2['pve_lanch_rate_qua1']=train_feat2.pve_lanch_count / train_feat2.pve_battle_count
# train_feat2['pve_win_rate_qua1']=train_feat2.pve_win_count / train_feat2.pve_battle_count
# train_feat2['pvep_battle_qua1']=train_feat2.pvp_battle_count + train_feat2.pve_battle_count
# train_feat2['pvep_win_qua1']=train_feat2.pvp_win_count + train_feat2.pve_win_count
# train_feat2['pvep_lanch_qua1']=train_feat2.pvp_lanch_count + train_feat2.pve_lanch_count

In [44]:
# train_feat2['pvep_pve_battle_rate_qua1']=train_feat2.pve_battle_count / train_feat2.pvep_battle_qua1
# train_feat2['pvep_pvp_battle_rate_qua1']=train_feat2.pvp_battle_count / train_feat2.pvep_battle_qua1

# train_feat2['pvep_pve_lanch_rate_qua1']=train_feat2.pve_lanch_count / train_feat2.pvep_lanch_qua1
# train_feat2['pvep_pvp_lanch_rate_qua1']=train_feat2.pvp_lanch_count / train_feat2.pvep_lanch_qua1

# train_feat2['pvep_pve_win_rate_qua1']=train_feat2.pve_win_count / train_feat2.pvep_win_qua1
# train_feat2['pvep_pvp_win_rate_qua1']=train_feat2.pvp_win_count / train_feat2.pvep_win_qua1

In [45]:
train_feat2['price_per_count_qua1']=train_feat2.pay_price / train_feat2.pay_count

In [46]:
###############################################



#train_feat2.fillna(0,inplace=True)



###############################################

In [47]:
train_feat2.shape

(2288007, 124)

In [48]:
train_feat2_int=train_feat2.select_dtypes(include=['uint16','uint8'])

In [49]:
train_feat2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2288007 entries, 0 to 2288006
Columns: 124 entries, user_id to price_per_count_qua1
dtypes: datetime64[ns](1), float32(22), float64(6), int64(1), uint8(94)
memory usage: 536.8 MB

In [50]:
train_feat2_int.head()

,infantry_add_value,infantry_reduce_value,cavalry_add_value,cavalry_reduce_value,shaman_add_value,shaman_reduce_value,wound_infantry_add_value,wound_infantry_reduce_value,wound_cavalry_add_value,wound_cavalry_reduce_value,...,sr_guest_troop_capacity_level,sr_march_size_level,sr_rss_help_bonus_level,pvp_battle_count,pvp_lanch_count,pvp_win_count,pve_battle_count,pve_lanch_count,pve_win_count,pay_count
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [51]:
train_feat2_float=train_feat2.select_dtypes(include=['float64','float32']).apply(pd.to_numeric,downcast='float')
#train_feat2.select_dtypes(include=['float64','float32']).apply(pd.to_numeric,downcast='float')
#..apply(pd.to_numeric,downcast='float')

In [52]:
train_feat2_float.head()

,wood_add_value,wood_reduce_value,stone_add_value,stone_reduce_value,ivory_add_value,ivory_reduce_value,meat_add_value,meat_reduce_value,magic_add_value,magic_reduce_value,...,meat_qua2,wood_qua1,wood_qua2,def_qua1,cavalry_qua1,infantry_qua1,shaman_qua1,speed_qua1,troop_qua1,price_per_count_qua1
0,20125.0,3700.0,0.0,0.0,0.0,0.0,16375.0,2000.0,0.0,0.0,...,14375.0,23825.0,16425.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN

In [53]:
train_feat3=pd.concat([train_feat2_int,train_feat2_float],axis=1)

In [54]:
# train_feat3.drop(labels=['prediction_pay_price'],axis=1,inplace=True)
# train_feat3.prediction_pay_price

In [55]:
train_feat3.shape

(2288007, 122)

In [56]:
#train_feat3.fillna(0,inplace=True)

In [57]:
train_feat3.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2288007 entries, 0 to 2288006
Columns: 122 entries, infantry_add_value to price_per_count_qua1
dtypes: float32(28), uint8(94)
memory usage: 449.5 MB

In [58]:
del train_feat2

In [59]:
#train_feat3.isnull().sum().sum()

In [60]:
import time
import lightgbm as lgb

In [61]:
from sklearn.cross_validation import train_test_split
from sklearn.metrics import mean_squared_error

D:\ProgramData\Anaconda3\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [62]:
#train_feat2.shape

In [63]:
X_train,X_test,y_train,y_test=train_test_split(train_feat3,label_train,test_size=0.5,random_state=13)

In [64]:
# X_train.head()

In [65]:
# y_train.head()

In [66]:
from sklearn.grid_search import GridSearchCV
from sklearn.pipeline import Pipeline

D:\ProgramData\Anaconda3\lib\site-packages\sklearn\grid_search.py:42: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. This module will be removed in 0.20.
  DeprecationWarning)

In [67]:
# X_train.head()

In [68]:
from sklearn.externals import joblib

In [69]:
grid_search=joblib.load("F:\\study\\ml\\DataSet\\Tap4fun\\GSCV_lgb.model.gz")

In [70]:
preds_sub=grid_search.predict(train_feat3)

In [71]:
from sklearn.metrics import mean_squared_error
predictions=grid_search.predict(X_test)
np.sqrt(mean_squared_error(y_test,predictions))

1341.4438465206779

In [ ]:
np.sqrt(mean_squared_error(label_train,preds_sub))

In [ ]:
#column_type['user_id']='int64'

In [ ]:
column_type

In [ ]:
column_type['user_id']='uint8'

In [ ]:
data_test=pd.read_csv('F:\\study\\ml\\DataSet\\Tap4fun\\tap_fun_test.csv',
                      dtype=column_type,parse_dates=['register_time'],infer_datetime_format=True)
test_feat2=data_test.copy()
test_feat2['ivory_qua1']=test_feat2.ivory_add_value+test_feat2.ivory_reduce_value
test_feat2['ivory_qua2']=test_feat2.ivory_add_value-test_feat2.ivory_reduce_value				
test_feat2['stone_qua1']=test_feat2.stone_add_value+test_feat2.stone_reduce_value
test_feat2['stone_qua2']=test_feat2.stone_add_value-test_feat2.stone_reduce_value	 
test_feat2['meat_qua1']=test_feat2.meat_add_value+test_feat2.meat_reduce_value
test_feat2['meat_qua2']=test_feat2.meat_add_value-test_feat2.meat_reduce_value 
test_feat2['wood_qua1']=test_feat2.wood_add_value+test_feat2.wood_reduce_value
test_feat2['wood_qua2']=test_feat2.wood_add_value-test_feat2.wood_reduce_value

text_def=[]
for col in test_feat2.columns.values:
     if 'def' in col:
            text_def.append(col)

text_def

type(text_def)

text_troop=[]
for col in test_feat2.columns.values:
    if 'troop' in col :
        text_troop.append(col)

text_troop

text_cavalry=[]
for col in test_feat2.columns.values:
    if 'sr_cavalry' in col :
        text_cavalry.append(col)

text_cavalry

text_infantry=[]
for col in test_feat2.columns.values:
    if 'sr_infantry' in col :
        text_infantry.append(col)

text_infantry

text_shaman=[]
for col in test_feat2.columns.values:
    if 'sr_shaman' in col :
        text_shaman.append(col)

text_shaman

text_speed=[]
for col in test_feat2.columns.values:
    if 'speed' in col :
        text_speed.append(col)

text_speed

test_feat2['def_qua1']=0.0
for name in text_def:
    test_feat2['def_qua1']+=test_feat2[name]



test_feat2['def_qua1']=0.0
for name in text_def:
    test_feat2['def_qua1']+=test_feat2[name]


test_feat2['cavalry_qua1']=0.0
for name in text_cavalry:
    test_feat2['cavalry_qua1']+=test_feat2[name]



test_feat2['infantry_qua1']=0.0
for name in text_infantry:
    test_feat2['infantry_qua1']+=test_feat2[name]



test_feat2['shaman_qua1']=0.0
for name in text_shaman:
    test_feat2['shaman_qua1']+=test_feat2[name]



test_feat2['speed_qua1']=0.0
for name in text_speed:
    test_feat2['speed_qua1']+=test_feat2[name]



test_feat2['troop_qua1']=0.0
for name in text_troop:
    test_feat2['troop_qua1']+=test_feat2[name]
	
test_feat2['price_per_count_qua1']=test_feat2.pay_price / test_feat2.pay_count	

test_feat2_int=test_feat2.select_dtypes(include=['uint16','uint8'])
test_feat2_float=test_feat2.select_dtypes(include=['float64','float32']).apply(pd.to_numeric,downcast='float')

test_feat3=pd.concat([test_feat2_int,test_feat2_float],axis=1)
del test_feat2

In [ ]:
test_feat3.shape

In [ ]:
result_user=pd.read_csv('F:\\study\\ml\\DataSet\\Tap4fun\\tap_fun_test.csv',usecols=[0])
test_feat3['user_id']=result_user.user_id

In [ ]:
test_feat3.head()

In [ ]:
preds_sub=grid_search.predict(train_feat3)
np.sqrt(mean_squared_error(label_train,preds_sub))

In [ ]:
preds_sub1=pd.Series(preds_sub).apply(lambda x:round(x,1))

In [ ]:
preds_sub11=pd.Series(preds_sub).apply(lambda x:round(x,0))

In [ ]:
np.sqrt(mean_squared_error(label_train,preds_sub11))

In [ ]:
np.sqrt(mean_squared_error(label_train,preds_sub1))

In [ ]:
preds_sub2=grid_search.predict(test_feat3)

In [ ]:
len(preds_sub2)

In [ ]:
#result_user=pd.read_csv('F:\\study\\ml\\DataSet\\Tap4fun\\tap_fun_test.csv',usecols=[0])
result=pd.DataFrame()
result['user_id']=test_feat3.user_id
result['prediction_pay_price']=preds_sub2

In [ ]:
result_user.info()

In [ ]:
result.shape

In [ ]:
result.head()

In [ ]:
len(result.user_id.unique())

In [ ]:
import time
import datetime

In [ ]:
nowTime=datetime.datetime.now().strftime('%Y%m%d%H%M%S')
name='tf_'+str(nowTime)
result.to_csv("F:\\study\\ml\\DataSet\\Tap4fun\\SubMission\\"+name+'.csv',index=False,encoding='utf-8')

In [ ]:
round(123.456,0)