In [1]:
import numpy as np
import pandas as pd

In [2]:
df_train=pd.read_csv('F:\\study\\ml\\DataSet\\Tap4fun\\tap_fun_train.csv')

In [3]:
df_train.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2288007 entries, 0 to 2288006
Columns: 109 entries, user_id to prediction_pay_price
dtypes: float64(13), int64(95), object(1)
memory usage: 2.0 GB

In [4]:
c_int=df_train.select_dtypes(include=['int64']).apply(pd.to_numeric,downcast='unsigned')
c_float=df_train.select_dtypes(include=['float']).apply(pd.to_numeric,downcast='float')

In [5]:
o_df=pd.concat([c_int,c_float],axis=1)

In [6]:
column_type=dict(o_df.dtypes.copy())

In [7]:
len(column_type)

108

In [8]:
del o_df,c_int,c_float,df_train

In [9]:
data_train=pd.read_csv('F:\\study\\ml\\DataSet\\Tap4fun\\tap_fun_train.csv',
                      dtype=column_type,parse_dates=['register_time'],infer_datetime_format=True)

In [10]:
data_train.head()

,user_id,register_time,wood_add_value,wood_reduce_value,stone_add_value,stone_reduce_value,ivory_add_value,ivory_reduce_value,meat_add_value,meat_reduce_value,...,pvp_battle_count,pvp_lanch_count,pvp_win_count,pve_battle_count,pve_lanch_count,pve_win_count,avg_online_minutes,pay_price,pay_count,prediction_pay_price
0,1,2018-02-02 19:47:15,20125.0,3700.0,0.0,0.0,0.0,0.0,16375.0,2000.0,...,0,0,0,0,0,0,0.333333,0.0,0,0.0
1,1593,2018-01-26 00:01:05,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0.333333,0.0,0,0.0
2,1594,2018-01-26 00:01:58,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,1.166667,0.0,0,0.0
3,1595,2018-01-26 00:02:13,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,3.166667,0.0,0,0.0
4,1596,2018-01-26 00:02:46,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,2.333333,0.0,0,0.0

In [11]:
data_train.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2288007 entries, 0 to 2288006
Columns: 109 entries, user_id to prediction_pay_price
dtypes: datetime64[ns](1), float32(13), uint16(8), uint32(21), uint8(66)
memory usage: 493.1 MB

In [12]:
data_label=data_train['prediction_pay_price']
data_train2=data_train.drop(labels=['user_id','register_time'],axis=1)

In [13]:
# data_train2_corr=data_train2.corr()

In [14]:
# data_train2_corr['prediction_pay_price'].sort_values(ascending=False)

In [15]:
# a=data_train2_corr['prediction_pay_price'].sort_values(ascending=False)

In [16]:
# for i,j in a.iteritems():
#     print('{:<40}{:>30}'.format(i,j))

In [17]:
# from matplotlib import pyplot as plt
# plt.style.use(style='ggplot')
# plt.rcParams['figure.figsize']=(10,6)
# %matplotlib inline

In [18]:
# data_train['register_time'].apply(lambda x:x.month)
# data_train2['reg_month']=data_train['register_time'].apply(lambda x:x.month)
# data_train2['reg_day']=data_train['register_time'].apply(lambda x:x.day)
# data_train2['reg_hour']=data_train['register_time'].apply(lambda x:x.month)
# data_train2['reg_weekday']=data_train['register_time'].apply(lambda x:x.weekday())

In [19]:

data_train2.head()

,wood_add_value,wood_reduce_value,stone_add_value,stone_reduce_value,ivory_add_value,ivory_reduce_value,meat_add_value,meat_reduce_value,magic_add_value,magic_reduce_value,...,pvp_battle_count,pvp_lanch_count,pvp_win_count,pve_battle_count,pve_lanch_count,pve_win_count,avg_online_minutes,pay_price,pay_count,prediction_pay_price
0,20125.0,3700.0,0.0,0.0,0.0,0.0,16375.0,2000.0,0.0,0.0,...,0,0,0,0,0,0,0.333333,0.0,0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0.333333,0.0,0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,1.166667,0.0,0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,3.166667,0.0,0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,2.333333,0.0,0,0.0

In [20]:
# data_train2['reg_month_day']=data_train2['reg_month'].apply(str)+'-'  \
# +data_train2['reg_day'].apply(lambda x: str('0')+str(x) if x<10 else str(x))

In [21]:
# data_train2['reg_month_day'].head(20)

In [22]:
data_train2.head()

,wood_add_value,wood_reduce_value,stone_add_value,stone_reduce_value,ivory_add_value,ivory_reduce_value,meat_add_value,meat_reduce_value,magic_add_value,magic_reduce_value,...,pvp_battle_count,pvp_lanch_count,pvp_win_count,pve_battle_count,pve_lanch_count,pve_win_count,avg_online_minutes,pay_price,pay_count,prediction_pay_price
0,20125.0,3700.0,0.0,0.0,0.0,0.0,16375.0,2000.0,0.0,0.0,...,0,0,0,0,0,0,0.333333,0.0,0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0.333333,0.0,0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,1.166667,0.0,0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,3.166667,0.0,0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,2.333333,0.0,0,0.0

In [23]:
data_train2.head()

,wood_add_value,wood_reduce_value,stone_add_value,stone_reduce_value,ivory_add_value,ivory_reduce_value,meat_add_value,meat_reduce_value,magic_add_value,magic_reduce_value,...,pvp_battle_count,pvp_lanch_count,pvp_win_count,pve_battle_count,pve_lanch_count,pve_win_count,avg_online_minutes,pay_price,pay_count,prediction_pay_price
0,20125.0,3700.0,0.0,0.0,0.0,0.0,16375.0,2000.0,0.0,0.0,...,0,0,0,0,0,0,0.333333,0.0,0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0.333333,0.0,0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,1.166667,0.0,0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,3.166667,0.0,0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,2.333333,0.0,0,0.0

In [24]:
# data_train2[['reg_month_day','wood_add_value']].groupby(by=['reg_month_day']).agg('count')

In [25]:
# df_md_count=data_train2[['reg_month_day','wood_add_value']].groupby(by=['reg_month_day'],as_index=False).agg('count')

In [26]:
# df_md_count.columns

In [27]:
# x=df_md_count.reg_month_day
# y=df_md_count.wood_add_value
# plt.xticks(fontsize=20)
# plt.plot(x,y)

In [28]:
# df_d_count=data_train2[['reg_day','wood_add_value']].groupby(by='reg_day',as_index=False).agg('count')

In [29]:
# x=df_d_count.reg_day
# y=df_d_count.wood_add_value
# plt.scatter(x,y)

In [30]:
# data=data_train
# data['register_time']=data_train.register_time.astype('str')
# data['register_time_month']=data_train.register_time.str[:7]
# data['register_time_day']=data_train.register_time.str[6:10]

# # del data['register_time_m']

# data_month_df=pd.DataFrame(data['register_time_month'].value_counts()).sort_index()
# data_day_df = pd.DataFrame(data['register_time_day'].value_counts()).sort_index()

# from pyecharts import Line,Grid
# from pyecharts import configure

# line1=Line('Players Num by Month')
# line1.add('Player Num',data_month_df.index,data_month_df.register_time_month,mark_line=['averges'],mark_point=['max','min'])
# line2=Line('Players Num by Day')
# line2.add('Player num',data_day_df.index,data_day_df.register_time_day,mark_line=['average'],mark_point=['max','min'])
# grid=Grid(width =1000,height=1000)
# grid.add(line1,grid_bottom='60%')
# grid.add(line2,grid_top='60%')
# grid.use_theme('dark')
# grid.render()
# grid


# data_pay_7=data[data['pay_price']>0]

# data_pay_7_day_df = pd.DataFrame(data_pay_7['register_time_day'].value_counts()).sort_index()
# data_pay_7_day_df.rename(columns={'register_time_day':'pay_register_time_day'}, inplace = True)
# data_day_count = pd.concat([data_pay_7_day_df, data_day_df], axis=1)
# data_day_count['pay_percent'] = data_day_count['pay_register_time_day']/data_day_count['register_time_day']

In [31]:
# from pyecharts import Overlap

# line3 = Line()
# line3.add("注册玩家数量", data_day_count.index, data_day_count['register_time_day'], mark_line=["average"], mark_point=["max", "min"])

# line4 = Line()
# line4.add("7天内付费玩家数量", data_day_count.index, data_day_count['pay_register_time_day'], mark_line=["average"], 
#           mark_point=["max", "min"], yaxis_max=3000)
# overlap=Overlap()
# overlap.add(line3)
# overlap.add(line4,yaxis_index=1,is_add_yaxis=True)
# overlap.render()
# overlap

In [32]:
data_train2[(data_train2['pay_price']>0) & (data_train2['prediction_pay_price']>0)].shape

(41439, 107)

In [33]:
data_train2[(data_train2['pay_price']==0) & (data_train2['prediction_pay_price']>0)].shape

(4549, 107)

In [34]:
data_train2[(data_train2['pay_price']>0) & (data_train2['prediction_pay_price']==0)].shape

(0, 107)

In [35]:
data_train2[(data_train2['pay_price']>0)].shape

(41439, 107)

In [36]:
data_train2[(data_train2['prediction_pay_price']>0)].shape

(45988, 107)

In [37]:
data_train2[data_train2['prediction_pay_price']>0]['prediction_pay_price'].describe()

count    45988.000000
mean        89.228508
std        617.739014
min          0.990000
25%          0.990000
50%          3.970000
75%         20.980000
max      32977.808594
Name: prediction_pay_price, dtype: float64

In [38]:
# data_train2['price_per_count_qua1']=data_train2.pay_price / data_train2.pay_count
# del data_train2['price_per_count_qua1']

In [39]:
data_pay_7=data_train2[data_train2['pay_price']>0]
data_pay_45=data_train2[data_train2['prediction_pay_price']>0]

In [40]:
data_train2[(data_train2['pay_price']>0) & (data_train2['pay_price'] == data_train2['prediction_pay_price'])] \
[['pay_price','prediction_pay_price','avg_online_minutes',]].describe()
#pp> == ppp 只给了7天

          pay_price  prediction_pay_price  avg_online_minutes
count  30130.000000          30130.000000        30130.000000
mean      11.407172             11.407172          100.656929
std       71.140594             71.140594          113.973495
min        0.990000              0.990000            0.000000
25%        0.990000              0.990000           23.333332
50%        1.980000              1.980000           61.166668
75%        5.980000              5.980000          137.166672
max     4086.520020           4086.520020         1394.666626

In [41]:
data_train2[(data_train2['pay_price']>0) & (data_train2['pay_price'] < data_train2['prediction_pay_price'])] \
[['pay_price','prediction_pay_price','avg_online_minutes']].describe()
#pp>0 and pp< ppp 只给了7天,45天也付了

          pay_price  prediction_pay_price  avg_online_minutes
count  11309.000000          11309.000000        11309.000000
mean      77.782753            315.976807          245.507996
std      289.611267           1202.829590          180.424377
min        0.990000              1.980000            0.666667
25%        2.980000             16.940001          109.666664
50%       15.970000             48.919998          200.500000
75%       45.939999            163.759995          339.833344
max     7457.950195          32977.808594         1674.666626

In [42]:
data_train2[(data_train2['pay_price']==0) & (data_train2['prediction_pay_price']>0)] \
[['pay_price','prediction_pay_price','avg_online_minutes','general_acceleration_add_value']].describe()
#pp=0 and ppp>0 前7天未付款,后45天也付钱的

,pay_price,prediction_pay_price,avg_online_minutes,general_acceleration_add_value
count,4549.0,4549.000000,4549.000000,4549.000000
mean,0.0,40.842228,115.475998,2315.558804
std,0.0,238.763504,128.285599,2406.838272
min,0.0,0.990000,0.000000,0.000000
25%,0.0,0.990000,22.833332,543.000000
50%,0.0,5.980000,77.500000,1678.000000
75%,0.0,19.950001,159.166672,3414.000000
max,0.0,6752.970215,1098.833374,28764.000000

In [43]:
data_train2[(data_train2['pay_price']==0) & (data_train2['prediction_pay_price']==0)] \
[['pay_price','prediction_pay_price','avg_online_minutes','general_acceleration_add_value']].describe()

,pay_price,prediction_pay_price,avg_online_minutes,general_acceleration_add_value
count,2242019.0,2242019.0,2.242019e+06,2.242019e+06
mean,0.0,0.0,7.573942e+00,1.462377e+02
std,0.0,0.0,2.734151e+01,5.413398e+02
min,0.0,0.0,0.000000e+00,0.000000e+00
25%,0.0,0.0,5.000000e-01,0.000000e+00
50%,0.0,0.0,1.833333e+00,0.000000e+00
75%,0.0,0.0,4.500000e+00,5.000000e+01
max,0.0,0.0,2.049667e+03,5.786900e+04

In [57]:
# del data_7pay

In [58]:
data_7pay=data_train2[data_train2['pay_price']>0].copy()

In [59]:
data_7pay['ivory_qua1']=data_7pay.ivory_add_value+data_7pay.ivory_reduce_value
data_7pay['ivory_qua2']=data_7pay.ivory_add_value-data_7pay.ivory_reduce_value
data_7pay['stone_qua1']=data_7pay.stone_add_value+data_7pay.stone_reduce_value
data_7pay['stone_qua2']=data_7pay.stone_add_value-data_7pay.stone_reduce_value
data_7pay['meat_qua1']=data_7pay.meat_add_value+data_7pay.meat_reduce_value
data_7pay['meat_qua2']=data_7pay.meat_add_value-data_7pay.meat_reduce_value
data_7pay['wood_qua1']=data_7pay.wood_add_value+data_7pay.wood_reduce_value
data_7pay['wood_qua2']=data_7pay.wood_add_value-data_7pay.wood_reduce_value

text_def=[]
for col in data_7pay.columns.values:
     if 'def' in col:
            text_def.append(col)
text_def=[]
for col in data_7pay.columns.values:
     if 'def' in col:
            text_def.append(col)
text_troop=[]
for col in data_7pay.columns.values:
    if 'troop' in col :
        text_troop.append(col)
text_cavalry=[]
for col in data_7pay.columns.values:
    if 'sr_cavalry' in col :
        text_cavalry.append(col) 
text_infantry=[]
for col in data_7pay.columns.values:
    if 'sr_infantry' in col :
        text_infantry.append(col)        

text_shaman=[]
for col in data_7pay.columns.values:
    if 'sr_shaman' in col :
        text_shaman.append(col)
text_speed=[]
for col in data_7pay.columns.values:
    if 'speed' in col :
        text_speed.append(col)
data_7pay['def_qua1']=0.0
for name in text_def:
    data_7pay['def_qua1']+=data_7pay[name]
data_7pay['cavalry_qua1']=0.0
for name in text_cavalry:
    data_7pay['cavalry_qua1']+=data_7pay[name]
data_7pay['infantry_qua1']=0.0
for name in text_infantry:
    data_7pay['infantry_qua1']+=data_7pay[name] 
data_7pay['shaman_qua1']=0.0
for name in text_shaman:
    data_7pay['shaman_qua1']+=data_7pay[name]
data_7pay['speed_qua1']=0.0
for name in text_speed:
    data_7pay['speed_qua1']+=data_7pay[name]
data_7pay['troop_qua1']=0.0
for name in text_troop:
    data_7pay['troop_qua1']+=data_7pay[name]


text_acceleration=[]
for col in data_7pay.columns.values:
    if 'acceleration' in col :
        text_acceleration.append(col)
text_acceleration_add=[]
for col in data_7pay.columns.values:
    if 'acceleration_add' in col :
        text_acceleration_add.append(col)
text_acceleration_reduce=[]
for col in data_7pay.columns.values:
    if 'acceleration_reduce' in col :
        text_acceleration_reduce.append(col) 
        
data_7pay['acceleration_qua1']=0.0
for name in text_acceleration:
    data_7pay['acceleration_qua1']+=data_7pay[name]
data_7pay['acceleration_add_qua1']=0.0
for name in text_acceleration_add:
    data_7pay['acceleration_add_qua1']+=data_7pay[name]
data_7pay['acceleration_reduce_qua1']=0.0
for name in text_acceleration_reduce:
    data_7pay['acceleration_reduce_qua1']+=data_7pay[name]

In [60]:
text_qua=[]
for col in data_7pay.columns.values:
    if 'qua' in col:
        text_qua.append(col)

In [61]:
text_qua

['ivory_qua1',
 'ivory_qua2',
 'stone_qua1',
 'stone_qua2',
 'meat_qua1',
 'meat_qua2',
 'wood_qua1',
 'wood_qua2',
 'def_qua1',
 'cavalry_qua1',
 'infantry_qua1',
 'shaman_qua1',
 'speed_qua1',
 'troop_qua1',
 'acceleration_qua1',
 'acceleration_add_qua1',
 'acceleration_reduce_qua1']

In [63]:
for name in text_qua:
    qua_name=name+'_per_price'
    data_7pay[qua_name]=data_7pay[name]/data_7pay['pay_price']

In [64]:
data_7pay_corr=data_pay_7.corr()

In [66]:
data_7pay_corr['pay_price'].sort_values(ascending=False)

pay_price                              1.000000
ivory_reduce_value                     0.859886
general_acceleration_add_value         0.857857
ivory_add_value                        0.856561
stone_reduce_value                     0.841409
stone_add_value                        0.836469
wood_add_value                         0.830052
wood_reduce_value                      0.826977
training_acceleration_add_value        0.820700
general_acceleration_reduce_value      0.816793
meat_reduce_value                      0.805732
meat_add_value                         0.801940
pay_count                              0.796696
reaserch_acceleration_add_value        0.791326
reaserch_acceleration_reduce_value     0.781862
training_acceleration_reduce_value     0.764229
building_acceleration_reduce_value     0.734867
prediction_pay_price                   0.734502
building_acceleration_add_value        0.733990
sr_troop_defense_level                 0.723983
magic_reduce_value                     0.706766
magic_add_value                        0.685239
sr_cavalry_def_level                   0.679768
sr_infantry_def_level                  0.665886
sr_infantry_hp_level                   0.655572
sr_cavalry_hp_level                    0.644845
sr_shaman_def_level                    0.641374
sr_shaman_hp_level                     0.611238
sr_shaman_tier_3_level                 0.591696
sr_cavalry_tier_3_level                0.584234
                                         ...
pve_battle_count                       0.146597
pve_lanch_count                        0.145604
pve_win_count                          0.143427
treatment_acceleration_reduce_value    0.140703
bd_hero_strengthen_level               0.135782
sr_construction_speed_level            0.131985
sr_rss_help_bonus_level                0.120778
bd_hero_gacha_level                    0.119598
bd_market_level                        0.118902
sr_troop_load_level                    0.118796
sr_rss_a_gather_level                  0.113371
wound_infantry_reduce_value            0.113230
wound_infantry_add_value               0.112100
wound_cavalry_reduce_value             0.112067
sr_scout_level                         0.110387
sr_hide_storage_level                  0.109507
wound_cavalry_add_value                0.109497
sr_rss_a_prod_levell                   0.106607
sr_rss_d_gather_level                  0.105716
sr_troop_consumption_level             0.104531
sr_outpost_durability_level            0.100287
sr_rss_d_prod_level                    0.097419
shaman_add_value                       0.086263
sr_shaman_tier_2_level                 0.084412
sr_cavalry_tier_2_level                0.075558
sr_infantry_tier_2_level               0.072794
sr_outpost_tier_2_level                0.058018
shaman_reduce_value                    0.038085
wound_shaman_add_value                 0.019621
wound_shaman_reduce_value              0.019509
Name: pay_price, Length: 107, dtype: float64

In [ ]:
data_7pay_corr['pay_price'].sort_values(ascending=False)

In [ ]:
# data_pay_7_corr=data_pay_7.corr()

In [ ]:
# data_pay_7_corr['prediction_pay_price'].sort_values(ascending=False)

In [ ]:
# data_pay_45_corr=data_pay_45.corr()

In [ ]:
# data_pay_45_corr['prediction_pay_price'].sort_values(ascending=False)

In [ ]:
# data_7nopay=data_train2[(data_train2['pay_price']==0)]

# data_7nopay_corr=data_7nopay.corr()

# # data_7nopay_corr['prediction_pay_price'].sort_values(ascending=False)

# data_7nopay_45pay=data_train2[(data_train2['pay_price']==0) &  (data_train2['prediction_pay_price']>0)]

# data_7nopay_45pay_corr=data_7nopay_45pay.corr()

# data_7nopay_45pay_corr['prediction_pay_price'].sort_values(ascending=False)

# data_7nopay_45nopay=data_train2[(data_train2['pay_price']==0) &  (data_train2['prediction_pay_price']==0)]

# data_7nopay_45nopay_corr=data_7nopay_45nopay.corr()

# data_7nopay_45nopay_corr['prediction_pay_price'].sort_values(ascending=False)

# del data_7nopay_45pay_corr,data_7nopay_45nopay_corr,data_7nopay_corr
# del data_7nopay,data_7nopay_45nopay,data_7nopay_45pay

In [ ]:
data_train2[(data_train2['pay_price']==0) & (data_train2['prediction_pay_price']==0) & \
             #(data_train2['avg_online_minutes'] >75) 
             (data_train2['general_acceleration_add_value']> 100)].shape

In [ ]:
data_train2[(data_train2['pay_price']==0)]

In [ ]:
#################################################

In [ ]:
top50_ppp_index=data_train2[data_train2['prediction_pay_price']>0]['prediction_pay_price'].sort_values(ascending=False).head(50).index

In [ ]:
data_train2.iloc[top50_ppp_index][['avg_online_minutes','pay_count','pay_price','prediction_pay_price']]

In [ ]:
data_pp_df=data_train2[data_train2['pay_price']>0]

In [ ]:
data_pp_df=data_train2[data_train2['prediction_pay_price']>0]

In [ ]:
data_pp_df['pay_price'].describe()

In [ ]:
data_pp_df['prediction_pay_price'].describe()