In [1]:
import pandas as pd
import numpy as np

In [2]:
df_train=pd.read_csv('F:\\study\\ml\\DataSet\\Tap4fun\\tap_fun_train.csv',nrows=5)

In [3]:
df_train.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Columns: 109 entries, user_id to prediction_pay_price
dtypes: float64(13), int64(95), object(1)
memory usage: 4.7 KB

In [4]:
c_int=df_train.select_dtypes(include=['int64']).apply(pd.to_numeric,downcast='unsigned')
c_float=df_train.select_dtypes(include=['float']).apply(pd.to_numeric,downcast='float')

In [5]:
o_df=df_train.copy()

In [6]:
o_df[c_int.columns]=c_int
o_df[c_float.columns]=c_float

In [7]:
dtypes=o_df.dtypes
dtypes_col=dtypes.index
dtypes_type=[i.name for i in dtypes.values]
column_type=dict(zip(dtypes_col,dtypes_type))

In [8]:
#column_type

In [9]:
column_type.pop('register_time')

'object'

In [10]:
data_test=pd.read_csv('F:\\study\\ml\\DataSet\\Tap4fun\\tap_fun_train.csv',
                      dtype=column_type,parse_dates=['register_time'],infer_datetime_format=True)

In [11]:
test_feat2=data_test.copy()

In [12]:
test_feat2['ivory_qua1']=test_feat2.ivory_add_value+test_feat2.ivory_reduce_value
test_feat2['ivory_qua2']=test_feat2.ivory_add_value-test_feat2.ivory_reduce_value
test_feat2['stone_qua1']=test_feat2.stone_add_value+test_feat2.stone_reduce_value
test_feat2['stone_qua2']=test_feat2.stone_add_value-test_feat2.stone_reduce_value
test_feat2['meat_qua1']=test_feat2.meat_add_value+test_feat2.meat_reduce_value
test_feat2['meat_qua2']=test_feat2.meat_add_value-test_feat2.meat_reduce_value
test_feat2['wood_qua1']=test_feat2.wood_add_value+test_feat2.wood_reduce_value
test_feat2['wood_qua2']=test_feat2.wood_add_value-test_feat2.wood_reduce_value

In [13]:
text_def=[]
for col in test_feat2.columns.values:
     if 'def' in col:
            text_def.append(col)

text_def

type(text_def)

text_troop=[]
for col in test_feat2.columns.values:
    if 'troop' in col :
        text_troop.append(col)

text_troop

text_cavalry=[]
for col in test_feat2.columns.values:
    if 'sr_cavalry' in col :
        text_cavalry.append(col)

text_cavalry

text_infantry=[]
for col in test_feat2.columns.values:
    if 'sr_infantry' in col :
        text_infantry.append(col)

text_infantry

text_shaman=[]
for col in test_feat2.columns.values:
    if 'sr_shaman' in col :
        text_shaman.append(col)

text_shaman

text_speed=[]
for col in test_feat2.columns.values:
    if 'speed' in col :
        text_speed.append(col)

text_speed

test_feat2['def_qua1']=0.0
for name in text_def:
    test_feat2['def_qua1']+=test_feat2[name]

#pd.Series(test_feat2.columns.values) .str.contains('def')

#test_feat2[test_feat2.sr_troop_attack_level != 0][test_feat2.columns.values[pd.Series(test_feat2.columns.values) .str.contains('def')]]

test_feat2['def_qua1']=0.0
for name in text_def:
    test_feat2['def_qua1']+=test_feat2[name]

# test_feat2['def_qua1']=0.0
# for name in text_def:
#     test_feat2['def_qua1']+=test_feat2[name]

test_feat2['cavalry_qua1']=0.0
for name in text_cavalry:
    test_feat2['cavalry_qua1']+=test_feat2[name]

# test_feat2['cavalry_qua1']=0.0
# for name in text_cavalry:
#     test_feat2['cavalry_qua1']+=test_feat2[name]

test_feat2['infantry_qua1']=0.0
for name in text_infantry:
    test_feat2['infantry_qua1']+=test_feat2[name]

# test_feat2['infantry_qua1']=0.0
# for name in text_infantry:
#     test_feat2['infantry_qua1']+=test_feat2[name]

test_feat2['shaman_qua1']=0.0
for name in text_shaman:
    test_feat2['shaman_qua1']+=test_feat2[name]

# test_feat2['shaman_qua1']=0.0
# for name in text_shaman:
#     test_feat2['shaman_qua1']+=test_feat2[name]

test_feat2['speed_qua1']=0.0
for name in text_speed:
    test_feat2['speed_qua1']+=test_feat2[name]

# test_feat2['speed_qua1']=0.0
# for name in text_speed:
#     test_feat2['speed_qua1']+=test_feat2[name]

test_feat2['troop_qua1']=0.0
for name in text_troop:
    test_feat2['troop_qua1']+=test_feat2[name]

In [14]:
test_feat2['price_per_count_qua1']=test_feat2.pay_price / test_feat2.pay_count
test_feat2_int=test_feat2.select_dtypes(include=['uint16','uint8'])
test_feat2_float=test_feat2.select_dtypes(include=['float64','float32']).apply(pd.to_numeric,downcast='float')
test_feat3=pd.concat([test_feat2_int,test_feat2_float],axis=1)

In [15]:
test_feat3.shape

(2288007, 123)

In [16]:
test_feat3.head()

,user_id,infantry_add_value,infantry_reduce_value,cavalry_add_value,cavalry_reduce_value,shaman_add_value,shaman_reduce_value,wound_infantry_add_value,wound_infantry_reduce_value,wound_cavalry_add_value,...,meat_qua2,wood_qua1,wood_qua2,def_qua1,cavalry_qua1,infantry_qua1,shaman_qua1,speed_qua1,troop_qua1,price_per_count_qua1
0,1,0,0,0,0,0,0,0,0,0,...,14375.0,23825.0,16425.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
1,1593,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
2,1594,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
3,1595,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
4,1596,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN

In [17]:
# test_feat3.drop(labels=['prediction_pay_price'],axis=1,inplace=True)

In [18]:
test_feat3.shape

(2288007, 123)

In [19]:
test_feat3.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2288007 entries, 0 to 2288006
Columns: 123 entries, user_id to price_per_count_qua1
dtypes: float32(28), uint16(1), uint8(94)
memory usage: 453.9 MB

In [20]:
del test_feat2

In [21]:
from sklearn.grid_search import GridSearchCV
from sklearn.pipeline import Pipeline
from sklearn.externals import joblib

D:\ProgramData\Anaconda3\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)
D:\ProgramData\Anaconda3\lib\site-packages\sklearn\grid_search.py:42: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. This module will be removed in 0.20.
  DeprecationWarning)

In [22]:
grid_search=joblib.load("F:\\study\\ml\\DataSet\\Tap4fun\\GSCV_lgb.model.gz")

In [23]:
test_feat3.shape

(2288007, 123)

In [24]:
test_feat3.head()

,user_id,infantry_add_value,infantry_reduce_value,cavalry_add_value,cavalry_reduce_value,shaman_add_value,shaman_reduce_value,wound_infantry_add_value,wound_infantry_reduce_value,wound_cavalry_add_value,...,meat_qua2,wood_qua1,wood_qua2,def_qua1,cavalry_qua1,infantry_qua1,shaman_qua1,speed_qua1,troop_qua1,price_per_count_qua1
0,1,0,0,0,0,0,0,0,0,0,...,14375.0,23825.0,16425.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
1,1593,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
2,1594,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
3,1595,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
4,1596,0,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN

In [25]:
test_feat3_price=test_feat3.prediction_pay_price
test_feat4=test_feat3.drop(labels='prediction_pay_price',axis=1)

In [26]:
preds_sub=grid_search.predict(test_feat4)

In [28]:
from sklearn.metrics import mean_squared_error
np.sqrt(mean_squared_error(test_feat3_price,preds_sub))

87.43836814505251

In [ ]:
import time
import datetime

In [ ]:
result=pd.DataFrame()
# result['user_id']=int(test_feat3.user_id)

In [ ]:
# result['prediction_pay_price']=result.prediction_pay_price.apply(lambda x:round(x,1))

In [ ]:
result.head()

In [ ]:
result_user=pd.read_csv('F:\\study\\ml\\DataSet\\Tap4fun\\tap_fun_test.csv',usecols=[0,1])

In [ ]:
len(result_user.user_id.unique())

In [ ]:
result['user_id']=result_user.user_id
result['prediction_pay_price']=preds_sub

In [ ]:
result.sort_values(by='user_id',ascending=False).head(10)

In [ ]:

#result['prediction_pay_price']=
#result['prediction_pay_price']=result.prediction_pay_price.apply(lambda x:round(x,1))
nowTime=datetime.datetime.now().strftime('%Y%m%d%H%M%S')
name='tf_'+str(nowTime)
result.to_csv("F:\\study\\ml\\DataSet\\Tap4fun\\SubMission\\"+name+'.csv',index=False,encoding='utf-8')