In [1]:
import pandas as pd, numpy as np
dates = pd.date_range('20130101', periods=6)
df = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2013-01-01 -1.250725  0.403213  0.994660 -0.026434
2013-01-02  0.694117 -0.458125  0.026763 -0.333449
2013-01-03 -1.277035 -1.591854 -0.716454  0.487236
2013-01-04 -0.204340 -0.184830 -1.770224  0.752443
2013-01-05  1.081446  1.078695  0.683125  0.326836
2013-01-06 -0.146665 -0.237655 -0.951130 -0.723251

In [2]:
df['E'] = np.where(df['D'] >= 0, '>=0', '<0')
df

                   A         B         C         D    E
2013-01-01 -1.250725  0.403213  0.994660 -0.026434   <0
2013-01-02  0.694117 -0.458125  0.026763 -0.333449   <0
2013-01-03 -1.277035 -1.591854 -0.716454  0.487236  >=0
2013-01-04 -0.204340 -0.184830 -1.770224  0.752443  >=0
2013-01-05  1.081446  1.078695  0.683125  0.326836  >=0
2013-01-06 -0.146665 -0.237655 -0.951130 -0.723251   <0

In [3]:
df['F'] = df['E'].apply(str)
df

                   A         B         C         D    E    F
2013-01-01 -1.250725  0.403213  0.994660 -0.026434   <0   <0
2013-01-02  0.694117 -0.458125  0.026763 -0.333449   <0   <0
2013-01-03 -1.277035 -1.591854 -0.716454  0.487236  >=0  >=0
2013-01-04 -0.204340 -0.184830 -1.770224  0.752443  >=0  >=0
2013-01-05  1.081446  1.078695  0.683125  0.326836  >=0  >=0
2013-01-06 -0.146665 -0.237655 -0.951130 -0.723251   <0   <0

In [4]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.183867 -0.165093 -0.288877  0.080563
std    0.970245  0.894108  1.049540  0.548895
min   -1.277035 -1.591854 -1.770224 -0.723251
25%   -0.989129 -0.403008 -0.892461 -0.256695
50%   -0.175502 -0.211242 -0.344845  0.150201
75%    0.483921  0.256202  0.519035  0.447136
max    1.081446  1.078695  0.994660  0.752443

In [5]:
np.nan(df.columns[1])

TypeError: 'float' object is not callable

In [ ]:
df

In [ ]:
df[df['A'].isnull()]

In [6]:
df

                   A         B         C         D    E    F
2013-01-01 -1.250725  0.403213  0.994660 -0.026434   <0   <0
2013-01-02  0.694117 -0.458125  0.026763 -0.333449   <0   <0
2013-01-03 -1.277035 -1.591854 -0.716454  0.487236  >=0  >=0
2013-01-04 -0.204340 -0.184830 -1.770224  0.752443  >=0  >=0
2013-01-05  1.081446  1.078695  0.683125  0.326836  >=0  >=0
2013-01-06 -0.146665 -0.237655 -0.951130 -0.723251   <0   <0

In [20]:
a=pd.DataFrame({'x':['北京','上海','广州','北京']})
a

    x
0  北京
1  上海
2  广州
3  北京

In [25]:
a['x'].factorize()

(array([0, 1, 2, 0], dtype=int64), Index(['北京', '上海', '广州'], dtype='object'))

In [22]:
b=pd.DataFrame({'x':['北京','广州','上海','上海']})
b

    x
0  北京
1  广州
2  上海
3  上海

In [26]:
b['x'].factorize()

(array([0, 1, 2, 2], dtype=int64), Index(['北京', '广州', '上海'], dtype='object'))

In [27]:
True * 1

1

In [28]:
False *1

0

In [30]:
df

                   A         B         C         D    E    F
2013-01-01 -1.250725  0.403213  0.994660 -0.026434   <0   <0
2013-01-02  0.694117 -0.458125  0.026763 -0.333449   <0   <0
2013-01-03 -1.277035 -1.591854 -0.716454  0.487236  >=0  >=0
2013-01-04 -0.204340 -0.184830 -1.770224  0.752443  >=0  >=0
2013-01-05  1.081446  1.078695  0.683125  0.326836  >=0  >=0
2013-01-06 -0.146665 -0.237655 -0.951130 -0.723251   <0   <0

In [31]:
df[0:1]

                   A         B        C         D   E   F
2013-01-01 -1.250725  0.403213  0.99466 -0.026434  <0  <0

In [32]:
df[:-1]

                   A         B         C         D    E    F
2013-01-01 -1.250725  0.403213  0.994660 -0.026434   <0   <0
2013-01-02  0.694117 -0.458125  0.026763 -0.333449   <0   <0
2013-01-03 -1.277035 -1.591854 -0.716454  0.487236  >=0  >=0
2013-01-04 -0.204340 -0.184830 -1.770224  0.752443  >=0  >=0
2013-01-05  1.081446  1.078695  0.683125  0.326836  >=0  >=0

In [33]:
df[-1:]

                   A         B        C         D   E   F
2013-01-06 -0.146665 -0.237655 -0.95113 -0.723251  <0  <0

In [35]:
df.iloc[-1]

A   -0.146665
B   -0.237655
C    -0.95113
D   -0.723251
E          <0
F          <0
Name: 2013-01-06 00:00:00, dtype: object