In [29]:
import numpy as np
import pandas as pd
data = np.random.rand(5,10)
data

array([[0.09635338, 0.16090696, 0.53885226, 0.74829271, 0.84016378,
        0.50704526, 0.93768542, 0.73913166, 0.02945083, 0.44608975],
       [0.93446272, 0.58578731, 0.33245176, 0.56664568, 0.71263533,
        0.76386233, 0.88559642, 0.89869435, 0.45628188, 0.17012255],
       [0.50127594, 0.22044092, 0.73320356, 0.1108386 , 0.38213858,
        0.16011914, 0.86467377, 0.51778589, 0.1144229 , 0.0625656 ],
       [0.53761514, 0.61377218, 0.86006926, 0.94961402, 0.01130194,
        0.60493749, 0.2801146 , 0.51490791, 0.05849221, 0.5525436 ],
       [0.21973879, 0.649493  , 0.40374939, 0.34478322, 0.66033804,
        0.06529843, 0.23825913, 0.18011635, 0.46590331, 0.56727889]])

In [31]:
data1=pd.DataFrame(data)
data1

,0,1,2,3,4,5,6,7,8,9
0,0.096353,0.160907,0.538852,0.748293,0.840164,0.507045,0.937685,0.739132,0.029451,0.446090
1,0.934463,0.585787,0.332452,0.566646,0.712635,0.763862,0.885596,0.898694,0.456282,0.170123
2,0.501276,0.220441,0.733204,0.110839,0.382139,0.160119,0.864674,0.517786,0.114423,0.062566
3,0.537615,0.613772,0.860069,0.949614,0.011302,0.604937,0.280115,0.514908,0.058492,0.552544
4,0.219739,0.649493,0.403749,0.344783,0.660338,0.065298,0.238259,0.180116,0.465903,0.567279

In [33]:
data1.loc[1:3,1]=np.nan
data1

,0,1,2,3,4,5,6,7,8,9
0,0.096353,0.160907,0.538852,0.748293,0.840164,0.507045,0.937685,0.739132,0.029451,0.446090
1,0.934463,NaN,0.332452,0.566646,0.712635,0.763862,0.885596,0.898694,0.456282,0.170123
2,0.501276,NaN,0.733204,0.110839,0.382139,0.160119,0.864674,0.517786,0.114423,0.062566
3,0.537615,NaN,0.860069,0.949614,0.011302,0.604937,0.280115,0.514908,0.058492,0.552544
4,0.219739,0.649493,0.403749,0.344783,0.660338,0.065298,0.238259,0.180116,0.465903,0.567279

In [35]:
label = np.random.randint(2, size=5)
label

array([0, 1, 1, 0, 0])

In [36]:
import xgboost as xgb

In [16]:
dtrain=xgb.DMatrix(data,label=label )

In [39]:
dtrain1=xgb.DMatrix(data1,label=label,missing = np.nan)

In [41]:
params = { 'booster': 'gbtree', 
'objective': 'binary:logistic', 
'num_class': 10,
'gamma': 0.1, 
'max_depth': 12,
'lambda': 2,
'subsample': 0.7,
'colsample_bytree': 0.7,
'min_child_weight': 3, 
'silent': 1,
'eta': 0.007,
'seed': 1000, 
'nthread': 4, }

In [44]:
plst=params.items()
num_round=10

In [46]:
model = xgb.train( plst, dtrain1, num_round )

In [51]:
data2=np.random.rand(5*10)
data2

array([0.13608796, 0.60102347, 0.21476832, 0.16666178, 0.66848204,
       0.68195452, 0.2231781 , 0.8738727 , 0.87030494, 0.29595117,
       0.26236467, 0.30736458, 0.25208227, 0.49133108, 0.69196827,
       0.27320577, 0.14105422, 0.37252164, 0.51461992, 0.51039298,
       0.46762867, 0.1883977 , 0.64695063, 0.79978984, 0.17383094,
       0.27451831, 0.36146761, 0.47591719, 0.97253174, 0.72559049,
       0.02470475, 0.44662025, 0.62327522, 0.84875235, 0.03439824,
       0.87465918, 0.39415985, 0.86141819, 0.45606569, 0.73820087,
       0.42062941, 0.94097279, 0.99878226, 0.83522576, 0.95905004,
       0.87154995, 0.46165531, 0.47927231, 0.47999636, 0.89098698])

In [54]:
tdata=pd.DataFrame(np.random.rand(2,10))
tdata

,0,1,2,3,4,5,6,7,8,9
0,0.582594,0.964911,0.112651,0.421707,0.050155,0.255325,0.130885,0.775939,0.869844,0.396279
1,0.942685,0.998367,0.367908,0.232403,0.966838,0.760963,0.632725,0.391035,0.445813,0.308524

In [55]:
dtest=xgb.DMatrix(tdata)
ans=model.predict(dtest)