In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns
from scipy.stats import norm ,skew,kurtosis
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import make_scorer,mean_squared_error

In [2]:
df_train=pd.read_csv('F:\\study\\ml\\DataSet\\Tap4fun\\tap_fun_train.csv')

In [3]:
c_int=df_train.select_dtypes(include=['int64']).apply(pd.to_numeric,downcast='unsigned')
c_float=df_train.select_dtypes(include=['float']).apply(pd.to_numeric,downcast='float')

In [4]:
o_df=pd.concat([c_int,c_float],axis=1)
column_type=dict(o_df.dtypes.copy())
del o_df,c_int,c_float,df_train

In [5]:
data_train=pd.read_csv('F:\\study\\ml\\DataSet\\Tap4fun\\tap_fun_train.csv',
                      dtype=column_type,parse_dates=['register_time'],infer_datetime_format=True)

data_test=pd.read_csv('F:\\study\\ml\\DataSet\\Tap4fun\\tap_fun_test.csv',
                      dtype=column_type,parse_dates=['register_time'],infer_datetime_format=True)

In [6]:
data_train.rename(columns={'treatment_acceleraion_add_value':'treatment_acceleration_add_value',\
                          'sr_rss_a_prod_levell':'sr_rss_a_prod_level'} ,inplace=True)

data_test.rename(columns={'treatment_acceleraion_add_value':'treatment_acceleration_add_value',\
                          'sr_rss_a_prod_levell':'sr_rss_a_prod_level'} ,inplace=True)

In [7]:
train_user=data_train.iloc[:,:2]
train_data=data_train.iloc[:,2:]

In [8]:
column_name=train_data.columns.values[:32].tolist()
for i in range(len(column_name)):
    if (i+2) % 2 == 0 :
        name=column_name[i].replace('value','rate')
        #print(name)
        train_data[name]=train_data[column_name[i]] / (train_data[column_name[i+1]]+1)

In [9]:
train_data['pvp_lanch_battle_rate']=train_data['pvp_battle_count']/(train_data['pvp_lanch_count']+1)
train_data['pvp_win_battle_rate']=train_data['pvp_battle_count']/(train_data['pvp_win_count']+1)
train_data['pvp_win_lanch_rate']=train_data['pvp_lanch_count']/(train_data['pvp_win_count']+1)
train_data['pve_win_battle_rate']=train_data['pvp_battle_count']/(train_data['pve_win_count']+1)
train_data['pay_price_rate']=train_data['pay_count']/(train_data['pay_price']+1)
train_data['price_online_minutes_rate']=train_data['avg_online_minutes']/(train_data['pay_price']+1)

In [10]:
train_data['resource_add_mean']=train_data.iloc[:,[0,2,4,6,8]].apply(lambda x:x.mean(),axis=1)
train_data['resource_add_med']=train_data.iloc[:,[0,2,4,6,8]].apply(lambda x:x.median(),axis=1)
train_data['resource_reduce_mean']=train_data.iloc[:,[1, 3, 5, 7, 9]].apply(lambda x:x.mean(),axis=1)
train_data['resource_reduce_med']=train_data.iloc[:,[1, 3, 5, 7, 9]].apply(lambda x:x.median(),axis=1)

train_data['resource_mean_rate']=train_data['resource_reduce_mean']/(train_data['resource_add_mean']+1)
train_data['resource_med_rate']=train_data['resource_reduce_med']/(train_data['resource_add_med']+1)

train_data['army_add_mean']=train_data.iloc[:,[10, 12, 14]].apply(lambda x:x.mean(),axis=1)
train_data['army_add_med']=train_data.iloc[:,[10, 12, 14]].apply(lambda x:x.median(),axis=1)
train_data['army_reduce_mean']=train_data.iloc[:,[11, 13, 15]].apply(lambda x:x.mean(),axis=1)
train_data['army_reduce_med']=train_data.iloc[:,[11, 13, 15]].apply(lambda x:x.median(),axis=1)

train_data['army_mean_rate']=train_data['army_reduce_mean']/(train_data['army_add_mean']+1)
train_data['army_med_rate']=train_data['army_reduce_med']/(train_data['army_add_med']+1)

train_data['wound_add_mean'] = train_data.iloc[:, [16, 18, 20]].apply(lambda x: x.mean(), axis=1)
train_data['wound_add_med'] = train_data.iloc[:, [16, 18, 20]].apply(lambda x: x.median(), axis=1)
train_data['wound_reduce_mean'] = train_data.iloc[:, [17, 19, 21]].apply(lambda x: x.mean(), axis=1)
train_data['wound_reduce_med'] = train_data.iloc[:, [17, 19, 21]].apply(lambda x: x.median(), axis=1)

train_data['wound_mean_rate']=train_data['wound_reduce_mean']/(train_data['wound_add_mean']+1)
train_data['wound_med_rate']=train_data['wound_reduce_med']/(train_data['wound_add_med']+1)

train_data['accelerate_add_mean'] = train_data.iloc[:, [22, 24, 26, 28, 30]].apply(lambda x: x.mean(), axis=1)
train_data['accelerate_add_med'] = train_data.iloc[:, [22, 24, 26, 28, 30]].apply(lambda x: x.median(), axis=1)
train_data['accelerate_reduce_mean'] = train_data.iloc[:, [23, 25, 27, 29, 31]].apply(lambda x: x.mean(), axis=1)
train_data['accelerate_reduce_med'] = train_data.iloc[:, [23, 25, 27, 29, 31]].apply(lambda x: x.median(), axis=1)

train_data['accelerate_mean_rate']=train_data['accelerate_reduce_mean']/(train_data['accelerate_add_mean']+1)
train_data['accelerate_med_rate']=train_data['accelerate_reduce_med']/(train_data['accelerate_add_med']+1)

In [11]:
train_user['register_time_month']=pd.to_numeric(train_user.register_time.apply(lambda x:str(x)).str[5:7])
train_user['register_time_day']=pd.to_numeric(train_user.register_time.apply(lambda x:str(x)).str[8:10])
train_user.drop(labels=['register_time'],axis=1,inplace=True)
train_user['register_time_count']=train_user['register_time_month']*31+train_user['register_time_day']

train_data['register_time_month']=train_user['register_time_month']
train_data['register_time_day']=train_user['register_time_day']
train_data['register_time_count']=train_user['register_time_count']

In [12]:
train = train_data[train_data['pay_price'] > 0]

In [13]:
train['new_pay_label']=train['prediction_pay_price']!=train['pay_price']
train['new_pay_label']=train['new_pay_label'].map({True:1,False:0})
train['new_pay_price']=train['prediction_pay_price']-train['pay_price']
train['new_pay_rate']=train['prediction_pay_price']/train['pay_price']

D:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
D:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

D:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
D:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [14]:
# train['new_pay_rate']=train['prediction_pay_price']/train['pay_price']

In [15]:
train.head()

,wood_add_value,wood_reduce_value,stone_add_value,stone_reduce_value,ivory_add_value,ivory_reduce_value,meat_add_value,meat_reduce_value,magic_add_value,magic_reduce_value,...,accelerate_reduce_mean,accelerate_reduce_med,accelerate_mean_rate,accelerate_med_rate,register_time_month,register_time_day,register_time_count,new_pay_label,new_pay_price,new_pay_rate
25,30000.0,97200.0,20000.0,0.0,0.0,0.0,160500.0,80392.0,12000.0,0.0,...,0.0,0.0,0.000000,0.000000,1,26,57,0,0.00,1.000000
40,1111744.0,1137687.0,491331.0,790208.0,77000.0,0.0,1457249.0,708483.0,217455.0,162987.0,...,322.8,500.0,0.510598,0.807754,1,26,57,1,1.99,1.670034
47,249050.0,173248.0,70841.0,117012.0,55000.0,0.0,206366.0,82205.0,29902.0,88064.0,...,415.8,0.0,1.825285,0.000000,1,26,57,0,0.00,1.000000
86,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.000000,1,26,57,0,0.00,1.000000
119,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.000000,1,26,57,0,0.00,1.000000

In [16]:
train.iloc[:,0:-3].head()

,wood_add_value,wood_reduce_value,stone_add_value,stone_reduce_value,ivory_add_value,ivory_reduce_value,meat_add_value,meat_reduce_value,magic_add_value,magic_reduce_value,...,wound_med_rate,accelerate_add_mean,accelerate_add_med,accelerate_reduce_mean,accelerate_reduce_med,accelerate_mean_rate,accelerate_med_rate,register_time_month,register_time_day,register_time_count
25,30000.0,97200.0,20000.0,0.0,0.0,0.0,160500.0,80392.0,12000.0,0.0,...,0.0,100.0,75.0,0.0,0.0,0.000000,0.000000,1,26,57
40,1111744.0,1137687.0,491331.0,790208.0,77000.0,0.0,1457249.0,708483.0,217455.0,162987.0,...,0.0,631.2,618.0,322.8,500.0,0.510598,0.807754,1,26,57
47,249050.0,173248.0,70841.0,117012.0,55000.0,0.0,206366.0,82205.0,29902.0,88064.0,...,0.0,226.8,45.0,415.8,0.0,1.825285,0.000000,1,26,57
86,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,1,26,57
119,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,1,26,57

In [17]:
train.head()

,wood_add_value,wood_reduce_value,stone_add_value,stone_reduce_value,ivory_add_value,ivory_reduce_value,meat_add_value,meat_reduce_value,magic_add_value,magic_reduce_value,...,accelerate_reduce_mean,accelerate_reduce_med,accelerate_mean_rate,accelerate_med_rate,register_time_month,register_time_day,register_time_count,new_pay_label,new_pay_price,new_pay_rate
25,30000.0,97200.0,20000.0,0.0,0.0,0.0,160500.0,80392.0,12000.0,0.0,...,0.0,0.0,0.000000,0.000000,1,26,57,0,0.00,1.000000
40,1111744.0,1137687.0,491331.0,790208.0,77000.0,0.0,1457249.0,708483.0,217455.0,162987.0,...,322.8,500.0,0.510598,0.807754,1,26,57,1,1.99,1.670034
47,249050.0,173248.0,70841.0,117012.0,55000.0,0.0,206366.0,82205.0,29902.0,88064.0,...,415.8,0.0,1.825285,0.000000,1,26,57,0,0.00,1.000000
86,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.000000,1,26,57,0,0.00,1.000000
119,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.000000,1,26,57,0,0.00,1.000000

In [18]:
classify_train=train.iloc[:,0:-3]
classify_train.drop('prediction_pay_price',axis=1,inplace=True)

In [19]:
classify_train.head()

,wood_add_value,wood_reduce_value,stone_add_value,stone_reduce_value,ivory_add_value,ivory_reduce_value,meat_add_value,meat_reduce_value,magic_add_value,magic_reduce_value,...,wound_med_rate,accelerate_add_mean,accelerate_add_med,accelerate_reduce_mean,accelerate_reduce_med,accelerate_mean_rate,accelerate_med_rate,register_time_month,register_time_day,register_time_count
25,30000.0,97200.0,20000.0,0.0,0.0,0.0,160500.0,80392.0,12000.0,0.0,...,0.0,100.0,75.0,0.0,0.0,0.000000,0.000000,1,26,57
40,1111744.0,1137687.0,491331.0,790208.0,77000.0,0.0,1457249.0,708483.0,217455.0,162987.0,...,0.0,631.2,618.0,322.8,500.0,0.510598,0.807754,1,26,57
47,249050.0,173248.0,70841.0,117012.0,55000.0,0.0,206366.0,82205.0,29902.0,88064.0,...,0.0,226.8,45.0,415.8,0.0,1.825285,0.000000,1,26,57
86,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,1,26,57
119,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,1,26,57

In [20]:
train.shape

(41439, 159)

In [21]:
from sklearn.model_selection import GridSearchCV
from xgboost import XGBClassifier
from sklearn.externals import joblib
from sklearn.metrics import classification_report,accuracy_score,confusion_matrix
from sklearn.cross_validation import train_test_split,cross_val_score
import lightgbm  as lgb

D:\ProgramData\Anaconda3\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [22]:
# classify_train=train.iloc[:,1:-4]
cl_t = classify_train.iloc[:, :-3].drop_duplicates()
X_train,X_test,y_train,y_test=train_test_split(cl_t,train.loc[cl_t.index,'new_pay_label'],test_size=0.2,random_state=13)

In [23]:
## best score is not great
model43= GridSearchCV(
    estimator=lgb.LGBMClassifier( max_bin=128),
    param_grid={
        'n_estimators': [1000],
        'learning_rate': [0.48],
        'max_depth': [4],
        'subsample': [0.65],
        'colsample_bytree': [0.45],
       # 'scale_pos_weight': [2.6],
        'is_unbalance':[True]
    },
    scoring='f1',
    cv=3,
    n_jobs=4,
    verbose=1).fit(X_train,y_train)

ypred43=model43.predict(X_test)
predictions=ypred43
print('准确率',accuracy_score(y_test,predictions))
print('混淆矩阵',confusion_matrix(y_test,predictions))
print('分类报告',classification_report(y_test,predictions))

Fitting 3 folds for each of 1 candidates, totalling 3 fits

[Parallel(n_jobs=4)]: Done   3 out of   3 | elapsed:   11.3s finished

准确率 0.7718096170316897
混淆矩阵 [[4936  942]
 [ 923 1372]]
分类报告              precision    recall  f1-score   support

          0       0.84      0.84      0.84      5878
          1       0.59      0.60      0.60      2295

avg / total       0.77      0.77      0.77      8173

D:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

In [24]:
model42= GridSearchCV(
     estimator=XGBClassifier( max_bin=128),
    param_grid={
        'n_estimators': [1000],
        'learning_rate': [0.1],
        'max_depth': [2],
        'subsample': [1],
        'colsample_bytree': [0.8],
        'scale_pos_weight': [2.5, ],
        'min_child_weight': [2, ]
    },
    scoring='f1',
    cv=3,
    n_jobs=4,
    verbose=1).fit(X_train,y_train)

Fitting 3 folds for each of 1 candidates, totalling 3 fits

[Parallel(n_jobs=4)]: Done   3 out of   3 | elapsed:   58.1s finished

In [25]:
ypred42=model42.predict(X_test)
predictions=ypred42
print('准确率',accuracy_score(y_test,predictions))
print('混淆矩阵',confusion_matrix(y_test,predictions))
print('分类报告',classification_report(y_test,predictions))

准确率 0.7737672825156001
混淆矩阵 [[4548 1330]
 [ 519 1776]]
分类报告              precision    recall  f1-score   support

          0       0.90      0.77      0.83      5878
          1       0.57      0.77      0.66      2295

avg / total       0.81      0.77      0.78      8173

D:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

In [26]:
model44= GridSearchCV(
    estimator=lgb.LGBMClassifier(),
    param_grid={
        'num_leaves':[114],
        'n_estimators': [1000],
        'learning_rate': [0.064],
        'max_depth': [3],
        'subsample': [1],
         'subsample': [0.8],
        'colsample_bytree': [0.56],
        'scale_pos_weight': [2.5, ],
#         'min_child_weight': [2, ]
    },
    scoring='f1',
    cv=3,
    n_jobs=4,
    verbose=1).fit(X_train,y_train)

ypred44=model44.predict(X_test)
predictions=ypred44
print('准确率',accuracy_score(y_test,predictions))
print('混淆矩阵',confusion_matrix(y_test,predictions))
print('分类报告',classification_report(y_test,predictions))

Fitting 3 folds for each of 1 candidates, totalling 3 fits

[Parallel(n_jobs=4)]: Done   3 out of   3 | elapsed:   11.0s finished

准确率 0.7771931971124434
混淆矩阵 [[4576 1302]
 [ 519 1776]]
分类报告              precision    recall  f1-score   support

          0       0.90      0.78      0.83      5878
          1       0.58      0.77      0.66      2295

avg / total       0.81      0.78      0.79      8173

D:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

In [27]:
train.shape

(41439, 159)

In [28]:
classify_train.shape

(41439, 155)

In [29]:
cl_t.shape

(40863, 152)

In [30]:
X_train.shape

(32690, 152)

In [31]:
from xgboost import XGBRegressor

In [32]:
lgbm2=lgb.LGBMClassifier(boosting_type='gbdt',
nthread=4, 
silent=True,
n_estimators= 1000,
learning_rate= 0.064,
max_depth= 3,
subsample= 0.8,
colsample_bytree= 0.56,
scale_pos_weight=2.5).fit(X_train,y_train)

In [33]:
df_fi=pd.DataFrame()
# df_fi['name']=lgbm2.feature_name()
df_fi['importance']=lgbm2.feature_importances_
df_fi.sort_values(by=['importance'],axis=0,ascending=False).head(10)

     importance
103         204
118         157
117         130
119         125
127         120
30          120
26          115
104         111
110         110
28          106

In [34]:
model_reg = GridSearchCV(
    estimator=XGBRegressor(),
    #     estimator=LinearRegression(),
    param_grid={
        'n_estimators': [80],
        'learning_rate': [0.05],
        'max_depth': [2],
        'subsample': [1],
        'colsample_bytree': [0.5],
        'reg_alpha': [13.4],
    },
    scoring='neg_mean_squared_error',
    cv=3,
    n_jobs=1,
    verbose=4)
model_reg.fit(classify_train.iloc[:, [103, 108, 117, 119, 127,30,26,104,110,28]][train['new_pay_label'] == 1],
              train.iloc[:, -1][train['new_pay_label'] == 1])
# model_reg.fit(cl_t.iloc[:,[105,126,121,132,150]][train.loc[cl_t.index,'new_pay_label']==1],train.iloc[cl_t.index,-1][train.loc[cl_t.index,'new_pay_label']==1])
print(np.sqrt(-model_reg.best_score_), model_reg.best_params_)

Fitting 3 folds for each of 1 candidates, totalling 3 fits
[CV] colsample_bytree=0.5, learning_rate=0.05, max_depth=2, n_estimators=80, reg_alpha=13.4, subsample=1
[CV]  colsample_bytree=0.5, learning_rate=0.05, max_depth=2, n_estimators=80, reg_alpha=13.4, subsample=1, score=-2039.158935546875, total=   0.1s
[CV] colsample_bytree=0.5, learning_rate=0.05, max_depth=2, n_estimators=80, reg_alpha=13.4, subsample=1

[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.1s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   2 out of   2 | elapsed:    0.2s remaining:    0.0s

[CV]  colsample_bytree=0.5, learning_rate=0.05, max_depth=2, n_estimators=80, reg_alpha=13.4, subsample=1, score=-1939.374267578125, total=   0.1s
[CV] colsample_bytree=0.5, learning_rate=0.05, max_depth=2, n_estimators=80, reg_alpha=13.4, subsample=1
[CV]  colsample_bytree=0.5, learning_rate=0.05, max_depth=2, n_estimators=80, reg_alpha=13.4, subsample=1, score=-2777.19873046875, total=   0.1s

[Parallel(n_jobs=1)]: Done   3 out of   3 | elapsed:    0.4s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   3 out of   3 | elapsed:    0.4s finished

47.453811183659944 {'colsample_bytree': 0.5, 'learning_rate': 0.05, 'max_depth': 2, 'n_estimators': 80, 'reg_alpha': 13.4, 'subsample': 1}

In [35]:
train.iloc[:5,-2:]

     new_pay_price  new_pay_rate
25            0.00      1.000000
40            1.99      1.670034
47            0.00      1.000000
86            0.00      1.000000
119           0.00      1.000000

In [36]:
model_reg2 = GridSearchCV(
    estimator=lgb.LGBMRegressor( max_bin=128),
    #     estimator=LinearRegression(),
    param_grid={
        'n_estimators': [80],
        'learning_rate': [0.05],
        'max_depth': [2],
        'subsample': [0.8],
        'colsample_bytree': [0.56],
#         'reg_alpha': [13.4],
    },
    scoring='neg_mean_squared_error',
    cv=3,
    n_jobs=1,
    verbose=4)
model_reg2.fit(classify_train.iloc[:, [103, 108, 117, 119, 127,30,26,104,110,28]][train['new_pay_label'] == 1],
              train.iloc[:, -1][train['new_pay_label'] == 1])
# model_reg.fit(cl_t.iloc[:,[105,126,121,132,150]][train.loc[cl_t.index,'new_pay_label']==1],train.iloc[cl_t.index,-1][train.loc[cl_t.index,'new_pay_label']==1])
print(np.sqrt(-model_reg2.best_score_), model_reg2.best_params_)

Fitting 3 folds for each of 1 candidates, totalling 3 fits
[CV] colsample_bytree=0.56, learning_rate=0.05, max_depth=2, n_estimators=80, subsample=0.8
[CV]  colsample_bytree=0.56, learning_rate=0.05, max_depth=2, n_estimators=80, subsample=0.8, score=-2048.9891337944932, total=   0.0s
[CV] colsample_bytree=0.56, learning_rate=0.05, max_depth=2, n_estimators=80, subsample=0.8

[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.0s remaining:    0.0s

[CV]  colsample_bytree=0.56, learning_rate=0.05, max_depth=2, n_estimators=80, subsample=0.8, score=-1937.4693021510093, total=   0.1s
[CV] colsample_bytree=0.56, learning_rate=0.05, max_depth=2, n_estimators=80, subsample=0.8
[CV]  colsample_bytree=0.56, learning_rate=0.05, max_depth=2, n_estimators=80, subsample=0.8, score=-2781.3615014570123, total=   0.0s
47.49624741659323 {'colsample_bytree': 0.56, 'learning_rate': 0.05, 'max_depth': 2, 'n_estimators': 80, 'subsample': 0.8}

[Parallel(n_jobs=1)]: Done   2 out of   2 | elapsed:    0.3s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   3 out of   3 | elapsed:    0.3s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   3 out of   3 | elapsed:    0.3s finished

In [37]:
X_train.iloc[:, [103, 108, 117, 119, 127,30,26,104,110,28]][train['new_pay_label'] == 1].shape

D:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

(9009, 10)

In [38]:
X_train2,X_test2,y_train2,y_test2=train_test_split(cl_t,train.loc[cl_t.index,'prediction_pay_price'],test_size=0.2,random_state=13)

In [39]:
y_train2[train['new_pay_label'] == 1].shape

(9009,)

In [40]:
cl_t.head()

,wood_add_value,wood_reduce_value,stone_add_value,stone_reduce_value,ivory_add_value,ivory_reduce_value,meat_add_value,meat_reduce_value,magic_add_value,magic_reduce_value,...,wound_reduce_mean,wound_reduce_med,wound_mean_rate,wound_med_rate,accelerate_add_mean,accelerate_add_med,accelerate_reduce_mean,accelerate_reduce_med,accelerate_mean_rate,accelerate_med_rate
25,30000.0,97200.0,20000.0,0.0,0.0,0.0,160500.0,80392.0,12000.0,0.0,...,0.0,0.0,0.0,0.0,100.0,75.0,0.0,0.0,0.000000,0.000000
40,1111744.0,1137687.0,491331.0,790208.0,77000.0,0.0,1457249.0,708483.0,217455.0,162987.0,...,0.0,0.0,0.0,0.0,631.2,618.0,322.8,500.0,0.510598,0.807754
47,249050.0,173248.0,70841.0,117012.0,55000.0,0.0,206366.0,82205.0,29902.0,88064.0,...,0.0,0.0,0.0,0.0,226.8,45.0,415.8,0.0,1.825285,0.000000
86,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000
119,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000

In [41]:
cl_t.loc[47,'wood_add_value']

249050.0

In [42]:
y_train2[train['new_pay_label'] == 1].head()

1881402    1201.670044
1797734    1186.599976
721718       66.930000
368091        6.970000
1883324       1.980000
Name: prediction_pay_price, dtype: float32

In [43]:
train.shape

(41439, 159)

In [44]:
train.head()

,wood_add_value,wood_reduce_value,stone_add_value,stone_reduce_value,ivory_add_value,ivory_reduce_value,meat_add_value,meat_reduce_value,magic_add_value,magic_reduce_value,...,accelerate_reduce_mean,accelerate_reduce_med,accelerate_mean_rate,accelerate_med_rate,register_time_month,register_time_day,register_time_count,new_pay_label,new_pay_price,new_pay_rate
25,30000.0,97200.0,20000.0,0.0,0.0,0.0,160500.0,80392.0,12000.0,0.0,...,0.0,0.0,0.000000,0.000000,1,26,57,0,0.00,1.000000
40,1111744.0,1137687.0,491331.0,790208.0,77000.0,0.0,1457249.0,708483.0,217455.0,162987.0,...,322.8,500.0,0.510598,0.807754,1,26,57,1,1.99,1.670034
47,249050.0,173248.0,70841.0,117012.0,55000.0,0.0,206366.0,82205.0,29902.0,88064.0,...,415.8,0.0,1.825285,0.000000,1,26,57,0,0.00,1.000000
86,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.000000,1,26,57,0,0.00,1.000000
119,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.000000,0.000000,1,26,57,0,0.00,1.000000

In [45]:
y_train.head()

1345843    0
2090091    0
1881402    1
2256801    0
66720      0
Name: new_pay_label, dtype: int64

In [46]:
X_train2.head()

,wood_add_value,wood_reduce_value,stone_add_value,stone_reduce_value,ivory_add_value,ivory_reduce_value,meat_add_value,meat_reduce_value,magic_add_value,magic_reduce_value,...,wound_reduce_mean,wound_reduce_med,wound_mean_rate,wound_med_rate,accelerate_add_mean,accelerate_add_med,accelerate_reduce_mean,accelerate_reduce_med,accelerate_mean_rate,accelerate_med_rate
1345843,17459240.0,16623687.0,10334135.0,9994746.0,3609598.0,230976.0,25762104.0,15944224.0,2610578.0,2162335.0,...,573.666667,248.0,0.998260,0.995984,6650.6,6931.0,6440.4,6736.0,0.968248,0.971725
2090091,14275742.0,12356548.0,9131365.0,7253012.0,3612261.0,554424.0,20875630.0,11029461.0,1807733.0,1595352.0,...,8216.000000,7628.0,0.999878,0.999869,4872.4,5673.0,3304.0,2628.0,0.677966,0.463165
1881402,15198119.0,14999577.0,9708878.0,9254496.0,3746189.0,326976.0,20642208.0,13511270.0,2268682.0,2099351.0,...,3812.666667,4082.0,0.999738,0.999755,7701.2,9311.0,7624.6,9303.0,0.989925,0.999034
2256801,11754094.0,10474688.0,6690583.0,5135796.0,1915315.0,230976.0,13852201.0,8711971.0,2112106.0,1298539.0,...,6593.666667,5995.0,0.999848,0.999833,2665.6,3243.0,1961.8,1836.0,0.735693,0.565968
66720,2221601.0,1213339.0,1000000.0,0.0,503000.0,0.0,3481722.0,906104.0,46184.0,1500.0,...,0.000000,0.0,0.000000,0.000000,1528.6,431.0,604.0,42.0,0.394874,0.097222

In [47]:
X_train2.iloc[:, [103, 108, 117, 119, 127,30,26,104,110,28]].head()

,avg_online_minutes,ivory_add_rate,general_acceleration_add_rate,reaserch_acceleration_add_rate,price_online_minutes_rate,treatment_acceleration_add_value,reaserch_acceleration_add_value,pay_price,magic_add_rate,training_acceleration_add_value
1345843,379.333344,15.627522,1.014185,1.028796,21.121012,423,6931,16.959999,1.207295,6680
2090091,191.833328,6.515328,3.179933,1.174930,27.483284,415,7086,5.980000,1.133124,4988
1881402,287.166656,11.457042,0.999897,0.999899,8.720518,371,9894,31.930000,1.080658,9311
2256801,174.166672,8.292233,1.765378,1.198711,87.520943,188,4464,0.990000,1.626524,1486
66720,16.333332,503000.000000,10.023256,25.753425,5.480984,15,3760,1.980000,30.768822,255

In [48]:
cl_t.loc[1881402,'avg_online_minutes']

287.16666

In [49]:
train.loc[1881402,'avg_online_minutes']

287.16666

In [50]:
y_test22=train.loc[y_train2[train['new_pay_label'] == 1].index,'pay_price']

In [51]:
train.loc[y_train2[train['new_pay_label'] == 1].index,'pay_price'].shape

(9009,)

In [52]:
y_train2[train['new_pay_label'] == 1].head()

1881402    1201.670044
1797734    1186.599976
721718       66.930000
368091        6.970000
1883324       1.980000
Name: prediction_pay_price, dtype: float32

In [53]:
y_train22=y_train2[train['new_pay_label'] == 1]/train.loc[y_train2[train['new_pay_label'] == 1].index,'pay_price']

In [54]:
y_train22.head()

1881402    37.634514
1797734     3.629967
721718      1.425863
368091      7.040404
1883324     2.000000
dtype: float32

In [146]:
X_train2.shape

(32690, 152)

In [147]:
train.shape

(41439, 159)

In [149]:
X_train2.iloc[:, [103, 108, 117, 119, 127,30,26,104,110,28]][train['new_pay_label'] >0].shape

D:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

(9009, 10)

In [55]:
model_reg3 = GridSearchCV(
    estimator=lgb.LGBMRegressor( max_bin=128),
    #     estimator=LinearRegression(),
    param_grid={
        'n_estimators': [80],
        'learning_rate': [0.05],
        'max_depth': [2],
        'subsample': [0.8],
        'colsample_bytree': [0.56],
#         'reg_alpha': [13.4],
    },
    scoring='neg_mean_squared_error',
    cv=3,
    n_jobs=1,
    verbose=4)
model_reg3.fit(X_train2.iloc[:, [103, 108, 117, 119, 127,30,26,104,110,28]][train['new_pay_label'] == 1],
              y_train22)
# model_reg.fit(cl_t.iloc[:,[105,126,121,132,150]][train.loc[cl_t.index,'new_pay_label']==1],train.iloc[cl_t.index,-1][train.loc[cl_t.index,'new_pay_label']==1])
print(np.sqrt(-model_reg3.best_score_), model_reg3.best_params_)

D:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  app.launch_new_instance()
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   2 out of   2 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   3 out of   3 | elapsed:    0.1s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   3 out of   3 | elapsed:    0.1s finished

Fitting 3 folds for each of 1 candidates, totalling 3 fits
[CV] colsample_bytree=0.56, learning_rate=0.05, max_depth=2, n_estimators=80, subsample=0.8
[CV]  colsample_bytree=0.56, learning_rate=0.05, max_depth=2, n_estimators=80, subsample=0.8, score=-1499.9033699189426, total=   0.0s
[CV] colsample_bytree=0.56, learning_rate=0.05, max_depth=2, n_estimators=80, subsample=0.8
[CV]  colsample_bytree=0.56, learning_rate=0.05, max_depth=2, n_estimators=80, subsample=0.8, score=-4716.759710367509, total=   0.0s
[CV] colsample_bytree=0.56, learning_rate=0.05, max_depth=2, n_estimators=80, subsample=0.8
[CV]  colsample_bytree=0.56, learning_rate=0.05, max_depth=2, n_estimators=80, subsample=0.8, score=-835.1602143268522, total=   0.0s
48.48306678492091 {'colsample_bytree': 0.56, 'learning_rate': 0.05, 'max_depth': 2, 'n_estimators': 80, 'subsample': 0.8}

In [56]:
y_model_reg3_pred=model_reg3.predict(X_test2.iloc[:, [103, 108, 117, 119, 127,30,26,104,110,28]][train['new_pay_label'] == 1])

D:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

In [57]:
from sklearn.metrics import mean_squared_error

In [58]:
y_test22=y_test2[train['new_pay_label'] == 1]/train.loc[y_test2[train['new_pay_label'] == 1].index,'pay_price']

In [59]:
np.sqrt(mean_squared_error(y_test22,y_model_reg3_pred))

43.37976375723224

In [60]:
################# for test data

In [61]:
data_test.head()

,user_id,register_time,wood_add_value,wood_reduce_value,stone_add_value,stone_reduce_value,ivory_add_value,ivory_reduce_value,meat_add_value,meat_reduce_value,...,sr_rss_help_bonus_level,pvp_battle_count,pvp_lanch_count,pvp_win_count,pve_battle_count,pve_lanch_count,pve_win_count,avg_online_minutes,pay_price,pay_count
0,14933,2018-03-08 20:27:57,166415.0,138362.0,0.0,0.0,0.0,0.0,258522.0,90142.0,...,0,0,0,0,1,1,1,8.000000,0.0,0
1,14934,2018-03-08 20:29:42,10000.0,600.0,0.0,0.0,0.0,0.0,10000.0,400.0,...,0,0,0,0,0,0,0,0.166667,0.0,0
2,14935,2018-03-08 20:30:13,10000.0,3700.0,0.0,0.0,0.0,0.0,10000.0,2000.0,...,0,0,0,0,0,0,0,17.000000,0.0,0
3,14936,2018-03-08 20:31:41,210000.0,0.0,200000.0,0.0,200000.0,0.0,610000.0,0.0,...,0,0,0,0,0,0,0,1.666667,0.0,0
4,14937,2018-03-08 20:32:07,11500.0,3700.0,0.0,0.0,0.0,0.0,11000.0,2000.0,...,0,0,0,0,0,0,0,0.333333,0.0,0

In [62]:
# del test_data

In [63]:
test_user=data_test.iloc[:,:2]
test_data=data_test.iloc[:,2:]

In [64]:
column_name2=test_data.columns.values[:32].tolist()
for i in range(len(column_name2)):
    if (i+2) % 2 == 0 :
        name=column_name2[i].replace('value','rate')
        #print(name)
        test_data[name]=test_data[column_name2[i]] / (test_data[column_name2[i+1]]+1)

In [65]:
test_data['pvp_lanch_battle_rate']=test_data['pvp_battle_count']/(test_data['pvp_lanch_count']+1)
test_data['pvp_win_battle_rate']=test_data['pvp_battle_count']/(test_data['pvp_win_count']+1)
test_data['pvp_win_lanch_rate']=test_data['pvp_lanch_count']/(test_data['pvp_win_count']+1)
test_data['pve_win_battle_rate']=test_data['pvp_battle_count']/(test_data['pve_win_count']+1)
test_data['pay_price_rate']=test_data['pay_count']/(test_data['pay_price']+1)
test_data['price_online_minutes_rate']=test_data['avg_online_minutes']/(test_data['pay_price']+1)


test_data['resource_add_mean']=test_data.iloc[:,[0,2,4,6,8]].apply(lambda x:x.mean(),axis=1)
test_data['resource_add_med']=test_data.iloc[:,[0,2,4,6,8]].apply(lambda x:x.median(),axis=1)
test_data['resource_reduce_mean']=test_data.iloc[:,[1, 3, 5, 7, 9]].apply(lambda x:x.mean(),axis=1)
test_data['resource_reduce_med']=test_data.iloc[:,[1, 3, 5, 7, 9]].apply(lambda x:x.median(),axis=1)

test_data['resource_mean_rate']=test_data['resource_reduce_mean']/(test_data['resource_add_mean']+1)
test_data['resource_med_rate']=test_data['resource_reduce_med']/(test_data['resource_add_med']+1)

test_data['army_add_mean']=test_data.iloc[:,[10, 12, 14]].apply(lambda x:x.mean(),axis=1)
test_data['army_add_med']=test_data.iloc[:,[10, 12, 14]].apply(lambda x:x.median(),axis=1)
test_data['army_reduce_mean']=test_data.iloc[:,[11, 13, 15]].apply(lambda x:x.mean(),axis=1)
test_data['army_reduce_med']=test_data.iloc[:,[11, 13, 15]].apply(lambda x:x.median(),axis=1)

test_data['army_mean_rate']=test_data['army_reduce_mean']/(test_data['army_add_mean']+1)
test_data['army_med_rate']=test_data['army_reduce_med']/(test_data['army_add_med']+1)

test_data['wound_add_mean'] = test_data.iloc[:, [16, 18, 20]].apply(lambda x: x.mean(), axis=1)
test_data['wound_add_med'] = test_data.iloc[:, [16, 18, 20]].apply(lambda x: x.median(), axis=1)
test_data['wound_reduce_mean'] = test_data.iloc[:, [17, 19, 21]].apply(lambda x: x.mean(), axis=1)
test_data['wound_reduce_med'] = test_data.iloc[:, [17, 19, 21]].apply(lambda x: x.median(), axis=1)

test_data['wound_mean_rate']=test_data['wound_reduce_mean']/(test_data['wound_add_mean']+1)
test_data['wound_med_rate']=test_data['wound_reduce_med']/(test_data['wound_add_med']+1)

test_data['accelerate_add_mean'] = test_data.iloc[:, [22, 24, 26, 28, 30]].apply(lambda x: x.mean(), axis=1)
test_data['accelerate_add_med'] = test_data.iloc[:, [22, 24, 26, 28, 30]].apply(lambda x: x.median(), axis=1)
test_data['accelerate_reduce_mean'] = test_data.iloc[:, [23, 25, 27, 29, 31]].apply(lambda x: x.mean(), axis=1)
test_data['accelerate_reduce_med'] = test_data.iloc[:, [23, 25, 27, 29, 31]].apply(lambda x: x.median(), axis=1)

test_data['accelerate_mean_rate']=test_data['accelerate_reduce_mean']/(test_data['accelerate_add_mean']+1)
test_data['accelerate_med_rate']=test_data['accelerate_reduce_med']/(test_data['accelerate_add_med']+1)

# classify_test=test.iloc[:,0:-3]

In [66]:
test_data.shape

(828934, 152)

In [67]:
test_user['register_time_month']=pd.to_numeric(test_user.register_time.apply(lambda x:str(x)).str[5:7])
test_user['register_time_day']=pd.to_numeric(test_user.register_time.apply(lambda x:str(x)).str[8:10])
test_user.drop(labels=['register_time'],axis=1,inplace=True)
test_user['register_time_count']=test_user['register_time_month']*31+test_user['register_time_day']
test_data['register_time_month']=test_user['register_time_month']
test_data['register_time_day']=test_user['register_time_day']
test_data['register_time_count']=test_user['register_time_count']
test = test_data[test_data['pay_price'] > 0]

In [68]:
test_data.shape

(828934, 155)

In [69]:
X_train.shape

(32690, 152)

In [70]:
X_train.head()

,wood_add_value,wood_reduce_value,stone_add_value,stone_reduce_value,ivory_add_value,ivory_reduce_value,meat_add_value,meat_reduce_value,magic_add_value,magic_reduce_value,...,wound_reduce_mean,wound_reduce_med,wound_mean_rate,wound_med_rate,accelerate_add_mean,accelerate_add_med,accelerate_reduce_mean,accelerate_reduce_med,accelerate_mean_rate,accelerate_med_rate
1345843,17459240.0,16623687.0,10334135.0,9994746.0,3609598.0,230976.0,25762104.0,15944224.0,2610578.0,2162335.0,...,573.666667,248.0,0.998260,0.995984,6650.6,6931.0,6440.4,6736.0,0.968248,0.971725
2090091,14275742.0,12356548.0,9131365.0,7253012.0,3612261.0,554424.0,20875630.0,11029461.0,1807733.0,1595352.0,...,8216.000000,7628.0,0.999878,0.999869,4872.4,5673.0,3304.0,2628.0,0.677966,0.463165
1881402,15198119.0,14999577.0,9708878.0,9254496.0,3746189.0,326976.0,20642208.0,13511270.0,2268682.0,2099351.0,...,3812.666667,4082.0,0.999738,0.999755,7701.2,9311.0,7624.6,9303.0,0.989925,0.999034
2256801,11754094.0,10474688.0,6690583.0,5135796.0,1915315.0,230976.0,13852201.0,8711971.0,2112106.0,1298539.0,...,6593.666667,5995.0,0.999848,0.999833,2665.6,3243.0,1961.8,1836.0,0.735693,0.565968
66720,2221601.0,1213339.0,1000000.0,0.0,503000.0,0.0,3481722.0,906104.0,46184.0,1500.0,...,0.000000,0.0,0.000000,0.000000,1528.6,431.0,604.0,42.0,0.394874,0.097222

In [71]:
test_data.head()

,wood_add_value,wood_reduce_value,stone_add_value,stone_reduce_value,ivory_add_value,ivory_reduce_value,meat_add_value,meat_reduce_value,magic_add_value,magic_reduce_value,...,wound_med_rate,accelerate_add_mean,accelerate_add_med,accelerate_reduce_mean,accelerate_reduce_med,accelerate_mean_rate,accelerate_med_rate,register_time_month,register_time_day,register_time_count
0,166415.0,138362.0,0.0,0.0,0.0,0.0,258522.0,90142.0,0.0,0.0,...,0.0,101.0,60.0,4.2,0.0,0.041176,0.0,3,8,101
1,10000.0,600.0,0.0,0.0,0.0,0.0,10000.0,400.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,3,8,101
2,10000.0,3700.0,0.0,0.0,0.0,0.0,10000.0,2000.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,3,8,101
3,210000.0,0.0,200000.0,0.0,200000.0,0.0,610000.0,0.0,60000.0,0.0,...,0.0,132.0,0.0,0.0,0.0,0.000000,0.0,3,8,101
4,11500.0,3700.0,0.0,0.0,0.0,0.0,11000.0,2000.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,3,8,101

In [ ]:
test.shape

In [73]:
classify_test=test.iloc[:,:-3]

In [74]:
classify_test.shape

(19549, 152)

In [75]:
test_pred=model44.predict(classify_test)

D:\ProgramData\Anaconda3\lib\site-packages\sklearn\preprocessing\label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

In [76]:
test_pred

array([0, 0, 0, ..., 1, 0, 0], dtype=int64)

In [77]:
classify_test2=classify_test
classify_test2['new_pay_label']=test_pred

In [78]:
classify_test2.shape

(19549, 153)

In [79]:
classify_test2[classify_test2['new_pay_label']==1].iloc[:, [103, 108, 117, 119, 127,30,26,104,110,28]].shape

(7131, 10)

In [80]:
test_reg_pred=model_reg2.predict(classify_test2[classify_test2['new_pay_label']==1].iloc[:, [103, 108, 117, 119, 127,30,26,104,110,28]])

In [109]:
result1=classify_test2

In [150]:
result1['new_pay_label']==1

19        False
96        False
126       False
131       False
169       False
184       False
277       False
309       False
408       False
470        True
483       False
526       False
545       False
558        True
559        True
575       False
581       False
586       False
619       False
686       False
725       False
768        True
901       False
908        True
976       False
1027       True
1333       True
1366      False
1462      False
1526      False
          ...
827848     True
827849    False
827852    False
827925     True
828000    False
828007    False
828021     True
828030    False
828041     True
828042    False
828102    False
828195     True
828223    False
828237     True
828239     True
828251     True
828269    False
828305    False
828321    False
828348    False
828406    False
828552    False
828609    False
828649    False
828735     True
828748    False
828753    False
828767     True
828782    False
828804    False
Name: new_pay_label, Length: 19549, dtype: bool

In [110]:
result1.loc[result1['new_pay_label']==1,'prediction_pay_price']=test_reg_pred

In [111]:
result1[result1['new_pay_label']==1][['pay_price','prediction_pay_price']].head()

     pay_price  prediction_pay_price
470  93.900002              4.440450
558   9.940000              8.700574
559  16.959999              5.305765
768   5.950000             11.174584
908  26.930000              4.903112

In [112]:
result1[result1['new_pay_label']==1].shape

(7131, 155)

In [113]:
result1[(result1['new_pay_label']==1) & (result1['pay_price'] > result1['prediction_pay_price'])][['pay_price','prediction_pay_price']].head()

        pay_price  prediction_pay_price
470     93.900002              4.440450
558      9.940000              8.700574
559     16.959999              5.305765
908     26.930000              4.903112
1027  1326.750000              4.113175

In [114]:
result1[(result1['new_pay_label']==1) & (result1['pay_price'] > result1['prediction_pay_price'])].shape

(4850, 155)

In [115]:
result1['prediction_pay_price2']=result1['pay_price'] *  result1['prediction_pay_price']

In [116]:
result1[result1['new_pay_label'] == 1]['prediction_pay_price2'].head()

470    416.958283
558     86.483704
559     89.985764
768     66.488770
908    132.040795
Name: prediction_pay_price2, dtype: float64

In [117]:
 result1.loc[result1['new_pay_label'] == 0,'prediction_pay_price2']=result1['pay_price']

In [120]:
 result1.loc[result1['new_pay_label'] == 0,'prediction_pay_price2'].head()

19     0.99
96     0.99
126    5.98
131    0.99
169    0.99
Name: prediction_pay_price2, dtype: float64

In [121]:
result1.shape

(19549, 155)

In [122]:
test_user.head()

   user_id  register_time_month  register_time_day  register_time_count
0    14933                    3                  8                  101
1    14934                    3                  8                  101
2    14935                    3                  8                  101
3    14936                    3                  8                  101
4    14937                    3                  8                  101

In [123]:
test_user['prediction_pay_price']=0.0

In [131]:
test_user.iloc[(result1['prediction_pay_price2']>0).index,:].shape

(19549, 5)

In [133]:
test_user.iloc[(result1['prediction_pay_price2']>0).index,4].head()

19     0.0
96     0.0
126    0.0
131    0.0
169    0.0
Name: prediction_pay_price, dtype: float64

In [134]:
test_user.iloc[(result1['prediction_pay_price2']>0).index,4]=result1['prediction_pay_price2']

In [135]:
test_result=pd.DataFrame()
test_result['user_id']=test_user.user_id
test_result['prediction_pay_price']=test_user.prediction_pay_price

In [136]:
result=test_result

In [137]:
import datetime
nowTime=datetime.datetime.now().strftime('%Y%m%d%H%M%S')
name='tf_'+str(nowTime)
result.to_csv("F:\\study\\ml\\DataSet\\Tap4fun\\SubMission\\"+name+'.csv',index=False,encoding='utf-8')

In [138]:
X_train.iloc[:, [103, 108, 117, 119, 127,30,26,104,110,28]][train['new_pay_label'] == 1].shape

D:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

(9009, 10)