In [1]:
import numpy as np
import pandas as pd
import sys
import re
import lightgbm as lgb

In [2]:
data_path='F:\\study\\ml\\DataSet\\Drug_Molecule\\'
df_protein_train=pd.read_csv('%sdf_protein_train.csv' % (data_path))
df_protein_test=pd.read_csv('%sdf_protein_test.csv' % (data_path))
df_molecule=pd.read_csv('%sdf_molecule.csv'% (data_path))
df_affinity_train=pd.read_csv('%sdf_affinity_train.csv'% (data_path))
df_affinity_test=pd.read_csv('%sdf_affinity_test.csv'% (data_path))

In [3]:
df_affinity_test['Ki']=-11
data=pd.concat([df_affinity_train,df_affinity_test])

In [4]:
protein_concat = pd.concat([df_protein_train,df_protein_test],ignore_index=True)

In [5]:
df_protein_train.head()

   Protein_ID                                           Sequence
0           0  MDNVLPVDSDLSPNISTNTSEPNQFVQPAWQIVLWAAAYTVIVVTS...
1           1  MQWAVGRRWAWAALLLAVAAVLTQVVWLWLGTQSFVFQREEIAQLA...
2           2  MDPLNLSWYDDDLERQNWSRPFNGSEGKADRPHYNYYAMLLTLLIF...
3           3  MDSSTGPGNTSDCSDPLAQASCSPAPGSWLNLSHVDGNQSDPCGLN...
4           4  MEPVPSARAELQFSLLANVSDTFPSAFPSASANASGSPGARSASSL...

In [6]:
df_protein_test.head()

   Protein_ID                                           Sequence
0           6  MGRRRQGPAQPASELPARNACLLPNGSAWLPGWAEPDGNGSAGPQD...
1           8  MELNSSSRVDSEFRYTLFPIVYSIIFVLGIIANGYVLWVFARLYPS...
2          17  MSRARSHLRAALFLAAASARGITTQVAARRGLSAWPVPQEPSMEYQ...
3          25  MDAMKRGLCCVLLLCGAVFVSPSQEIHARFRRGARSYQVICRDEKT...
4          26  MAHVRGLQLPGCLALAALCSLVHSQHVFLAPQQARSLLQRVRRANT...

In [7]:
protein_concat.Sequence[0]

'MDNVLPVDSDLSPNISTNTSEPNQFVQPAWQIVLWAAAYTVIVVTSVVGNVVVMWIILAHKRMRTVTNYFLVNLAFAEASMAAFNTVVNFTYAVHNEWYYGLFYCKFHNFFPIAAVFASIYSMTAVAFDRYMAIIHPLQPRLSATATKVVICVIWVLALLLAFPQGYYSTTETMPSRVVCMIEWPEHPNKIYEKVYHICVTVLIYFLPLLVIGYAYTVVGITLWASEIPGDSSDRYHEQVSAKRKVVKMMIVVVCTFAICWLPFHIFFLLPYINPDLYLKKFIQQVYLAIMWLAMSSTMYNPIIYCCLNDRFRLGFKHAFRCCPFISAGDYEGLEMKSTRYLQTQGSVYKVSRLETTISTVVGAHEEEPEDGPKATPSSLDLTSNCSSRSDSKTMTESFSFSSNVLS'

In [8]:
data.head()

   Protein_ID  Molecule_ID         Ki
0           0            0   8.309804
1           1            1  10.292430
2           2            1   6.778586
3           1            2  10.769551
4           2            2   6.170568

In [9]:
protein_concat.head()

   Protein_ID                                           Sequence
0           0  MDNVLPVDSDLSPNISTNTSEPNQFVQPAWQIVLWAAAYTVIVVTS...
1           1  MQWAVGRRWAWAALLLAVAAVLTQVVWLWLGTQSFVFQREEIAQLA...
2           2  MDPLNLSWYDDDLERQNWSRPFNGSEGKADRPHYNYYAMLLTLLIF...
3           3  MDSSTGPGNTSDCSDPLAQASCSPAPGSWLNLSHVDGNQSDPCGLN...
4           4  MEPVPSARAELQFSLLANVSDTFPSAFPSASANASGSPGARSASSL...

In [10]:
df_molecule.head()

,Molecule_ID,Fingerprint,cyp_3a4,cyp_2c9,cyp_2d6,ames_toxicity,fathead_minnow_toxicity,tetrahymena_pyriformis_toxicity,honey_bee,cell_permeability,logP,renal_organic_cation_transporter,CLtotal,hia,biodegradation,Vdd,p_glycoprotein_inhibition,NOAEL,solubility,bbb
0,0,"1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0...",0.311594,0.742983,0.363031,0.623255,0.005905,NaN,0.800019,4.919215,NaN,0.479723,3.940952,0.029493,0.003006,24.211564,0.260743,-0.757354,-5.401525,0.087650
1,1,"1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0...",NaN,0.854373,0.280685,NaN,0.034951,2.174478,0.846931,4.723896,4.318473,0.492733,10.394106,NaN,0.016205,27.109723,0.511252,NaN,-5.089023,0.000608
2,2,"1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0...",0.102385,0.853763,0.197318,0.745154,0.030430,2.038387,0.854921,4.731113,NaN,0.403998,8.909931,0.011798,0.020116,20.560356,0.439826,-1.163596,-5.124717,0.000570
3,3,"1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0...",0.315907,0.855956,0.376436,NaN,0.033857,NaN,NaN,4.470623,NaN,0.699078,6.572888,0.010473,0.019070,14.791946,0.604665,-1.155990,-4.973178,0.029107
4,4,"1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0...",0.106763,0.844784,0.207776,NaN,NaN,1.895097,0.859958,4.723733,4.193617,0.438007,9.628845,0.011194,0.018409,22.261876,0.494917,-1.158525,-4.886913,0.000603

In [11]:
df_molecule.Fingerprint.head()

0    1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0...
1    1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0...
2    1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0...
3    1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0...
4    1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0...
Name: Fingerprint, dtype: object

In [12]:
feat=pd.DataFrame(df_molecule.Fingerprint.apply(lambda x:x.split(',')).tolist())
feat=feat.astype("int")

In [13]:
feat.head()

,0,1,2,3,4,5,6,7,8,9,...,157,158,159,160,161,162,163,164,165,166
0,1,0,0,1,0,1,0,1,0,0,...,1,0,0,0,0,1,0,0,1,1
1,1,1,0,1,0,1,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1
2,1,1,0,1,0,1,0,0,0,0,...,1,0,0,0,0,1,0,0,0,1
3,1,1,0,1,0,1,0,0,0,0,...,1,0,0,0,0,1,0,0,0,1
4,1,1,0,1,0,1,0,0,0,0,...,1,0,0,0,0,1,0,0,0,1

In [14]:
feat.shape

(111216, 167)

In [15]:
feat.columns=['Fingerprint_{}'.format(i) for i in range(167)]

In [16]:
feat.head()

,Fingerprint_0,Fingerprint_1,Fingerprint_2,Fingerprint_3,Fingerprint_4,Fingerprint_5,Fingerprint_6,Fingerprint_7,Fingerprint_8,Fingerprint_9,...,Fingerprint_157,Fingerprint_158,Fingerprint_159,Fingerprint_160,Fingerprint_161,Fingerprint_162,Fingerprint_163,Fingerprint_164,Fingerprint_165,Fingerprint_166
0,1,0,0,1,0,1,0,1,0,0,...,1,0,0,0,0,1,0,0,1,1
1,1,1,0,1,0,1,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1
2,1,1,0,1,0,1,0,0,0,0,...,1,0,0,0,0,1,0,0,0,1
3,1,1,0,1,0,1,0,0,0,0,...,1,0,0,0,0,1,0,0,0,1
4,1,1,0,1,0,1,0,0,0,0,...,1,0,0,0,0,1,0,0,0,1

In [17]:
data.head()

   Protein_ID  Molecule_ID         Ki
0           0            0   8.309804
1           1            1  10.292430
2           2            1   6.778586
3           1            2  10.769551
4           2            2   6.170568

In [18]:
feat['Molecule_ID']=df_molecule['Molecule_ID']

In [19]:
data=data.merge(feat,on='Molecule_ID',how='left')

In [20]:
df_protein_train.Sequence.head()

0    MDNVLPVDSDLSPNISTNTSEPNQFVQPAWQIVLWAAAYTVIVVTS...
1    MQWAVGRRWAWAALLLAVAAVLTQVVWLWLGTQSFVFQREEIAQLA...
2    MDPLNLSWYDDDLERQNWSRPFNGSEGKADRPHYNYYAMLLTLLIF...
3    MDSSTGPGNTSDCSDPLAQASCSPAPGSWLNLSHVDGNQSDPCGLN...
4    MEPVPSARAELQFSLLANVSDTFPSAFPSASANASGSPGARSASSL...
Name: Sequence, dtype: object

In [21]:
np.max(df_protein_train.Sequence.apply(lambda x:len(x)))

7073

In [22]:
np.min(df_protein_train.Sequence.apply(lambda x:len(x)))

26

In [23]:
df_protein_train['Sequence_len']=df_protein_train.Sequence.apply(lambda x:len(x))

In [24]:
texts=[[word for word in re.findall(r'.{3}',document)]
       for document in list(protein_concat.Sequence)]

In [25]:
texts[0]

['MDN',
 'VLP',
 'VDS',
 'DLS',
 'PNI',
 'STN',
 'TSE',
 'PNQ',
 'FVQ',
 'PAW',
 'QIV',
 'LWA',
 'AAY',
 'TVI',
 'VVT',
 'SVV',
 'GNV',
 'VVM',
 'WII',
 'LAH',
 'KRM',
 'RTV',
 'TNY',
 'FLV',
 'NLA',
 'FAE',
 'ASM',
 'AAF',
 'NTV',
 'VNF',
 'TYA',
 'VHN',
 'EWY',
 'YGL',
 'FYC',
 'KFH',
 'NFF',
 'PIA',
 'AVF',
 'ASI',
 'YSM',
 'TAV',
 'AFD',
 'RYM',
 'AII',
 'HPL',
 'QPR',
 'LSA',
 'TAT',
 'KVV',
 'ICV',
 'IWV',
 'LAL',
 'LLA',
 'FPQ',
 'GYY',
 'STT',
 'ETM',
 'PSR',
 'VVC',
 'MIE',
 'WPE',
 'HPN',
 'KIY',
 'EKV',
 'YHI',
 'CVT',
 'VLI',
 'YFL',
 'PLL',
 'VIG',
 'YAY',
 'TVV',
 'GIT',
 'LWA',
 'SEI',
 'PGD',
 'SSD',
 'RYH',
 'EQV',
 'SAK',
 'RKV',
 'VKM',
 'MIV',
 'VVC',
 'TFA',
 'ICW',
 'LPF',
 'HIF',
 'FLL',
 'PYI',
 'NPD',
 'LYL',
 'KKF',
 'IQQ',
 'VYL',
 'AIM',
 'WLA',
 'MSS',
 'TMY',
 'NPI',
 'IYC',
 'CLN',
 'DRF',
 'RLG',
 'FKH',
 'AFR',
 'CCP',
 'FIS',
 'AGD',
 'YEG',
 'LEM',
 'KST',
 'RYL',
 'QTQ',
 'GSV',
 'YKV',
 'SRL',
 'ETT',
 'IST',
 'VVG',
 'AHE',
 'EEP',
 'EDG',
 'PKA',
 'TPS',
 'SLD',
 'LTS',
 'NCS',
 'SRS',
 'DSK',
 'TMT',
 'ESF',
 'SFS',
 'SNV']

In [26]:
import gensim
from gensim.models import Word2Vec

D:\ProgramData\Anaconda3\lib\site-packages\gensim\utils.py:1197: UserWarning: detected Windows; aliasing chunkize to chunkize_serial
  warnings.warn("detected Windows; aliasing chunkize to chunkize_serial")

In [27]:
n=256
model = Word2Vec(texts,size=n,window=8,min_count=1,negative=3,sg=1,sample=0.001,hs=1,workers=4)

In [28]:
#可见 词向量的行数,就是word的唯一值
model.wv.vectors.shape

(8803, 256)

In [29]:
model.wv.vectors

array([[ 3.65952253e-01,  7.16317967e-02,  8.55588391e-02, ...,
        -1.87115759e-01, -2.33210415e-01,  1.11701116e-01],
       [ 2.30911493e-01, -7.11115524e-02,  1.49275800e-02, ...,
         1.96804628e-02,  1.28439248e-01,  1.05284669e-01],
       [ 7.87543431e-02,  1.75144434e-01,  1.97613001e-01, ...,
         2.69500371e-02,  1.98811982e-02, -1.06077485e-01],
       ...,
       [ 3.26771056e-04, -5.08242138e-02, -1.02131162e-02, ...,
         6.08994253e-02,  3.82512845e-02, -1.05212498e-02],
       [ 1.91394556e-02, -3.90427411e-02,  1.49004804e-02, ...,
         2.70315669e-02,  1.35936877e-02,  1.02060605e-02],
       [ 2.21674498e-02, -1.62621713e-04, -4.39775642e-03, ...,
         4.02327813e-02,  5.84462134e-04,  1.15681151e-02]], dtype=float32)

In [30]:
model['MDN']

D:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning: Call to deprecated `__getitem__` (Method will be removed in 4.0.0, use self.wv.__getitem__() instead).
  """Entry point for launching an IPython kernel.

array([ 1.65892452e-01, -1.98840633e-01, -1.46589905e-01, -2.55646966e-02,
       -3.69021408e-02,  1.45177506e-02,  5.72687946e-02,  2.02128515e-01,
       -6.26375377e-02, -1.06094599e-01,  5.30462265e-02,  1.22112565e-01,
       -1.12543802e-03,  5.02255000e-02,  5.47991507e-02, -2.11990207e-01,
       -1.40287280e-01, -1.04055218e-01, -1.25483930e-01, -1.12661291e-02,
       -1.54535890e-01,  1.17880572e-03,  8.76694769e-02, -4.07518819e-02,
        6.78773224e-02,  1.48065463e-01,  6.46763667e-02, -1.01940259e-01,
        5.03243208e-02, -5.90657210e-03, -8.66738856e-02,  4.71667275e-02,
        1.49667123e-02, -7.50974417e-02, -5.47315478e-02,  3.43426913e-02,
       -1.13865122e-01, -3.03984415e-02, -1.26389623e-01, -1.14749335e-01,
       -1.56538934e-01, -1.75877418e-02,  4.62623723e-02, -1.12551257e-01,
       -1.71333719e-02,  2.32395250e-03, -3.97270247e-02,  2.41390392e-02,
       -1.19275868e-01,  5.65599166e-02,  6.59519015e-03, -1.21446937e-01,
        1.31464928e-01,  9.51144844e-02, -5.05742207e-02, -4.94700074e-02,
       -7.94668943e-02,  3.46598006e-03, -5.77611774e-02, -9.25086662e-02,
        8.16342905e-02,  6.71426505e-02, -1.35633312e-02, -1.33364061e-02,
        7.54023343e-02,  4.33802083e-02, -9.97733176e-02,  5.63326739e-02,
       -2.69699916e-02, -1.11958958e-01,  3.54712754e-02,  5.38887903e-02,
       -8.08702409e-02,  1.62303016e-01,  1.09548658e-01, -9.94247943e-02,
       -9.14242044e-02, -1.82640478e-02,  8.36475641e-02, -1.07296504e-01,
        1.10579833e-01,  3.42993857e-03, -1.60872504e-01,  9.00883041e-03,
       -2.07894281e-01, -9.64842290e-02,  1.39426603e-03,  4.83312458e-02,
       -5.41206682e-03, -9.04310048e-02,  6.68989196e-02,  1.34922192e-01,
       -1.61494166e-01, -1.12595400e-02, -1.70590416e-01, -3.71658951e-02,
        4.33742143e-02,  3.41706239e-02, -9.72186029e-02,  4.77558700e-03,
       -6.89142123e-02, -5.58541827e-02, -1.27550125e-01, -1.32021785e-01,
       -2.89294608e-02, -5.51168397e-02, -1.10786259e-02, -5.33729084e-02,
        7.63605237e-02,  1.51973531e-01, -2.29726449e-01,  2.37461738e-02,
       -7.89953545e-02,  9.97799933e-02,  1.96462840e-01,  2.98937093e-02,
       -5.09256683e-02, -4.70540076e-02, -2.06232835e-02,  3.13670523e-02,
        1.08734436e-01,  6.60727620e-02, -1.19775899e-01,  1.15816489e-01,
       -1.04948752e-01,  6.45428374e-02, -1.07467342e-02, -3.00497040e-02,
       -3.28805596e-02,  9.79098454e-02,  5.93201257e-02, -1.27736196e-01,
       -7.12205768e-02, -2.88546663e-02, -1.83552853e-04,  5.64165004e-02,
       -4.65754271e-02,  1.00846432e-01, -8.27325508e-03,  6.77184027e-04,
        4.67645004e-02,  1.68159492e-02, -3.27930719e-01, -4.37086262e-02,
       -2.53246218e-01, -6.61427900e-02,  1.45302981e-01, -2.58683532e-01,
        2.13503942e-01, -1.46228094e-02,  2.80361861e-01,  4.14174870e-02,
       -1.24882922e-01, -1.50307775e-01,  1.55799463e-01,  3.68444510e-02,
        6.80299327e-02, -9.34622958e-02, -1.11789651e-01,  1.05310276e-01,
       -9.10663754e-02,  1.47323057e-01, -3.50172492e-03, -2.19237775e-01,
       -3.18283178e-02,  6.49554376e-03,  1.98863298e-01,  1.22798540e-01,
        7.51506537e-02, -1.96640119e-01, -4.81592081e-02, -1.86094660e-02,
       -1.26509175e-01,  7.98567832e-02,  9.67039354e-03,  5.78539632e-02,
        7.74000911e-03,  3.96115072e-02, -3.10362841e-04, -8.43415223e-03,
        2.85121165e-02,  2.82810200e-02, -1.48126364e-01,  5.99808283e-02,
        1.09279923e-01,  5.67209758e-02, -3.13402414e-02, -3.27252299e-02,
       -1.03056125e-01,  1.42897042e-02, -5.58875874e-02, -2.63525873e-01,
        8.47774930e-03,  5.03839590e-02,  1.98415928e-02,  1.50117874e-02,
       -2.29190830e-02, -1.13070652e-01, -6.26678020e-02, -1.11063518e-01,
        3.47230025e-02,  2.29475603e-01,  1.04153618e-01,  6.15202298e-05,
        1.21354118e-01, -1.84363157e-01, -3.85711826e-02,  6.03932980e-03,
        6.55465433e-03, -6.05542026e-03,  2.90457249e-01,  1.42337084e-01,
        1.43574759e-01, -3.42415154e-01, -1.25355303e-01,  1.45920917e-01,
        1.35777876e-01, -7.67373368e-02, -8.38922709e-02, -8.67814720e-02,
        1.43047169e-01, -4.94255945e-02,  5.52211655e-03,  1.68370120e-02,
       -1.47006109e-01,  9.16938931e-02,  6.13673665e-02, -1.40924349e-01,
       -1.42857641e-01, -3.34162861e-02, -1.49657294e-01,  7.16823339e-02,
        7.68617839e-02, -2.27821827e-01, -1.27906445e-02,  8.52624029e-02,
       -1.08432353e-01, -1.58670589e-01, -2.40953654e-01,  5.36766164e-02,
       -2.01579127e-02, -6.13226667e-02,  7.32877851e-02, -4.09568474e-02,
        1.29405567e-02,  1.40226454e-01,  6.45821244e-02, -1.03501737e-01,
        7.71946907e-02, -3.92954722e-02, -3.91807668e-02, -3.04240584e-02,
       -1.79820046e-01,  7.01071247e-02,  3.46532799e-02, -3.58469561e-02],
      dtype=float32)

In [31]:
vectors=pd.DataFrame([model[word] for word in model.wv.vocab])
vectors['Word']=list(model.wv.vocab)
vectors.columns=['vec_{}'.format(i) for i in range(n)]+['Word']

D:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning: Call to deprecated `__getitem__` (Method will be removed in 4.0.0, use self.wv.__getitem__() instead).
  """Entry point for launching an IPython kernel.

In [32]:
wide_vec=pd.DataFrame()
result1=[]
aa=list(protein_concat.Protein_ID)
for i in range(len(texts)):
    result2=[]
    for w in range(len(texts[i])):
        result2.append(aa[i])
    result1.extend(result2)
wide_vec['Id']=result1

In [33]:
wide_vec.shape

(387090, 1)

In [34]:
type(wide_vec)

pandas.core.frame.DataFrame

In [35]:
wide_vec.head()

   Id
0   0
1   0
2   0
3   0
4   0

In [36]:
len(wide_vec.Id.unique())

2067

In [37]:
wide_vec2=wide_vec.copy()

In [38]:
result1=[]
for i in range(len(texts)):
    result2=[]
    for w in range(len(texts[i])):
        result2.append(texts[i][w])
    result1.extend(result2)
wide_vec['Word']=result1

In [39]:
wide_vec.head()

   Id Word
0   0  MDN
1   0  VLP
2   0  VDS
3   0  DLS
4   0  PNI

In [40]:
#与词向量行数一致
len(wide_vec.Word.unique())

8803

In [41]:
del result1,result2

In [42]:
wide_vec=wide_vec.merge(vectors,on='Word',how='left')
wide_vec=wide_vec.drop('Word',axis=1)

In [43]:
wide_vec.head()

,Id,vec_0,vec_1,vec_2,vec_3,vec_4,vec_5,vec_6,vec_7,vec_8,...,vec_246,vec_247,vec_248,vec_249,vec_250,vec_251,vec_252,vec_253,vec_254,vec_255
0,0,0.165892,-0.198841,-0.146590,-0.025565,-0.036902,0.014518,0.057269,0.202129,-0.062638,...,0.064582,-0.103502,0.077195,-0.039295,-0.039181,-0.030424,-0.179820,0.070107,0.034653,-0.035847
1,0,0.216524,-0.021904,0.113073,0.182758,-0.017972,0.202658,0.068755,-0.008229,-0.160282,...,0.075441,0.075273,0.168251,-0.011734,-0.070712,-0.106004,-0.222448,0.039425,-0.172395,-0.203844
2,0,-0.130096,-0.183004,-0.038316,0.088793,-0.091540,-0.020458,-0.108753,0.205223,-0.050532,...,0.023876,0.010059,0.021734,0.126090,-0.208914,-0.355508,-0.081433,0.027365,-0.102042,0.197726
3,0,-0.171477,-0.201813,-0.089217,0.179667,-0.260692,-0.123942,-0.052205,0.324675,-0.036493,...,-0.027019,-0.000507,-0.052528,-0.151330,-0.036049,-0.179737,-0.104740,0.233735,0.149089,-0.139614
4,0,-0.015828,-0.199001,-0.146154,0.192871,0.109921,0.156451,-0.173668,0.259750,-0.068312,...,-0.064958,-0.031431,-0.121084,-0.101432,-0.206438,-0.105725,-0.269471,0.338050,0.195657,-0.034009

In [44]:
wide_vec.rename(columns={'Id':'Protein_ID'},inplace=True)

In [45]:
wide_vec.head()

,Protein_ID,vec_0,vec_1,vec_2,vec_3,vec_4,vec_5,vec_6,vec_7,vec_8,...,vec_246,vec_247,vec_248,vec_249,vec_250,vec_251,vec_252,vec_253,vec_254,vec_255
0,0,0.165892,-0.198841,-0.146590,-0.025565,-0.036902,0.014518,0.057269,0.202129,-0.062638,...,0.064582,-0.103502,0.077195,-0.039295,-0.039181,-0.030424,-0.179820,0.070107,0.034653,-0.035847
1,0,0.216524,-0.021904,0.113073,0.182758,-0.017972,0.202658,0.068755,-0.008229,-0.160282,...,0.075441,0.075273,0.168251,-0.011734,-0.070712,-0.106004,-0.222448,0.039425,-0.172395,-0.203844
2,0,-0.130096,-0.183004,-0.038316,0.088793,-0.091540,-0.020458,-0.108753,0.205223,-0.050532,...,0.023876,0.010059,0.021734,0.126090,-0.208914,-0.355508,-0.081433,0.027365,-0.102042,0.197726
3,0,-0.171477,-0.201813,-0.089217,0.179667,-0.260692,-0.123942,-0.052205,0.324675,-0.036493,...,-0.027019,-0.000507,-0.052528,-0.151330,-0.036049,-0.179737,-0.104740,0.233735,0.149089,-0.139614
4,0,-0.015828,-0.199001,-0.146154,0.192871,0.109921,0.156451,-0.173668,0.259750,-0.068312,...,-0.064958,-0.031431,-0.121084,-0.101432,-0.206438,-0.105725,-0.269471,0.338050,0.195657,-0.034009

In [46]:
del vectors

In [47]:
name=['vec_{}'.format(i) for i in range(0,n)]

In [48]:
feat=pd.DataFrame(wide_vec.groupby(['Protein_ID']).agg('mean')).reset_index()

In [49]:
feat.head()

,Protein_ID,vec_0,vec_1,vec_2,vec_3,vec_4,vec_5,vec_6,vec_7,vec_8,...,vec_246,vec_247,vec_248,vec_249,vec_250,vec_251,vec_252,vec_253,vec_254,vec_255
0,0,0.063770,-0.069222,-0.005541,0.041101,-0.055658,0.002112,-0.036762,0.131519,-0.010692,...,-0.009266,-0.037162,0.026600,-0.024661,-0.107232,-0.090343,-0.112654,0.085005,0.082273,0.011850
1,1,0.063498,-0.043500,0.022719,0.048217,-0.060850,0.040993,-0.036368,0.116129,-0.037141,...,0.036341,-0.020716,-0.000692,-0.003877,-0.100795,-0.092195,-0.094676,0.023450,0.002280,-0.001356
2,2,-0.010676,-0.067267,-0.020140,0.009848,-0.037525,-0.049942,-0.010702,0.108887,-0.016661,...,0.048407,-0.022572,-0.004917,-0.008013,-0.071234,-0.098609,-0.116958,0.068115,0.069021,0.006348
3,3,0.048176,-0.060012,0.015564,0.006513,-0.048902,-0.031119,-0.048740,0.097144,-0.000102,...,0.006138,0.009363,-0.001799,-0.007418,-0.065343,-0.100410,-0.168827,0.096740,0.079429,0.020216
4,4,0.021429,-0.048292,0.005486,0.081369,-0.101075,-0.000623,-0.019710,0.193462,0.021891,...,0.009086,0.010491,0.009123,-0.001904,-0.080919,-0.135778,-0.055714,0.088678,0.096855,-0.017860

In [50]:
feat.columns=['Protein_ID']+['mean_ci_{}'.format(i) for i in range(0,n)]
feat.head()

,Protein_ID,mean_ci_0,mean_ci_1,mean_ci_2,mean_ci_3,mean_ci_4,mean_ci_5,mean_ci_6,mean_ci_7,mean_ci_8,...,mean_ci_246,mean_ci_247,mean_ci_248,mean_ci_249,mean_ci_250,mean_ci_251,mean_ci_252,mean_ci_253,mean_ci_254,mean_ci_255
0,0,0.063770,-0.069222,-0.005541,0.041101,-0.055658,0.002112,-0.036762,0.131519,-0.010692,...,-0.009266,-0.037162,0.026600,-0.024661,-0.107232,-0.090343,-0.112654,0.085005,0.082273,0.011850
1,1,0.063498,-0.043500,0.022719,0.048217,-0.060850,0.040993,-0.036368,0.116129,-0.037141,...,0.036341,-0.020716,-0.000692,-0.003877,-0.100795,-0.092195,-0.094676,0.023450,0.002280,-0.001356
2,2,-0.010676,-0.067267,-0.020140,0.009848,-0.037525,-0.049942,-0.010702,0.108887,-0.016661,...,0.048407,-0.022572,-0.004917,-0.008013,-0.071234,-0.098609,-0.116958,0.068115,0.069021,0.006348
3,3,0.048176,-0.060012,0.015564,0.006513,-0.048902,-0.031119,-0.048740,0.097144,-0.000102,...,0.006138,0.009363,-0.001799,-0.007418,-0.065343,-0.100410,-0.168827,0.096740,0.079429,0.020216
4,4,0.021429,-0.048292,0.005486,0.081369,-0.101075,-0.000623,-0.019710,0.193462,0.021891,...,0.009086,0.010491,0.009123,-0.001904,-0.080919,-0.135778,-0.055714,0.088678,0.096855,-0.017860

In [51]:
data.head()

,Protein_ID,Molecule_ID,Ki,Fingerprint_0,Fingerprint_1,Fingerprint_2,Fingerprint_3,Fingerprint_4,Fingerprint_5,Fingerprint_6,...,Fingerprint_157,Fingerprint_158,Fingerprint_159,Fingerprint_160,Fingerprint_161,Fingerprint_162,Fingerprint_163,Fingerprint_164,Fingerprint_165,Fingerprint_166
0,0,0,8.309804,1,0,0,1,0,1,0,...,1,0,0,0,0,1,0,0,1,1
1,1,1,10.292430,1,1,0,1,0,1,0,...,1,0,0,0,0,0,0,0,0,1
2,2,1,6.778586,1,1,0,1,0,1,0,...,1,0,0,0,0,0,0,0,0,1
3,1,2,10.769551,1,1,0,1,0,1,0,...,1,0,0,0,0,1,0,0,0,1
4,2,2,6.170568,1,1,0,1,0,1,0,...,1,0,0,0,0,1,0,0,0,1

In [52]:
feat.head()

,Protein_ID,mean_ci_0,mean_ci_1,mean_ci_2,mean_ci_3,mean_ci_4,mean_ci_5,mean_ci_6,mean_ci_7,mean_ci_8,...,mean_ci_246,mean_ci_247,mean_ci_248,mean_ci_249,mean_ci_250,mean_ci_251,mean_ci_252,mean_ci_253,mean_ci_254,mean_ci_255
0,0,0.063770,-0.069222,-0.005541,0.041101,-0.055658,0.002112,-0.036762,0.131519,-0.010692,...,-0.009266,-0.037162,0.026600,-0.024661,-0.107232,-0.090343,-0.112654,0.085005,0.082273,0.011850
1,1,0.063498,-0.043500,0.022719,0.048217,-0.060850,0.040993,-0.036368,0.116129,-0.037141,...,0.036341,-0.020716,-0.000692,-0.003877,-0.100795,-0.092195,-0.094676,0.023450,0.002280,-0.001356
2,2,-0.010676,-0.067267,-0.020140,0.009848,-0.037525,-0.049942,-0.010702,0.108887,-0.016661,...,0.048407,-0.022572,-0.004917,-0.008013,-0.071234,-0.098609,-0.116958,0.068115,0.069021,0.006348
3,3,0.048176,-0.060012,0.015564,0.006513,-0.048902,-0.031119,-0.048740,0.097144,-0.000102,...,0.006138,0.009363,-0.001799,-0.007418,-0.065343,-0.100410,-0.168827,0.096740,0.079429,0.020216
4,4,0.021429,-0.048292,0.005486,0.081369,-0.101075,-0.000623,-0.019710,0.193462,0.021891,...,0.009086,0.010491,0.009123,-0.001904,-0.080919,-0.135778,-0.055714,0.088678,0.096855,-0.017860

In [53]:
data=data.merge(feat,on='Protein_ID',how='left')

In [54]:
data.head()

,Protein_ID,Molecule_ID,Ki,Fingerprint_0,Fingerprint_1,Fingerprint_2,Fingerprint_3,Fingerprint_4,Fingerprint_5,Fingerprint_6,...,mean_ci_246,mean_ci_247,mean_ci_248,mean_ci_249,mean_ci_250,mean_ci_251,mean_ci_252,mean_ci_253,mean_ci_254,mean_ci_255
0,0,0,8.309804,1,0,0,1,0,1,0,...,-0.009266,-0.037162,0.026600,-0.024661,-0.107232,-0.090343,-0.112654,0.085005,0.082273,0.011850
1,1,1,10.292430,1,1,0,1,0,1,0,...,0.036341,-0.020716,-0.000692,-0.003877,-0.100795,-0.092195,-0.094676,0.023450,0.002280,-0.001356
2,2,1,6.778586,1,1,0,1,0,1,0,...,0.048407,-0.022572,-0.004917,-0.008013,-0.071234,-0.098609,-0.116958,0.068115,0.069021,0.006348
3,1,2,10.769551,1,1,0,1,0,1,0,...,0.036341,-0.020716,-0.000692,-0.003877,-0.100795,-0.092195,-0.094676,0.023450,0.002280,-0.001356
4,2,2,6.170568,1,1,0,1,0,1,0,...,0.048407,-0.022572,-0.004917,-0.008013,-0.071234,-0.098609,-0.116958,0.068115,0.069021,0.006348

In [55]:
data.head()

,Protein_ID,Molecule_ID,Ki,Fingerprint_0,Fingerprint_1,Fingerprint_2,Fingerprint_3,Fingerprint_4,Fingerprint_5,Fingerprint_6,...,mean_ci_246,mean_ci_247,mean_ci_248,mean_ci_249,mean_ci_250,mean_ci_251,mean_ci_252,mean_ci_253,mean_ci_254,mean_ci_255
0,0,0,8.309804,1,0,0,1,0,1,0,...,-0.009266,-0.037162,0.026600,-0.024661,-0.107232,-0.090343,-0.112654,0.085005,0.082273,0.011850
1,1,1,10.292430,1,1,0,1,0,1,0,...,0.036341,-0.020716,-0.000692,-0.003877,-0.100795,-0.092195,-0.094676,0.023450,0.002280,-0.001356
2,2,1,6.778586,1,1,0,1,0,1,0,...,0.048407,-0.022572,-0.004917,-0.008013,-0.071234,-0.098609,-0.116958,0.068115,0.069021,0.006348
3,1,2,10.769551,1,1,0,1,0,1,0,...,0.036341,-0.020716,-0.000692,-0.003877,-0.100795,-0.092195,-0.094676,0.023450,0.002280,-0.001356
4,2,2,6.170568,1,1,0,1,0,1,0,...,0.048407,-0.022572,-0.004917,-0.008013,-0.071234,-0.098609,-0.116958,0.068115,0.069021,0.006348

In [56]:
import lightgbm as lgb

In [57]:
train_feat=data[data['Ki'] > -11].fillna(0)
testt_feat=data[data['Ki']<=-11].fillna(0)

In [58]:
testt_feat.head()

,Protein_ID,Molecule_ID,Ki,Fingerprint_0,Fingerprint_1,Fingerprint_2,Fingerprint_3,Fingerprint_4,Fingerprint_5,Fingerprint_6,...,mean_ci_246,mean_ci_247,mean_ci_248,mean_ci_249,mean_ci_250,mean_ci_251,mean_ci_252,mean_ci_253,mean_ci_254,mean_ci_255
165084,6,37,-11.0,1,1,0,1,0,1,0,...,0.009044,-0.0051,0.012283,-0.030068,-0.056705,-0.124794,-0.166617,0.084645,0.084272,0.002057
165085,6,36,-11.0,1,1,0,1,0,1,0,...,0.009044,-0.0051,0.012283,-0.030068,-0.056705,-0.124794,-0.166617,0.084645,0.084272,0.002057
165086,6,38,-11.0,1,1,0,1,0,1,0,...,0.009044,-0.0051,0.012283,-0.030068,-0.056705,-0.124794,-0.166617,0.084645,0.084272,0.002057
165087,6,39,-11.0,1,1,0,1,0,1,0,...,0.009044,-0.0051,0.012283,-0.030068,-0.056705,-0.124794,-0.166617,0.084645,0.084272,0.002057
165088,6,228,-11.0,1,1,1,1,0,1,1,...,0.009044,-0.0051,0.012283,-0.030068,-0.056705,-0.124794,-0.166617,0.084645,0.084272,0.002057

In [59]:
label_x=train_feat['Ki']
label_y=testt_feat['Ki']

In [60]:
train_feat.iloc[-5:]

,Protein_ID,Molecule_ID,Ki,Fingerprint_0,Fingerprint_1,Fingerprint_2,Fingerprint_3,Fingerprint_4,Fingerprint_5,Fingerprint_6,...,mean_ci_246,mean_ci_247,mean_ci_248,mean_ci_249,mean_ci_250,mean_ci_251,mean_ci_252,mean_ci_253,mean_ci_254,mean_ci_255
165079,117,111211,9.259637,1,0,0,1,0,0,1,...,0.069919,0.000757,0.029889,-0.022144,-0.063846,-0.068438,-0.084554,0.082671,0.068816,-0.035079
165080,117,111212,9.721247,1,0,0,1,0,0,1,...,0.069919,0.000757,0.029889,-0.022144,-0.063846,-0.068438,-0.084554,0.082671,0.068816,-0.035079
165081,117,111213,9.508638,1,0,0,1,0,0,1,...,0.069919,0.000757,0.029889,-0.022144,-0.063846,-0.068438,-0.084554,0.082671,0.068816,-0.035079
165082,117,111214,10.040958,1,0,0,1,0,0,1,...,0.069919,0.000757,0.029889,-0.022144,-0.063846,-0.068438,-0.084554,0.082671,0.068816,-0.035079
165083,117,111215,9.744727,1,0,0,1,0,0,1,...,0.069919,0.000757,0.029889,-0.022144,-0.063846,-0.068438,-0.084554,0.082671,0.068816,-0.035079

In [61]:
testt_feat.head()

,Protein_ID,Molecule_ID,Ki,Fingerprint_0,Fingerprint_1,Fingerprint_2,Fingerprint_3,Fingerprint_4,Fingerprint_5,Fingerprint_6,...,mean_ci_246,mean_ci_247,mean_ci_248,mean_ci_249,mean_ci_250,mean_ci_251,mean_ci_252,mean_ci_253,mean_ci_254,mean_ci_255
165084,6,37,-11.0,1,1,0,1,0,1,0,...,0.009044,-0.0051,0.012283,-0.030068,-0.056705,-0.124794,-0.166617,0.084645,0.084272,0.002057
165085,6,36,-11.0,1,1,0,1,0,1,0,...,0.009044,-0.0051,0.012283,-0.030068,-0.056705,-0.124794,-0.166617,0.084645,0.084272,0.002057
165086,6,38,-11.0,1,1,0,1,0,1,0,...,0.009044,-0.0051,0.012283,-0.030068,-0.056705,-0.124794,-0.166617,0.084645,0.084272,0.002057
165087,6,39,-11.0,1,1,0,1,0,1,0,...,0.009044,-0.0051,0.012283,-0.030068,-0.056705,-0.124794,-0.166617,0.084645,0.084272,0.002057
165088,6,228,-11.0,1,1,1,1,0,1,1,...,0.009044,-0.0051,0.012283,-0.030068,-0.056705,-0.124794,-0.166617,0.084645,0.084272,0.002057

In [62]:
label_x.head()

0     8.309804
1    10.292430
2     6.778586
3    10.769551
4     6.170568
Name: Ki, dtype: float64

In [63]:
train_feat = train_feat.drop('Ki',axis=1)
testt_feat = testt_feat.drop('Ki',axis=1)
train_feat = train_feat.drop('Protein_ID',axis=1)
testt_feat = testt_feat.drop('Protein_ID',axis=1)
train_feat = train_feat.drop('Molecule_ID',axis=1)
testt_feat = testt_feat.drop('Molecule_ID',axis=1)

In [64]:
train=lgb.Dataset(train_feat,label=label_x)
test=lgb.Dataset(testt_feat,label=label_y,reference=train)

In [65]:
params = {
    'boosting_type': 'gbdt',
    'objective': 'regression_l2',
    'metric': 'l2',
    #'objective': 'multiclass',
    #'metric': 'multi_error',
    #'num_class':5,
    'min_child_weight': 3,
    'num_leaves': 2 ** 5,
    'lambda_l2': 10,
    'subsample': 0.7,
    'colsample_bytree': 0.7,
    'colsample_bylevel': 0.7,
    'learning_rate': 0.05,
    'tree_method': 'exact',
    'seed': 2017,
    'nthread': 4,
    'silent': True
    }

In [66]:
num_round = 3000
gbm = lgb.train(params, 
                  train, 
                  num_round, 
                  verbose_eval=50,
                  valid_sets=[train,test]
                  )

D:\ProgramData\Anaconda3\lib\site-packages\lightgbm\basic.py:657: UserWarning: silent keyword has been found in `params` and will be ignored. Please use silent argument of the Dataset constructor to pass this parameter.
  'Please use {0} argument of the Dataset constructor to pass this parameter.'.format(key))

[50]	training's l2: 1.71803	valid_1's l2: 342.797
[100]	training's l2: 1.50898	valid_1's l2: 340.821
[150]	training's l2: 1.39264	valid_1's l2: 339.901
[200]	training's l2: 1.31959	valid_1's l2: 339.579
[250]	training's l2: 1.25883	valid_1's l2: 339.332
[300]	training's l2: 1.20942	valid_1's l2: 338.657
[350]	training's l2: 1.16544	valid_1's l2: 338.157
[400]	training's l2: 1.12888	valid_1's l2: 337.874
[450]	training's l2: 1.09524	valid_1's l2: 337.431
[500]	training's l2: 1.06675	valid_1's l2: 337.196
[550]	training's l2: 1.03754	valid_1's l2: 336.971
[600]	training's l2: 1.01359	valid_1's l2: 336.624
[650]	training's l2: 0.990593	valid_1's l2: 336.559
[700]	training's l2: 0.970286	valid_1's l2: 336.458
[750]	training's l2: 0.950389	valid_1's l2: 336.314
[800]	training's l2: 0.932857	valid_1's l2: 336.134
[850]	training's l2: 0.915929	valid_1's l2: 336.083
[900]	training's l2: 0.898995	valid_1's l2: 336.228
[950]	training's l2: 0.883834	valid_1's l2: 336.111
[1000]	training's l2: 0.87029	valid_1's l2: 336.037
[1050]	training's l2: 0.857509	valid_1's l2: 335.922
[1100]	training's l2: 0.844274	valid_1's l2: 335.785
[1150]	training's l2: 0.832567	valid_1's l2: 335.706
[1200]	training's l2: 0.821024	valid_1's l2: 335.538
[1250]	training's l2: 0.810103	valid_1's l2: 335.578
[1300]	training's l2: 0.799714	valid_1's l2: 335.373
[1350]	training's l2: 0.790412	valid_1's l2: 335.326
[1400]	training's l2: 0.781524	valid_1's l2: 335.304
[1450]	training's l2: 0.771868	valid_1's l2: 335.211
[1500]	training's l2: 0.763692	valid_1's l2: 335.148
[1550]	training's l2: 0.755377	valid_1's l2: 335.073
[1600]	training's l2: 0.747318	valid_1's l2: 335.049
[1650]	training's l2: 0.738713	valid_1's l2: 335.045
[1700]	training's l2: 0.731161	valid_1's l2: 334.998
[1750]	training's l2: 0.723722	valid_1's l2: 334.946
[1800]	training's l2: 0.716748	valid_1's l2: 334.852
[1850]	training's l2: 0.709854	valid_1's l2: 334.792
[1900]	training's l2: 0.703511	valid_1's l2: 334.779
[1950]	training's l2: 0.697288	valid_1's l2: 334.799
[2000]	training's l2: 0.690348	valid_1's l2: 334.749
[2050]	training's l2: 0.683412	valid_1's l2: 334.775
[2100]	training's l2: 0.677291	valid_1's l2: 334.686
[2150]	training's l2: 0.671418	valid_1's l2: 334.597
[2200]	training's l2: 0.665832	valid_1's l2: 334.574
[2250]	training's l2: 0.660395	valid_1's l2: 334.572
[2300]	training's l2: 0.654736	valid_1's l2: 334.476
[2350]	training's l2: 0.649588	valid_1's l2: 334.438
[2400]	training's l2: 0.64479	valid_1's l2: 334.407
[2450]	training's l2: 0.639734	valid_1's l2: 334.381
[2500]	training's l2: 0.634995	valid_1's l2: 334.341
[2550]	training's l2: 0.63044	valid_1's l2: 334.336
[2600]	training's l2: 0.625916	valid_1's l2: 334.372
[2650]	training's l2: 0.621276	valid_1's l2: 334.342
[2700]	training's l2: 0.616662	valid_1's l2: 334.345
[2750]	training's l2: 0.612019	valid_1's l2: 334.22
[2800]	training's l2: 0.607707	valid_1's l2: 334.23
[2850]	training's l2: 0.603598	valid_1's l2: 334.166
[2900]	training's l2: 0.599377	valid_1's l2: 334.158
[2950]	training's l2: 0.595721	valid_1's l2: 334.146
[3000]	training's l2: 0.591845	valid_1's l2: 334.14

In [67]:
from sklearn.metrics import mean_squared_error

In [68]:
preds_train= gbm.predict(train_feat)

In [69]:
mse=mean_squared_error(label_x,preds_train)
np.sqrt(mse)

0.7693146608974002

In [70]:
train_feat.head()

,Fingerprint_0,Fingerprint_1,Fingerprint_2,Fingerprint_3,Fingerprint_4,Fingerprint_5,Fingerprint_6,Fingerprint_7,Fingerprint_8,Fingerprint_9,...,mean_ci_246,mean_ci_247,mean_ci_248,mean_ci_249,mean_ci_250,mean_ci_251,mean_ci_252,mean_ci_253,mean_ci_254,mean_ci_255
0,1,0,0,1,0,1,0,1,0,0,...,-0.009266,-0.037162,0.026600,-0.024661,-0.107232,-0.090343,-0.112654,0.085005,0.082273,0.011850
1,1,1,0,1,0,1,0,0,0,0,...,0.036341,-0.020716,-0.000692,-0.003877,-0.100795,-0.092195,-0.094676,0.023450,0.002280,-0.001356
2,1,1,0,1,0,1,0,0,0,0,...,0.048407,-0.022572,-0.004917,-0.008013,-0.071234,-0.098609,-0.116958,0.068115,0.069021,0.006348
3,1,1,0,1,0,1,0,0,0,0,...,0.036341,-0.020716,-0.000692,-0.003877,-0.100795,-0.092195,-0.094676,0.023450,0.002280,-0.001356
4,1,1,0,1,0,1,0,0,0,0,...,0.048407,-0.022572,-0.004917,-0.008013,-0.071234,-0.098609,-0.116958,0.068115,0.069021,0.006348