In [1]:
import numpy as np
import pandas as pd

In [2]:
df_train=pd.read_csv('F:\\study\\ml\\DataSet\\Tap4fun\\tap_fun_train.csv')

In [3]:
df_train.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2288007 entries, 0 to 2288006
Columns: 109 entries, user_id to prediction_pay_price
dtypes: float64(13), int64(95), object(1)
memory usage: 2.0 GB

In [4]:
c_int=df_train.select_dtypes(include=['int64']).apply(pd.to_numeric,downcast='unsigned')
c_float=df_train.select_dtypes(include=['float']).apply(pd.to_numeric,downcast='float')

In [5]:
o_df=pd.concat([c_int,c_float],axis=1)

In [6]:
column_type=dict(o_df.dtypes.copy())

In [7]:
len(column_type)

108

In [8]:
del o_df,c_int,c_float,df_train

In [9]:
data_train=pd.read_csv('F:\\study\\ml\\DataSet\\Tap4fun\\tap_fun_train.csv',
                      dtype=column_type,parse_dates=['register_time'],infer_datetime_format=True)

In [10]:
data_train.head()

,user_id,register_time,wood_add_value,wood_reduce_value,stone_add_value,stone_reduce_value,ivory_add_value,ivory_reduce_value,meat_add_value,meat_reduce_value,...,pvp_battle_count,pvp_lanch_count,pvp_win_count,pve_battle_count,pve_lanch_count,pve_win_count,avg_online_minutes,pay_price,pay_count,prediction_pay_price
0,1,2018-02-02 19:47:15,20125.0,3700.0,0.0,0.0,0.0,0.0,16375.0,2000.0,...,0,0,0,0,0,0,0.333333,0.0,0,0.0
1,1593,2018-01-26 00:01:05,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0.333333,0.0,0,0.0
2,1594,2018-01-26 00:01:58,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,1.166667,0.0,0,0.0
3,1595,2018-01-26 00:02:13,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,3.166667,0.0,0,0.0
4,1596,2018-01-26 00:02:46,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,2.333333,0.0,0,0.0

In [11]:
data_train.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2288007 entries, 0 to 2288006
Columns: 109 entries, user_id to prediction_pay_price
dtypes: datetime64[ns](1), float32(13), uint16(8), uint32(21), uint8(66)
memory usage: 493.1 MB

In [12]:
data_label=data_train['prediction_pay_price']
data_train2=data_train.drop(labels=['user_id','register_time'],axis=1)

In [13]:
data_train2_corr=data_train2.corr()

In [14]:
data_train2_corr['prediction_pay_price'].sort_values(ascending=False)

prediction_pay_price                  1.000000
pay_price                             0.735235
ivory_add_value                       0.658366
stone_add_value                       0.648326
ivory_reduce_value                    0.640995
wood_add_value                        0.639830
general_acceleration_add_value        0.633035
stone_reduce_value                    0.631446
training_acceleration_add_value       0.621370
wood_reduce_value                     0.619171
meat_add_value                        0.608308
general_acceleration_reduce_value     0.605581
meat_reduce_value                     0.593053
reaserch_acceleration_reduce_value    0.587761
reaserch_acceleration_add_value       0.583552
pay_count                             0.567302
training_acceleration_reduce_value    0.559036
sr_troop_defense_level                0.523166
building_acceleration_reduce_value    0.519570
building_acceleration_add_value       0.517610
sr_cavalry_def_level                  0.503747
sr_cavalry_hp_level                   0.487260
sr_shaman_tier_3_level                0.462323
sr_cavalry_tier_3_level               0.459145
sr_infantry_tier_3_level              0.455992
sr_infantry_hp_level                  0.454342
sr_infantry_def_level                 0.450924
sr_shaman_def_level                   0.439525
sr_shaman_hp_level                    0.426444
sr_cavalry_tier_4_level               0.408088
                                        ...
wound_cavalry_reduce_value            0.107843
bd_hero_gacha_level                   0.107437
sr_rss_a_prod_levell                  0.107285
sr_training_speed_level               0.106774
wound_infantry_add_value              0.106556
bd_guest_cavern_level                 0.106526
sr_shaman_tier_2_level                0.105172
sr_rss_d_gather_level                 0.104419
wound_cavalry_add_value               0.104206
sr_rss_d_prod_level                   0.099210
bd_barrack_level                      0.098531
sr_cavalry_tier_2_level               0.098187
sr_infantry_tier_2_level              0.096622
bd_healing_spring_level               0.096317
sr_outpost_durability_level           0.095664
bd_outpost_portal_level               0.092291
bd_warehouse_level                    0.090102
bd_watchtower_level                   0.088788
sr_rss_help_bonus_level               0.088632
bd_stronghold_level                   0.086932
bd_healing_lodge_level                0.085154
bd_training_hut_level                 0.083601
bd_market_level                       0.079443
shaman_add_value                      0.074541
sr_scout_level                        0.073587
bd_magic_coin_tree_level              0.072879
sr_outpost_tier_2_level               0.069711
shaman_reduce_value                   0.040874
wound_shaman_add_value                0.022942
wound_shaman_reduce_value             0.022114
Name: prediction_pay_price, Length: 107, dtype: float64

In [15]:
a=data_train2_corr['prediction_pay_price'].sort_values(ascending=False)

In [16]:
for i,j in a.iteritems():
    print('{:<40}{:>30}'.format(i,j))

prediction_pay_price                                               1.0
pay_price                                           0.7352345382399619
ivory_add_value                                     0.6583656695235273
stone_add_value                                     0.6483261111760854
ivory_reduce_value                                  0.6409948024948064
wood_add_value                                      0.6398298985761336
general_acceleration_add_value                      0.6330352131347887
stone_reduce_value                                  0.6314455221296271
training_acceleration_add_value                     0.6213704636728808
wood_reduce_value                                   0.6191708518704215
meat_add_value                                      0.6083078620995795
general_acceleration_reduce_value                   0.6055814242018155
meat_reduce_value                                     0.59305336803886
reaserch_acceleration_reduce_value                  0.5877607561517124
reaserch_acceleration_add_value                     0.5835516992438455
pay_count                                            0.567302105092467
training_acceleration_reduce_value                  0.5590361801452588
sr_troop_defense_level                              0.5231657285568911
building_acceleration_reduce_value                  0.5195695787776052
building_acceleration_add_value                     0.5176101138381335
sr_cavalry_def_level                                 0.503746678583472
sr_cavalry_hp_level                                0.48726043257570417
sr_shaman_tier_3_level                             0.46232344369006767
sr_cavalry_tier_3_level                            0.45914527274608924
sr_infantry_tier_3_level                            0.4559922554491419
sr_infantry_hp_level                                0.4543421990982841
sr_infantry_def_level                              0.45092376355380387
sr_shaman_def_level                                 0.4395250084903692
sr_shaman_hp_level                                   0.426443881279269
sr_cavalry_tier_4_level                             0.4080879419876959
sr_gathering_march_speed_level                     0.38924963438507465
sr_pvp_march_speed_level                           0.36412128134711363
sr_alliance_march_speed_level                      0.34583288768041986
cavalry_add_value                                  0.33849554015092587
sr_outpost_tier_3_level                            0.32430705397987186
magic_add_value                                    0.32409507660526954
sr_shaman_atk_level                                 0.3147317022574248
sr_infantry_tier_4_level                            0.3094176760813943
magic_reduce_value                                  0.3048661148650765
infantry_add_value                                 0.29664555203676646
sr_cavalry_atk_level                                0.2952425776714466
sr_infantry_atk_level                              0.29052183404740717
treatment_acceleraion_add_value                     0.2675349179208611
sr_shaman_tier_4_level                              0.2630858300998408
sr_rss_c_prod_level                                0.23231214016939702
sr_rss_e_gather_level                              0.21984813815665358
sr_outpost_tier_4_level                             0.2012588319589059
sr_healing_space_level                             0.18520752308533567
sr_troop_attack_level                               0.1830155532207022
cavalry_reduce_value                                0.1806351435832711
sr_rss_c_gather_level                              0.18016225694193141
infantry_reduce_value                               0.1754933203222207
avg_online_minutes                                 0.17354193175856203
sr_rss_b_prod_level                                0.17181072432555466
sr_healing_speed_level                              0.1652326833471779
sr_guest_troop_capacity_level                      0.16313399163910258
sr_rss_e_prod_level                                0.15920090235831919
sr_gathering_hunter_buff_level                     0.15454654808933832
sr_march_size_level                                0.15265926254498652
bd_hall_of_war_level                                0.1512178004811892
sr_rss_b_gather_level                              0.15042901060241184
sr_troop_load_level                                0.13054524940000467
pve_battle_count                                   0.12775970564660283
pve_lanch_count                                    0.12721948218278073
pve_win_count                                       0.1264200818914823
pvp_win_count                                       0.1261542901510046
bd_hero_pve_level                                  0.12329757936371952
sr_rss_a_gather_level                               0.1205224783138952
sr_construction_speed_level                         0.1177325748809239
treatment_acceleration_reduce_value                 0.1171993271295897
sr_hide_storage_level                              0.11293801028120418
pvp_lanch_count                                    0.11235809121580541
bd_hero_strengthen_level                           0.11108049233087712
sr_troop_consumption_level                         0.11010273751490549
pvp_battle_count                                   0.10995409211333311
wound_infantry_reduce_value                        0.10841185968299447
bd_dolmen_level                                    0.10805394649213554
wound_cavalry_reduce_value                         0.10784292302384478
bd_hero_gacha_level                                0.10743747170895808
sr_rss_a_prod_levell                               0.10728547770142129
sr_training_speed_level                            0.10677371712718993
wound_infantry_add_value                           0.10655556535021544
bd_guest_cavern_level                              0.10652599918778015
sr_shaman_tier_2_level                             0.10517202722691009
sr_rss_d_gather_level                              0.10441933365260807
wound_cavalry_add_value                            0.10420646630605301
sr_rss_d_prod_level                                0.09920956299349432
bd_barrack_level                                   0.09853051642387475
sr_cavalry_tier_2_level                            0.09818698628490073
sr_infantry_tier_2_level                           0.09662162588688888
bd_healing_spring_level                            0.09631735925425454
sr_outpost_durability_level                        0.09566401447775928
bd_outpost_portal_level                            0.09229061077370883
bd_warehouse_level                                 0.09010173088697669
bd_watchtower_level                                0.08878764173867382
sr_rss_help_bonus_level                            0.08863155320255435
bd_stronghold_level                                 0.0869320564884619
bd_healing_lodge_level                             0.08515379278557211
bd_training_hut_level                              0.08360121009414659
bd_market_level                                    0.07944328293269842
shaman_add_value                                   0.07454130350851226
sr_scout_level                                     0.07358661961769199
bd_magic_coin_tree_level                           0.07287918497033151
sr_outpost_tier_2_level                              0.069710692300086
shaman_reduce_value                                0.04087427083107719
wound_shaman_add_value                             0.02294193632859415
wound_shaman_reduce_value                         0.022113586338273258

In [17]:
from matplotlib import pyplot as plt
plt.style.use(style='ggplot')
plt.rcParams['figure.figsize']=(10,6)
%matplotlib inline

In [18]:
data_train['register_time'].apply(lambda x:x.month)
data_train2['reg_month']=data_train['register_time'].apply(lambda x:x.month)
data_train2['reg_day']=data_train['register_time'].apply(lambda x:x.day)
data_train2['reg_hour']=data_train['register_time'].apply(lambda x:x.month)
data_train2['reg_weekday']=data_train['register_time'].apply(lambda x:x.weekday())

In [19]:

data_train2.head()

,wood_add_value,wood_reduce_value,stone_add_value,stone_reduce_value,ivory_add_value,ivory_reduce_value,meat_add_value,meat_reduce_value,magic_add_value,magic_reduce_value,...,pve_lanch_count,pve_win_count,avg_online_minutes,pay_price,pay_count,prediction_pay_price,reg_month,reg_day,reg_hour,reg_weekday
0,20125.0,3700.0,0.0,0.0,0.0,0.0,16375.0,2000.0,0.0,0.0,...,0,0,0.333333,0.0,0,0.0,2,2,2,4
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0.333333,0.0,0,0.0,1,26,1,4
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,1.166667,0.0,0,0.0,1,26,1,4
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,3.166667,0.0,0,0.0,1,26,1,4
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,2.333333,0.0,0,0.0,1,26,1,4

In [20]:
data_train2['reg_month_day']=data_train2['reg_month'].apply(str)+'-'  \
+data_train2['reg_day'].apply(lambda x: str('0')+str(x) if x<10 else str(x))

In [21]:
data_train2['reg_month_day'].head(20)

0     2-02
1     1-26
2     1-26
3     1-26
4     1-26
5     1-26
6     1-26
7     1-26
8     1-26
9     1-26
10    1-26
11    1-26
12    1-26
13    1-26
14    1-26
15    1-26
16    1-26
17    1-26
18    1-26
19    1-26
Name: reg_month_day, dtype: object

In [22]:
data_train2.head()

,wood_add_value,wood_reduce_value,stone_add_value,stone_reduce_value,ivory_add_value,ivory_reduce_value,meat_add_value,meat_reduce_value,magic_add_value,magic_reduce_value,...,pve_win_count,avg_online_minutes,pay_price,pay_count,prediction_pay_price,reg_month,reg_day,reg_hour,reg_weekday,reg_month_day
0,20125.0,3700.0,0.0,0.0,0.0,0.0,16375.0,2000.0,0.0,0.0,...,0,0.333333,0.0,0,0.0,2,2,2,4,2-02
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0.333333,0.0,0,0.0,1,26,1,4,1-26
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,1.166667,0.0,0,0.0,1,26,1,4,1-26
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,3.166667,0.0,0,0.0,1,26,1,4,1-26
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,2.333333,0.0,0,0.0,1,26,1,4,1-26

In [23]:
data_train2.head()

,wood_add_value,wood_reduce_value,stone_add_value,stone_reduce_value,ivory_add_value,ivory_reduce_value,meat_add_value,meat_reduce_value,magic_add_value,magic_reduce_value,...,pve_win_count,avg_online_minutes,pay_price,pay_count,prediction_pay_price,reg_month,reg_day,reg_hour,reg_weekday,reg_month_day
0,20125.0,3700.0,0.0,0.0,0.0,0.0,16375.0,2000.0,0.0,0.0,...,0,0.333333,0.0,0,0.0,2,2,2,4,2-02
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0.333333,0.0,0,0.0,1,26,1,4,1-26
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,1.166667,0.0,0,0.0,1,26,1,4,1-26
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,3.166667,0.0,0,0.0,1,26,1,4,1-26
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,2.333333,0.0,0,0.0,1,26,1,4,1-26

In [24]:
data_train2[['reg_month_day','wood_add_value']].groupby(by=['reg_month_day']).agg('count')

               wood_add_value
reg_month_day
1-26                    70250
1-27                    70417
1-28                    79227
1-29                    63803
1-30                    50201
1-31                    56522
2-01                    83245
2-02                    60173
2-03                    51659
2-04                    60421
2-05                    60998
2-06                    57203
2-07                    71576
2-08                    72402
2-09                    50143
2-10                    53521
2-11                    54014
2-12                    52231
2-13                    50638
2-14                    54419
2-15                    78707
2-16                    56355
2-17                    44477
2-18                    59447
2-19                   117311
2-20                    92860
2-21                    43720
2-22                    42110
2-23                    44635
2-24                    45648
2-25                    49835
2-26                    42647
2-27                    39140
2-28                    42928
3-01                    36226
3-02                    42775
3-03                    48970
3-04                    50989
3-05                    44726
3-06                    41438

In [25]:
df_md_count=data_train2[['reg_month_day','wood_add_value']].groupby(by=['reg_month_day'],as_index=False).agg('count')

In [26]:
df_md_count.columns

Index(['reg_month_day', 'wood_add_value'], dtype='object')

In [27]:
# x=df_md_count.reg_month_day
# y=df_md_count.wood_add_value
# plt.xticks(fontsize=20)
# plt.plot(x,y)

In [28]:
df_d_count=data_train2[['reg_day','wood_add_value']].groupby(by='reg_day',as_index=False).agg('count')

In [29]:
# x=df_d_count.reg_day
# y=df_d_count.wood_add_value
# plt.scatter(x,y)

In [30]:
# data=data_train
# data['register_time']=data_train.register_time.astype('str')
# data['register_time_month']=data_train.register_time.str[:7]
# data['register_time_day']=data_train.register_time.str[6:10]

# # del data['register_time_m']

# data_month_df=pd.DataFrame(data['register_time_month'].value_counts()).sort_index()
# data_day_df = pd.DataFrame(data['register_time_day'].value_counts()).sort_index()

# from pyecharts import Line,Grid
# from pyecharts import configure

# line1=Line('Players Num by Month')
# line1.add('Player Num',data_month_df.index,data_month_df.register_time_month,mark_line=['averges'],mark_point=['max','min'])
# line2=Line('Players Num by Day')
# line2.add('Player num',data_day_df.index,data_day_df.register_time_day,mark_line=['average'],mark_point=['max','min'])
# grid=Grid(width =1000,height=1000)
# grid.add(line1,grid_bottom='60%')
# grid.add(line2,grid_top='60%')
# grid.use_theme('dark')
# grid.render()
# grid


# data_pay_7=data[data['pay_price']>0]

# data_pay_7_day_df = pd.DataFrame(data_pay_7['register_time_day'].value_counts()).sort_index()
# data_pay_7_day_df.rename(columns={'register_time_day':'pay_register_time_day'}, inplace = True)
# data_day_count = pd.concat([data_pay_7_day_df, data_day_df], axis=1)
# data_day_count['pay_percent'] = data_day_count['pay_register_time_day']/data_day_count['register_time_day']

In [31]:
# from pyecharts import Overlap

# line3 = Line()
# line3.add("注册玩家数量", data_day_count.index, data_day_count['register_time_day'], mark_line=["average"], mark_point=["max", "min"])

# line4 = Line()
# line4.add("7天内付费玩家数量", data_day_count.index, data_day_count['pay_register_time_day'], mark_line=["average"], 
#           mark_point=["max", "min"], yaxis_max=3000)
# overlap=Overlap()
# overlap.add(line3)
# overlap.add(line4,yaxis_index=1,is_add_yaxis=True)
# overlap.render()
# overlap

In [32]:
data_train2[(data_train2['pay_price']>0) & (data_train2['prediction_pay_price']>0)].shape

(41439, 112)

In [33]:
data_train2[(data_train2['pay_price']==0) & (data_train2['prediction_pay_price']>0)].shape

(4549, 112)

In [34]:
data_train2[(data_train2['pay_price']>0) & (data_train2['prediction_pay_price']==0)].shape

(0, 112)

In [35]:
data_train2[(data_train2['pay_price']>0)].shape

(41439, 112)

In [36]:
data_train2[(data_train2['prediction_pay_price']>0)].shape

(45988, 112)

In [52]:
data_train2[data_train2['prediction_pay_price']>0]['prediction_pay_price'].describe()

count    45988.000000
mean        89.228508
std        617.739014
min          0.990000
25%          0.990000
50%          3.970000
75%         20.980000
max      32977.808594
Name: prediction_pay_price, dtype: float64

In [54]:
data_pay_7=data_train2[data_train2['pay_price']>0]
data_pay_45=data_train2[data_train2['prediction_pay_price']>0]

In [67]:
data_train2[(data_train2['pay_price']>0) & (data_train2['pay_price'] == data_train2['prediction_pay_price'])] \
[['pay_price','prediction_pay_price','avg_online_minutes']].describe()
#pp> == ppp 只给了7天

          pay_price  prediction_pay_price  avg_online_minutes
count  30130.000000          30130.000000        30130.000000
mean      11.407172             11.407172          100.656929
std       71.140594             71.140594          113.973495
min        0.990000              0.990000            0.000000
25%        0.990000              0.990000           23.333332
50%        1.980000              1.980000           61.166668
75%        5.980000              5.980000          137.166672
max     4086.520020           4086.520020         1394.666626

In [68]:
data_train2[(data_train2['pay_price']>0) & (data_train2['pay_price'] < data_train2['prediction_pay_price'])] \
[['pay_price','prediction_pay_price','avg_online_minutes']].describe()
#pp>0 and pp< ppp 只给了7天,45天也付了

          pay_price  prediction_pay_price  avg_online_minutes
count  11309.000000          11309.000000        11309.000000
mean      77.782753            315.976807          245.507996
std      289.611267           1202.829590          180.424377
min        0.990000              1.980000            0.666667
25%        2.980000             16.940001          109.666664
50%       15.970000             48.919998          200.500000
75%       45.939999            163.759995          339.833344
max     7457.950195          32977.808594         1674.666626

In [69]:
data_train2[(data_train2['pay_price']==0) & (data_train2['prediction_pay_price']>0)] \
[['pay_price','prediction_pay_price','avg_online_minutes']].describe()
#pp=0 and ppp>0 前7天未付款,后45天也付钱的

       pay_price  prediction_pay_price  avg_online_minutes
count     4549.0           4549.000000         4549.000000
mean         0.0             40.842228          115.475998
std          0.0            238.763504          128.285599
min          0.0              0.990000            0.000000
25%          0.0              0.990000           22.833332
50%          0.0              5.980000           77.500000
75%          0.0             19.950001          159.166672
max          0.0           6752.970215         1098.833374

In [70]:
data_train2[(data_train2['pay_price']==0) & (data_train2['prediction_pay_price']==0)] \
[['pay_price','prediction_pay_price','avg_online_minutes']].describe()

       pay_price  prediction_pay_price  avg_online_minutes
count  2242019.0             2242019.0        2.242019e+06
mean         0.0                   0.0        7.573942e+00
std          0.0                   0.0        2.734151e+01
min          0.0                   0.0        0.000000e+00
25%          0.0                   0.0        5.000000e-01
50%          0.0                   0.0        1.833333e+00
75%          0.0                   0.0        4.500000e+00
max          0.0                   0.0        2.049667e+03

In [38]:
top50_ppp_index=data_train2[data_train2['prediction_pay_price']>0]['prediction_pay_price'].sort_values(ascending=False).head(50).index

In [39]:
data_train2.iloc[top50_ppp_index][['avg_online_minutes','pay_count','pay_price','prediction_pay_price']]

         avg_online_minutes  pay_count    pay_price  prediction_pay_price
916364           386.000000        105  7457.950195          32977.808594
285403           479.500000         73  4665.270020          30780.560547
1019562          532.333313         49  2231.510010          26598.929688
2142344          124.166664          7   176.929993          25796.019531
1292065          219.333328         23  1596.770020          24900.349609
771084           607.666687         88  5708.120117          24726.509766
1546845          149.000000        104  7429.959961          23489.560547
519548           725.666687         43  2110.570068          22875.029297
1423324          697.333313        102  6253.979980          20261.460938
2161397          313.166656         37  1255.630005          18811.660156
630227           548.666687         43  2223.570068          17697.880859
357542           348.833344         38  1465.619995          17132.179688
1460820          747.333313         57  1767.430054          16120.059570
1799420          373.166656         37  1053.630005          15321.969727
288571           367.833344         58  2677.419922          15080.339844
872856           474.500000         42  2148.580078          14478.139648
170139           937.500000         18   678.820007          14067.700195
2230398          237.666672         11   476.890015          13765.410156
1042345          453.833344         30  2086.699951          12704.309570
478190           182.000000         27  1266.729980          12263.799805
1938044          193.166672          3    51.970001          12253.049805
1718477          554.166687         30  1376.699951          12115.929688
1561800          401.833344         71  3008.290039          12115.759766
1899898          515.000000         65  4288.350098          11931.330078
810609           363.833344         82  5428.180176          11652.269531
428443           307.000000         66  3709.340088          11125.219727
1865874          341.500000         66  4473.339844          11012.440430
278580           106.333336         16   598.840027          10847.540039
692617           373.333344         39  1493.609985          10247.330078
770092           328.833344         14   471.859985           9982.639648
334333           669.666687         41  1908.589966           9735.320312
1161403          368.833344          8    66.919998           9442.519531
381              143.166672         13   406.869995           8982.780273
2237575          427.166656         16   438.839996           8861.540039
359018           390.666656         58  3191.419922           8764.150391
1843824          357.833344         18   256.820007           8632.820312
198569           177.166672         26   881.739990           8392.759766
1993503          530.500000         27  2081.729980           8243.030273
551932           429.333344         57  3246.429932           8155.569824
1190418          462.000000         27  1211.729980           8076.549805
126175           307.833344         22  1536.780029           8046.950195
320836           723.000000         61  2639.389893           7863.740234
827183           459.666656         56  2987.439941           7860.620117
1611244          200.166672         17   237.830002           7737.569824
2193838          509.833344         50  2007.500000           7690.370117
741327           458.000000         60  4060.399902           7671.870117
1807247          204.833328         38  1965.619995           7605.549805
2141464          471.500000         17   956.830017           7594.979980
337800           417.333344         30  1921.699951           7546.049805
1951424          603.500000         49  2688.510010           7502.569824

In [40]:
data_pp_df=data_train2[data_train2['pay_price']>0]

In [41]:
data_pp_df=data_train2[data_train2['prediction_pay_price']>0]

In [42]:
data_pp_df['pay_price'].describe()

count    45988.000000
mean        26.607302
std        157.483032
min          0.000000
25%          0.990000
50%          1.980000
75%         10.980000
max       7457.950195
Name: pay_price, dtype: float64

In [43]:
data_pp_df['prediction_pay_price'].describe()

count    45988.000000
mean        89.228508
std        617.739014
min          0.990000
25%          0.990000
50%          3.970000
75%         20.980000
max      32977.808594
Name: prediction_pay_price, dtype: float64