In [70]:
import pandas as pd
import numpy as np

In [71]:
df_train=pd.read_csv('F:\\study\\ml\\DataSet\\Tap4fun\\tap_fun_train.csv',nrows=5)

In [72]:
df_train.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Columns: 109 entries, user_id to prediction_pay_price
dtypes: float64(13), int64(95), object(1)
memory usage: 4.7 KB

In [73]:
c_int=df_train.select_dtypes(include=['int64']).apply(pd.to_numeric,downcast='unsigned')
c_float=df_train.select_dtypes(include=['float']).apply(pd.to_numeric,downcast='float')

In [74]:
o_df=df_train.copy()

In [75]:
o_df[c_int.columns]=c_int
o_df[c_float.columns]=c_float

In [76]:
dtypes=o_df.dtypes
dtypes_col=dtypes.index
dtypes_type=[i.name for i in dtypes.values]
column_type=dict(zip(dtypes_col,dtypes_type))

In [77]:
#column_type

In [78]:
column_type.pop('register_time')

'object'

In [79]:
data_train=pd.read_csv('F:\\study\\ml\\DataSet\\Tap4fun\\tap_fun_train.csv',
                      dtype=column_type,parse_dates=['register_time'],infer_datetime_format=True)

In [80]:
data_train.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 828934 entries, 0 to 828933
Columns: 108 entries, user_id to pay_count
dtypes: datetime64[ns](1), float32(12), uint16(1), uint8(94)
memory usage: 120.2 MB

In [81]:
train_feat2=data_train.copy()
# test_feat=data_test

In [82]:
train_feat2.shape

(828934, 108)

In [83]:
del data_train

In [84]:
train_feat2.shape

(828934, 108)

In [85]:
label_train=train_feat2['prediction_pay_price']

In [86]:
train_feat2.shape

(828934, 108)

In [87]:
train_feat2['ivory_qua1']=train_feat2.ivory_add_value+train_feat2.ivory_reduce_value
train_feat2['ivory_qua2']=train_feat2.ivory_add_value-train_feat2.ivory_reduce_value

In [88]:
train_feat2['stone_qua1']=train_feat2.stone_add_value+train_feat2.stone_reduce_value
train_feat2['stone_qua2']=train_feat2.stone_add_value-train_feat2.stone_reduce_value

In [89]:
train_feat2['meat_qua1']=train_feat2.meat_add_value+train_feat2.meat_reduce_value
train_feat2['meat_qua2']=train_feat2.meat_add_value-train_feat2.meat_reduce_value

In [90]:
train_feat2['wood_qua1']=train_feat2.wood_add_value+train_feat2.wood_reduce_value
train_feat2['wood_qua2']=train_feat2.wood_add_value-train_feat2.wood_reduce_value

In [91]:
# for test feat
# test_feat2['ivory_qua1']=test_feat.ivory_add_value+test_feat.ivory_reduce_value
# test_feat2['ivory_qua2']=test_feat.ivory_add_value-test_feat.ivory_reduce_value
# test_feat2['stone_qua1']=test_feat.stone_add_value+test_feat.stone_reduce_value
# test_feat2['stone_qua2']=test_feat.stone_add_value-test_feat.stone_reduce_value
# test_feat2['meat_qua1']=test_feat.meat_add_value+test_feat.meat_reduce_value
# test_feat2['meat_qua2']=test_feat.meat_add_value-test_feat.meat_reduce_value
# test_feat2['wood_qua1']=test_feat.wood_add_value+test_feat.wood_reduce_value
# test_feat2['wood_qua2']=test_feat.wood_add_value-test_feat.wood_reduce_value

In [92]:
# train_feat.shape

In [93]:
# train_feat2.shape

In [94]:
# test_feat2.shape

In [95]:
#train_corr2=train_feat2.corr()

In [96]:
#train_corr2['prediction_pay_price'].sort_values(ascending=False).head(40)

In [97]:
import re

In [98]:
train_feat2.columns.values[pd.Series(train_feat2.columns.values).str.contains('def')]

array(['sr_troop_defense_level', 'sr_infantry_def_level',
       'sr_cavalry_def_level', 'sr_shaman_def_level'], dtype=object)

In [99]:
type(pd.Series(train_feat2.columns.values).str.contains('def'))

pandas.core.series.Series

In [100]:
#del text

In [101]:
text_def=[]
for col in train_feat2.columns.values:
     if 'def' in col:
            text_def.append(col)

In [102]:
text_def

['sr_troop_defense_level',
 'sr_infantry_def_level',
 'sr_cavalry_def_level',
 'sr_shaman_def_level']

In [103]:
#train_coorr1.to_csv('F:\\study\\ml\\DataSet\\Tap4fun\\train_feat_corr.csv')
#del feat_def_qua
train_feat2.head()

,user_id,register_time,wood_add_value,wood_reduce_value,stone_add_value,stone_reduce_value,ivory_add_value,ivory_reduce_value,meat_add_value,meat_reduce_value,...,pay_price,pay_count,ivory_qua1,ivory_qua2,stone_qua1,stone_qua2,meat_qua1,meat_qua2,wood_qua1,wood_qua2
0,14933,2018-03-08 20:27:57,166415.0,138362.0,0.0,0.0,0.0,0.0,258522.0,90142.0,...,0.0,0,0.0,0.0,0.0,0.0,348664.0,168380.0,304777.0,28053.0
1,14934,2018-03-08 20:29:42,10000.0,600.0,0.0,0.0,0.0,0.0,10000.0,400.0,...,0.0,0,0.0,0.0,0.0,0.0,10400.0,9600.0,10600.0,9400.0
2,14935,2018-03-08 20:30:13,10000.0,3700.0,0.0,0.0,0.0,0.0,10000.0,2000.0,...,0.0,0,0.0,0.0,0.0,0.0,12000.0,8000.0,13700.0,6300.0
3,14936,2018-03-08 20:31:41,210000.0,0.0,200000.0,0.0,200000.0,0.0,610000.0,0.0,...,0.0,0,200000.0,200000.0,200000.0,200000.0,610000.0,610000.0,210000.0,210000.0
4,14937,2018-03-08 20:32:07,11500.0,3700.0,0.0,0.0,0.0,0.0,11000.0,2000.0,...,0.0,0,0.0,0.0,0.0,0.0,13000.0,9000.0,15200.0,7800.0

In [104]:
text_def=[]
for col in train_feat2.columns.values:
     if 'def' in col:
            text_def.append(col)

text_def

type(text_def)

text_troop=[]
for col in train_feat2.columns.values:
    if 'troop' in col :
        text_troop.append(col)

text_troop

text_cavalry=[]
for col in train_feat2.columns.values:
    if 'sr_cavalry' in col :
        text_cavalry.append(col)

text_cavalry

text_infantry=[]
for col in train_feat2.columns.values:
    if 'sr_infantry' in col :
        text_infantry.append(col)

text_infantry

text_shaman=[]
for col in train_feat2.columns.values:
    if 'sr_shaman' in col :
        text_shaman.append(col)

text_shaman

text_speed=[]
for col in train_feat2.columns.values:
    if 'speed' in col :
        text_speed.append(col)

text_speed

train_feat2['def_qua1']=0.0
for name in text_def:
    train_feat2['def_qua1']+=train_feat2[name]

#pd.Series(train_feat2.columns.values) .str.contains('def')

#train_feat2[train_feat2.sr_troop_attack_level != 0][train_feat2.columns.values[pd.Series(train_feat2.columns.values) .str.contains('def')]]

train_feat2['def_qua1']=0.0
for name in text_def:
    train_feat2['def_qua1']+=train_feat2[name]

# test_feat2['def_qua1']=0.0
# for name in text_def:
#     test_feat2['def_qua1']+=test_feat2[name]

train_feat2['cavalry_qua1']=0.0
for name in text_cavalry:
    train_feat2['cavalry_qua1']+=train_feat2[name]

# test_feat2['cavalry_qua1']=0.0
# for name in text_cavalry:
#     test_feat2['cavalry_qua1']+=test_feat2[name]

train_feat2['infantry_qua1']=0.0
for name in text_infantry:
    train_feat2['infantry_qua1']+=train_feat2[name]

# test_feat2['infantry_qua1']=0.0
# for name in text_infantry:
#     test_feat2['infantry_qua1']+=test_feat2[name]

train_feat2['shaman_qua1']=0.0
for name in text_shaman:
    train_feat2['shaman_qua1']+=train_feat2[name]

# test_feat2['shaman_qua1']=0.0
# for name in text_shaman:
#     test_feat2['shaman_qua1']+=test_feat2[name]

train_feat2['speed_qua1']=0.0
for name in text_speed:
    train_feat2['speed_qua1']+=train_feat2[name]

# test_feat2['speed_qua1']=0.0
# for name in text_speed:
#     test_feat2['speed_qua1']+=test_feat2[name]

train_feat2['troop_qua1']=0.0
for name in text_troop:
    train_feat2['troop_qua1']+=train_feat2[name]

In [105]:
# test_feat2['troop_qua1']=0.0
# for name in text_troop:
#     test_feat2['troop_qua1']+=test_feat2[name]

In [106]:
train_feat2.columns.values[pd.Series(train_feat2.columns.values).str.contains('^pv')]

array(['pvp_battle_count', 'pvp_lanch_count', 'pvp_win_count',
       'pve_battle_count', 'pve_lanch_count', 'pve_win_count'],
      dtype=object)

In [107]:
train_feat2.columns.values[pd.Series(train_feat2.columns.values).str.contains('pv')]

array(['bd_hero_pve_level', 'sr_pvp_march_speed_level',
       'pvp_battle_count', 'pvp_lanch_count', 'pvp_win_count',
       'pve_battle_count', 'pve_lanch_count', 'pve_win_count'],
      dtype=object)

In [108]:
# train_feat2['pvp_lanch_rate_qua1']=train_feat2.pvp_lanch_count/train_feat2.pvp_battle_count
# train_feat2['pvp_win_rate_qua1']=train_feat2.pvp_win_count / train_feat2.pvp_battle_count
# train_feat2['pvp_win_lanch_rate_qua1']=train_feat2.pvp_win_count / \
# train_feat2.pvp_lanch_count
# train_feat2['pve_lanch_rate_qua1']=train_feat2.pve_lanch_count/train_feat2.pve_battle_count
# train_feat2['pve_win_rate_qua1']=train_feat2.pve_win_count / train_feat2.pve_battle_count
# train_feat2['pve_win_lanch_rate_qua1']=train_feat2.pve_win_count / \
# train_feat2.pve_lanch_count

In [109]:
# text_mi=train_feat2.columns[pd.Series(train_feat2.columns.values).str.contains('qua')].tolist()
# for name in text_mi :
#     name2='x_avg_mi_'+name
#     #print(name2)
#     train_feat2[name2]=train_feat2[name] / train_feat2.avg_online_minutes

# text_top=['ivory','stone','wood','meat']
# text_top_add=[]
# for name in text_top:
#     name2=name+'_add'
#     text_top_add.extend(train_feat2.columns[pd.Series(train_feat2.columns.values).str.contains(name2)].tolist())

# text_top_add2=[]
# for name in text_top_add :
#     name2='x_avg_mi_'+name
#     train_feat2[name2]=train_feat2[name] / train_feat2.avg_online_minutes
#     text_top_add2.append(name2)

In [110]:
# #
# train_feat2['pvp_lanch_rate_qua1']=train_feat2.pvp_lanch_count / train_feat2.pvp_battle_count
# train_feat2['pvp_win_rate_qua1']=train_feat2.pvp_win_count / trainhttp://localhost:8888/notebooks/Tap4fun/TFTest22.ipynb#_feat2.pvp_battle_count
# train_feat2['pve_lanch_rate_qua1']=train_feat2.pve_lanch_count / train_feat2.pve_battle_count
# train_feat2['pve_win_rate_qua1']=train_feat2.pve_win_count / train_feat2.pve_battle_count
# train_feat2['pvep_battle_qua1']=train_feat2.pvp_battle_count + train_feat2.pve_battle_count
# train_feat2['pvep_win_qua1']=train_feat2.pvp_win_count + train_feat2.pve_win_count
# train_feat2['pvep_lanch_qua1']=train_feat2.pvp_lanch_count + train_feat2.pve_lanch_count

In [111]:
# train_feat2['pvep_pve_battle_rate_qua1']=train_feat2.pve_battle_count / train_feat2.pvep_battle_qua1
# train_feat2['pvep_pvp_battle_rate_qua1']=train_feat2.pvp_battle_count / train_feat2.pvep_battle_qua1

# train_feat2['pvep_pve_lanch_rate_qua1']=train_feat2.pve_lanch_count / train_feat2.pvep_lanch_qua1
# train_feat2['pvep_pvp_lanch_rate_qua1']=train_feat2.pvp_lanch_count / train_feat2.pvep_lanch_qua1

# train_feat2['pvep_pve_win_rate_qua1']=train_feat2.pve_win_count / train_feat2.pvep_win_qua1
# train_feat2['pvep_pvp_win_rate_qua1']=train_feat2.pvp_win_count / train_feat2.pvep_win_qua1

In [112]:
train_feat2['price_per_count_qua1']=train_feat2.pay_price / train_feat2.pay_count

In [113]:
###############################################



#train_feat2.fillna(0,inplace=True)



###############################################

In [114]:
train_feat2.shape

(828934, 123)

In [115]:
train_feat2_int=train_feat2.select_dtypes(include=['uint16','uint8'])

In [116]:
train_feat2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 828934 entries, 0 to 828933
Columns: 123 entries, user_id to price_per_count_qua1
dtypes: datetime64[ns](1), float32(21), float64(6), uint16(1), uint8(94)
memory usage: 186.6 MB

In [117]:
train_feat2_int.head()

,user_id,infantry_add_value,infantry_reduce_value,cavalry_add_value,cavalry_reduce_value,shaman_add_value,shaman_reduce_value,wound_infantry_add_value,wound_infantry_reduce_value,wound_cavalry_add_value,...,sr_guest_troop_capacity_level,sr_march_size_level,sr_rss_help_bonus_level,pvp_battle_count,pvp_lanch_count,pvp_win_count,pve_battle_count,pve_lanch_count,pve_win_count,pay_count
0,14933,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,1,0
1,14934,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,14935,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,14936,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,14937,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [118]:
train_feat2_float=train_feat2.select_dtypes(include=['float64','float32']).apply(pd.to_numeric,downcast='float')
#train_feat2.select_dtypes(include=['float64','float32']).apply(pd.to_numeric,downcast='float')
#..apply(pd.to_numeric,downcast='float')

In [119]:
train_feat2_float.head()

,wood_add_value,wood_reduce_value,stone_add_value,stone_reduce_value,ivory_add_value,ivory_reduce_value,meat_add_value,meat_reduce_value,magic_add_value,magic_reduce_value,...,meat_qua2,wood_qua1,wood_qua2,def_qua1,cavalry_qua1,infantry_qua1,shaman_qua1,speed_qua1,troop_qua1,price_per_count_qua1
0,166415.0,138362.0,0.0,0.0,0.0,0.0,258522.0,90142.0,0.0,0.0,...,168380.0,304777.0,28053.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
1,10000.0,600.0,0.0,0.0,0.0,0.0,10000.0,400.0,0.0,0.0,...,9600.0,10600.0,9400.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
2,10000.0,3700.0,0.0,0.0,0.0,0.0,10000.0,2000.0,0.0,0.0,...,8000.0,13700.0,6300.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
3,210000.0,0.0,200000.0,0.0,200000.0,0.0,610000.0,0.0,60000.0,0.0,...,610000.0,210000.0,210000.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
4,11500.0,3700.0,0.0,0.0,0.0,0.0,11000.0,2000.0,0.0,0.0,...,9000.0,15200.0,7800.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN

In [120]:
train_feat3=pd.concat([train_feat2_int,train_feat2_float],axis=1)

In [121]:
train_feat3.drop(labels=['prediction_pay_price'],axis=1,inplace=True)
train_feat3.prediction_pay_price

In [122]:
train_feat3.shape

(828934, 122)

In [123]:
#train_feat3.fillna(0,inplace=True)

In [124]:
train_feat3.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 828934 entries, 0 to 828933
Columns: 122 entries, user_id to price_per_count_qua1
dtypes: float32(27), uint16(1), uint8(94)
memory usage: 161.3 MB

In [125]:
del train_feat2

In [126]:
#train_feat3.isnull().sum().sum()

In [127]:
import time
import lightgbm as lgb

In [128]:
from sklearn.cross_validation import train_test_split
from sklearn.metrics import mean_squared_error

In [129]:
#train_feat2.shape

In [130]:
X_train,X_test,y_train,y_test=train_test_split(train_feat3,label_train,test_size=0.5,random_state=73)

In [131]:
# X_train.head()

In [132]:
# y_train.head()

In [133]:
from sklearn.grid_search import GridSearchCV
from sklearn.pipeline import Pipeline

In [134]:
# X_train.head()

In [135]:
from sklearn.externals import joblib

In [137]:
grid_search=joblib.load("F:\\study\\ml\\DataSet\\Tap4fun\\GSCV_lgb.model.gz")

In [138]:
preds_sub=grid_search.predict(train_feat3)

In [69]:
from sklearn.metrics import mean_squared_error
predictions=grid_search.predict(X_test)
np.sqrt(mean_squared_error(y_test,predictions))

56.66399035047658

In [139]:
result_user=pd.read_csv('F:\\study\\ml\\DataSet\\Tap4fun\\tap_fun_test.csv',usecols=[0])
result=pd.DataFrame()
result['user_id']=result_user.user_id
result['prediction_pay_price']=preds_sub

In [140]:
result.shape

(828934, 2)

In [141]:
result.head()

   user_id  prediction_pay_price
0    14933              0.255422
1    14934              0.255422
2    14935              0.255422
3    14936              0.255422
4    14937              0.255422

In [144]:
import time
import datetime

In [145]:
nowTime=datetime.datetime.now().strftime('%Y%m%d%H%M%S')
name='tf_'+str(nowTime)
result.to_csv("F:\\study\\ml\\DataSet\\Tap4fun\\SubMission\\"+name+'.csv',index=False,encoding='utf-8')