In [1]:
import numpy as np
import pandas as pd

In [2]:
df_train=pd.read_csv('F:\\study\\ml\\DataSet\\Tap4fun\\tap_fun_train.csv')

In [3]:
df_train.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2288007 entries, 0 to 2288006
Columns: 109 entries, user_id to prediction_pay_price
dtypes: float64(13), int64(95), object(1)
memory usage: 2.0 GB

In [4]:
c_int=df_train.select_dtypes(include=['int64']).apply(pd.to_numeric,downcast='unsigned')
c_float=df_train.select_dtypes(include=['float']).apply(pd.to_numeric,downcast='float')

In [5]:
o_df=pd.concat([c_int,c_float],axis=1)

In [6]:
column_type=dict(o_df.dtypes.copy())

In [7]:
len(column_type)

108

In [8]:
del o_df,c_int,c_float,df_train

In [9]:
data_train=pd.read_csv('F:\\study\\ml\\DataSet\\Tap4fun\\tap_fun_train.csv',
                      dtype=column_type,parse_dates=['register_time'],infer_datetime_format=True)

In [10]:
data_train.rename(columns={'treatment_acceleraion_add_value':'treatment_acceleration_add_value',\
                          'sr_rss_a_prod_levell':'sr_rss_a_prod_level'} ,inplace=True)

In [11]:
data_train.head()

,user_id,register_time,wood_add_value,wood_reduce_value,stone_add_value,stone_reduce_value,ivory_add_value,ivory_reduce_value,meat_add_value,meat_reduce_value,...,pvp_battle_count,pvp_lanch_count,pvp_win_count,pve_battle_count,pve_lanch_count,pve_win_count,avg_online_minutes,pay_price,pay_count,prediction_pay_price
0,1,2018-02-02 19:47:15,20125.0,3700.0,0.0,0.0,0.0,0.0,16375.0,2000.0,...,0,0,0,0,0,0,0.333333,0.0,0,0.0
1,1593,2018-01-26 00:01:05,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0.333333,0.0,0,0.0
2,1594,2018-01-26 00:01:58,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,1.166667,0.0,0,0.0
3,1595,2018-01-26 00:02:13,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,3.166667,0.0,0,0.0
4,1596,2018-01-26 00:02:46,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,2.333333,0.0,0,0.0

In [12]:
data_train.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2288007 entries, 0 to 2288006
Columns: 109 entries, user_id to prediction_pay_price
dtypes: datetime64[ns](1), float32(13), uint16(8), uint32(21), uint8(66)
memory usage: 493.1 MB

In [13]:
data_label=data_train['prediction_pay_price']
data_train2=data_train.drop(labels=['user_id','register_time'],axis=1)

In [14]:
data_train2[(data_train2['pay_price']>0) & (data_train2['prediction_pay_price']>0)].shape

(41439, 107)

In [15]:
data_train2[(data_train2['pay_price']==0) & (data_train2['prediction_pay_price']>0)].shape

(4549, 107)

In [16]:
data_train2[(data_train2['pay_price']>0) & (data_train2['prediction_pay_price']==0)].shape

(0, 107)

In [17]:
data_train2[(data_train2['pay_price']>0)].shape

(41439, 107)

In [18]:
data_train2[(data_train2['prediction_pay_price']>0)].shape

(45988, 107)

In [19]:
data_train2[data_train2['prediction_pay_price']>0]['prediction_pay_price'].describe()

count    45988.000000
mean        89.228508
std        617.739014
min          0.990000
25%          0.990000
50%          3.970000
75%         20.980000
max      32977.808594
Name: prediction_pay_price, dtype: float64

In [20]:
# data_train2['price_per_count_qua1']=data_train2.pay_price / data_train2.pay_count
# del data_train2['price_per_count_qua1']

In [21]:
data_pay_7=data_train2[data_train2['pay_price']>0]
data_pay_45=data_train2[data_train2['prediction_pay_price']>0]

In [22]:
data_train2[(data_train2['pay_price']>0) & (data_train2['pay_price'] == data_train2['prediction_pay_price'])] \
[['pay_price','prediction_pay_price','avg_online_minutes',]].describe()
#pp> == ppp 只给了7天

          pay_price  prediction_pay_price  avg_online_minutes
count  30130.000000          30130.000000        30130.000000
mean      11.407172             11.407172          100.656929
std       71.140594             71.140594          113.973495
min        0.990000              0.990000            0.000000
25%        0.990000              0.990000           23.333332
50%        1.980000              1.980000           61.166668
75%        5.980000              5.980000          137.166672
max     4086.520020           4086.520020         1394.666626

In [23]:
data_train2[(data_train2['pay_price']>0) & (data_train2['pay_price'] < data_train2['prediction_pay_price'])] \
[['pay_price','prediction_pay_price','avg_online_minutes']].describe()
#pp>0 and pp< ppp 只给了7天,45天也付了

          pay_price  prediction_pay_price  avg_online_minutes
count  11309.000000          11309.000000        11309.000000
mean      77.782753            315.976807          245.507996
std      289.611267           1202.829590          180.424377
min        0.990000              1.980000            0.666667
25%        2.980000             16.940001          109.666664
50%       15.970000             48.919998          200.500000
75%       45.939999            163.759995          339.833344
max     7457.950195          32977.808594         1674.666626

In [24]:
data_train2[(data_train2['pay_price']==0) & (data_train2['prediction_pay_price']>0)] \
[['pay_price','prediction_pay_price','avg_online_minutes','general_acceleration_add_value']].describe()
#pp=0 and ppp>0 前7天未付款,后45天也付钱的

,pay_price,prediction_pay_price,avg_online_minutes,general_acceleration_add_value
count,4549.0,4549.000000,4549.000000,4549.000000
mean,0.0,40.842228,115.475998,2315.558804
std,0.0,238.763504,128.285599,2406.838272
min,0.0,0.990000,0.000000,0.000000
25%,0.0,0.990000,22.833332,543.000000
50%,0.0,5.980000,77.500000,1678.000000
75%,0.0,19.950001,159.166672,3414.000000
max,0.0,6752.970215,1098.833374,28764.000000

In [25]:
data_train2[(data_train2['pay_price']==0) & (data_train2['prediction_pay_price']==0)] \
[['pay_price','prediction_pay_price','avg_online_minutes','general_acceleration_add_value']].describe()

,pay_price,prediction_pay_price,avg_online_minutes,general_acceleration_add_value
count,2242019.0,2242019.0,2.242019e+06,2.242019e+06
mean,0.0,0.0,7.573942e+00,1.462377e+02
std,0.0,0.0,2.734151e+01,5.413398e+02
min,0.0,0.0,0.000000e+00,0.000000e+00
25%,0.0,0.0,5.000000e-01,0.000000e+00
50%,0.0,0.0,1.833333e+00,0.000000e+00
75%,0.0,0.0,4.500000e+00,5.000000e+01
max,0.0,0.0,2.049667e+03,5.786900e+04

In [26]:
data_train2[(data_train2['pay_price']>0) ] \
[['pay_price','prediction_pay_price','avg_online_minutes','pay_count']].describe()

          pay_price  prediction_pay_price  avg_online_minutes     pay_count
count  41439.000000          41439.000000        41439.000000  41439.000000
mean      29.528141             94.538071          140.187607      3.186226
std      165.658875            645.717285          149.972549      4.218311
min        0.990000              0.990000            0.000000      1.000000
25%        0.990000              0.990000           33.000000      1.000000
50%        1.990000              3.970000           88.833336      2.000000
75%       11.970000             21.950001          194.666672      4.000000
max     7457.950195          32977.808594         1674.666626    105.000000

In [27]:
data_train2[(data_train2['pay_price']>0) & (data_train2['pay_price'] < data_train2['prediction_pay_price'])] \
[['pay_price','prediction_pay_price','avg_online_minutes','pay_count']].describe()

          pay_price  prediction_pay_price  avg_online_minutes     pay_count
count  11309.000000          11309.000000        11309.000000  11309.000000
mean      77.782753            315.976807          245.507996      5.707932
std      289.611267           1202.829590          180.424377      6.470337
min        0.990000              1.980000            0.666667      1.000000
25%        2.980000             16.940001          109.666664      2.000000
50%       15.970000             48.919998          200.500000      4.000000
75%       45.939999            163.759995          339.833344      7.000000
max     7457.950195          32977.808594         1674.666626    105.000000

In [28]:
data_train2[(data_train2['pay_price']>0) & ( data_train2['prediction_pay_price'] == data_train2['pay_price'])] \
[['pay_price','prediction_pay_price','avg_online_minutes','pay_count']].describe()

          pay_price  prediction_pay_price  avg_online_minutes     pay_count
count  30130.000000          30130.000000        30130.000000  30130.000000
mean      11.407172             11.407172          100.656929      2.239728
std       71.140594             71.140594          113.973495      2.340433
min        0.990000              0.990000            0.000000      1.000000
25%        0.990000              0.990000           23.333332      1.000000
50%        1.980000              1.980000           61.166668      1.000000
75%        5.980000              5.980000          137.166672      3.000000
max     4086.520020           4086.520020         1394.666626     54.000000

In [29]:
data_7pay=data_train2[data_train2['pay_price']>0].copy()

In [30]:
data_7pay.head()

,wood_add_value,wood_reduce_value,stone_add_value,stone_reduce_value,ivory_add_value,ivory_reduce_value,meat_add_value,meat_reduce_value,magic_add_value,magic_reduce_value,...,pvp_battle_count,pvp_lanch_count,pvp_win_count,pve_battle_count,pve_lanch_count,pve_win_count,avg_online_minutes,pay_price,pay_count,prediction_pay_price
25,30000.0,97200.0,20000.0,0.0,0.0,0.0,160500.0,80392.0,12000.0,0.0,...,0,0,0,0,0,0,44.666668,0.99,1,0.99
40,1111744.0,1137687.0,491331.0,790208.0,77000.0,0.0,1457249.0,708483.0,217455.0,162987.0,...,1,1,1,6,6,6,199.333328,2.97,3,4.96
47,249050.0,173248.0,70841.0,117012.0,55000.0,0.0,206366.0,82205.0,29902.0,88064.0,...,0,0,0,0,0,0,109.333336,12.97,3,12.97
86,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,127.833336,0.99,1,0.99
119,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,203.166672,0.99,1,0.99

In [31]:
for name in data_7pay.columns.values:
    if 'add_value' in name:
        print(name+'-->'+name[:len(name)-10])
print('------------------')        
for name in data_7pay.columns.values:
    if 'reduce_value' in name:
        print(name+'-->'+name[:len(name)-10])

wood_add_value-->wood
stone_add_value-->stone
ivory_add_value-->ivory
meat_add_value-->meat
magic_add_value-->magic
infantry_add_value-->infantry
cavalry_add_value-->cavalry
shaman_add_value-->shaman
wound_infantry_add_value-->wound_infantry
wound_cavalry_add_value-->wound_cavalry
wound_shaman_add_value-->wound_shaman
general_acceleration_add_value-->general_acceleration
building_acceleration_add_value-->building_acceleration
reaserch_acceleration_add_value-->reaserch_acceleration
training_acceleration_add_value-->training_acceleration
treatment_acceleration_add_value-->treatment_acceleration
------------------
wood_reduce_value-->wood_re
stone_reduce_value-->stone_re
ivory_reduce_value-->ivory_re
meat_reduce_value-->meat_re
magic_reduce_value-->magic_re
infantry_reduce_value-->infantry_re
cavalry_reduce_value-->cavalry_re
shaman_reduce_value-->shaman_re
wound_infantry_reduce_value-->wound_infantry_re
wound_cavalry_reduce_value-->wound_cavalry_re
wound_shaman_reduce_value-->wound_shaman_re
general_acceleration_reduce_value-->general_acceleration_re
building_acceleration_reduce_value-->building_acceleration_re
reaserch_acceleration_reduce_value-->reaserch_acceleration_re
training_acceleration_reduce_value-->training_acceleration_re
treatment_acceleration_reduce_value-->treatment_acceleration_re

In [32]:
sum_delta_text=[]
sum_delta_text=['wood','stone']
for name in data_7pay.columns.values:
    if 'add_value' in name:
        sum_delta_text.append(name[:len(name)-10])
        
for i in sum_delta_text:
#     print(i+'_add_value  <--> '+i+'_reduce_value')
    add_name=i+'_add_value'
    reduce_name=i+'_reduce_value'
    sum_name=i+'_sum_qua1'
    delta_name=i+'_delta_qua2'
    print(add_name+' -- '+reduce_name)
#     print(reduce_name)
#     print(sum_name)
#     print(delta_name)
    data_7pay[sum_name]=data_7pay[add_name]+data_7pay[reduce_name]
    data_7pay[delta_name]=data_7pay[add_name]-data_7pay[reduce_name]
#     for k in range(3):
#         print('------------------{}--------------'.format(k))
#         print(data_7pay[add_name].iloc[k])
#         print(data_7pay[reduce_name].iloc[k])
#         print(data_7pay[add_name].iloc[k]-data_7pay[reduce_name].iloc[k])

wood_add_value -- wood_reduce_value
stone_add_value -- stone_reduce_value
wood_add_value -- wood_reduce_value
stone_add_value -- stone_reduce_value
ivory_add_value -- ivory_reduce_value
meat_add_value -- meat_reduce_value
magic_add_value -- magic_reduce_value
infantry_add_value -- infantry_reduce_value
cavalry_add_value -- cavalry_reduce_value
shaman_add_value -- shaman_reduce_value
wound_infantry_add_value -- wound_infantry_reduce_value
wound_cavalry_add_value -- wound_cavalry_reduce_value
wound_shaman_add_value -- wound_shaman_reduce_value
general_acceleration_add_value -- general_acceleration_reduce_value
building_acceleration_add_value -- building_acceleration_reduce_value
reaserch_acceleration_add_value -- reaserch_acceleration_reduce_value
training_acceleration_add_value -- training_acceleration_reduce_value
treatment_acceleration_add_value -- treatment_acceleration_reduce_value

In [33]:
data_7pay.head()

,wood_add_value,wood_reduce_value,stone_add_value,stone_reduce_value,ivory_add_value,ivory_reduce_value,meat_add_value,meat_reduce_value,magic_add_value,magic_reduce_value,...,general_acceleration_sum_qua1,general_acceleration_delta_qua2,building_acceleration_sum_qua1,building_acceleration_delta_qua2,reaserch_acceleration_sum_qua1,reaserch_acceleration_delta_qua2,training_acceleration_sum_qua1,training_acceleration_delta_qua2,treatment_acceleration_sum_qua1,treatment_acceleration_delta_qua2
25,30000.0,97200.0,20000.0,0.0,0.0,0.0,160500.0,80392.0,12000.0,0.0,...,260,260,75,75,0,0,165,165,0,0
40,1111744.0,1137687.0,491331.0,790208.0,77000.0,0.0,1457249.0,708483.0,217455.0,162987.0,...,1731,721,1073,73,750,716,1210,26,6,6
47,249050.0,173248.0,70841.0,117012.0,55000.0,0.0,206366.0,82205.0,29902.0,88064.0,...,2050,4294966586,0,0,1118,4294967016,45,45,0,0
86,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
119,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0

In [34]:
data_7pay.head()

,wood_add_value,wood_reduce_value,stone_add_value,stone_reduce_value,ivory_add_value,ivory_reduce_value,meat_add_value,meat_reduce_value,magic_add_value,magic_reduce_value,...,general_acceleration_sum_qua1,general_acceleration_delta_qua2,building_acceleration_sum_qua1,building_acceleration_delta_qua2,reaserch_acceleration_sum_qua1,reaserch_acceleration_delta_qua2,training_acceleration_sum_qua1,training_acceleration_delta_qua2,treatment_acceleration_sum_qua1,treatment_acceleration_delta_qua2
25,30000.0,97200.0,20000.0,0.0,0.0,0.0,160500.0,80392.0,12000.0,0.0,...,260,260,75,75,0,0,165,165,0,0
40,1111744.0,1137687.0,491331.0,790208.0,77000.0,0.0,1457249.0,708483.0,217455.0,162987.0,...,1731,721,1073,73,750,716,1210,26,6,6
47,249050.0,173248.0,70841.0,117012.0,55000.0,0.0,206366.0,82205.0,29902.0,88064.0,...,2050,4294966586,0,0,1118,4294967016,45,45,0,0
86,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
119,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0

In [35]:
data_7pay['wood_sum_qua1'].head()

25      127200.0
40     2249431.0
47      422298.0
86           0.0
119          0.0
Name: wood_sum_qua1, dtype: float32

In [36]:
data_7pay['wood_delta_qua2'].head()

25    -67200.0
40    -25943.0
47     75802.0
86         0.0
119        0.0
Name: wood_delta_qua2, dtype: float32

In [37]:
data_7pay.isna().sum().sum()

0

In [38]:
abs(-123.2)

123.2

In [39]:
delta_text=[]
for i in data_7pay.columns.values:
    if 'delta' in i:
        delta_text.append(i)
delta_text2=[]        
for k in delta_text:
    delta_text2.append(k[:len(k)-5]+'_abs_qua2')
print(delta_text2)

['wood_delta_abs_qua2', 'stone_delta_abs_qua2', 'ivory_delta_abs_qua2', 'meat_delta_abs_qua2', 'magic_delta_abs_qua2', 'infantry_delta_abs_qua2', 'cavalry_delta_abs_qua2', 'shaman_delta_abs_qua2', 'wound_infantry_delta_abs_qua2', 'wound_cavalry_delta_abs_qua2', 'wound_shaman_delta_abs_qua2', 'general_acceleration_delta_abs_qua2', 'building_acceleration_delta_abs_qua2', 'reaserch_acceleration_delta_abs_qua2', 'training_acceleration_delta_abs_qua2', 'treatment_acceleration_delta_abs_qua2']

In [40]:
data_7pay[delta_text2]=abs(data_7pay[delta_text])

In [41]:
data_7pay[delta_text].head()

,wood_delta_qua2,stone_delta_qua2,ivory_delta_qua2,meat_delta_qua2,magic_delta_qua2,infantry_delta_qua2,cavalry_delta_qua2,shaman_delta_qua2,wound_infantry_delta_qua2,wound_cavalry_delta_qua2,wound_shaman_delta_qua2,general_acceleration_delta_qua2,building_acceleration_delta_qua2,reaserch_acceleration_delta_qua2,training_acceleration_delta_qua2,treatment_acceleration_delta_qua2
25,-67200.0,20000.0,0.0,80108.0,12000.0,0,0,0,0,0,0,260,75,0,165,0
40,-25943.0,-298877.0,77000.0,748766.0,54468.0,60,4294967001,108,0,0,0,721,73,716,26,6
47,75802.0,-46171.0,55000.0,124161.0,-58162.0,0,0,0,0,0,0,4294966586,0,4294967016,45,0
86,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0
119,0.0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0,0,0

In [42]:
data_7pay[delta_text2].head()

,wood_delta_abs_qua2,stone_delta_abs_qua2,ivory_delta_abs_qua2,meat_delta_abs_qua2,magic_delta_abs_qua2,infantry_delta_abs_qua2,cavalry_delta_abs_qua2,shaman_delta_abs_qua2,wound_infantry_delta_abs_qua2,wound_cavalry_delta_abs_qua2,wound_shaman_delta_abs_qua2,general_acceleration_delta_abs_qua2,building_acceleration_delta_abs_qua2,reaserch_acceleration_delta_abs_qua2,training_acceleration_delta_abs_qua2,treatment_acceleration_delta_abs_qua2
25,67200.0,20000.0,0.0,80108.0,12000.0,0.0,0.000000e+00,0.0,0.0,0.0,0.0,2.600000e+02,75.0,0.000000e+00,165.0,0.0
40,25943.0,298877.0,77000.0,748766.0,54468.0,60.0,4.294967e+09,108.0,0.0,0.0,0.0,7.210000e+02,73.0,7.160000e+02,26.0,6.0
47,75802.0,46171.0,55000.0,124161.0,58162.0,0.0,0.000000e+00,0.0,0.0,0.0,0.0,4.294967e+09,0.0,4.294967e+09,45.0,0.0
86,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.0,0.0,0.0,0.0,0.000000e+00,0.0,0.000000e+00,0.0,0.0
119,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00,0.0,0.0,0.0,0.0,0.000000e+00,0.0,0.000000e+00,0.0,0.0

In [43]:
text_shaman=[]
for col in data_7pay.columns.values:
     if 'shaman' in col:
            text_shaman.append(col)
data_7pay[text_shaman]

,shaman_add_value,shaman_reduce_value,wound_shaman_add_value,wound_shaman_reduce_value,sr_shaman_tier_2_level,sr_shaman_atk_level,sr_shaman_tier_3_level,sr_shaman_def_level,sr_shaman_hp_level,sr_shaman_tier_4_level,shaman_sum_qua1,shaman_delta_qua2,wound_shaman_sum_qua1,wound_shaman_delta_qua2,shaman_delta_abs_qua2,wound_shaman_delta_abs_qua2
25,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.000000e+00,0.000000e+00
40,370,262,0,0,0,0,0,0,0,0,632,108,0,0,1.080000e+02,0.000000e+00
47,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.000000e+00,0.000000e+00
86,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.000000e+00,0.000000e+00
119,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.000000e+00,0.000000e+00
155,813,1534,0,288,0,4,0,0,0,0,2347,4294966575,288,4294967008,4.294967e+09,4.294967e+09
171,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.000000e+00,0.000000e+00
214,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.000000e+00,0.000000e+00
248,266,266,266,266,0,0,0,0,0,0,532,0,532,0,0.000000e+00,0.000000e+00
305,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.000000e+00,0.000000e+00
380,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.000000e+00,0.000000e+00
381,1864,220,220,244,0,4,0,0,0,0,2084,1644,464,4294967272,1.644000e+03,4.294967e+09
390,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.000000e+00,0.000000e+00
434,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.000000e+00,0.000000e+00
450,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.000000e+00,0.000000e+00
481,330,0,0,0,0,0,0,0,0,0,330,330,0,0,3.300000e+02,0.000000e+00
562,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.000000e+00,0.000000e+00
616,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.000000e+00,0.000000e+00
617,0,313,6,0,0,0,0,0,0,0,313,4294966983,6,6,4.294967e+09,6.000000e+00
625,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.000000e+00,0.000000e+00
630,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.000000e+00,0.000000e+00
643,0,27,27,0,1,1,0,0,0,0,27,4294967269,27,27,4.294967e+09,2.700000e+01
716,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.000000e+00,0.000000e+00
726,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.000000e+00,0.000000e+00
817,850,2,0,0,0,1,0,0,0,0,852,848,0,0,8.480000e+02,0.000000e+00
835,1375,2373,1375,1375,0,2,0,0,0,0,3748,4294966298,2750,0,4.294966e+09,0.000000e+00
845,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.000000e+00,0.000000e+00
981,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.000000e+00,0.000000e+00
982,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.000000e+00,0.000000e+00
1004,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.000000e+00,0.000000e+00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2286844,5945,6052,5590,5590,1,3,0,0,0,0,11997,4294967189,11180,0,4.294967e+09,0.000000e+00
2286871,25528,28732,25528,25528,1,5,0,0,0,0,54260,4294964092,51056,0,4.294964e+09,0.000000e+00
2286913,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0.000000e+00,0.000000e+00
2286961,1152,405,192,192,1,3,0,0,0,0,1557,747,384,0,7.470000e+02,0.000000e+00
2286987,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.000000e+00,0.000000e+00
2287028,1156,1177,766,766,0,0,0,0,0,0,2333,4294967275,1532,0,4.294967e+09,0.000000e+00
2287109,150,1601,0,0,1,0,0,0,0,0,1751,4294965845,0,0,4.294966e+09,0.000000e+00
2287140,3295,3100,3100,3100,1,0,0,0,0,0,6395,195,6200,0,1.950000e+02,0.000000e+00
2287179,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.000000e+00,0.000000e+00
2287262,6270,26,0,0,1,3,0,0,0,0,6296,6244,0,0,6.244000e+03,0.000000e+00
2287373,2691,4915,1971,1971,1,2,0,0,0,0,7606,4294965072,3942,0,4.294965e+09,0.000000e+00
2287410,585,1805,585,0,1,1,0,0,0,0,2390,4294966076,585,585,4.294966e+09,5.850000e+02
2287492,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.000000e+00,0.000000e+00
2287517,5440,847,2,0,1,0,0,0,0,0,6287,4593,2,2,4.593000e+03,2.000000e+00
2287520,877,5342,4252,182,1,1,0,0,0,0,6219,4294962831,4434,4070,4.294963e+09,4.070000e+03
2287555,1576,802,0,0,1,2,0,0,0,0,2378,774,0,0,7.740000e+02,0.000000e+00
2287618,10176,8609,3986,3986,1,2,0,0,0,0,18785,1567,7972,0,1.567000e+03,0.000000e+00
2287668,0,565,565,0,0,0,0,0,0,0,565,4294966731,565,565,4.294967e+09,5.650000e+02
2287708,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.000000e+00,0.000000e+00
2287712,13590,15087,13200,13200,0,0,0,0,0,0,28677,4294965799,26400,0,4.294966e+09,0.000000e+00
2287742,3696,2863,1751,1751,1,1,0,0,0,0,6559,833,3502,0,8.330000e+02,0.000000e+00
2287780,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.000000e+00,0.000000e+00
2287839,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.000000e+00,0.000000e+00
2287863,220,3382,0,0,1,1,0,0,0,0,3602,4294964134,0,0,4.294964e+09,0.000000e+00
2287876,19500,20261,17791,17791,1,4,0,0,0,0,39761,4294966535,35582,0,4.294967e+09,0.000000e+00
2287944,322,913,322,322,1,0,0,0,0,0,1235,4294966705,644,0,4.294967e+09,0.000000e+00
2287946,27110,14145,8126,7567,1,2,0,0,0,0,41255,12965,15693,559,1.296500e+04,5.590000e+02
2287960,221,824,221,221,1,0,0,0,0,0,1045,4294966693,442,0,4.294967e+09,0.000000e+00
2287970,500,1735,1407,310,0,0,0,0,0,0,2235,4294966061,1717,1097,4.294966e+09,1.097000e+03
2287984,0,100,99,0,0,0,0,0,0,0,100,4294967196,99,99,4.294967e+09,9.900000e+01

In [44]:
import re

In [45]:
re.findall(r'\d','sr_outpost_tier_3_level')

['3']

In [46]:
level1_text=[]
level2_text=[]
level3_text=[]
level4_text=[]
for i in data_7pay.columns.values:
    if 'level' in i:
        if re.findall(r'\d',i)==['2']:
            level2_text.append(i)
        elif re.findall(r'\d',i)==['3']:
            level3_text.append(i)
        elif re.findall(r'\d',i)==['4']:
            level4_text.append(i)
        else :
            level1_text.append(i)
print('-------------1 ----------')            
print(level1_text)
print('-------------2----------')            
print(level2_text)
print('-------------3 ----------')            
print(level3_text)
print('-------------4 ----------')            
print(level4_text)

-------------1 ----------
['bd_training_hut_level', 'bd_healing_lodge_level', 'bd_stronghold_level', 'bd_outpost_portal_level', 'bd_barrack_level', 'bd_healing_spring_level', 'bd_dolmen_level', 'bd_guest_cavern_level', 'bd_warehouse_level', 'bd_watchtower_level', 'bd_magic_coin_tree_level', 'bd_hall_of_war_level', 'bd_market_level', 'bd_hero_gacha_level', 'bd_hero_strengthen_level', 'bd_hero_pve_level', 'sr_scout_level', 'sr_training_speed_level', 'sr_infantry_atk_level', 'sr_cavalry_atk_level', 'sr_shaman_atk_level', 'sr_troop_defense_level', 'sr_infantry_def_level', 'sr_cavalry_def_level', 'sr_shaman_def_level', 'sr_infantry_hp_level', 'sr_cavalry_hp_level', 'sr_shaman_hp_level', 'sr_troop_attack_level', 'sr_construction_speed_level', 'sr_hide_storage_level', 'sr_troop_consumption_level', 'sr_rss_a_prod_level', 'sr_rss_b_prod_level', 'sr_rss_c_prod_level', 'sr_rss_d_prod_level', 'sr_rss_a_gather_level', 'sr_rss_b_gather_level', 'sr_rss_c_gather_level', 'sr_rss_d_gather_level', 'sr_troop_load_level', 'sr_rss_e_gather_level', 'sr_rss_e_prod_level', 'sr_outpost_durability_level', 'sr_healing_space_level', 'sr_gathering_hunter_buff_level', 'sr_healing_speed_level', 'sr_alliance_march_speed_level', 'sr_pvp_march_speed_level', 'sr_gathering_march_speed_level', 'sr_guest_troop_capacity_level', 'sr_march_size_level', 'sr_rss_help_bonus_level']
-------------2----------
['sr_infantry_tier_2_level', 'sr_cavalry_tier_2_level', 'sr_shaman_tier_2_level', 'sr_outpost_tier_2_level']
-------------3 ----------
['sr_infantry_tier_3_level', 'sr_cavalry_tier_3_level', 'sr_shaman_tier_3_level', 'sr_outpost_tier_3_level']
-------------4 ----------
['sr_infantry_tier_4_level', 'sr_cavalry_tier_4_level', 'sr_shaman_tier_4_level', 'sr_outpost_tier_4_level']

In [47]:
data_7pay[level1_text].head(30)

,bd_training_hut_level,bd_healing_lodge_level,bd_stronghold_level,bd_outpost_portal_level,bd_barrack_level,bd_healing_spring_level,bd_dolmen_level,bd_guest_cavern_level,bd_warehouse_level,bd_watchtower_level,...,sr_outpost_durability_level,sr_healing_space_level,sr_gathering_hunter_buff_level,sr_healing_speed_level,sr_alliance_march_speed_level,sr_pvp_march_speed_level,sr_gathering_march_speed_level,sr_guest_troop_capacity_level,sr_march_size_level,sr_rss_help_bonus_level
25,0,0,0,0,0,0,7,0,0,0,...,0,0,0,0,0,0,0,0,0,0
40,8,10,0,0,9,0,9,0,9,0,...,0,1,0,0,0,0,0,0,0,0
47,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
86,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
119,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
155,7,5,12,12,12,0,12,0,0,11,...,3,0,0,0,0,0,0,0,0,0
171,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
214,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
248,5,7,0,8,0,7,7,7,8,8,...,0,1,0,0,0,0,0,0,0,0
305,0,6,0,0,0,8,8,0,0,0,...,0,0,0,0,0,0,0,0,0,0
380,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
381,11,10,11,10,0,11,11,10,10,10,...,0,5,5,4,2,2,2,0,0,0
390,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
434,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
450,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
481,0,9,11,0,0,10,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
562,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
616,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
617,9,0,14,0,0,11,12,0,0,0,...,0,0,0,0,0,0,0,0,0,0
625,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
630,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
643,6,0,0,9,7,0,9,0,0,0,...,0,0,0,0,0,0,0,0,0,0
716,0,0,0,9,9,0,9,8,0,10,...,0,0,0,1,0,0,0,0,0,0
726,6,7,8,8,0,8,0,7,0,0,...,0,0,0,0,0,0,0,0,0,0
817,8,0,10,0,9,0,9,9,9,0,...,0,0,0,0,0,0,0,0,0,0
835,7,9,0,10,0,0,9,0,0,0,...,0,0,0,0,0,0,0,0,0,0
845,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
981,6,0,10,9,0,0,9,10,0,0,...,0,0,1,0,0,0,0,0,0,0
982,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1004,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [48]:
data_7pay[level2_text].head(30)

,sr_infantry_tier_2_level,sr_cavalry_tier_2_level,sr_shaman_tier_2_level,sr_outpost_tier_2_level
25,0,0,0,0
40,0,0,0,0
47,0,0,0,0
86,0,0,0,0
119,0,0,0,0
155,0,0,0,1
171,0,0,0,0
214,0,0,0,0
248,0,0,0,0
305,1,1,0,0
380,0,0,0,0
381,0,0,0,0
390,0,0,0,0
434,0,0,0,0
450,0,0,0,0
481,0,0,0,0
562,0,0,0,0
616,0,0,0,0
617,0,0,0,0
625,0,0,0,0
630,0,0,0,0
643,1,0,1,0
716,0,0,0,0
726,1,1,0,0
817,0,0,0,0
835,0,0,0,0
845,0,0,0,0
981,0,0,0,0
982,0,0,0,0
1004,0,0,0,0

In [49]:
data_7pay[level3_text].head(30)

,sr_infantry_tier_3_level,sr_cavalry_tier_3_level,sr_shaman_tier_3_level,sr_outpost_tier_3_level
25,0,0,0,0
40,0,0,0,0
47,0,0,0,0
86,0,0,0,0
119,0,0,0,0
155,0,0,0,0
171,0,0,0,0
214,0,0,0,0
248,0,0,0,0
305,0,0,0,0
380,0,0,0,0
381,0,0,0,1
390,0,0,0,0
434,0,0,0,0
450,0,0,0,0
481,0,0,0,0
562,0,0,0,0
616,0,0,0,0
617,0,0,0,0
625,0,0,0,0
630,0,0,0,0
643,0,0,0,0
716,0,0,0,0
726,0,0,0,0
817,0,0,0,0
835,0,0,0,0
845,0,0,0,0
981,0,0,0,0
982,0,0,0,0
1004,0,0,0,0

In [50]:
data_7pay[level4_text].head(30)

,sr_infantry_tier_4_level,sr_cavalry_tier_4_level,sr_shaman_tier_4_level,sr_outpost_tier_4_level
25,0,0,0,0
40,0,0,0,0
47,0,0,0,0
86,0,0,0,0
119,0,0,0,0
155,0,0,0,0
171,0,0,0,0
214,0,0,0,0
248,0,0,0,0
305,0,0,0,0
380,0,0,0,0
381,0,0,0,0
390,0,0,0,0
434,0,0,0,0
450,0,0,0,0
481,0,0,0,0
562,0,0,0,0
616,0,0,0,0
617,0,0,0,0
625,0,0,0,0
630,0,0,0,0
643,0,0,0,0
716,0,0,0,0
726,0,0,0,0
817,0,0,0,0
835,0,0,0,0
845,0,0,0,0
981,0,0,0,0
982,0,0,0,0
1004,0,0,0,0

In [51]:
for i in level1_text:
    if 'shaman' in i:
        print(i)

sr_shaman_atk_level
sr_shaman_def_level
sr_shaman_hp_level

In [52]:
troop_text1=[]
for i in level1_text:
    if 'troop' in i:
        troop_text1.append(i)
data_7pay['troop_con_load_atk_def_sum_qua1']=0
for k in troop_text1:
    data_7pay['troop_con_load_atk_def_sum_qua1']+=data_7pay[k]

In [53]:
infantry_text1=[]
cavalry_text1=[]
shaman_text1=[]
outpost_text1=[]
for i in level1_text:
    if 'infantry' in i:
        infantry_text1.append(i)
    elif 'cavalry' in i:
        cavalry_text1.append(i)
    elif 'shaman' in i:
        shaman_text1.append(i)
    elif 'outpost' in i:
        outpost_text1.append(i)

In [54]:
for i in shaman_text1:
    print(i)

sr_shaman_atk_level
sr_shaman_def_level
sr_shaman_hp_level

In [55]:
data_7pay['infantry_hp_atk_def_sum_qua1']=0
data_7pay['cavalry_hp_atk_def_sum_qua1']=0
data_7pay['shaman_hp_atk_def_sum_qua1']=0
data_7pay['outpost_hp_atk_def_sum_qua1']=0
for i in infantry_text1:
    name='infantry_hp_atk_def_sum_qua1'
    data_7pay[name]+=data_7pay[i]
for i in cavalry_text1:
    name='cavalry_hp_atk_def_sum_qua1'
    data_7pay[name]+=data_7pay[i]
for i in shaman_text1:
    name='shaman_hp_atk_def_sum_qua1'
    data_7pay[name]+=data_7pay[i]    
for i in outpost_text1:
    name='outpost_hp_atk_def_sum_qua1'
    data_7pay[name]+=data_7pay[i]

In [56]:
data_7pay['infantry_tier_2_sum_qua2']=0
data_7pay['cavalry_tier_2_sum_qua2']=0
data_7pay['shaman_tier_2_sum_qua2']=0
data_7pay['outpost_tier_2_sum_qua2']=0
infantry_text2=[]
cavalry_text2=[]
shaman_text2=[]
outpost_text2=[]
for i in level2_text:
    if 'infantry' in i:
        infantry_text2.append(i)
    elif 'cavalry' in i:
        cavalry_text2.append(i)
    elif 'shaman' in i:
        shaman_text2.append(i)
    elif 'outpost' in i:
        outpost_text2.append(i)
##############################################        
for i in infantry_text2:
    name='infantry_tier_2_sum_qua2'
    data_7pay[name]+=data_7pay[i]
for i in cavalry_text2:
    name='cavalry_tier_2_sum_qua2'
    data_7pay[name]+=data_7pay[i]
for i in shaman_text2:
    name='shaman_tier_2_sum_qua2'
    data_7pay[name]+=data_7pay[i]    
for i in outpost_text2:
    name='outpost_tier_2_sum_qua2'
    data_7pay[name]+=data_7pay[i]

In [57]:
data_7pay['infantry_tier_3_sum_qua3']=0
data_7pay['cavalry_tier_3_sum_qua3']=0
data_7pay['shaman_tier_3_sum_qua3']=0
data_7pay['outpost_tier_3_sum_qua3']=0
infantry_text3=[]
cavalry_text3=[]
shaman_text3=[]
outpost_text3=[]
for i in level3_text:
    if 'infantry' in i:
        infantry_text3.append(i)
    elif 'cavalry' in i:
        cavalry_text3.append(i)
    elif 'shaman' in i:
        shaman_text3.append(i)
    elif 'outpost' in i:
        outpost_text3.append(i)
##############################################        
for i in infantry_text3:
    name='infantry_tier_3_sum_qua3'
    data_7pay[name]+=data_7pay[i]
for i in cavalry_text3:
    name='cavalry_tier_3_sum_qua3'
    data_7pay[name]+=data_7pay[i]
for i in shaman_text3:
    name='shaman_tier_3_sum_qua3'
    data_7pay[name]+=data_7pay[i]    
for i in outpost_text3:
    name='outpost_tier_3_sum_qua3'
    data_7pay[name]+=data_7pay[i]

In [58]:
data_7pay['infantry_tier_4_sum_qua4']=0
data_7pay['cavalry_tier_4_sum_qua4']=0
data_7pay['shaman_tier_4_sum_qua4']=0
data_7pay['outpost_tier_4_sum_qua4']=0
infantry_text4=[]
cavalry_text4=[]
shaman_text4=[]
outpost_text4=[]
for i in level4_text:
    if 'infantry' in i:
        infantry_text4.append(i)
    elif 'cavalry' in i:
        cavalry_text4.append(i)
    elif 'shaman' in i:
        shaman_text4.append(i)
    elif 'outpost' in i:
        outpost_text4.append(i)
##############################################        
for i in infantry_text4:
    name='infantry_tier_4_sum_qua4'
    data_7pay[name]+=data_7pay[i]
for i in cavalry_text4:
    name='cavalry_tier_4_sum_qua4'
    data_7pay[name]+=data_7pay[i]
for i in shaman_text4:
    name='shaman_tier_4_sum_qua4'
    data_7pay[name]+=data_7pay[i]    
for i in outpost_text4:
    name='outpost_tier_4_sum_qua4'
    data_7pay[name]+=data_7pay[i]

In [59]:
rss_test=[]
for i in data_7pay.columns.values:
    if 'rss' in i:
        rss_test.append(i)
        print(i[:9])

sr_rss_a_
sr_rss_b_
sr_rss_c_
sr_rss_d_
sr_rss_a_
sr_rss_b_
sr_rss_c_
sr_rss_d_
sr_rss_e_
sr_rss_e_
sr_rss_he

In [60]:
for i in data_7pay.columns.values:
    if 'sr_rss_c' in i:
        print(i)

sr_rss_c_prod_level
sr_rss_c_gather_level

In [61]:
for i in rss_test:
    if 'prod' in i:
        col_name=i[:9]+'sum_qua1'
        prod_name=i[:9]+'prod_level'
        gather_name=i[:9]+'gather_level'
        data_7pay[col_name]=data_7pay[prod_name]+data_7pay[gather_name]

In [62]:
data_7pay.head()

,wood_add_value,wood_reduce_value,stone_add_value,stone_reduce_value,ivory_add_value,ivory_reduce_value,meat_add_value,meat_reduce_value,magic_add_value,magic_reduce_value,...,outpost_tier_3_sum_qua3,infantry_tier_4_sum_qua4,cavalry_tier_4_sum_qua4,shaman_tier_4_sum_qua4,outpost_tier_4_sum_qua4,sr_rss_a_sum_qua1,sr_rss_b_sum_qua1,sr_rss_c_sum_qua1,sr_rss_d_sum_qua1,sr_rss_e_sum_qua1
25,30000.0,97200.0,20000.0,0.0,0.0,0.0,160500.0,80392.0,12000.0,0.0,...,0,0,0,0,0,0,0,0,0,0
40,1111744.0,1137687.0,491331.0,790208.0,77000.0,0.0,1457249.0,708483.0,217455.0,162987.0,...,0,0,0,0,0,3,0,0,0,0
47,249050.0,173248.0,70841.0,117012.0,55000.0,0.0,206366.0,82205.0,29902.0,88064.0,...,0,0,0,0,0,3,0,0,0,0
86,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0
119,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,0

In [63]:
data_7pay[[ i for i in data_7pay.columns.values if 'troop' in i ]].head()

,sr_troop_defense_level,sr_troop_attack_level,sr_troop_consumption_level,sr_troop_load_level,sr_guest_troop_capacity_level,troop_con_load_atk_def_sum_qua1
25,0,0,0,0,0,0
40,0,0,0,0,0,0
47,0,0,0,0,0,0
86,0,0,0,0,0,0
119,0,0,0,0,0,0

In [64]:
data_7pay[(data_7pay['troop_con_load_atk_def_sum_qua1'] > 1) ].shape

(13525, 177)

In [65]:
data_7pay[(data_7pay['troop_con_load_atk_def_sum_qua1'] > 1)  & (data_7pay['pay_price'] < data_7pay['prediction_pay_price'])].shape

(6013, 177)

In [66]:
#######
data_7pay[(data_7pay['troop_con_load_atk_def_sum_qua1'] > 0)  & (data_7pay['pay_price'] < data_7pay['prediction_pay_price'])][['pay_price','prediction_pay_price']]

           pay_price  prediction_pay_price
155       156.880005            166.860001
381       406.869995           8982.780273
643         0.990000              1.980000
981         0.990000              5.980000
2156        8.960000             14.940000
2676        7.960000             31.910000
2890        6.970000             26.959999
3256       56.910000            733.609985
4029        6.970000            143.820007
4167       13.960000             20.940001
5442       36.919998             88.790001
6512       66.919998             81.900002
6824       16.950001             55.869999
7178       87.830002             97.809998
7468        1.980000             19.930000
7637        0.990000              4.970000
7659       71.900002            101.879997
7808        5.980000             10.970000
8431       13.970000             20.950001
8811       67.919998            359.739990
9188        5.950000             45.889999
9390       16.959999             17.950001
10492       2.980000              7.970000
10595      86.870003           1283.280029
10698       0.990000             36.939999
10816      28.940001             33.930000
11015       0.990000             34.889999
11110      31.950001             33.939999
11116      46.939999             48.930000
11181      24.969999             42.930000
...              ...                   ...
2281334    36.950001            135.869995
2281582    16.959999             36.889999
2281838  1610.660034           6080.600098
2281902    46.930000             53.910000
2281971    53.900002            378.640015
2282430     6.930000             10.910000
2282760    25.969999             48.939999
2282779    37.939999            501.769989
2282823     2.980000              4.970000
2282978     0.990000              2.980000
2283244   706.869995           4737.310059
2284233     4.960000             17.920000
2284556    10.980000             11.970000
2284589    31.940001            320.720001
2284910     0.990000             15.970000
2285119    12.970000             23.940001
2285539    16.959999             61.919998
2285870     0.990000            407.690002
2286314     0.990000             70.919998
2286455    11.970000             47.910000
2286553   831.710022           2061.530029
2286626    36.950001             38.939999
2286664    26.920000             88.860001
2286844     1.980000              8.960000
2286961    32.950001             76.889999
2287517     8.950000           2962.510010
2287712    22.959999             58.889999
2287876    37.939999             56.889999
2287946   352.769989            932.330017
2287960     0.990000             20.959999

[7549 rows x 2 columns]

In [67]:
data_7pay[[ i for i in data_7pay.columns.values if 'reaserch' in i ]].head()

,reaserch_acceleration_add_value,reaserch_acceleration_reduce_value,reaserch_acceleration_sum_qua1,reaserch_acceleration_delta_qua2,reaserch_acceleration_delta_abs_qua2
25,0,0,0,0,0.000000e+00
40,733,17,750,716,7.160000e+02
47,419,699,1118,4294967016,4.294967e+09
86,0,0,0,0,0.000000e+00
119,0,0,0,0,0.000000e+00

In [68]:
bd_healing_text1=[]
for i in level1_text:
    if 'bd_healing' in i:
        bd_healing_text1.append(i)
data_7pay['bd_healing_sum_qua1']=0
for k in bd_healing_text1:
    data_7pay['bd_healing_sum_qua1']+=data_7pay[k]

In [69]:
bd_hero_text1=[]
for i in level1_text:
    if 'bd_hero' in i:
        bd_hero_text1.append(i)
data_7pay['bd_hero_sum_qua1']=0
for k in bd_hero_text1:
    data_7pay['bd_hero_sum_qua1']+=data_7pay[k]

In [70]:
sr_text1=[]
for i in level1_text:
    if 'sr' in i:
        sr_text1.append(i)
data_7pay['sr1_sum_qua1']=0
for k in sr_text1:
    data_7pay['sr1_sum_qua1']+=data_7pay[k]
    
########################
sr_text2=[]
for i in level2_text:
    if 'sr' in i:
        sr_text2.append(i)
data_7pay['sr2_sum_qua1']=0
for k in sr_text2:
    data_7pay['sr2_sum_qua1']+=data_7pay[k]

#########################
sr_text3=[]
for i in level3_text:
    if 'sr' in i:
        sr_text3.append(i)
data_7pay['sr3_sum_qua1']=0
for k in sr_text3:
    data_7pay['sr3_sum_qua1']+=data_7pay[k]
    
#######################    
sr_text4=[]
for i in level4_text:
    if 'sr' in i:
        sr_text4.append(i)
data_7pay['sr4_sum_qua1']=0
for k in sr_text4:
    data_7pay['sr4_sum_qua1']+=data_7pay[k]

In [71]:
bd_text1=[]
for i in level1_text:
    if 'bd' in i:
        bd_text1.append(i)
data_7pay['bd1_sum_qua1']=0
for k in bd_text1:
    data_7pay['bd1_sum_qua1']+=data_7pay[k]

In [72]:
sr1_atk_text=[]
for i in level1_text:
    if 'atk_level' in i:
        sr1_atk_text.append(i)
data_7pay['sr1_atk_sum_qua1']=0
for k in sr1_atk_text:
    data_7pay['sr1_atk_sum_qua1']+=data_7pay[k]
    
#####################
sr1_def_text=[]
for i in level1_text:
    if 'def_level' in i:
        sr1_def_text.append(i)
data_7pay['sr1_def_sum_qua1']=0
for k in sr1_def_text:
    data_7pay['sr1_def_sum_qua1']+=data_7pay[k]

####################

sr1_hp_text=[]
for i in level1_text:
    if 'hp_level' in i:
        sr1_hp_text.append(i)
data_7pay['sr1_hp_sum_qua1']=0
for k in sr1_hp_text:
    data_7pay['sr1_hp_sum_qua1']+=data_7pay[k]

In [73]:
soldier_name=['shaman','cavalry','infantry']
properity_name=['hp','atk','def']
for i in soldier_name:
    for k in properity_name:
        sum_name=i+'_hp_atk_def_sum_qua1'
        name='sr_'+i+'_'+k+'_level'
        col_name=i+'_'+k+'_sum_rate_qua4'
#         print(data_7pay[name].shape[0])
        data_7pay[col_name]=data_7pay[name]/data_7pay[sum_name]

In [74]:
data_7pay[[ i for i in data_7pay.columns.values if 'shaman' in i ]].head(30)

,shaman_add_value,shaman_reduce_value,wound_shaman_add_value,wound_shaman_reduce_value,sr_shaman_tier_2_level,sr_shaman_atk_level,sr_shaman_tier_3_level,sr_shaman_def_level,sr_shaman_hp_level,sr_shaman_tier_4_level,...,wound_shaman_delta_qua2,shaman_delta_abs_qua2,wound_shaman_delta_abs_qua2,shaman_hp_atk_def_sum_qua1,shaman_tier_2_sum_qua2,shaman_tier_3_sum_qua3,shaman_tier_4_sum_qua4,shaman_hp_sum_rate_qua4,shaman_atk_sum_rate_qua4,shaman_def_sum_rate_qua4
25,0,0,0,0,0,0,0,0,0,0,...,0,0.000000e+00,0.000000e+00,0,0,0,0,NaN,NaN,NaN
40,370,262,0,0,0,0,0,0,0,0,...,0,1.080000e+02,0.000000e+00,0,0,0,0,NaN,NaN,NaN
47,0,0,0,0,0,0,0,0,0,0,...,0,0.000000e+00,0.000000e+00,0,0,0,0,NaN,NaN,NaN
86,0,0,0,0,0,0,0,0,0,0,...,0,0.000000e+00,0.000000e+00,0,0,0,0,NaN,NaN,NaN
119,0,0,0,0,0,0,0,0,0,0,...,0,0.000000e+00,0.000000e+00,0,0,0,0,NaN,NaN,NaN
155,813,1534,0,288,0,4,0,0,0,0,...,4294967008,4.294967e+09,4.294967e+09,4,0,0,0,0.0,1.0,0.0
171,0,0,0,0,0,0,0,0,0,0,...,0,0.000000e+00,0.000000e+00,0,0,0,0,NaN,NaN,NaN
214,0,0,0,0,0,0,0,0,0,0,...,0,0.000000e+00,0.000000e+00,0,0,0,0,NaN,NaN,NaN
248,266,266,266,266,0,0,0,0,0,0,...,0,0.000000e+00,0.000000e+00,0,0,0,0,NaN,NaN,NaN
305,0,0,0,0,0,0,0,0,0,0,...,0,0.000000e+00,0.000000e+00,0,0,0,0,NaN,NaN,NaN
380,0,0,0,0,0,0,0,0,0,0,...,0,0.000000e+00,0.000000e+00,0,0,0,0,NaN,NaN,NaN
381,1864,220,220,244,0,4,0,0,0,0,...,4294967272,1.644000e+03,4.294967e+09,4,0,0,0,0.0,1.0,0.0
390,0,0,0,0,0,0,0,0,0,0,...,0,0.000000e+00,0.000000e+00,0,0,0,0,NaN,NaN,NaN
434,0,0,0,0,0,0,0,0,0,0,...,0,0.000000e+00,0.000000e+00,0,0,0,0,NaN,NaN,NaN
450,0,0,0,0,0,0,0,0,0,0,...,0,0.000000e+00,0.000000e+00,0,0,0,0,NaN,NaN,NaN
481,330,0,0,0,0,0,0,0,0,0,...,0,3.300000e+02,0.000000e+00,0,0,0,0,NaN,NaN,NaN
562,0,0,0,0,0,0,0,0,0,0,...,0,0.000000e+00,0.000000e+00,0,0,0,0,NaN,NaN,NaN
616,0,0,0,0,0,0,0,0,0,0,...,0,0.000000e+00,0.000000e+00,0,0,0,0,NaN,NaN,NaN
617,0,313,6,0,0,0,0,0,0,0,...,6,4.294967e+09,6.000000e+00,0,0,0,0,NaN,NaN,NaN
625,0,0,0,0,0,0,0,0,0,0,...,0,0.000000e+00,0.000000e+00,0,0,0,0,NaN,NaN,NaN
630,0,0,0,0,0,0,0,0,0,0,...,0,0.000000e+00,0.000000e+00,0,0,0,0,NaN,NaN,NaN
643,0,27,27,0,1,1,0,0,0,0,...,27,4.294967e+09,2.700000e+01,1,1,0,0,0.0,1.0,0.0
716,0,0,0,0,0,0,0,0,0,0,...,0,0.000000e+00,0.000000e+00,0,0,0,0,NaN,NaN,NaN
726,0,0,0,0,0,0,0,0,0,0,...,0,0.000000e+00,0.000000e+00,0,0,0,0,NaN,NaN,NaN
817,850,2,0,0,0,1,0,0,0,0,...,0,8.480000e+02,0.000000e+00,1,0,0,0,0.0,1.0,0.0
835,1375,2373,1375,1375,0,2,0,0,0,0,...,0,4.294966e+09,0.000000e+00,2,0,0,0,0.0,1.0,0.0
845,0,0,0,0,0,0,0,0,0,0,...,0,0.000000e+00,0.000000e+00,0,0,0,0,NaN,NaN,NaN
981,0,0,0,0,0,0,0,0,0,0,...,0,0.000000e+00,0.000000e+00,0,0,0,0,NaN,NaN,NaN
982,0,0,0,0,0,0,0,0,0,0,...,0,0.000000e+00,0.000000e+00,0,0,0,0,NaN,NaN,NaN
1004,0,0,0,0,0,0,0,0,0,0,...,0,0.000000e+00,0.000000e+00,0,0,0,0,NaN,NaN,NaN

In [75]:
data_7pay[[ i for i in data_7pay.columns.values if 'sr' in i ]].head()

,sr_scout_level,sr_training_speed_level,sr_infantry_tier_2_level,sr_cavalry_tier_2_level,sr_shaman_tier_2_level,sr_infantry_atk_level,sr_cavalry_atk_level,sr_shaman_atk_level,sr_infantry_tier_3_level,sr_cavalry_tier_3_level,...,sr_rss_c_sum_qua1,sr_rss_d_sum_qua1,sr_rss_e_sum_qua1,sr1_sum_qua1,sr2_sum_qua1,sr3_sum_qua1,sr4_sum_qua1,sr1_atk_sum_qua1,sr1_def_sum_qua1,sr1_hp_sum_qua1
25,0,0,0,0,0,0,0,0,0,0,...,0,0,0,2,0,0,0,0,0,0
40,0,0,0,0,0,0,0,0,0,0,...,0,0,0,10,0,0,0,0,0,0
47,0,0,0,0,0,0,0,0,0,0,...,0,0,0,3,0,0,0,0,0,0
86,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
119,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [76]:
pvp_text1=[]
for i in data_7pay.columns.values:
    if ('pvp' in i) & ('count' in i):
        pvp_text1.append(i)
data_7pay['pvp_sum_qua1']=0
for k in pvp_text1:
    data_7pay['pvp_sum_qua1']+=data_7pay[k]

In [77]:
pve_text1=[]
for i in data_7pay.columns.values:
    if ('pve' in i) & ('count' in i):
        pve_text1.append(i)
data_7pay['pve_sum_qua1']=0
for k in pve_text1:
    data_7pay['pve_sum_qua1']+=data_7pay[k]

In [78]:
data_7pay['pvp_win_battle_rate_qua4']=data_7pay['pvp_win_count']/data_7pay['pvp_battle_count']
data_7pay['pve_win_battle_rate_qua4']=data_7pay['pve_win_count']/data_7pay['pve_battle_count']
data_7pay['pvp_lanch_battle_rate_qua4']=data_7pay['pvp_lanch_count']/data_7pay['pvp_battle_count']
data_7pay['pve_lanch_battle_rate_qua4']=data_7pay['pve_lanch_count']/data_7pay['pve_battle_count']

In [79]:
data_7pay[[ i for i in data_7pay.columns.values if 'pve' in i ]].head()

,bd_hero_pve_level,pve_battle_count,pve_lanch_count,pve_win_count,pve_sum_qua1,pve_win_battle_rate_qua4,pve_lanch_battle_rate_qua4
25,0,0,0,0,0,NaN,NaN
40,0,6,6,6,18,1.0,1.0
47,9,0,0,0,0,NaN,NaN
86,0,0,0,0,0,NaN,NaN
119,0,0,0,0,0,NaN,NaN

In [80]:
data_7pay.head()

,wood_add_value,wood_reduce_value,stone_add_value,stone_reduce_value,ivory_add_value,ivory_reduce_value,meat_add_value,meat_reduce_value,magic_add_value,magic_reduce_value,...,cavalry_def_sum_rate_qua4,infantry_hp_sum_rate_qua4,infantry_atk_sum_rate_qua4,infantry_def_sum_rate_qua4,pvp_sum_qua1,pve_sum_qua1,pvp_win_battle_rate_qua4,pve_win_battle_rate_qua4,pvp_lanch_battle_rate_qua4,pve_lanch_battle_rate_qua4
25,30000.0,97200.0,20000.0,0.0,0.0,0.0,160500.0,80392.0,12000.0,0.0,...,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN
40,1111744.0,1137687.0,491331.0,790208.0,77000.0,0.0,1457249.0,708483.0,217455.0,162987.0,...,NaN,NaN,NaN,NaN,3,18,1.0,1.0,1.0,1.0
47,249050.0,173248.0,70841.0,117012.0,55000.0,0.0,206366.0,82205.0,29902.0,88064.0,...,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN
86,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN
119,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN

In [81]:
data_7pay[[ i for i in data_7pay.columns.values if 'sr2' in i ]].head()

     sr2_sum_qua1
25              0
40              0
47              0
86              0
119             0

In [82]:
data_7pay[[i for i in level1_text if 'def' in i]].head()

,sr_troop_defense_level,sr_infantry_def_level,sr_cavalry_def_level,sr_shaman_def_level
25,0,0,0,0
40,0,0,0,0
47,0,0,0,0
86,0,0,0,0
119,0,0,0,0

In [83]:
data_7pay.head()

,wood_add_value,wood_reduce_value,stone_add_value,stone_reduce_value,ivory_add_value,ivory_reduce_value,meat_add_value,meat_reduce_value,magic_add_value,magic_reduce_value,...,cavalry_def_sum_rate_qua4,infantry_hp_sum_rate_qua4,infantry_atk_sum_rate_qua4,infantry_def_sum_rate_qua4,pvp_sum_qua1,pve_sum_qua1,pvp_win_battle_rate_qua4,pve_win_battle_rate_qua4,pvp_lanch_battle_rate_qua4,pve_lanch_battle_rate_qua4
25,30000.0,97200.0,20000.0,0.0,0.0,0.0,160500.0,80392.0,12000.0,0.0,...,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN
40,1111744.0,1137687.0,491331.0,790208.0,77000.0,0.0,1457249.0,708483.0,217455.0,162987.0,...,NaN,NaN,NaN,NaN,3,18,1.0,1.0,1.0,1.0
47,249050.0,173248.0,70841.0,117012.0,55000.0,0.0,206366.0,82205.0,29902.0,88064.0,...,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN
86,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN
119,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN

In [84]:
data_7pay[[i for i in data_7pay.columns.values if 'atk' in i]].head()

,sr_infantry_atk_level,sr_cavalry_atk_level,sr_shaman_atk_level,troop_con_load_atk_def_sum_qua1,infantry_hp_atk_def_sum_qua1,cavalry_hp_atk_def_sum_qua1,shaman_hp_atk_def_sum_qua1,outpost_hp_atk_def_sum_qua1,sr1_atk_sum_qua1,shaman_atk_sum_rate_qua4,cavalry_atk_sum_rate_qua4,infantry_atk_sum_rate_qua4
25,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN
40,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN
47,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN
86,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN
119,0,0,0,0,0,0,0,0,0,NaN,NaN,NaN

In [85]:
data_7pay[[i for i in data_7pay.columns.values if ('acceleration' in i) & ('qua' in i)]].head()

,general_acceleration_sum_qua1,general_acceleration_delta_qua2,building_acceleration_sum_qua1,building_acceleration_delta_qua2,reaserch_acceleration_sum_qua1,reaserch_acceleration_delta_qua2,training_acceleration_sum_qua1,training_acceleration_delta_qua2,treatment_acceleration_sum_qua1,treatment_acceleration_delta_qua2,general_acceleration_delta_abs_qua2,building_acceleration_delta_abs_qua2,reaserch_acceleration_delta_abs_qua2,training_acceleration_delta_abs_qua2,treatment_acceleration_delta_abs_qua2
25,260,260,75,75,0,0,165,165,0,0,2.600000e+02,75.0,0.000000e+00,165.0,0.0
40,1731,721,1073,73,750,716,1210,26,6,6,7.210000e+02,73.0,7.160000e+02,26.0,6.0
47,2050,4294966586,0,0,1118,4294967016,45,45,0,0,4.294967e+09,0.0,4.294967e+09,45.0,0.0
86,0,0,0,0,0,0,0,0,0,0,0.000000e+00,0.0,0.000000e+00,0.0,0.0
119,0,0,0,0,0,0,0,0,0,0,0.000000e+00,0.0,0.000000e+00,0.0,0.0

In [86]:
data_7pay.head()

,wood_add_value,wood_reduce_value,stone_add_value,stone_reduce_value,ivory_add_value,ivory_reduce_value,meat_add_value,meat_reduce_value,magic_add_value,magic_reduce_value,...,cavalry_def_sum_rate_qua4,infantry_hp_sum_rate_qua4,infantry_atk_sum_rate_qua4,infantry_def_sum_rate_qua4,pvp_sum_qua1,pve_sum_qua1,pvp_win_battle_rate_qua4,pve_win_battle_rate_qua4,pvp_lanch_battle_rate_qua4,pve_lanch_battle_rate_qua4
25,30000.0,97200.0,20000.0,0.0,0.0,0.0,160500.0,80392.0,12000.0,0.0,...,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN
40,1111744.0,1137687.0,491331.0,790208.0,77000.0,0.0,1457249.0,708483.0,217455.0,162987.0,...,NaN,NaN,NaN,NaN,3,18,1.0,1.0,1.0,1.0
47,249050.0,173248.0,70841.0,117012.0,55000.0,0.0,206366.0,82205.0,29902.0,88064.0,...,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN
86,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN
119,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN

In [87]:
# # data_7pay['ivory_qua1']=data_7pay.ivory_add_value+data_7pay.ivory_reduce_value
# # data_7pay['ivory_qua2']=data_7pay.ivory_add_value-data_7pay.ivory_reduce_value
# # data_7pay['stone_qua1']=data_7pay.stone_add_value+data_7pay.stone_reduce_value
# # data_7pay['stone_qua2']=data_7pay.stone_add_value-data_7pay.stone_reduce_value
# # data_7pay['meat_qua1']=data_7pay.meat_add_value+data_7pay.meat_reduce_value
# # data_7pay['meat_qua2']=data_7pay.meat_add_value-data_7pay.meat_reduce_value
# # data_7pay['wood_qua1']=data_7pay.wood_add_value+data_7pay.wood_reduce_value
# # data_7pay['wood_qua2']=data_7pay.wood_add_value-data_7pay.wood_reduce_value

# text_def=[]
# for col in data_7pay.columns.values:
#      if 'def' in col:
#             text_def.append(col)
# text_def=[]
# for col in data_7pay.columns.values:
#      if 'def' in col:
#             text_def.append(col)
# text_troop=[]
# for col in data_7pay.columns.values:
#     if 'troop' in col :
#         text_troop.append(col)
# text_cavalry=[]
# for col in data_7pay.columns.values:
#     if 'sr_cavalry' in col :
#         text_cavalry.append(col) 
# text_infantry=[]
# for col in data_7pay.columns.values:
#     if 'sr_infantry' in col :
#         text_infantry.append(col)        

# text_shaman=[]
# for col in data_7pay.columns.values:
#     if 'sr_shaman' in col :
#         text_shaman.append(col)
# text_speed=[]
# for col in data_7pay.columns.values:
#     if 'speed' in col :
#         text_speed.append(col)
# data_7pay['def_qua1']=0.0
# for name in text_def:
#     data_7pay['def_qua1']+=data_7pay[name]
# data_7pay['cavalry_qua1']=0.0
# for name in text_cavalry:
#     data_7pay['cavalry_qua1']+=data_7pay[name]
# data_7pay['infantry_qua1']=0.0
# for name in text_infantry:
#     data_7pay['infantry_qua1']+=data_7pay[name] 
# data_7pay['shaman_qua1']=0.0
# for name in text_shaman:
#     data_7pay['shaman_qua1']+=data_7pay[name]
# data_7pay['speed_qua1']=0.0
# for name in text_speed:
#     data_7pay['speed_qua1']+=data_7pay[name]
# data_7pay['troop_qua1']=0.0
# for name in text_troop:
#     data_7pay['troop_qua1']+=data_7pay[name]


# text_acceleration=[]
# for col in data_7pay.columns.values:
#     if 'acceleration' in col :
#         text_acceleration.append(col)
# text_acceleration_add=[]
# for col in data_7pay.columns.values:
#     if 'acceleration_add' in col :
#         text_acceleration_add.append(col)
# text_acceleration_reduce=[]
# for col in data_7pay.columns.values:
#     if 'acceleration_reduce' in col :
#         text_acceleration_reduce.append(col) 
        
# data_7pay['acceleration_qua1']=0.0
# for name in text_acceleration:
#     data_7pay['acceleration_qua1']+=data_7pay[name]
# data_7pay['acceleration_add_qua1']=0.0
# for name in text_acceleration_add:
#     data_7pay['acceleration_add_qua1']+=data_7pay[name]
# data_7pay['acceleration_reduce_qua1']=0.0
# for name in text_acceleration_reduce:
#     data_7pay['acceleration_reduce_qua1']+=data_7pay[name]

In [88]:
# data_7pay['price_per_count_qua1']=data_7pay['pay_price'] / data_7pay['pay_count']

In [89]:
# text_qua=[]
# for col in data_7pay.columns.values:
#     if 'qua' in col:
#         text_qua.append(col)

In [90]:
# data_7pay[(data_7pay['pay_price']>0) & ( data_7pay['prediction_pay_price'] == data_7pay['pay_price'])] \
# [['pay_price','prediction_pay_price','avg_online_minutes','pay_count','price_per_count_qua1']].describe()

In [91]:
# data_7pay[(data_7pay['pay_price']>0) & ( data_7pay['prediction_pay_price'] > data_7pay['pay_price'])] \
# [['pay_price','prediction_pay_price','avg_online_minutes','pay_count','price_per_count_qua1']].describe()

In [92]:
# for name in data_7pay.columns.values:
#     price_name=name+'_per_price_qua3'
#     data_7pay[price_name]=data_7pay[name] / data_7pay['pay_price']

In [93]:
for name in data_7pay.columns.values:
    price_name=name+'_per_price_qua4'
    count_name=name+'_per_count_qua4'
    online_name=name+'_per_minute_qua4'
    data_7pay[price_name]=data_7pay[name] / data_7pay['pay_price']
    data_7pay[count_name]=data_7pay[name] / data_7pay['pay_count']
    data_7pay[online_name]=data_7pay[name] / data_7pay['avg_online_minutes']

In [94]:
data_7pay.head()

,wood_add_value,wood_reduce_value,stone_add_value,stone_reduce_value,ivory_add_value,ivory_reduce_value,meat_add_value,meat_reduce_value,magic_add_value,magic_reduce_value,...,pvp_win_battle_rate_qua4_per_minute_qua4,pve_win_battle_rate_qua4_per_price_qua4,pve_win_battle_rate_qua4_per_count_qua4,pve_win_battle_rate_qua4_per_minute_qua4,pvp_lanch_battle_rate_qua4_per_price_qua4,pvp_lanch_battle_rate_qua4_per_count_qua4,pvp_lanch_battle_rate_qua4_per_minute_qua4,pve_lanch_battle_rate_qua4_per_price_qua4,pve_lanch_battle_rate_qua4_per_count_qua4,pve_lanch_battle_rate_qua4_per_minute_qua4
25,30000.0,97200.0,20000.0,0.0,0.0,0.0,160500.0,80392.0,12000.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,1111744.0,1137687.0,491331.0,790208.0,77000.0,0.0,1457249.0,708483.0,217455.0,162987.0,...,0.005017,0.3367,0.333333,0.005017,0.3367,0.333333,0.005017,0.3367,0.333333,0.005017
47,249050.0,173248.0,70841.0,117012.0,55000.0,0.0,206366.0,82205.0,29902.0,88064.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
86,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
119,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
###########################

In [95]:
df_level1=pd.DataFrame()
for i in level1_text:
    df_level1=pd.concat([df_level1,pd.get_dummies(data_7pay[i],prefix='du_'+i)],axis=1)
df_level1.head()

,du_bd_training_hut_level_0,du_bd_training_hut_level_1,du_bd_training_hut_level_2,du_bd_training_hut_level_3,du_bd_training_hut_level_4,du_bd_training_hut_level_5,du_bd_training_hut_level_6,du_bd_training_hut_level_7,du_bd_training_hut_level_8,du_bd_training_hut_level_9,...,du_sr_march_size_level_0,du_sr_march_size_level_2,du_sr_march_size_level_3,du_sr_march_size_level_5,du_sr_march_size_level_6,du_sr_march_size_level_9,du_sr_rss_help_bonus_level_0,du_sr_rss_help_bonus_level_1,du_sr_rss_help_bonus_level_5,du_sr_rss_help_bonus_level_8
25,1,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,1,0,0,0
40,0,0,0,0,0,0,0,0,1,0,...,1,0,0,0,0,0,1,0,0,0
47,1,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,1,0,0,0
86,1,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,1,0,0,0
119,1,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,1,0,0,0

In [96]:
df_level2=pd.DataFrame()
for i in level2_text:
    df_level2=pd.concat([df_level2,pd.get_dummies(data_7pay[i],prefix='du_'+i)],axis=1)
df_level2.head()

,du_sr_infantry_tier_2_level_0,du_sr_infantry_tier_2_level_1,du_sr_cavalry_tier_2_level_0,du_sr_cavalry_tier_2_level_1,du_sr_shaman_tier_2_level_0,du_sr_shaman_tier_2_level_1,du_sr_outpost_tier_2_level_0,du_sr_outpost_tier_2_level_1
25,1,0,1,0,1,0,1,0
40,1,0,1,0,1,0,1,0
47,1,0,1,0,1,0,1,0
86,1,0,1,0,1,0,1,0
119,1,0,1,0,1,0,1,0

In [97]:
df_level3=pd.DataFrame()
for i in level3_text:
    df_level3=pd.concat([df_level3,pd.get_dummies(data_7pay[i],prefix='du_'+i)],axis=1)
df_level3.head()

,du_sr_infantry_tier_3_level_0,du_sr_infantry_tier_3_level_1,du_sr_cavalry_tier_3_level_0,du_sr_cavalry_tier_3_level_1,du_sr_shaman_tier_3_level_0,du_sr_shaman_tier_3_level_1,du_sr_outpost_tier_3_level_0,du_sr_outpost_tier_3_level_1
25,1,0,1,0,1,0,1,0
40,1,0,1,0,1,0,1,0
47,1,0,1,0,1,0,1,0
86,1,0,1,0,1,0,1,0
119,1,0,1,0,1,0,1,0

In [98]:
df_level4=pd.DataFrame()
for i in level4_text:
    df_level4=pd.concat([df_level4,pd.get_dummies(data_7pay[i],prefix='du_'+i)],axis=1)
df_level4.head()

,du_sr_infantry_tier_4_level_0,du_sr_infantry_tier_4_level_1,du_sr_cavalry_tier_4_level_0,du_sr_cavalry_tier_4_level_1,du_sr_shaman_tier_4_level_0,du_sr_shaman_tier_4_level_1,du_sr_outpost_tier_4_level_0,du_sr_outpost_tier_4_level_1
25,1,0,1,0,1,0,1,0
40,1,0,1,0,1,0,1,0
47,1,0,1,0,1,0,1,0
86,1,0,1,0,1,0,1,0
119,1,0,1,0,1,0,1,0

In [100]:
df_train=pd.concat([data_7pay,df_level1],axis=1)
df_train=pd.concat([df_train,df_level2],axis=1)
df_train=pd.concat([df_train,df_level3],axis=1)
df_train=pd.concat([df_train,df_level4],axis=1)

In [102]:
df_train.head()

,wood_add_value,wood_reduce_value,stone_add_value,stone_reduce_value,ivory_add_value,ivory_reduce_value,meat_add_value,meat_reduce_value,magic_add_value,magic_reduce_value,...,du_sr_outpost_tier_3_level_0,du_sr_outpost_tier_3_level_1,du_sr_infantry_tier_4_level_0,du_sr_infantry_tier_4_level_1,du_sr_cavalry_tier_4_level_0,du_sr_cavalry_tier_4_level_1,du_sr_shaman_tier_4_level_0,du_sr_shaman_tier_4_level_1,du_sr_outpost_tier_4_level_0,du_sr_outpost_tier_4_level_1
25,30000.0,97200.0,20000.0,0.0,0.0,0.0,160500.0,80392.0,12000.0,0.0,...,1,0,1,0,1,0,1,0,1,0
40,1111744.0,1137687.0,491331.0,790208.0,77000.0,0.0,1457249.0,708483.0,217455.0,162987.0,...,1,0,1,0,1,0,1,0,1,0
47,249050.0,173248.0,70841.0,117012.0,55000.0,0.0,206366.0,82205.0,29902.0,88064.0,...,1,0,1,0,1,0,1,0,1,0
86,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1,0,1,0,1,0,1,0,1,0
119,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1,0,1,0,1,0,1,0,1,0

In [103]:
808+729+24

1561

In [108]:
####### fill NaN

for i ,k in df_train.isna().sum().iteritems():
    if k >0:
        print (i+' --- '+ str(k))

shaman_hp_sum_rate_qua4 --- 26568
shaman_atk_sum_rate_qua4 --- 26568
shaman_def_sum_rate_qua4 --- 26568
cavalry_hp_sum_rate_qua4 --- 24495
cavalry_atk_sum_rate_qua4 --- 24495
cavalry_def_sum_rate_qua4 --- 24495
infantry_hp_sum_rate_qua4 --- 23851
infantry_atk_sum_rate_qua4 --- 23851
infantry_def_sum_rate_qua4 --- 23851
pvp_win_battle_rate_qua4 --- 5684
pve_win_battle_rate_qua4 --- 4050
pvp_lanch_battle_rate_qua4 --- 5684
pve_lanch_battle_rate_qua4 --- 4050
stone_reduce_value_per_minute_qua4 --- 1
ivory_reduce_value_per_minute_qua4 --- 1
magic_add_value_per_minute_qua4 --- 1
magic_reduce_value_per_minute_qua4 --- 1
infantry_add_value_per_minute_qua4 --- 1
infantry_reduce_value_per_minute_qua4 --- 1
cavalry_add_value_per_minute_qua4 --- 1
cavalry_reduce_value_per_minute_qua4 --- 1
shaman_add_value_per_minute_qua4 --- 1
shaman_reduce_value_per_minute_qua4 --- 1
wound_infantry_add_value_per_minute_qua4 --- 1
wound_infantry_reduce_value_per_minute_qua4 --- 1
wound_cavalry_add_value_per_minute_qua4 --- 1
wound_cavalry_reduce_value_per_minute_qua4 --- 1
wound_shaman_add_value_per_minute_qua4 --- 1
wound_shaman_reduce_value_per_minute_qua4 --- 1
general_acceleration_reduce_value_per_minute_qua4 --- 1
reaserch_acceleration_reduce_value_per_minute_qua4 --- 1
training_acceleration_reduce_value_per_minute_qua4 --- 1
treatment_acceleration_add_value_per_minute_qua4 --- 1
treatment_acceleration_reduce_value_per_minute_qua4 --- 1
bd_dolmen_level_per_minute_qua4 --- 1
bd_guest_cavern_level_per_minute_qua4 --- 1
bd_hall_of_war_level_per_minute_qua4 --- 1
bd_market_level_per_minute_qua4 --- 1
bd_hero_gacha_level_per_minute_qua4 --- 1
bd_hero_strengthen_level_per_minute_qua4 --- 1
bd_hero_pve_level_per_minute_qua4 --- 1
sr_scout_level_per_minute_qua4 --- 1
sr_training_speed_level_per_minute_qua4 --- 1
sr_infantry_tier_2_level_per_minute_qua4 --- 1
sr_cavalry_tier_2_level_per_minute_qua4 --- 1
sr_shaman_tier_2_level_per_minute_qua4 --- 1
sr_infantry_atk_level_per_minute_qua4 --- 1
sr_cavalry_atk_level_per_minute_qua4 --- 1
sr_shaman_atk_level_per_minute_qua4 --- 1
sr_infantry_tier_3_level_per_minute_qua4 --- 1
sr_cavalry_tier_3_level_per_minute_qua4 --- 1
sr_shaman_tier_3_level_per_minute_qua4 --- 1
sr_troop_defense_level_per_minute_qua4 --- 1
sr_infantry_def_level_per_minute_qua4 --- 1
sr_cavalry_def_level_per_minute_qua4 --- 1
sr_shaman_def_level_per_minute_qua4 --- 1
sr_infantry_hp_level_per_minute_qua4 --- 1
sr_cavalry_hp_level_per_minute_qua4 --- 1
sr_shaman_hp_level_per_minute_qua4 --- 1
sr_infantry_tier_4_level_per_minute_qua4 --- 1
sr_cavalry_tier_4_level_per_minute_qua4 --- 1
sr_shaman_tier_4_level_per_minute_qua4 --- 1
sr_troop_attack_level_per_minute_qua4 --- 1
sr_construction_speed_level_per_minute_qua4 --- 1
sr_hide_storage_level_per_minute_qua4 --- 1
sr_troop_consumption_level_per_minute_qua4 --- 1
sr_rss_a_prod_level_per_minute_qua4 --- 1
sr_rss_b_prod_level_per_minute_qua4 --- 1
sr_rss_c_prod_level_per_minute_qua4 --- 1
sr_rss_d_prod_level_per_minute_qua4 --- 1
sr_rss_a_gather_level_per_minute_qua4 --- 1
sr_rss_b_gather_level_per_minute_qua4 --- 1
sr_rss_c_gather_level_per_minute_qua4 --- 1
sr_rss_d_gather_level_per_minute_qua4 --- 1
sr_troop_load_level_per_minute_qua4 --- 1
sr_rss_e_gather_level_per_minute_qua4 --- 1
sr_rss_e_prod_level_per_minute_qua4 --- 1
sr_outpost_durability_level_per_minute_qua4 --- 1
sr_outpost_tier_2_level_per_minute_qua4 --- 1
sr_healing_space_level_per_minute_qua4 --- 1
sr_gathering_hunter_buff_level_per_minute_qua4 --- 1
sr_healing_speed_level_per_minute_qua4 --- 1
sr_outpost_tier_3_level_per_minute_qua4 --- 1
sr_alliance_march_speed_level_per_minute_qua4 --- 1
sr_pvp_march_speed_level_per_minute_qua4 --- 1
sr_gathering_march_speed_level_per_minute_qua4 --- 1
sr_outpost_tier_4_level_per_minute_qua4 --- 1
sr_guest_troop_capacity_level_per_minute_qua4 --- 1
sr_march_size_level_per_minute_qua4 --- 1
sr_rss_help_bonus_level_per_minute_qua4 --- 1
pvp_battle_count_per_minute_qua4 --- 1
pvp_lanch_count_per_minute_qua4 --- 1
pvp_win_count_per_minute_qua4 --- 1
avg_online_minutes_per_minute_qua4 --- 1
magic_sum_qua1_per_minute_qua4 --- 1
magic_delta_qua2_per_minute_qua4 --- 1
infantry_sum_qua1_per_minute_qua4 --- 1
infantry_delta_qua2_per_minute_qua4 --- 1
cavalry_sum_qua1_per_minute_qua4 --- 1
cavalry_delta_qua2_per_minute_qua4 --- 1
shaman_sum_qua1_per_minute_qua4 --- 1
shaman_delta_qua2_per_minute_qua4 --- 1
wound_infantry_sum_qua1_per_minute_qua4 --- 1
wound_infantry_delta_qua2_per_minute_qua4 --- 1
wound_cavalry_sum_qua1_per_minute_qua4 --- 1
wound_cavalry_delta_qua2_per_minute_qua4 --- 1
wound_shaman_sum_qua1_per_minute_qua4 --- 1
wound_shaman_delta_qua2_per_minute_qua4 --- 1
treatment_acceleration_sum_qua1_per_minute_qua4 --- 1
treatment_acceleration_delta_qua2_per_minute_qua4 --- 1
magic_delta_abs_qua2_per_minute_qua4 --- 1
infantry_delta_abs_qua2_per_minute_qua4 --- 1
cavalry_delta_abs_qua2_per_minute_qua4 --- 1
shaman_delta_abs_qua2_per_minute_qua4 --- 1
wound_infantry_delta_abs_qua2_per_minute_qua4 --- 1
wound_cavalry_delta_abs_qua2_per_minute_qua4 --- 1
wound_shaman_delta_abs_qua2_per_minute_qua4 --- 1
treatment_acceleration_delta_abs_qua2_per_minute_qua4 --- 1
troop_con_load_atk_def_sum_qua1_per_minute_qua4 --- 1
infantry_hp_atk_def_sum_qua1_per_minute_qua4 --- 1
cavalry_hp_atk_def_sum_qua1_per_minute_qua4 --- 1
shaman_hp_atk_def_sum_qua1_per_minute_qua4 --- 1
infantry_tier_2_sum_qua2_per_minute_qua4 --- 1
cavalry_tier_2_sum_qua2_per_minute_qua4 --- 1
shaman_tier_2_sum_qua2_per_minute_qua4 --- 1
outpost_tier_2_sum_qua2_per_minute_qua4 --- 1
infantry_tier_3_sum_qua3_per_minute_qua4 --- 1
cavalry_tier_3_sum_qua3_per_minute_qua4 --- 1
shaman_tier_3_sum_qua3_per_minute_qua4 --- 1
outpost_tier_3_sum_qua3_per_minute_qua4 --- 1
infantry_tier_4_sum_qua4_per_minute_qua4 --- 1
cavalry_tier_4_sum_qua4_per_minute_qua4 --- 1
shaman_tier_4_sum_qua4_per_minute_qua4 --- 1
outpost_tier_4_sum_qua4_per_minute_qua4 --- 1
sr_rss_a_sum_qua1_per_minute_qua4 --- 1
sr_rss_b_sum_qua1_per_minute_qua4 --- 1
sr_rss_c_sum_qua1_per_minute_qua4 --- 1
sr_rss_d_sum_qua1_per_minute_qua4 --- 1
sr_rss_e_sum_qua1_per_minute_qua4 --- 1
bd_hero_sum_qua1_per_minute_qua4 --- 1
sr1_sum_qua1_per_minute_qua4 --- 1
sr2_sum_qua1_per_minute_qua4 --- 1
sr3_sum_qua1_per_minute_qua4 --- 1
sr4_sum_qua1_per_minute_qua4 --- 1
sr1_atk_sum_qua1_per_minute_qua4 --- 1
sr1_def_sum_qua1_per_minute_qua4 --- 1
sr1_hp_sum_qua1_per_minute_qua4 --- 1
shaman_hp_sum_rate_qua4_per_price_qua4 --- 26568
shaman_hp_sum_rate_qua4_per_count_qua4 --- 26568
shaman_hp_sum_rate_qua4_per_minute_qua4 --- 26568
shaman_atk_sum_rate_qua4_per_price_qua4 --- 26568
shaman_atk_sum_rate_qua4_per_count_qua4 --- 26568
shaman_atk_sum_rate_qua4_per_minute_qua4 --- 26568
shaman_def_sum_rate_qua4_per_price_qua4 --- 26568
shaman_def_sum_rate_qua4_per_count_qua4 --- 26568
shaman_def_sum_rate_qua4_per_minute_qua4 --- 26568
cavalry_hp_sum_rate_qua4_per_price_qua4 --- 24495
cavalry_hp_sum_rate_qua4_per_count_qua4 --- 24495
cavalry_hp_sum_rate_qua4_per_minute_qua4 --- 24495
cavalry_atk_sum_rate_qua4_per_price_qua4 --- 24495
cavalry_atk_sum_rate_qua4_per_count_qua4 --- 24495
cavalry_atk_sum_rate_qua4_per_minute_qua4 --- 24495
cavalry_def_sum_rate_qua4_per_price_qua4 --- 24495
cavalry_def_sum_rate_qua4_per_count_qua4 --- 24495
cavalry_def_sum_rate_qua4_per_minute_qua4 --- 24495
infantry_hp_sum_rate_qua4_per_price_qua4 --- 23851
infantry_hp_sum_rate_qua4_per_count_qua4 --- 23851
infantry_hp_sum_rate_qua4_per_minute_qua4 --- 23851
infantry_atk_sum_rate_qua4_per_price_qua4 --- 23851
infantry_atk_sum_rate_qua4_per_count_qua4 --- 23851
infantry_atk_sum_rate_qua4_per_minute_qua4 --- 23851
infantry_def_sum_rate_qua4_per_price_qua4 --- 23851
infantry_def_sum_rate_qua4_per_count_qua4 --- 23851
infantry_def_sum_rate_qua4_per_minute_qua4 --- 23851
pvp_sum_qua1_per_minute_qua4 --- 1
pvp_win_battle_rate_qua4_per_price_qua4 --- 5684
pvp_win_battle_rate_qua4_per_count_qua4 --- 5684
pvp_win_battle_rate_qua4_per_minute_qua4 --- 5684
pve_win_battle_rate_qua4_per_price_qua4 --- 4050
pve_win_battle_rate_qua4_per_count_qua4 --- 4050
pve_win_battle_rate_qua4_per_minute_qua4 --- 4050
pvp_lanch_battle_rate_qua4_per_price_qua4 --- 5684
pvp_lanch_battle_rate_qua4_per_count_qua4 --- 5684
pvp_lanch_battle_rate_qua4_per_minute_qua4 --- 5684
pve_lanch_battle_rate_qua4_per_price_qua4 --- 4050
pve_lanch_battle_rate_qua4_per_count_qua4 --- 4050
pve_lanch_battle_rate_qua4_per_minute_qua4 --- 4050

In [109]:
df_train.fillna(0,inplace=True)

In [110]:
import lightgbm as lgb
from sklearn.metrics import classification_report,accuracy_score,confusion_matrix
from sklearn.cross_validation import cross_val_score,train_test_split,StratifiedKFold

D:\ProgramData\Anaconda3\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [111]:
train_feat3=df_train

In [112]:
train_feat3['target_class']=0

In [113]:
train_feat3.loc[train_feat3['prediction_pay_price']>train_feat3['pay_price'],['target_class']]=1

In [114]:
train_feat3[['target_class','wood_add_value']].groupby(by=['target_class']).agg('count')

              wood_add_value
target_class
0                      30130
1                      11309

In [115]:
train_feat3[[i for i in train_feat3.columns.values if 'prediction' in i]].head()

,prediction_pay_price,prediction_pay_price_per_price_qua4,prediction_pay_price_per_count_qua4,prediction_pay_price_per_minute_qua4
25,0.99,1.000000,0.990000,0.022164
40,4.96,1.670034,1.653333,0.024883
47,12.97,1.000000,4.323333,0.118628
86,0.99,1.000000,0.990000,0.007744
119,0.99,1.000000,0.990000,0.004873

In [116]:
train_feat3=train_feat3.drop(
    labels=['prediction_pay_price','prediction_pay_price_per_price_qua4',
           'prediction_pay_price_per_count_qua4','prediction_pay_price_per_minute_qua4']
,axis=1)

In [117]:
train_feat3.shape

(41439, 1558)

In [118]:
train_feat3[[i for i in train_feat3.columns.values if 'reg' in i]].head()

Empty DataFrame
Columns: []
Index: [25, 40, 47, 86, 119]

In [119]:
# train_feat3=train_feat3.drop(labels=['user_id','register_time'],axis=1)
label_y=train_feat3['target_class']
train_feat3=train_feat3.drop(labels=['target_class'],axis=1)

In [120]:
train_feat3.fillna(0,inplace=True)

In [121]:
train_feat3.isna().sum().sum()

0

In [122]:
X_train,X_test,y_train,y_test=train_test_split(train_feat3,label_y,random_state=13,test_size=0.3)

In [138]:
X_train.shape

(29007, 1557)

In [125]:
data_train=lgb.Dataset(X_train,y_train)

In [126]:
param = { 'boosting_type':'gbdt','num_leaves':300, 'objective':'binary','max_depth':8,'learning_rate':.05,'max_bin':1000,
             'nthread':4, 'silent':True
        }
param['metric'] = ['auc', 'binary_logloss']

In [127]:
num_round=1000
lgbm=lgb.train(param,data_train,num_round,verbose_eval=50)

D:\ProgramData\Anaconda3\lib\site-packages\lightgbm\basic.py:661: UserWarning: silent keyword has been found in `params` and will be ignored. Please use silent argument of the Dataset constructor to pass this parameter.
  'Please use {0} argument of the Dataset constructor to pass this parameter.'.format(key))

In [128]:
ypred2=lgbm.predict(X_test)

In [129]:
ypred2[:5]

array([0.57736377, 0.19196798, 0.10711701, 0.00421126, 0.00316137])

In [130]:
ypred2.shape[0]

12432

In [131]:
ypred2

array([0.57736377, 0.19196798, 0.10711701, ..., 0.03970128, 0.15864992,
       0.21659965])

In [132]:
ypred=pd.Series()
for i in range(ypred2.shape[0]):
    if ypred2[i]>0.5:
        ypred.loc[i]=1
    else :
        ypred.loc[i]=0

In [133]:
print (u'准确率',accuracy_score(y_test,ypred))
print (u'混淆矩阵',confusion_matrix(y_test,ypred))
print (u'分类报告',classification_report(y_test,ypred))

准确率 0.8026061776061776
混淆矩阵 [[8226  855]
 [1599 1752]]
分类报告              precision    recall  f1-score   support

          0       0.84      0.91      0.87      9081
          1       0.67      0.52      0.59      3351

avg / total       0.79      0.80      0.79     12432

In [135]:
y_pred_proba=ypred2

In [136]:
y_pred_proba[2]

0.10711700877388311

In [137]:
#y_test_predictions_high_recall=pd.Series()
thresholds = [0.1,0.2,0.25,0.3,0.35,0.4,0.45,0.5,0.6,0.65,0.7,0.75,0.8,0.85,0.9]
for i in thresholds:
    y_test_predictions_high_recall =y_pred_proba > i
    print('Threshold >= %s'%i)
    print (u'混淆矩阵',confusion_matrix(y_test,y_test_predictions_high_recall))
    print (u'分类报告',classification_report(y_test,y_test_predictions_high_recall))

Threshold >= 0.1
混淆矩阵 [[6509 2572]
 [ 692 2659]]
分类报告              precision    recall  f1-score   support

          0       0.90      0.72      0.80      9081
          1       0.51      0.79      0.62      3351

avg / total       0.80      0.74      0.75     12432

Threshold >= 0.2
混淆矩阵 [[7288 1793]
 [1024 2327]]
分类报告              precision    recall  f1-score   support

          0       0.88      0.80      0.84      9081
          1       0.56      0.69      0.62      3351

avg / total       0.79      0.77      0.78     12432

Threshold >= 0.25
混淆矩阵 [[7529 1552]
 [1145 2206]]
分类报告              precision    recall  f1-score   support

          0       0.87      0.83      0.85      9081
          1       0.59      0.66      0.62      3351

avg / total       0.79      0.78      0.79     12432

Threshold >= 0.3
混淆矩阵 [[7733 1348]
 [1251 2100]]
分类报告              precision    recall  f1-score   support

          0       0.86      0.85      0.86      9081
          1       0.61      0.63      0.62      3351

avg / total       0.79      0.79      0.79     12432

Threshold >= 0.35
混淆矩阵 [[7892 1189]
 [1358 1993]]
分类报告              precision    recall  f1-score   support

          0       0.85      0.87      0.86      9081
          1       0.63      0.59      0.61      3351

avg / total       0.79      0.80      0.79     12432

Threshold >= 0.4
混淆矩阵 [[8011 1070]
 [1438 1913]]
分类报告              precision    recall  f1-score   support

          0       0.85      0.88      0.86      9081
          1       0.64      0.57      0.60      3351

avg / total       0.79      0.80      0.79     12432

Threshold >= 0.45
混淆矩阵 [[8125  956]
 [1526 1825]]
分类报告              precision    recall  f1-score   support

          0       0.84      0.89      0.87      9081
          1       0.66      0.54      0.60      3351

avg / total       0.79      0.80      0.79     12432

Threshold >= 0.5
混淆矩阵 [[8226  855]
 [1599 1752]]
分类报告              precision    recall  f1-score   support

          0       0.84      0.91      0.87      9081
          1       0.67      0.52      0.59      3351

avg / total       0.79      0.80      0.79     12432

Threshold >= 0.6
混淆矩阵 [[8402  679]
 [1772 1579]]
分类报告              precision    recall  f1-score   support

          0       0.83      0.93      0.87      9081
          1       0.70      0.47      0.56      3351

avg / total       0.79      0.80      0.79     12432

Threshold >= 0.65
混淆矩阵 [[8495  586]
 [1860 1491]]
分类报告              precision    recall  f1-score   support

          0       0.82      0.94      0.87      9081
          1       0.72      0.44      0.55      3351

avg / total       0.79      0.80      0.79     12432

Threshold >= 0.7
混淆矩阵 [[8575  506]
 [1959 1392]]
分类报告              precision    recall  f1-score   support

          0       0.81      0.94      0.87      9081
          1       0.73      0.42      0.53      3351

avg / total       0.79      0.80      0.78     12432

Threshold >= 0.75
混淆矩阵 [[8658  423]
 [2078 1273]]
分类报告              precision    recall  f1-score   support

          0       0.81      0.95      0.87      9081
          1       0.75      0.38      0.50      3351

avg / total       0.79      0.80      0.77     12432

Threshold >= 0.8
混淆矩阵 [[8743  338]
 [2183 1168]]
分类报告              precision    recall  f1-score   support

          0       0.80      0.96      0.87      9081
          1       0.78      0.35      0.48      3351

avg / total       0.79      0.80      0.77     12432

Threshold >= 0.85
混淆矩阵 [[8820  261]
 [2318 1033]]
分类报告              precision    recall  f1-score   support

          0       0.79      0.97      0.87      9081
          1       0.80      0.31      0.44      3351

avg / total       0.79      0.79      0.76     12432

Threshold >= 0.9
混淆矩阵 [[8909  172]
 [2494  857]]
分类报告              precision    recall  f1-score   support

          0       0.78      0.98      0.87      9081
          1       0.83      0.26      0.39      3351

avg / total       0.80      0.79      0.74     12432

In [ ]:
########################### try import plot

In [140]:
from matplotlib import  pyplot as plt
plt.style.use(style='ggplot')
plt.rcParams['figure.figsize']=(12,6)

In [146]:
lgb.plot_importance(lgbm, max_num_features=30) 
#plt.show()

In [161]:
list(lgbm.feature_importance())

[188,
 201,
 172,
 130,
 150,
 89,
 263,
 246,
 248,
 238,
 219,
 178,
 167,
 173,
 184,
 160,
 124,
 88,
 88,
 70,
 115,
 71,
 406,
 297,
 320,
 266,
 318,
 213,
 352,
 196,
 387,
 51,
 148,
 140,
 72,
 66,
 89,
 129,
 81,
 110,
 118,
 146,
 123,
 76,
 99,
 91,
 84,
 96,
 78,
 85,
 0,
 0,
 1,
 12,
 19,
 12,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 51,
 49,
 23,
 41,
 2,
 0,
 26,
 17,
 2,
 0,
 11,
 25,
 3,
 14,
 85,
 0,
 18,
 47,
 33,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 153,
 88,
 76,
 155,
 54,
 176,
 534,
 174,
 37,
 122,
 307,
 123,
 247,
 132,
 153,
 160,
 320,
 175,
 353,
 164,
 454,
 134,
 349,
 161,
 393,
 61,
 122,
 63,
 80,
 59,
 153,
 354,
 438,
 191,
 461,
 293,
 355,
 272,
 584,
 218,
 364,
 349,
 244,
 77,
 162,
 232,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 43,
 3,
 4,
 2,
 137,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 43,
 2,
 0,
 44,
 15,
 213,
 194,
 269,
 16,
 2,
 0,
 461,
 59,
 2,
 0,
 0,
 0,
 0,
 2,
 0,
 1,
 1,
 0,
 1,
 108,
 121,
 251,
 514,
 319,
 68,
 130,
 130,
 174,
 112,
 142,
 238,
 137,
 167,
 176,
 142,
 197,
 185,
 170,
 131,
 191,
 132,
 98,
 116,
 114,
 192,
 182,
 160,
 183,
 281,
 142,
 183,
 346,
 158,
 221,
 316,
 140,
 127,
 226,
 165,
 151,
 280,
 141,
 114,
 188,
 148,
 141,
 204,
 139,
 122,
 211,
 143,
 119,
 238,
 125,
 117,
 155,
 98,
 73,
 108,
 82,
 59,
 164,
 65,
 70,
 100,
 105,
 84,
 152,
 61,
 57,
 79,
 214,
 268,
 330,
 216,
 253,
 268,
 184,
 289,
 222,
 253,
 289,
 256,
 217,
 235,
 223,
 228,
 229,
 316,
 251,
 220,
 266,
 206,
 169,
 254,
 120,
 143,
 304,
 66,
 41,
 41,
 113,
 125,
 320,
 129,
 89,
 300,
 93,
 76,
 248,
 61,
 71,
 223,
 85,
 99,
 211,
 96,
 65,
 175,
 95,
 82,
 266,
 80,
 108,
 266,
 105,
 84,
 233,
 107,
 76,
 193,
 95,
 97,
 251,
 137,
 109,
 457,
 130,
 134,
 287,
 135,
 104,
 334,
 120,
 85,
 317,
 121,
 112,
 377,
 144,
 114,
 428,
 115,
 94,
 265,
 44,
 35,
 130,
 62,
 17,
 120,
 66,
 17,
 137,
 88,
 62,
 168,
 92,
 42,
 213,
 78,
 35,
 121,
 1,
 7,
 2,
 3,
 2,
 2,
 2,
 1,
 6,
 0,
 1,
 0,
 0,
 0,
 0,
 1,
 2,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 9,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 205,
 127,
 429,
 126,
 84,
 282,
 105,
 71,
 196,
 96,
 66,
 177,
 13,
 14,
 46,
 10,
 10,
 2,
 98,
 57,
 220,
 100,
 37,
 118,
 21,
 5,
 18,
 5,
 0,
 1,
 57,
 23,
 109,
 84,
 57,
 175,
 6,
 6,
 11,
 32,
 36,
 50,
 102,
 126,
 380,
 99,
 31,
 185,
 158,
 64,
 215,
 153,
 69,
 262,
 107,
 65,
 220,
 17,
 6,
 13,
 17,
 1,
 6,
 4,
 0,
 0,
 1,
 3,
 5,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 152,
 131,
 320,
 104,
 90,
 161,
 135,
 65,
 190,
 129,
 115,
 292,
 55,
 47,
 132,
 132,
 137,
 369,
 215,
 153,
 0,
 0,
 95,
 127,
 40,
 0,
 113,
 64,
 107,
 176,
 310,
 208,
 258,
 116,
 139,
 152,
 186,
 186,
 211,
 153,
 144,
 162,
 156,
 146,
 126,
 124,
 126,
 175,
 239,
 228,
 281,
 117,
 149,
 223,
 170,
 233,
 401,
 166,
 138,
 206,
 315,
 238,
 368,
 105,
 80,
 183,
 300,
 279,
 279,
 98,
 89,
 202,
 247,
 161,
 313,
 48,
 59,
 92,
 112,
 68,
 130,
 59,
 54,
 56,
 125,
 49,
 103,
 44,
 42,
 82,
 89,
 64,
 153,
 187,
 255,
 259,
 395,
 297,
 392,
 257,
 224,
 186,
 299,
 213,
 369,
 202,
 199,
 236,
 353,
 242,
 307,
 220,
 194,
 254,
 325,
 315,
 322,
 70,
 124,
 186,
 107,
 186,
 243,
 289,
 235,
 274,
 227,
 202,
 223,
 52,
 46,
 53,
 121,
 107,
 120,
 133,
 114,
 201,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 18,
 122,
 73,
 243,
 14,
 22,
 31,
 12,
 21,
 36,
 14,
 12,
 31,
 64,
 65,
 216,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 86,
 60,
 173,
 9,
 5,
 32,
 7,
 22,
 8,
 81,
 55,
 167,
 17,
 19,
 38,
 88,
 92,
 197,
 104,
 121,
 323,
 143,
 163,
 341,
 67,
 41,
 219,
 19,
 16,
 6,
 1,
 0,
 0,
 119,
 160,
 190,
 99,
 67,
 149,
 4,
 1,
 0,
 2,
 0,
 0,
 0,
 0,
 0,
 43,
 25,
 152,
 4,
 0,
 0,
 1,
 0,
 3,
 46,
 25,
 150,
 8,
 15,
 2,
 0,
 1,
 0,
 47,
 25,
 183,
 14,
 0,
 0,
 141,
 86,
 226,
 57,
 77,
 165,
 189,
 183,
 412,
 175,
 177,
 245,
 183,
 172,
 322,
 31,
 17,
 178,
 1,
 11,
 13,
 16,
 21,
 20,
 36,
 17,
 21,
 29,
 5,
 10,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 4,
 4,
 14,
 7,
 21,
 14,
 23,
 24,
 12,
 19,
 23,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 7,
 9,
 7,
 4,
 4,
 11,
 9,
 17,
 19,
 27,
 11,
 4,
 2,
 5,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 24,
 6,
 11,
 0,
 10,
 7,
 5,
 17,
 46,
 7,
 3,
 10,
 1,
 3,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 25,
 18,
 2,
 10,
 6,
 13,
 11,
 24,
 28,
 12,
 1,
 0,
 6,
 2,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 5,
 8,
 1,
 6,
 12,
 13,
 11,
 44,
 14,
 5,
 0,
 2,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 19,
 13,
 2,
 2,
 17,
 10,
 15,
 30,
 37,
 18,
 5,
 3,
 3,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 8,
 6,
 6,
 5,
 30,
 9,
 17,
 27,
 16,
 16,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 2,
 2,
 12,
 21,
 6,
 23,
 33,
 27,
 13,
 7,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 ...]

In [162]:
type(lgbm.feature_name())

list

In [185]:
df_fi=pd.DataFrame()
df_fi['name']=lgbm.feature_name()
df_fi['importance']=lgbm.feature_importance()

In [190]:
df_fi.sort_values(by=['importance'],axis=0,ascending=False)

                                                   name  importance
135                    training_acceleration_delta_qua2         584
103                                  avg_online_minutes         534
198                            pve_win_battle_rate_qua4         514
182                                        bd1_sum_qua1         461
131                    building_acceleration_delta_qua2         461
332                bd_hall_of_war_level_per_minute_qua4         457
117                                 infantry_delta_qua2         454
129                     general_acceleration_delta_qua2         438
413         sr_construction_speed_level_per_minute_qua4         429
347                      sr_scout_level_per_minute_qua4         428
794            pvp_win_battle_rate_qua4_per_minute_qua4         412
22                       general_acceleration_add_value         406
548                    magic_delta_qua2_per_minute_qua4         401
588      general_acceleration_delta_qua2_per_price_qua4         395
121                                   shaman_delta_qua2         393
590     general_acceleration_delta_qua2_per_minute_qua4         392
30                     treatment_acceleration_add_value         387
455         sr_outpost_durability_level_per_minute_qua4         380
344                   bd_hero_pve_level_per_minute_qua4         377
509                       pve_win_count_per_minute_qua4         369
596    building_acceleration_delta_qua2_per_minute_qua4         369
554                 infantry_delta_qua2_per_minute_qua4         368
137                   treatment_acceleration_delta_qua2         364
133                    reaserch_acceleration_delta_qua2         355
128                       general_acceleration_sum_qua1         354
115                                    magic_delta_qua2         353
600     reaserch_acceleration_delta_qua2_per_price_qua4         353
28                      training_acceleration_add_value         352
119                                  cavalry_delta_qua2         349
138                                 wood_delta_abs_qua2         349
...                                                 ...         ...
636                shaman_delta_abs_qua2_per_price_qua4           0
1132                            du_bd_hero_pve_level_14           0
635              cavalry_delta_abs_qua2_per_minute_qua4           0
634               cavalry_delta_abs_qua2_per_count_qua4           0
633               cavalry_delta_abs_qua2_per_price_qua4           0
632             infantry_delta_abs_qua2_per_minute_qua4           0
631              infantry_delta_abs_qua2_per_count_qua4           0
1148                                du_sr_scout_level_8           0
1149                                du_sr_scout_level_9           0
1133                            du_bd_hero_pve_level_15           0
1131                            du_bd_hero_pve_level_13           0
1113                     du_bd_hero_strengthen_level_12           0
646          wound_shaman_delta_abs_qua2_per_count_qua4           0
1114                     du_bd_hero_strengthen_level_13           0
1115                     du_bd_hero_strengthen_level_14           0
1116                     du_bd_hero_strengthen_level_16           0
1117                     du_bd_hero_strengthen_level_17           0
1118                             du_bd_hero_pve_level_0           0
648   general_acceleration_delta_abs_qua2_per_price_...           0
647         wound_shaman_delta_abs_qua2_per_minute_qua4           0
645          wound_shaman_delta_abs_qua2_per_price_qua4           0
638               shaman_delta_abs_qua2_per_minute_qua4           0
644        wound_cavalry_delta_abs_qua2_per_minute_qua4           0
643         wound_cavalry_delta_abs_qua2_per_count_qua4           0
642         wound_cavalry_delta_abs_qua2_per_price_qua4           0
641       wound_infantry_delta_abs_qua2_per_minute_qua4           0
640        wound_infantry_delta_abs_qua2_per_count_qua4           0
639        wound_infantry_delta_abs_qua2_per_price_qua4           0
1129                            du_bd_hero_pve_level_11           0
1556                       du_sr_outpost_tier_4_level_1           0

[1557 rows x 2 columns]

In [178]:
df_fi.sort_values(by=['importance'])

Empty DataFrame
Columns: [name=, importance]
Index: []

In [169]:
a