In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from collections import Counter
import math
from math import log

from  pprint import pformat
from collections import namedtuple

In [5]:
def create_data():
    datasets = [['青年', '否', '否', '一般', '否'],
           ['青年', '否', '否', '好', '否'],
           ['青年', '是', '否', '好', '是'],
           ['青年', '是', '是', '一般', '是'],
           ['青年', '否', '否', '一般', '否'],
           ['中年', '否', '否', '一般', '否'],
           ['中年', '否', '否', '好', '否'],
           ['中年', '是', '是', '好', '是'],
           ['中年', '否', '是', '非常好', '是'],
           ['中年', '否', '是', '非常好', '是'],
           ['老年', '否', '是', '非常好', '是'],
           ['老年', '否', '是', '好', '是'],
           ['老年', '是', '否', '好', '是'],
           ['老年', '是', '否', '非常好', '是'],
           ['老年', '否', '否', '一般', '否'],
           ]
    labels = [u'年龄', u'有工作', u'有自己的房子', u'信贷情况', u'类别']
    
    return datasets,labels

In [6]:
datasets,labels=create_data()
train_data=pd.DataFrame(datasets,columns=labels)
train_data2=train_data
train_data2.columns=['Age','Work','Hourse','Loan','Category']

In [7]:
train_data2.head()

  Age Work Hourse Loan Category
0  青年    否      否   一般        否
1  青年    否      否    好        否
2  青年    是      否    好        是
3  青年    是      是   一般        是
4  青年    否      否   一般        否

In [9]:
dict(train_data2.Category.value_counts())

{'否': 6, '是': 9}

In [10]:
math.log(8,2)

3.0

In [15]:
def emp_ent(col):
    length=len(col)
    eent=0
    for k,v in dict(col.value_counts()).items():
        p=v/float(length)
        eent+=p*math.log(p,2)
    return -eent

In [16]:
emp_ent(train_data2.Category)

0.9709505944546686

In [20]:
def cond_ent(data,feat,label):
    length=len(data[feat])
    cent=0
    for k,v in dict(data[feat].value_counts()).items():
        p=v/float(length)
        cent+=p*emp_ent(data[data[feat]==k][label])
    return cent

In [21]:
cond_ent(train_data2,'Age','Category')

0.8879430945988998

In [22]:
def gini_func(data,feat,label):
    return emp_ent(data[label])-cond_ent(data,feat,label)

In [23]:
gini_func(train_data2,'Age','Category')

0.08300749985576883

In [24]:
def find_max_gini(data,label):
    col=data.columns.values.tolist()
    col.remove(label)
    mgini=0
    name=None
    for n in col:
        t=gini_func(data,n,label)
        if mgini<t:
            mgini=t
            name=n
    return (name,mgini)

In [25]:
find_max_gini(train_data2,'Category')

('Hourse', 0.4199730940219749)

In [30]:
train_data2.Category.unique()[0]

'否'

In [40]:
class tree(namedtuple('dt_tree','feat,value ,label,subtree')):
    def __repr__(self):
        return pformat(tuple(self))

In [43]:
def dt_train(data,label):
    col=data.columns.values.tolist()
    if len(data[label].unique())==1:
        return tree(None,None,data[label][0],None)
    
    if data.shape[1]==1 and (label !='' or label is not None):
        label=sorted(dict(data[label].value_counts()).items(),key=lambda x:x[1])[-1][0]
        return tree(None,None,label,None)
    
    fname,mgini=find_max_gini(data,label)
    tl=None
    st=[]
    for v in list(set(data[fname])):
        ll=len(data[data[fname]==v][label].unique())
        if ll ==1:
            tl=data[data[fname]==v][label].unique()[0]
            tv=v
            st.append(tree(None,v,tl,None))    
        else:
#             print(col)
#             print(fname)
            col.remove(fname)
            temp=dt_train(data[data[fname]==v][col],label)
            st.append(tree(None,v,None,temp))
        
    return tree(fname,None,None,st)

In [44]:
print(dt_train(train_data2,'Category'))

('Hourse',
 None,
 None,
 [(None,
 '否',
 None,
 ('Work', None, None, [(None, '否', '否', None), (None, '是', '是', None)])),
  (None, '是', '是', None)])

In [46]:
def dt_pred(tr,last_col,x):
    fv=tr.feat
    if fv is None:
        fv=last_col
    vv=tr.value
    lv=tr.label
    tv=x[fv][0]
    
    if vv==tv and lv is not None:
        return lv
    
    if vv ==tv :
        lv=dt_pred(tr.subtree,fv,x)
    
    if lv is None:
        i=0
        while tr.subtree[i].value != tv:
            i+=1
        lv=dt_pred(tr.subtree[i],fv,x)
    return lv

In [54]:
t_data=np.array(['老年', '否', '是', '一般'])
t_data=t_data.reshape(1,4)
t_col=train_data2.columns.values.tolist()[:-1]
# test_data=pd.DataFrame(np.array(t_data),columns=t_col)
test_data=pd.DataFrame(t_data,columns=t_col)
test_data

  Age Work Hourse Loan
0  老年    否      是   一般

In [55]:
dt=dt_train(train_data2,'Category')
dt_pred(dt,None,test_data)

'是'